﻿@model CL.TMS.DataContracts.ViewModel.Reporting.StewardRptRevenueSupplyNewTireVM
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization;
@{
    bool bDisabled = true;
}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelApplications-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelApplications-collapseOne" aria-expanded="true" aria-controls="panelApplications-collapseOne" class="panel-arrow-expand">
                Report Options@*<i id="exportApplicationToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>*@
            </a>
        </h4>
        @*<div class="col-xs-6 subcomp-search">
                <input id="SearchApplications" type="text" class="form-control" placeholder="Search">
                <div id="txtFoundApplications" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                <i id="glyphicon-remove-App" class="glyphicon glyphicon-remove remove-icon"></i>
                <i id="glyphicon-search-App" class="glyphicon glyphicon-search"></i>
                <br />
            </div>*@
    </div>
    <div id="panelApplications-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelApplications-headingOne">
        <div class="panel-body">
            <!--
            <div class="row">
                <div class="col-md-12">
                    @*<table id="tblApplicationlist" class="table table-hover datatable-100-perc" style="cursor:pointer;">
                        <thead>
                            <tr>
                                <th>Date<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>Type<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>@UIResource.CommonCompany<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>Contact<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>@UIResource.Status<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>Assigned To<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
                                <th>Actions</th>
                                <th class="display-none"></th>
                                <th class="display-none"></th>
                            </tr>
                        </thead>
                    </table>*@
                    <br />
                    @*<a href="#" style="width:30px" id="ApplicationsViewMore" class="viewmore">@UIResource.More</a>*@
                    <br />
                    @if (true == ViewBag.showAssignToMe)
                    {
                        <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
                            <button id="btnAssignToMe" class="btn btn-success workflow" data-assignuser="@ViewBag.curentUserId" data-assgnmeurl="@ViewBag.assignToMeUrl" data-status="Assigned" data-target="#modalAssingToMe" data-toggle="modal" type="button">Assign to Me</button>
                        </div>
                    }
                </div>
            </div>
                -->
            <div class="row">
                <div class="col-md-3">
                    <label>Export Options</label> 
                    @*<label>@UIResource.CommonReasons</label><br>*@
                    <div class="dropdown">
                        @Html.DropDownListFor(m => m.ReportType, new SelectListItem[]{
                                            //new SelectListItem() {Text = "csv File", Value="csv"},
                                            new SelectListItem() {Text = "Crystal Report (RPT)", Value="rpt"},
                                            new SelectListItem() {Text = "Acrobat Format (PDF)", Value="pdf"}},
                                                     "csv File",
                                                     new { @class = "form-control", @id = "inactivedropdown" }, bDisabled)
                    </div>
                </div>
                <div class="col-md-6">
                    <label> Enter the page range</label>
                    <div >
                        <div class="radio">
                            <label>
                                <input type="radio" name="report-page-range" value="All" checked="checked">
                                All
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="report-page-range" value="PageRange">
                                Pages
                            </label>
                            <div>
                                <label>From:</label><input type="text" class="page-index" id="pageFromId" disabled />
                                <label>To:</label><input type="text" class="page-index" id="pageToId" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-success" data-status="">Preview Report</button>
                </div>
            </div>
        </div>
    </div>
</div>