﻿
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("StaffUserRolePermissionMatrixReportExport", "Reports", FormMethod.Post, new { }))
{
    <input type="hidden" id="selectedUserEmail" name="selectedUserEmail"/>
    <div id="fixedClaimHeader" class="row comp-variant-staff comp-claims-header fixed-claim-header">
        <h2 class="fixed-claim-header-title">Users, Roles, and Permissions</h2>
    </div>
    
    
    <div style="margin-top:85px"><h3 style="border-bottom:none">Choose a staff member:</h3></div>
    <div class="container" id="dropdownContainer" style="width:302px;float:left">
        <div class="row" style="width:301.5px; margin-left:-16.5px">
            <div class="col-md-11 col-xs-11">
                <input type="text" id="selectedUserName" name="selectedUserName" placeholder="Select user..." style="width:301.5px; cursor:pointer; padding-left:5px" readonly/>
                <br /><label id="requiredValidation" style="color:red; display:none">Required</label>
            </div>
            <div class="col-md-1 col-xs-1">
                <i class="fa fa-sort-desc" aria-hidden="true" id="dropdownIconDesc" style="cursor:pointer;margin-left:10px; line-height: 2em; color: #888;"></i>
                <i class="fa fa-sort-asc" aria-hidden="true" id="dropdownIconAsc" style="cursor:pointer;margin-left:10px; margin-top:10px; display:none"></i>
            </div>                   
        </div>
        <div class="row" id="searchInputArea" style="width:300px;margin-left:-13px; margin-top:2px;margin-bottom:5px">
            <div class="col-md-12">
                <input id="searchInput" placeholder="Search user..." type="text" style="width:294px; display:none; padding-left:5px"/>
            </div>       
        </div>
        <div id="userListArea" class="row" style="width:300px; margin-left:-16px">
            <div class="col-md-12">
                <select id="allUserList" size="5" style="width:300px; display:none; border:none"></select>
            </div>
        </div>
    </div>
    <div style="float:left">
        <input type="submit" id="btnExport" value="Export" class="btn btn-lg btn-success" style="margin-left:20px"/>
    </div>
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $('form').on('submit', function (e) {
            if ($("#selectedUserName").val().length == 0) {
                $("#requiredValidation").show();
                return false;
            }
        })

        $(function () {
            $("#selectedUserName").on("click", function () {
                var ifAsc = $("#dropdownIconAsc").css("display");
                if (ifAsc == "none") {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: '/System/Reports/GetUserNameBySearchText',
                        data: { searchText: null },
                        success: function (result) {
                            $("#allUserList").empty();
                            $("#allUserList").show();
                            $("#searchInput").show().focus();
                            $("#dropdownIconDesc").hide();
                            $("#dropdownIconAsc").show();
                            $("#requiredValidation").hide();
                            $("#dropdownContainer").css("border", "solid").css("border-width", "0.25px").css("border-top", "none");                          
                            if (result.length == 0) {
                                $("#allUserList").attr("size", 2);
                                $("#allUserList").append("<option disabled value='No result'>No result</option>");
                            }
                            else {
                                if (result.length >= 5) {
                                    $("#allUserList").attr("size", 5);
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                                else {
                                    if (result.length > 1) {
                                        $("#allUserList").attr("size", result.length);
                                    }
                                    else {
                                        $("#allUserList").attr("size", 2);
                                    }                                   
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                                
                            }
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
                else {
                    $("#allUserList").hide();
                    $("#searchInput").hide();
                    $("#dropdownIconDesc").show();
                    $("#dropdownIconAsc").hide();
                    $("#allUserList").empty();
                    $("#searchInput").val("");
                    $("#dropdownContainer").css("border", "").css("border-width", "").css("border-top", "");
                }
            });

            $("#searchInput").on("keyup", function () {
                if ($("#searchInput").val().length == 0) {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: '/System/Reports/GetUserNameBySearchText',
                        data: { searchText: null },
                        success: function (result) {
                            $("#allUserList").empty();
                            $("#allUserList").show();
                            $("#searchInput").show();
                            $("#dropdownIconDesc").hide();
                            $("#dropdownIconAsc").show();
                            $("#requiredValidation").hide();
                            if (result.length == 0) {
                                $("#allUserList").attr("size", 2);
                                $("#allUserList").append("<option disabled value='No result'>No result</option>");
                            }
                            else {
                                if (result.length >= 5) {
                                    $("#allUserList").attr("size", 5);
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                                else {
                                    if (result.length > 1) {
                                        $("#allUserList").attr("size", result.length);
                                    }
                                    else {
                                        $("#allUserList").attr("size", 2);
                                    }                                   
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                            }                            
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
                else {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: '/System/Reports/GetUserNameBySearchText',
                        data: { searchText: $("#searchInput").val() },
                        success: function (result) {
                            $("#allUserList").empty();
                            $("#allUserList").show();
                            $("#searchInput").show();
                            $("#dropdownIconDesc").hide();
                            $("#dropdownIconAsc").show();
                            $("#requiredValidation").hide();
                            if (result.length == 0) {
                                $("#allUserList").attr("size", 2);
                                $("#allUserList").append("<option disabled value='No result'>No result</option>");
                            }
                            else {
                                if (result.length >= 5) {
                                    $("#allUserList").attr("size", 5);
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                                else {
                                    if (result.length > 1) {
                                        $("#allUserList").attr("size", result.length);
                                    }
                                    else {
                                        $("#allUserList").attr("size", 2);
                                    }
                                    for (var i = 0; i < result.length; i++) {
                                        $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                                    }
                                }
                            }
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
                            
            });

            $("#dropdownIconDesc").on("click", function () {               
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: '/System/Reports/GetUserNameBySearchText',
                    data: { searchText: null },
                    success: function (result) {
                        $("#allUserList").empty();
                        $("#allUserList").show();
                        $("#searchInput").show();
                        $("#searchInput").show().focus();
                        $("#dropdownIconDesc").hide();
                        $("#dropdownIconAsc").show();
                        $("#dropdownContainer").css("border", "solid").css("border-width", "0.25px").css("border-top", "none");
                        if (result.length == 0) {
                            $("#allUserList").append("<option disabled value='No result'>No result</option>");
                        }
                        else {
                            for (var i = 0; i < result.length; i++) {
                                $("#allUserList").append("<option value='" + result[i].Email + "'>" + result[i].UserName + "</option>");
                            }
                        }
                    },
                    error: function (error) {
                        alert(error);
                    }
                });               
            });

            $("#dropdownIconAsc").on("click", function () {             
                $("#allUserList").hide();
                $("#searchInput").hide();
                $("#dropdownIconDesc").show();
                $("#dropdownIconAsc").hide();
                $("#allUserList").empty();
                $("#searchInput").val("");
                $("#dropdownContainer").css("border", "").css("border-width", "").css("border-top", "");
            });

            $("#allUserList").on("change", function () {
                var selectedUserEmail = $(this).find("option:selected").val();
                var selectedUserName = $(this).find("option:selected").text();
                $("#selectedUserName").val(selectedUserName);
                $("#selectedUserEmail").val(selectedUserEmail);
                $("#allUserList").hide();
                $("#searchInput").hide();
                $("#dropdownIconDesc").show();
                $("#dropdownIconAsc").hide();
                $("#allUserList").empty();
                $("#searchInput").val("");
                $("#dropdownContainer").css("border", "").css("border-width", "").css("border-top", "");
            });
        });
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
}