﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common.Enum
@{
    var TSFNegAdjSwitchDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value);
    DateTime dtPeriod = new DateTime();
}
<style>
    .hidetr {
        display: none !important;
    }
</style>
<input type="hidden" id="hdnID" />
<div class="panel-heading" role="tab" id="panelThree-headingOne">
    <h4 class="panel-title">
        <a aria-controls="panelFour-collapseOne" aria-expanded="true" href="#panelFour-collapseOne" data-tireoriginreport="#accordion" data-toggle="collapse" class="panel-arrow-expand">
            Credit
        </a>
        <a id="creditExport" class="export" title="Export to CSV" href='' style="left:70px"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
</div>
<div style="" id="panelFour-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelThree-headingOne">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="CreditTable">
                    <thead>
                        <tr>
                            <th class="txt-r" width="17%">Period Month/year</th>
                            <th width="25%">
                                Class/Category
                                <i class="fa fa-question-circle color-tm-gray popoverClassCategory" data-placement="auto" title="Class/Category"></i>
                                <div id="popoverClassCategory" style="display:none;">
                                    <p>For a list of fees, if applicable, please visit our website at <a href="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value" target="_blank">@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value</a> or call us at @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Phone").Value.</p>
                                </div>
                            </th>
                            <th class="txt-r" width="12%">Negative Adj.</th>
                            <th class="txt-r" width="12%">Rate ($)</th>
                            <th class="txt-r" width="12%">Total ($)</th>
                            <th class="txt-r" width="13%">&nbsp;</th>
                        </tr>
                    </thead>@*btn btn-danger btn-block*@
                    <tbody>
                        <tr id="AddCredit">
                            <td class="txt-r" width="17%">
                                <div class="input-group date" id="dpCreditRatePeriodDate">
                                    @Html.TextBoxFor(m => m.PeriodDate, "{0:MMM-yyyy}", new { @class = "form-control", @readonly = "readonly", @name = "CreditRatePeriodDate", @id = "CreditRatePeriodDate", placeholder = "" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>
                            <td width="25%">
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.TSFRemittance.CategoryId, Model.CreditTires, "Select Class/Category", new { @class = "form-control CategoryId", @readonly = "readonly", @id = "Credit_TSFRemittance_CategoryId" })
                                </div>
                            </td>
                            <td class="txt-r" width="12%">
                                @Html.TextBoxFor(m => m.TSFRemittance.NegativeAdjustment, new { @class = "form-control txt-r CreditCalculation", maxlength = "6", @readonly = "readonly" })
                            </td>
                            <td class="txt-r" style="display:none" width="12%">@Html.TextBoxFor(m => m.TSFRemittance.CreditTSFRate, new { @class = "form-control txt-r CreditCalculation", maxlength = "10", @readonly = "readonly" })</td>
                            <td class="txt-r" style="display:none" width="12%">@Html.TextBoxFor(m => m.TSFRemittance.CreditTSFDue, new { @class = "form-control txt-r CreditCalculation", maxlength = "10", @readonly = "readonly" })</td>
                            <td class="txt-r" width="12%">@Html.LabelFor(m => m.TSFRemittance.CreditTSFRate, new { id = "td_CreditRate", @style = "font-weight:normal" })</td>
                            <td class="txt-r" width="12%">@Html.LabelFor(m => m.TSFRemittance.CreditTSFDue, new { id = "td_CreditTotal", @style = "font-weight:normal" })</td>
                            <td width="57%" id="tdAddCredit" style="display:block;margin-left: 22px;" class="txt-r">
                                <button class="btn btn-success btn-add" id="btnAddCredit" @*type="submit"*@ title="Add Tire Count Credit" disabled>+</button>
                            </td>
                            <td width="57%" id="tdeditCredit" style="display:none;margin-left: 22px;">
                                <button type="button" onclick="CloseEdit()" class="btn btn-danger btn-block" style="padding-right: 6px; padding-left: 6px;"><i class="fa fa-remove"></i></button>
                                <button type="button" id="btnupdateCredit" class="btn btn-success btn-block" style="padding-right: 6px; padding-left: 6px;"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                        <tr id="tdnegativeAdj" class="negativeAdj" style="display:none;">
                            <td style="border-top:none;text-align:right;" colspan="2"> </td>
                            <td style="border-top:none;" colspan="5">
                                <div style="margin-top:-16px; width: 35%;" class="dropdown">
                                    @Html.DropDownListFor(m => m.TSFRemittance.AdjustmentReasonType, Model.AdjustmentReasonTypeList, "Select Reason", new { @class = "form-control dropdown-toggle adj-reason-font" })

                                </div>

                                <div class="reasonDesc" style="display:none;">
                                    @Html.TextBoxFor(m => m.TSFRemittance.OtherDesc, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
                                    <strong><i>Due to negative adjustments, please supply supporting documenation.</i></strong>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="tblCredit" class="table table-hover" style="margin-top:-10px; ">
                    <tbody>
                        @if (Model.LineItems != null)
                        {
                            foreach (var lItm in Model.LineItems.OrderBy(x => x.NegativeAdjDate).ToList())
                            {
                                if ((lItm.CreditNegativeAdj + lItm.NegativeAdjustment) > 0)
                                {
                                    string toolTipText = string.Empty;
                                    var selectedText = Model.AdjustmentReasonTypeList.FirstOrDefault(x => x.Value == lItm.AdjustmentReasonType.ToString());
                                    dtPeriod = lItm.NegativeAdjDate ?? DateTime.Now;
                                    if (selectedText != null)
                                    {
                                        if (selectedText.Text.ToLower() == "other")
                                        {
                                            toolTipText = lItm.OtherDesc;
                                        }
                                        else
                                        {
                                            toolTipText = selectedText.Text;
                                        }
                                    }
                                    <tr>
                                        <td class="txt-r creditPeriodDate" width="17%" style="font-weight:bold">@dtPeriod.ToString("MMM yyyy")</td>
                                        <td width="25%" id="@lItm.CategoryId">@lItm.Category</td>
                                        <td class="txt-r" width="12%">
                                            <label class="position-absolute" style="margin-left:5px; font-weight:normal" data-toggle="tooltip" data-placement="right" title="" data-original-title="@toolTipText">
                                                <span class="negAdj" style="color:red">@(String.Format("{0} {1}", "-", (lItm.CreditNegativeAdj + lItm.NegativeAdjustment)))</span>
                                                <i class="fa fa-comment color-tm-grey"></i>
                                            </label>
                                        </td>
                                        <td class="txt-r" width="12%">@String.Format("{0} {1}", "-", @lItm.CreditTSFRate.ToString("#,###,##0.00"))</td>
                                        @if (lItm.CreditTSFDue > 0)
                                        {
                                            <td class="txt-r" width="12%" style="color:red">@String.Format("{0} {1}", "-", @lItm.CreditTSFDue.ToString("#,###,##0.00"))</td>
                                        }
                                        else
                                        {
                                            <td class="txt-r" width="12%">0</td>
                                        }

                                        <td class="td-center" width="13%">
                                            <div class="btn-group dropdown-menu-actions" id="editCategory">
                                                <!--OTSTM2-155-->
                                                @if (ViewBag.AllowEdit)
                                                {
                                                    <a class="edit-remove-menu" data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="edit" href="" id=@lItm.DetailID>
                                                                <i class="glyphicon fa fa-pencil-square-o"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li class="@lItm.CategoryId">
                                                            <a class="delete" href="" id=@lItm.DetailID data-toggle="modal">
                                                                <i class="glyphicon fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><!--/.row-->
    </div>
</div>
