﻿<table id="tblTSFInternalAdjusList" @*class="tableInternalAdjustment"*@ class="table table-hover display truncate datatable-100-perc narrow-width">
    <thead>
        <tr>
            <th>Date&nbsp;</th>
            <th>Type&nbsp;</th>
            <th>Added&nbsp;By&nbsp;</th>
            <th class="display-none">InternalAdjustmentId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<a id="viewmoreInternalAdj" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
