﻿<table id="tblInternalNoteList" @*class="table datatable-100-per"*@ class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>
            <th width="15%">Date&nbsp;</th>
            <th width="70%">Note&nbsp;</th>
            <th width="15%">Added by&nbsp;</th>
        </tr>
    </thead>
</table>
<br />
<a id="viewmoreInternalNote" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
