﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    string isDisabled = ((bool)(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalAdjustments) == CL.TMS.Security.SecurityResultType.EditSave)) ? string.Empty : "disabled";
}
<script type="text/ng-template" id="tsf-claim-internal-notes.html">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelNotes-headingOne">

            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" @*href="#panelNotes-collapseOne"*@ href="#{{panelArrow}}" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes
                </a>
            </h4>
            <h4 class="panel-title">
                <internal-notes-export search-text='{{searchNote}}' sort-reverse='{{sortReverse}}' sort-column='{{sortType}}' url='{{exportUrl}}' file-name="InternalNotes">
                </internal-notes-export>
            </h4>

            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" style="{{searchStyle}}" ng-model="searchNote" id="search" ng-blur="blur()" focus-input="focusVal" ng-keyup="search()" ng-class="{in: searchNote}">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="removeIcon($event)"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="{{panelArrow}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaModel" @isDisabled></textarea>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()" @isDisabled>+</button>
                <br>
                <br>
                <div class="internal-wrap">
                    <table class="table table-hover" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td width="20%">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedOn'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </td>
                                <td width="60%">
                                    <a href="javascript:void(0);" ng-click="sortType = 'Note'; sortReverse = !sortReverse">
                                        Note
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </td>
                                <td width="20%">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedBy'; sortReverse = !sortReverse">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-up"></span>
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-down"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="height: 170px; overflow-y: auto;">
                        <table class="table table-hover" style="margin-right: 5px;">
                            <tbody id="InternalAdjustmentNotes">
                                <tr ng-repeat="note in filtered = (allInternalNotes | orderBy:sortType:sortReverse | filter:searchNote| limitTo:quantity)">
                                    <td width="20%">{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>   
                                    <!--OTSTM2-651 responsive pop over-->                                
                                    <td witdh="60%" id="internalnote_{{$index}}" ng-bind-html="popupHandler('internalnote_'+$index, note.Note)"></td>
                                    <td width="20%">{{note.AddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="javascript:void(0);" ng-click="quantity = allInternalNotes.length; showMore = !showMore" ng-show="showMore && allInternalNotes.length > quantity" id="internal-viewmore">More</a>
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
</script>

<script type="text/ng-template" id="anchorExport.html">
    <a id="internal-export" class="export" title="Export to CSV" href='javascript:void(0);' ng-style="anchorCss">
        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
    </a>
</script>