﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    SecurityResultType RemittanceRemittancesAssignment = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceRemittancesAssignment);
    SecurityResultType RemittanceTSFRemittances = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittances);
    bool bNoAccessToClaimsList = (SecurityContextHelper.CurrentVendor != null) ? (RemittanceTSFRemittances == SecurityResultType.NoAccess) : (RemittanceRemittancesAssignment == SecurityResultType.NoAccess);

    string disabled = (bNoAccessToClaimsList) ? "disabled" : string.Empty;
    string url = (bNoAccessToClaimsList) ? string.Empty : Url.Action("Index", "TSFRemittances", new { area = "Steward" });
}
<script type="text/ng-template" id="TSFClaimSummaryBreadCrumb.html">

    <div class="btn-group fixed-claim-header-period-btn-group-steward">
        <a class="btn btn-warning" href="@url" @disabled ><i class="fa fa-chevron-left"></i> Remittances</a>
        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu" style="top: 20px;">
            <li ng-repeat="period in ClaimPeriods">
                <a href="{{period.Url}}"><i class="fa fa-folder-open-o"></i> {{period.shortName}}</a>
            </li>
            <li><a href="#" ng-click="moreOnClick($event)">View All</a></li>
        </ul>
    </div>    
</script>
