@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
        string appID = ViewData["ApplicationID"].ToString();
        string isDisabled = ((bool)(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes) == CL.TMS.Security.SecurityResultType.EditSave)) ? string.Empty : "disabled";
    }

<div class="panel-heading" role="tab" id="panelInternalNotesHeading-headingOne">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalNotes" aria-expanded="true" aria-controls="panelInternalNotes" class="panel-arrow-collapse collapsed">
            Internal Notes
        </a>
        <a id = "export" class="export internalnotes-export" title="Export to CSV" href='@Url.Action("TSFExportToExcel", new {})'><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
    <div class="col-xs-6 subcomp-search">
        <input id = "search" type="text" class="form-control" placeholder="Search">
        <div id = "found" class="subcomp-search-found">&nbsp;</div>
        <i class="glyphicon glyphicon-remove remove-icon"></i>
        <i class="glyphicon glyphicon-search"></i>
    </div>
</div>
<div id = "panelInternalNotes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelInternalNotesHeading-headingOne">
    <div class="panel-body" id="tsfInternalNote">
        <div class="form-group">
            <textarea class="form-control textNote" rows="3" @isDisabled></textarea>
        </div>
        <button id = "addNotes" type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" @isDisabled>+</button>
        <br>
        <br>
         @Html.Partial("_TSFInternalNotesList")        
    </div>
</div>

@*<script src="~/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/js/dataTables.scroller.js"></script>*@
@Scripts.Render("~/bundles/jquerydatatable")

<script type="text/javascript">
    //list of Resources text needed
    Global = {};
    Global.InternalNotes = {
        Resources: {}
    };
</script>

<script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsfinternal-notes.js"></script>

<script type="text/javascript">
    $(function () {

        var columnNames = [
            { columnName: 'CreatedDateString' }, { columnName: 'Note'}, { columnName: 'AddedBy'}
        ];

        $('#tblInternalNoteList').createDataTable({
            applicationId: '@appID',
            viewMoreId: '#viewmoreInternalNote',
            totalRecordsId: '#totalRecords',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            removeIconId: '.remove-icon',
            addNotes: '#addNotes',
            textNote: '.textNote',
            columnNames: columnNames,
            exportUrl: '@Url.Action("TSFExportToExcel", "Common", new {area = "System", searchText = "----", sortColumn="AAA", sortDirection="BBB", applicationId=@appID })',
            ajaxHandler: '@Url.Action("GetTSFListHandler", "Common", new { area = "System", claimID = appID })',
            addNotesHandler: '@Url.Action("AddTSFNotesHandler", "Common", new { area = "System", claimID = appID })',
            notesLength: '160'
        });
    })
</script>
