        <div class="sidebar">
          <ul class="nav nav-sidebar">
            <li class="menu-item search">
              <i id="collapsed-search-icon" class="glyphicon glyphicon-search"></i>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
            <li class="menu-item">
              <a href="participants-rpm-claims.html">
                <i class="glyphicon glyphicon-folder-open"></i><span class="title">Claims</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-rpm-transactions.html">
                <i class="glyphicon glyphicon-random"></i><span class="title">Transactions</span>
              </a>
              <div href="javascript:;" class="sub-menu-toggle">
                <span class="expand-icon">+</span>
              </div>
              <ul class="sub-menu">
                <span style="margin:0;margin-left:-30px;color:#fff;">Inbound</span>
                <li>
                  <a href="participants-hauler-claims-transactions-inbound_tcr.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">TCR +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-inbound_dot.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">DOT +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-inbound_ucr.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">UCR +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-inbound_hit.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">HIT +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-inbound_stc.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">STC +</span>
                  </a>
                </li>
                <span style="margin:0;margin-left:-30px;color:#fff;">Outbound</span>
                <li>
                  <a href="participants-hauler-claims-transactions-outbound_ptr.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">PTR +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-outbound_hit.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">HIT +</span>
                  </a>
                </li>
                <li>
                  <a href="participants-hauler-claims-transactions-outbound_rtr.html">
                    <i class="glyphicon glyphicon-folder-open"></i><span class="title">RTR +</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="participants-users.html">
                <i class="glyphicon glyphicon-user"></i><span class="title">Users</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-rpm-application.html">
                <i class="glyphicon glyphicon-credit-card"></i><span class="title">Application</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="fa fa-sign-out"></i><span class="title">Logout</span>
              </a>
            </li>            
          </ul>
        </div><!--/.sidebar-->