﻿<div class="comp-all-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" align="center">Add DOT Paper Form</h3>
    </div>

    <div class="modal-body">        
        <div class="modal-body padding-25">
            <form id="DOTTRANSFORM" name="DOTTRANSFORM">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="">Date Collected</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker5'>
                                <input type='text' class="form-control" data-date-format="YYYY/MM/DD" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="">DOT #</label>
                        <input type="text" name="dotNumber" class="form-control" data-ng-model="dot.dotNumber" required placeholder="">
                        <span style="color:red" ng-show="DOTTRANSFORM.dotNumber.$dirty && DOTTRANSFORM.dotNumber.$invalid">
                            <span ng-show="DOTTRANSFORM.dotNumber.$error.required">required.</span>
                        </span>

                    </div>
                    <div class="col-md-3">
                        <label for="">Collector #</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                        <label>Collector Info.</label><br>
                        <span class="form-control-static">Zach's Tire Collectors</span><br>
                        <span class="form-control-static">300 The East Mall, Suite 100</span><br>
                        <span class="form-control-static">Toronto, Ontario</span><br>
                        <span class="form-control-static">M9B 6B7</span><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <br><br>
                        <label for="">Scale Ticket #</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                        <br><br>
                        <label>Scale Weight (KG)</label><br>
                        <input type="text" class="form-control">
                        <div class="btn-group btn-toggle float-right margin-top--1">
                            <button class="btn btn-xs btn-success active" title="Kilograms">kg</button>
                            <button class="btn btn-xs btn-default" title="Pounds">lbs</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th>GOTR</th>
                                    <th>Gen. Tires</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td> <input type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

            <hr>

            <!-- Supporting Documents Upload -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Supporting Documents</th>
                                <th class="txt-c">Fax</th>
                                <th class="txt-c">Mail</th>
                                <th class="txt-c">Upload</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Paper Form</td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1add" value="option1"></label></td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1add" value="option2"></label></td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption1add" value="option3" checked></label></td>
                            </tr>
                            <tr>
                                <td>Scale Ticket</td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption2add" value="option1"></label></td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption2add" value="option2"></label></td>
                                <td class="txt-c"><label><input type="radio" name="supportingDocumentsOption2add" value="option3" checked></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table id="filesToUploadGrid" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Upload Documents</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="template-download fade in">
                                <td style="width:30%"><p class="name"><a>Canon Document Scan 029.jpg</a></p></td>
                                <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                                <td style="width:20%" class="txt-r"><span class="size">7.38 KB</span></td>
                                <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                            </tr>
                            <tr class="template-download fade in">
                                <td style="width:30%"><p class="name"><a>copy from copy_343 file.pdf</a></p></td>
                                <td style="width:40%"><input type="input" style="width:100%" class="form-control document-name" placeholder="Description" maxlength="512"></td>
                                <td style="width:20%" class="txt-r"><span class="size">9.43 KB</span></td>
                                <td style="width:10%" class="txt-c"><button class="btn btn-danger delete btn-sm"><strong>X</strong></button></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="dropzone" style="min-height: 140px;"></div>
                </div>
            </div>
            <!-- Supporting Documents Upload -->
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</div>