﻿<div class="comp-all-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
        <div class="pos-l">
            <h3 class="modal-title" id="modalDOTPaperForm">
                DOT #<br>
                <span>166373464</span>
            </h3>
        </div>
        <div class="pos-c"></div>
        <div class="pos-r">
            3000180<br>
            <span>Paper Form</span>
        </div>
    </div>

    <div class="modal-body">
        <div class="modal-previewtransaction">
            <div class="row margin-top--20">
                <div class="col-sm-1">
                    <label for="">Date</label><p class="margin-top--3">2015-03-12</p>
                </div>
                <div class="col-sm-2 txt-r">
                    <p>
                        <strong>Collector</strong> <br>
                        2000000
                    </p>
                </div>
                <div class="col-sm-3">
                    <p>
                        Zach's Tire Collectors<br>
                        300 The East Mall, Suite 100<br>
                        Toronto, Ontario M9B 6B7<br>
                        416-555-2345
                    </p>
                </div>
                <div class="col-sm-2 txt-r">
                    <p>
                        <strong>Hauler</strong><br>
                        3000000
                    </p>
                </div>
                <div class="col-sm-3">
                    <p>
                        Zach's Tire Hauler<br>
                        300 The East Mall, Suite 100<br>
                        Toronto, Ontario M9B 6B7<br>
                        416-555-2345
                    </p>
                </div>
            </div><!--/.row-->

            <hr class="margin-top-5">

            <div class="row">
                <div class="col-md-3">
                    <br>
                    <label for="">Scale Ticket #</label>
                    <p>1234567890</p>
                </div>
                <div class="col-md-3">
                    <br>
                    <label>Scale Weight (KG)</label><br>
                    <p>12345.0000</p>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                                <th>Gen. Tires</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p class="form-control-static">0</p></td>
                                <td><p class="form-control-static">0</p></td>
                                <td><p class="form-control-static">0</p></td>
                                <td><p class="form-control-static">Yes</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->

            <hr>

            <!-- Supporting Documents Preview -->
            <div class="row">
                <div class="col-md-12">
                    <p><label>Supporting Documents</label></p>
                </div>
                <div class="col-md-4 col-md-offset-2 plugin-smoothzoompan">
                    <img id="smoothzoompanPTRPhoto1" src="/gui/image-unavailable.png" class="img-smoothzoom" />
                </div>
                <div class="col-md-5">
                    <div class="smoothzoompanPhotoThumb">
                        <img src="/gui/image-unavailable.png" class="view-thumbnail" flag="1" target-elm="PTR" />
                    </div>
                    <div class="smoothzoompanPhotoThumb">
                        <img src="/img/sample/scale-ticket.jpg" class="view-thumbnail" flag="2" target-elm="PTR" />
                    </div>
                    <div class="smoothzoompanPhotoThumb">
                        <img src="/img/sample/sample-form-tcr.jpg" class="view-thumbnail" flag="3" target-elm="PTR" />
                    </div>
                </div>
                <div class="col-md-5 margin-bottom--10">
                    <div id="PTR-comment-1" class="PTRImagesComments smoothzoompanPhotoComments" style="display:block">
                        <hr>
                        <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                        <p>scan one.docx</p>
                        <label>Description</label>
                        <p>Paper Form</p>
                        <button class="btn btn-success"><strong>Download</strong></button>
                    </div>
                    <div id="PTR-comment-2" class="PTRImagesComments smoothzoompanPhotoComments">
                        <hr>
                        <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                        <p>copy from copy_343 file.pdf</p>
                        <label>Description</label>
                        <p>Scale Ticket</p>
                        <button class="btn btn-success"><strong>Download</strong></button>
                    </div>
                    <div id="PTR-comment-3" class="PTRImagesComments smoothzoompanPhotoComments">
                        <hr>
                        <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                        <p>Canon Document Scan 029.jpg</p>
                        <label>Description</label>
                        <p>Scale Ticket</p>
                        <button class="btn btn-success"><strong>Download</strong></button>
                    </div>
                </div>
            </div>
            <!-- Supporting Documents Preview -->
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</div>