﻿@using CL.TMS.Resources
@{ 
    string sDisableBankInfo = ViewBag.bEditBankinfo ? string.Empty : "disabled";
}
<script type="text/ng-template" id="bank-detail-form.html">
    <div class="modal-content">
        <div class="modal-header">           
            <button id="closedialog" class="close" data-dismiss="modal" type="button" ng-click="cancelEdit()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="modalBankingEFT" align="center">Participant Bank Information</h3>
        </div>
        <div class="modal-body padding-25">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="bankNameInput">Bank Name</label>
                        <input type="text" class="form-control" maxlength="50" id="bankNameInput" name="BankName" placeholder="" ng-model="bankinfoData.bankName" @sDisableBankInfo>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="showApprovedItem" class="form-group has-required has-feedback">
                        <label class="control-label" for="registrationNumberInput">Registration #</label>
                        <input id="registrationNumberInput" class="form-control ignore" type="text" placeholder="" value="{{rowData.Number}}" maxlength="15" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="transitNumberInput">Transit Branch #</label>
                        <input type="text" class="form-control bank-info" maxlength="5" id="transitNumberInput" name="TransitNumber" placeholder="5 digit branch number" numbers-only="5" ng-model="bankinfoData.transitNumber" @sDisableBankInfo>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="financeInstBankNumberInput">Financial Institution Bank #</label>
                        <input type="text" class="form-control bank-info" maxlength="3" id="financeInstBankNumberInput" name="BankNumber" placeholder="3 digit bank number" numbers-only="3" ng-model="bankinfoData.bankNumber" @sDisableBankInfo>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="accountNumberInput">Designation and Account #</label>
                        <input type="text" class="form-control bank-info" maxlength="15" id="accountNumberInput" name="AccountNumber" placeholder="account number" numbers-only="15" ng-model="bankinfoData.accountNumber" @sDisableBankInfo>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required">
                        <label class="control-label" for="EmailText">Email</label>
                        <input type="email" id="EmailText" name="Email" class="form-control" placeholder="" ng-model="bankinfoData.email" @sDisableBankInfo ng-style="bankinfoData.notifyToPrimaryContactEmail == true ? { 'background-color': '#EEEEEE', 'pointer-events':'none' } : { '': '' }"> @*OTSTM2-906 add ng-style*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-required">
                        <label class="control-label" for="optionalCCEmailText">Optional CC Email</label>
                        <input type="text" id="optionalCCEmailText" name="CCEmail" class="form-control" placeholder="" ng-model="bankinfoData.ccEmail" @sDisableBankInfo>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Submitted On:</label>
                    <label class="control-label">{{bankinfoData.submittedOnDate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Supporting Documents:</label>
                    <label class="control-label">{{bankinfoData.supportDocOption}}</label>
                </div>
            </div>
        </div><!--/.row-->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" ng-click="cancelEdit()" ng-if="!@ViewBag.bEditBankinfo">
                <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                Cancel
            </button> 
            <button type="button" class="btn btn-danger btn-lg" ng-click="openConfirmation('','bank-reject-form.html')" ng-if="showRejectBtn && !@ViewBag.bEditBankinfo">
                Reject
            </button>
            <button type="button" class="btn btn-success bank-info btn-lg" ng-click="approveBankInfo()" ng-if="!@ViewBag.bEditBankinfo">
                <i class="glyphicon fa fa-floppy-o" aria-hidden="true" ng-if="displayActionText =='Save'"></i>
                {{displayActionText}}
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="view-bank-detail-form.html">
    <div class="modal-content">
        <div class="modal-header">
            <button id="closedialog" class="close" data-dismiss="modal" type="button" ng-click="cancelEdit()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="modalBankingEFT" align="center">Participant Bank Information</h3>
        </div>
        <div class="modal-body padding-25">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="bankNameInput">Bank Name</label>
                        <input type="text" class="form-control" maxlength="50" id="bankNameInput" name="BankName" placeholder="" ng-model="bankinfoData.bankName" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="showApprovedItem" class="form-group has-required has-feedback">
                        <label class="control-label" for="registrationNumberInput">Registration #</label>
                        <input id="registrationNumberInput" class="form-control ignore" type="text" placeholder="" value="{{rowData.Number}}" maxlength="15" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="transitNumberInput">Transit Branch #</label>
                        <input type="text" class="form-control bank-info" maxlength="5" id="transitNumberInput" name="TransitNumber" placeholder="5 digit branch number" numbers-only="5" ng-model="bankinfoData.transitNumber" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="financeInstBankNumberInput">Financial Institution Bank #</label>
                        <input type="text" class="form-control bank-info" maxlength="3" id="financeInstBankNumberInput" name="BankNumber" placeholder="3 digit bank number" numbers-only="3" ng-model="bankinfoData.bankNumber" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="accountNumberInput">Designation and Account #</label>
                        <input type="text" class="form-control bank-info" maxlength="15" id="accountNumberInput" name="AccountNumber" placeholder="account number" numbers-only="15" ng-model="bankinfoData.accountNumber" disabled readonly>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-required">
                        <label class="control-label" for="EmailText">Email</label>
                        <input type="email" id="EmailText" name="Email" class="form-control" placeholder="" ng-model="bankinfoData.email" disabled readonly> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-required">
                        <label class="control-label" for="optionalCCEmailText">Optional CC Email</label>
                        <input type="text" id="optionalCCEmailText" name="CCEmail" class="form-control" placeholder="" ng-model="bankinfoData.ccEmail" disabled readonly>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Submitted On:</label>
                    <label class="control-label">{{bankinfoData.submittedOnDate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Supporting Documents:</label>
                    <label class="control-label">{{bankinfoData.supportDocOption}}</label>
                </div>
            </div>
        </div><!--/.row-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" ng-click="cancelEdit()">
                <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script> 

<script type="text/ng-template" id="bank-reject-form.html">
    <div class="modal-content">
        <div class="modal-header">
            <button id="closedialog" class="close" data-dismiss="modal" type="button" ng-click="cancelReject()">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="modalBankingEFT" align="center">Confirm</h3>
        </div>
        <div class="modal-body padding-25">
            <center>Are you sure you would like to Reject Banking Information?</center> 
        </div><!--/.row-->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" ng-click="cancelReject()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" ng-click="rejectBankInfo()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>
