﻿<style>
    .row-hover:hover {
        background-color: #EBEBEB;
    }
</style>
<script type="text/ng-template" id="dashboard-announcement-list-panel.html">
    <div ng-repeat="item in vm">
        <div class="row row-hover" style="margin-left:10px;margin-right:10px;">
            <div style="background-color: #f5f5f5; height:40px;line-height:40px;">
                <label style="font-size:16px;font-weight:bold;margin-left:10px;">{{item.Subject}}</label>
            </div>
            <div style="cursor:pointer;" ng-click="more(item.Subject,item.Description)">
                <span ng-bind-html="item.shortDesc|unsafe"></span>
                <span ng-show="item.isOver1000" style="float:left;">...</span>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="stc-premium-list-panel.html">
    <div class="main-box clearfix project-box green-box" style="margin-left:1px">
        <div class="main-box-body clearfix">
            <div class="project-box-header green-bg">
                <div class="name">
                    <a href="javascript:void(0)">
                        STC Events
                    </a>
                </div>
            </div>
            <div class="project-box-content">
                <div class="widget-todo">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-narrow-width clickable"></table>
                </div>
            </div>
            <div class="project-box-footer clearfix">
                <a href="javascript:void(0)">
                    <span class="value">{{countVM.Pending}}</span>
                    <span class="label">Pending</span>
                </a>
                <a href="javascript:void(0)">
                    <span class="value">{{countVM.Complete}}</span>
                    <span class="label">Complete</span>
                </a>
                <a href="javascript:void(0)">
                    <span class="value">{{countVM.Expired}}</span>
                    <span class="label">Expired</span>
                </a>
            </div>
            <div class="project-box-ultrafooter clearfix">
                <add-stc-premium-button panel-name="STC Premium"></add-stc-premium-button>
            </div>
        </div>
    </div>
</script>
<style>
</style>
<script type="text/ng-template" id="tcr-service-threshold-list-panel.html">
    <div class="main-box clearfix project-box green-box" style="margin-left:1px">
        <div class="main-box-body clearfix">
            <div class="project-box-header green-bg">
                <div class="name">
                    <a href="javascript:void(0)">Request for Service</a>
                </div>
            </div>
            <div class="project-box-content">
                <div class="widget-todo table-responsive" id="trctable">          
                    <table  datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display nowrap truncate datatable-100-per narrow-width clickable"></table>
                </div>
            </div>
            <div class="project-box-footer clearfix">
                <a href="javascript:void(0)" ng-click="filterThresholds(false)" id="filter2">
                    <span class="value">{{vm.withThresholds}}</span>
                    <span class="label">Thresholds</span>
                </a>
                <a href="javascript:void(0)" ng-click="filterThresholds(true)" id="filter1">
                    <span class="value">{{vm.reachedThresholds}}</span>
                    <span class="label">Thresholds Reached</span>
                </a>
                <a>
                    <span class="value">{{vm.withoutThresholds}}</span>
                    <span class="label">Without Thresholds</span>
                </a>
            </div>
            <div class="project-box-ultrafooter clearfix">
                <div class="float-left">
                    <a id="tcrExport" class="export export-claimindex" title="Export to CSV" >
                        <i class="fa fa-file-text-o fa-fw uiaction-export"></i>
                    </a>
                </div>
                <add-tcr-button panel-name="Request for Service" adata="{{vm.withoutThresholdVendors}}"></add-tcr-button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="item-action.html">
    <div class="actions" style="margin-right:-10px">
        <edit-stc-premium-button item-number="itemNumber" item-ID="itemID" item-description="itemDescription"></edit-stc-premium-button>
        <remove-stc-premium-button item-number="itemNumber" item-ID="itemID"></remove-stc-premium-button>
    </div>
</script>
<script type="text/ng-template" id="item-tcr-action.html">
    <div class="actions" style="margin-right:-10px">
        <edit-tcr-button item-number="itemNumber" item-ID="itemID"></edit-tcr-button>
        <remove-tcr-button item-number="itemNumber" item-ID="itemID"></remove-tcr-button>
    </div>
</script>

<script type="text/ng-template" id="add-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x" style="margin-top:0px !important"
            data-toggle="modal" title="Add" ng-click="openModal()" ng-disabled="isView">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" class="table-link" ng-click="edit()" ng-class="{editRemoveDisabled: isView}"><i class="fa fa-pencil"></i></a>
</script>

<script type="text/ng-template" id="remove-btn.html">
    <a href="javascript:void(0)" class="table-link" ng-click="remove()" ng-class="{editRemoveDisabled: isView}"><i class="fa fa-trash-o"></i></a>
</script>

<!--modal processing incentive details global Add/Edit/View template-->
<script type="text/ng-template" id="modal-stc-premium-rate-detail-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                {{isView ? 'STC Events' : isEdit ? 'STC Events' :'STC Events'}}
            </h3>
        </div>
        <div class="modal-body" id="tempCheck">
            <!--(Effective Start/End Date) col-sm-5 -->
            <div class="row form-inline">
                <div class="col-md-2">
                    <label class="control-label" style="font-size:medium;">Event Number:</label>
                    <label class="control-label" style="font-size:medium;">{{vm.EventNumber}}</label>
                </div>
                <div class="col-md-5 margin-left-neg-15" id="responsiveDiv1">
                    <div class="row">
                        <div class="col-md-6" ng-if="!isView">
                            <label class="control-label" style="font-size:medium;">Start Date:</label>
                            <div class="input-group date" id="stcEffectiveStartDate">
                                <input class="form-control"
                                       id="effectiveStartDate"
                                       type="text"
                                       ng-model="vm.StartDate">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span ng-show="!isValid.effectiveStartDate" id="isValidDate" class="text-danger">Required</span>
                        </div>
                        <div class="col-md-6" ng-if="isView" id="startDateViewMode">
                            <label class="control-label" style="font-size:medium;">Start Date:</label><br />
                            <label class="control-label" style="font-size:medium;">{{vm.StartDate}}</label>
                        </div>

                        <div class="col-md-6" ng-if="!isView">
                            <label class="control-label" style="font-size:medium;">End Date:</label>
                            <div class="input-group date" id="stcEffectiveEndDate">
                                <input class="form-control"
                                       id="effectiveEndDate"
                                       type="text"
                                       ng-model="vm.EndDate">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <div ng-show="!isValid.effectiveEndDate" class="text-danger">Required</div>
                            <div ng-show="!isValid.endDateOverStartDate" class="text-danger">The End Date must occur after the Start Date</div>
                        </div>
                        <div class="col-md-6" ng-if="isView" id="endDateViewMode">
                            <label class="control-label" style="font-size:medium;">End Date:</label><br />
                            <label class="control-label" style="font-size:medium;">{{vm.EndDate}}</label>
                        </div>

                        <input class="hidden" ng-model="vm.EffectiveStartDate" />
                        <input class="hidden" ng-model="vm.EffectiveEndDate" />
                        @*<input class="hidden" ng-model="vm.RateTransactionID" />*@
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="row margin-right-neg-25" id="responsiveDiv2">
                        <div class="col-md-6">
                            <label class="control-label" style="font-size:medium; white-space:nowrap">On-Road Rate (per KG):</label><input type="text" class="form-control" valid-number-stc decimalsize="{{vm.decimalsize}}" ng-model="vm.OnRoadRate" ng-disabled="isView" style="width:80%" />
                            <div ng-show="!isValid.onRoadRate" class="text-danger">Required</div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" style="font-size:medium;white-space:nowrap">Off-Road Rate (per KG):</label><input type="text" class="form-control" valid-number-stc decimalsize="{{vm.decimalsize}}" ng-model="vm.OffRoadRate" ng-disabled="isView" style="width:80%" />
                            <div ng-show="!isValid.offRoadRate" class="text-danger">Required</div>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" style="font-size:medium;">Description:</label><textarea class="form-control" rows="3" ng-model="vm.Description" ng-disabled="isView"></textarea>
                </div>
                <div ng-show="!isValid.description" class="text-danger" style="margin-left:8px">Required</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <!--View/Edit/Add can combine as one modal-->
                    <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                        <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="editSaveEvent()" ng-if="!isView && isEdit" ng-disabled="disableSaveBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                    <button class="btn btn-success submit-btn btn-lg" type="submit" ng-click="submitContent()" ng-if="!isView && !isEdit" ng-disabled="disableAddRateBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!--list panel action gear-->
<script type="text/ng-template" id="tcr-list-panel-action.html">
    <div class="actions">
        <edit-tcr-button adata="TCRData" tcr-id="ID" reg-number="regNumber" threshold-days="thresholdDays" business-name="businessName" descript="description"></edit-tcr-button>
        <remove-tcr-button item-number="regNumber" item-id="ID" business-name="businessName"></remove-tcr-button>
    </div>
</script>

<script type="text/ng-template" id="modal-tcr-detail-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Request for Service
            </h3>
        </div>
        <div class="modal-body" id="tempCheck">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" style="font-size:medium;">Registration Number:</label>
                    <input id="regNumber" class="form-control" style="font-size:medium;" maxlength="7" ng-model="vm.RegNumber" ng-disabled="isView || !isNew" ng-blur="regNumberAvailable()" />
                    <div ng-show="!isValid.regNumberAvailable" class="text-danger">{{regNumberMsg}}</div>
                </div>
                <div class="col-md-6">
                    <label class="control-label" style="font-size:medium;">Threshold Days:</label>
                    <input id="thresholdDays" type="number" class="form-control" style="font-size:medium;" ng-model="vm.ThresholdDays" ng-disabled="isView" ng-blur="thresholdDays()" />
                    <div ng-show="!isValid.thresholdDaysInvalid" class="text-danger">{{thresholdDaysMsg}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="vm.BusinessName.length>0" style="font-size:medium; white-space:nowrap">
                    <br />
                    Company Name:
                    <br />
                    <label class="control-label" >{{vm.BusinessName}}</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" style="font-size:medium;">Internal Notes</label>
                    <textarea id="description" maxlength="5000" rows="3" style="font-size:medium; width:100%; resize:vertical" class="form-control textNote" required ng-model="vm.Description" ng-disabled="isView" ng-blur="internalNote()"></textarea>
                    <span ng-show="!isValid.description" class="text-danger">Required.</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <!--View/Edit/Add can combine as one modal-->
                    <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                        <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="saveTCR()" ng-if="!isView" ng-disabled="disableSaveBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">{{confirmHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" @*style="color:red;"*@ align="center">{{failHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="message"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()"><i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-show-full-announcement.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Announcement</h3>
        </div>
        <div class="modal-body">
            <div class="row" style="padding:10px;background-color: #f5f5f5;">
                <label style="font-size:16px; font-weight:bold">{{subject}}</label>
            </div>
            <div class="row" style="padding:10px;overflow:scroll;">
                <p ng-bind-html="description|unsafe"></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script>