﻿@model TMS.Web.Areas.Staff.Models.IPadQRCodeModel

@{
    ViewBag.Title = "IPadQRCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .gridHeader th:nth-child(1) {
        width:40%;
    }
    .gridHeader th:nth-child(2) {
        text-align: center;
    }
</style>

<div class="tm-all participants-all-claims">
    <!-- Component: Transactions Header -->
    <div class="row comp-claims-header comp-variant-staff">
        <div class="col-xs-7 col-sm-6">
            <h2>QR Codes</h2>
        </div>
        <div class="col-xs-7 col-sm-6">
            <div class="sub-header-registrantinfo">3000180</div>
        </div>
     </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Component: iPads -->
            <div class="panel panel-default comp-ipads">
                <div class="panel-heading" role="tab" id="panelOne-headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#panelOne-collapseOne" aria-expanded="true" aria-controls="panelOne-collapseOne" class="panel-arrow-expand">
                            iPads <i class="fa fa-file-pdf-o fa-fw uiaction-export"></i>
                        </a>
                    </h4>
                    <div class="col-xs-6 subcomp-search">
                        <input type="text" class="form-control" placeholder="Search">
                        <i class="glyphicon glyphicon-remove remove-icon"></i>
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
                <div id="panelOne-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOne-headingOne">
                    <div class="panel-body">
                        <div class="row">
                        <!--Assigned iPads-->
                            <div class="col-md-6">
                                @{
                                    var assignedIPadGrid = new WebGrid(rowsPerPage: 5,fieldNamePrefix:"assignedIPadGrid", pageFieldName:"Page", canPage: true, ajaxUpdateContainerId:"assigned-ipad-grid-wrapper");
                                    assignedIPadGrid.Bind(source:Model.AssignedIPads.Rows, rowCount:Model.AssignedIPads.TotalRowsInCollection, autoSortAndPage:false);
                                    var assignedIPadGriColumns = assignedIPadGrid.Columns(new WebGridColumn[] { 
                                        assignedIPadGrid.Column(columnName: "Value", header: "Assigned", style:"assigned-ipad", canSort:false, format: row => CreateAssignedIPadValueColumn(row.Value )),
                                        assignedIPadGrid.Column(header: "Actions", style:"td-center", canSort:false, format: row => CreateAssignedIPadGridActionColumn(row.Value)),
                                    });               
                                }

                                <div id="assigned-ipad-grid-wrapper">
                                    @assignedIPadGrid.GetHtml(mode: WebGridPagerModes.All, columns: assignedIPadGriColumns, htmlAttributes: new { id = "assigned-ipad-grid" }, tableStyle: "table table-hover margin-bottom--20", headerStyle: "gridHeader",fillEmptyRows:false)
                                </div>


                                @helper CreateAssignedIPadValueColumn(dynamic row)
                                {
                                    @row.Value
                                    <div class="assigned-ipad-actions">
                                        <a id=@string.Format("assigned-ipad-label-pdf-icon-{0}", row.Value) href=@string.Format("/Default/QRCodeDeviceLabelGen?deviceId={0}",row.Value) target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                    </div>
                                }

                                @helper CreateAssignedIPadGridActionColumn(dynamic row)
                                {   
                                    <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a id=@string.Format("assigned-ipad-print-label-icon-{0}", row.Value) href=@string.Format("/Default/QRCodeDeviceLabelGen?deviceId={0}",row.Value) target="_blank"><i class="fa fa-file-pdf-o"></i> Print Label</a></li>
                                            <li><a id=@string.Format("unassign-ipad-icon-{0}", row.Value) href="#" data-toggle="modal" data-target="#modalUnassigniPad" data-value=@row.Value><i class="fa fa-minus-square-o"></i> Unassign</a></li>
                                        </ul>
                                    </div>
                                }

                                <script>
                                    $(document).ready(function () {
                                        function updateGrid(e)
                                        {
                                            e.preventDefault();                                     
                                            var url = $(this).attr('href');
                                            var grid = $(this).parent('#assigned-ipad-grid');
                                            var id = grid.attr('id');
                                            grid.load(url + '#' + id)
                                        }

                                        $('#assigned-ipad-grid table thead tr a').on('click', updateGrid);
                                        $('#assigned-ipad-grid table tfoot tr a').on('click', updateGrid);
                                        $('.viewmore').on('click', updateGrid);
                                    });
                                </script>
                            
                             </div>
                        <!--Unassigned iPads-->
                            <div class="col-md-6">
                                @{
                                    @helper CreateUnAssignedIpadGridActions()
                                    {
                                       <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                          <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li><a href="#" data-toggle="modal" data-target="#modalAssigniPad"><i class="fa fa-plus-square-o"></i> Assign</a></li>
                                          <li><a href="#" data-toggle="modal" data-target="#modalDeactivateiPad"><i class="fa fa-remove"></i> Deactivate</a></li>
                                        </ul>
                                       </div>

                                     }

                                        var unAssignedIPadGrid = new WebGrid(rowsPerPage: 5, fieldNamePrefix:"unassigned-ipad-grid", canPage: true);
                                        unAssignedIPadGrid.Bind(Model.UnAssignedIPads.Rows);
                                        var unAssignedIPadGriColumns = unAssignedIPadGrid.Columns(new WebGridColumn[] {
                                        unAssignedIPadGrid.Column(columnName: "Value", header: "Unassigned", canSort:false ),
                                        unAssignedIPadGrid.Column(header: "Actions", style:"td-center", canSort:false, format: r => CreateUnAssignedIpadGridActions()),
                                    });
                                }

                                @unAssignedIPadGrid.GetHtml(mode: WebGridPagerModes.All, columns: unAssignedIPadGriColumns, htmlAttributes: new { id = "unassigned-ipad-grid" }, tableStyle: "table table-hover margin-bottom--20", headerStyle: "gridHeader")
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <a href="#" class="viewmore">More</a>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div><!--/.panel-->
            <!-- /Component -->
        </div>

        <!-- Modal: Assign iPad  -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalAssigniPad" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAssigniPad" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAssigniPad" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px 0;">
                            <h4 class="txt-c">Are you sure you want to assign <strong>OTSIPAD133</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Unassign iPad  -->
        <script>
            $(document).ready(function () {
                $('#modalUnassigniPad').on('show.bs.modal', function (event) {
                    var trigger = $(event.relatedTarget);
                    var dataValue = trigger.data('value');
                    $(this).find('#unassigned-device-id').text(dataValue);
                });
            });
        </script>

        <div class="modal fade comp-claims-summary-submitmodal" id="modalUnassigniPad" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalUnassigniPad" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalUnassigniPad" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px;">
                            <h4 class="txt-c">Are you sure you want to unassign <strong id="unassigned-device-id">##</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Add QR Code  -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalAddQRCodes" tabindex="-1" role="dialog" aria-labelledby="modalAddQRCodes" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAddQRCodes" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px 0;">
                            <h4 class="txt-c">Are you sure you want to add 15 QR Codes?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Deactivate iPad  -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalDeactivateiPad" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalDeactivateiPad" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalDeactivateiPad" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to deactivate <strong>OTSIPAD120</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Deactivate QR Code  -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalDeactivateQRCode" tabindex="-1" role="dialog" aria-labelledby="modalDeactivateQRCode" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalDeactivateQRCode" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to deactivate QR Code <strong>3000180-1</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>