﻿<!--panel Steward tire stewardship fees template-->
<div id="panel-1">
    <!--receivable -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Accounts Receivable</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.steward[0].AccountLabel}}</label>
                <input class="form-control" maxlength="25" ng-model="vm.steward[0].AccountNumber" type="text" ng-class="{'has-error':vm.steward[0].AccountNumber.length==0 && vm.steward[0].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.steward[0].AccountNumber.length==0 && vm.steward[0].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!--TSF Distributions-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">TSF Distributions</span>
            </h3>
        </div>
        <div class="col-md-12">
            @{
                var init = 1;
                for (var row = 1; row < 4; row++)
                {
                    <div class="row">
                        @for (var col = 1; col < 7; col++)
                        {
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label bold">{{vm.steward[@init].AccountLabel}}</label>
                                    <i class="fa fa-question-circle steward" item-id="@init" data-placement="auto" title="" data-target="webuiPopover0"></i>
                                    <input class="form-control" valid-number maxlength="25" type="text" ng-model="vm.steward[@init].AccountNumber" ng-class="{'has-error':vm.steward[@init].AccountNumber.length==0 && vm.steward[@init].AccountNumber.length<26}" />
                                    <span class="valid-info" ng-show="vm.steward[@init].AccountNumber.length==0 && vm.steward[@init].AccountNumber.length<26">Input Required</span>
                                </div>
                            </div>
                            init += 1;
                            if (init > 18)
                            {
                                break;
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
    <!--Adjustments Penalties and Interest -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Adjustments, Penalties and Interest</span>
            </h3>
        </div>
    </div>
    <div class="row">
        @for (var row = 19; row < 22; row++)
        {
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label bold">{{vm.steward[@row].AccountLabel}}</label>
                    <input class="form-control" valid-number maxlength="25" ng-model="vm.steward[@row].AccountNumber" type="text" ng-class="{'has-error':vm.steward[@row].AccountNumber.length==0 && vm.steward[@row].AccountNumber.length<26}" />
                    <span class="valid-info" ng-show="vm.steward[@row].AccountNumber.length==0 && vm.steward[@row].AccountNumber.length<26">Input Required</span>
                </div>
            </div>
        }
    </div>

    <!--Tax distributions -->
    <div class="row">
        <div class="col-md-12">
            <h3>                
                <span class="bottom-line">Tax Distributions</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.steward[22].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.steward[22].AccountNumber" type="text" ng-class="{'has-error':vm.steward[22].AccountNumber.length==0 && vm.steward[22].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.steward[22].AccountNumber.length==0 && vm.steward[22].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
</div>

<!--panel Collector allowance template-->
<div id="panel-2" style="display:none;">
    <!--account payable -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Accounts Payable</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.collector[0].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.collector[0].AccountNumber" type="text" ng-class="{'has-error':vm.collector[0].AccountNumber.length==0 && vm.collector[0].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.collector[0].AccountNumber.length==0 && vm.collector[0].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!-- CA Distributions-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">CA Distributions</span>
            </h3>
        </div>
        @for (var group = 0; group < 2; group++)
        {
            <div class="col-md-12">
                @for (var row = (1 + group * 4); row < (5 + group * 4); row++)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{vm.collector[@row].AccountLabel}}</label>
                            <input class="form-control" valid-number maxlength="25" ng-model="vm.collector[@row].AccountNumber" type="text" ng-class="{'has-error':vm.collector[@row].AccountNumber.length==0 && vm.collector[@row].AccountNumber.length<26}" />
                            <span class="valid-info" ng-show="vm.collector[@row].AccountNumber.length==0 && vm.collector[@row].AccountNumber.length<26">Input Required</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!--Adjustments-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Adjustments</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.collector[9].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.collector[9].AccountNumber" type="text" ng-class="{'has-error':vm.collector[9].AccountNumber.length==0 && vm.collector[9].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.collector[9].AccountNumber.length==0 && vm.collector[9].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!--Tax distributions -->
    <div class="row">
        <div class="col-md-12">
            <h3>                
                <span class="bottom-line">Tax Distributions</span>
            </h3>
        </div>
        @{
            var collectortax = 1;
            for (var group = 0; group < 3; group++)
            {
                <div class="col-md-12">
                    @for (var row = (10 + group * 4); row < (14 + group * 4); row++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold">{{vm.collector[@row].AccountLabel}}</label>
                                <input class="form-control" valid-number maxlength="25" ng-model="vm.collector[@row].AccountNumber" type="text" ng-class="{'has-error':vm.collector[@row].AccountNumber.length==0 && vm.collector[@row].AccountNumber.length<26}" />
                                <span class="valid-info" ng-show="vm.collector[@row].AccountNumber.length==0 && vm.collector[@row].AccountNumber.length<26">Input Required</span>
                            </div>
                        </div>
                        collectortax += 1;
                        if (collectortax > 9)
                        {
                            break;
                        }
                    }
                </div>
            }
        }
    </div>
</div>

<!--panel Hauler transportation premiums template-->
<div id="panel-3" style="display:none;">
    <!--payable -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line" >Accounts Payable</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.hauler[0].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[0].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[0].AccountNumber.length==0 && vm.hauler[0].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.hauler[0].AccountNumber.length==0 && vm.hauler[0].AccountNumber.length<26">Input Required</span>
            </div>
        </div>

    </div>

    <!-- (Northern Premium)-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Transportation Premium</span>
            </h3>
        </div>
        @for (var group = 0; group < 2; group++)
        {
            <div class="col-md-12">
                @for (var row = (1 + group * 4); row < (5 + group * 4); row++)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{vm.hauler[@row].AccountLabel}}</label>
                            <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[@row].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26}" />
                            <span class="valid-info" ng-show="vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26">Input Required</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!-- (DOT Premium)-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">DOT Premium</span>
            </h3>
        </div>
        <div class="col-md-12">
            @for (var row = 9; row < 12; row++)
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label bold">{{vm.hauler[@row].AccountLabel}}</label>
                        <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[@row].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26}" />
                        <span class="valid-info" ng-show="vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26">Input Required</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--Adjustments-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Adjustments</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.hauler[12].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[12].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[12].AccountNumber.length==0 && vm.hauler[12].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.hauler[12].AccountNumber.length==0 && vm.hauler[12].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>

    <!--Tax distributions -->
    <div class="row">
        <div class="col-md-12">
            <h3>                
                <span class="bottom-line">Tax Distributions - Transportation Incentives</span>
            </h3>
        </div>
        @{
            var haulertax = 1;
            for (var group = 0; group < 3; group++)
            {
                <div class="col-md-12">
                    @for (var row = (13 + group * 4); row < (17 + group * 4); row++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold">{{vm.hauler[@row].AccountLabel}}</label>
                                <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[@row].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26}" />
                                <span class="valid-info" ng-show="vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26">Input Required</span>
                            </div>
                        </div>
                        haulertax += 1;
                        if (haulertax > 10)
                        {
                            break;
                        }
                    }
                </div>
            }
        }
    </div>
</div>

<!--panel Processor processing incentive template-->
<div id="panel-4" style="display:none;">
    <!--payable -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Accounts Payable</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.processor[0].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[0].AccountNumber" type="text" ng-class="{'has-error':vm.processor[0].AccountNumber.length==0 && vm.processor[0].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.processor[0].AccountNumber.length==0 && vm.processor[0].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!-- Transportation Incentives-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Transportation Incentives</span>
            </h3>
        </div>
        @for (var group = 0; group < 2; group++)
        {
            <div class="col-md-12">
                @for (var row = (1 + group * 4); row < (5 + group * 4); row++)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{vm.processor[@row].AccountLabel}}</label>
                            <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[@row].AccountNumber" type="text" ng-class="{'has-error':vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26}" />
                            <span class="valid-info" ng-show="vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26">Input Required</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!-- Processing Incentives-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Processing Incentives</span>
            </h3>
        </div>
        @for (var group = 0; group < 2; group++)
        {
            <div class="col-md-12">
                @for (var row = (9 + group * 4); row < (13 + group * 4); row++)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{vm.processor[@row].AccountLabel}}</label>
                            <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[@row].AccountNumber" type="text" ng-class="{'has-error':vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26}" />
                            <span class="valid-info" ng-show="vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26">Input Required</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!--Adjustments-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Adjustments</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.processor[17].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[17].AccountNumber" type="text" ng-class="{'has-error':vm.processor[17].AccountNumber.length==0 && vm.processor[17].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.processor[17].AccountNumber.length==0 && vm.processor[17].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!--Tax distributions -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Tax Distributions - Transportation Incentives</span>
                <i class="fa fa-question-circle processor" item-id="@init" data-placement="auto" title="" data-target="webuiPopover1"></i>
            </h3>
        </div>
        @{
            var processortax = 1;
            for (var group = 0; group < 2; group++)
            {
                <div class="col-md-12">
                    @for (var row = (13 + group * 4); row < (17 + group * 4); row++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold">{{vm.hauler[@row].AccountLabel}}</label>
                                <input class="form-control" valid-number maxlength="25" ng-model="vm.hauler[@row].AccountNumber" type="text" ng-class="{'has-error':vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26}" readonly="readonly" />
                                <span class="valid-info" ng-show="vm.hauler[@row].AccountNumber.length==0 && vm.hauler[@row].AccountNumber.length<26">Input Required</span>
                            </div>
                        </div>
                        processortax += 1;
                        if (processortax > 8)
                        {
                            break;
                        }
                    }
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Tax Distributions - Processing Incentives</span>
            </h3>
        </div>
        @{
            var processortaxPI = 1;
            for (var group = 0; group < 2; group++)
            {
                <div class="col-md-12">
                    @for (var row = (18 + group * 4); row < (22 + group * 4); row++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold">{{vm.processor[@row].AccountLabel}}</label>
                                <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[@row].AccountNumber" type="text" ng-class="{'has-error':vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26}" />
                                <span class="valid-info" ng-show="vm.processor[@row].AccountNumber.length==0 && vm.processor[@row].AccountNumber.length<26">Input Required</span>
                            </div>
                        </div>
                        processortaxPI += 1;
                        if (processortaxPI > 8)
                        {
                            break;
                        }
                    }
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Tax Distributions - Adjustments</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.processor[26].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.processor[26].AccountNumber" type="text" ng-class="{'has-error':vm.processor[26].AccountNumber.length==0 && vm.processor[26].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.processor[26].AccountNumber.length==0 && vm.processor[26].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
</div>

<!--panel RPM manufacturing incentive template-->
<div id="panel-5" style="display:none;">
    <!--payable -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Account Payable</span>
            </h3>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.rpm[0].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.rpm[0].AccountNumber" type="text" ng-class="{'has-error':vm.rpm[0].AccountNumber.length==0 && vm.rpm[0].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.rpm[0].AccountNumber.length==0 && vm.rpm[0].AccountNumber.length<26">Input Required</span>
            </div>
        </div>

    </div>
    <!-- (Manufacturing Incentive)-->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Manufacturing Incentives</span>
            </h3>
        </div>
        @for (var group = 0; group < 2; group++)
        {
            <div class="col-md-12">
                @for (var row = (1 + group * 4); row < (5 + group * 4); row++)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{vm.rpm[@row].AccountLabel}}</label>
                            <input class="form-control" valid-number maxlength="25" ng-model="vm.rpm[@row].AccountNumber" type="text" ng-class="{'has-error':vm.rpm[@row].AccountNumber.length==0 && vm.rpm[@row].AccountNumber.length<26}" />
                            <span class="valid-info" ng-show="vm.rpm[@row].AccountNumber.length==0 && vm.rpm[@row].AccountNumber.length<26">Input Required</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!--Adjustments-->
    <div class="row">
        <div class="col-md-12">            
            <h3><span class="bottom-line">Adjustments</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label bold">{{vm.rpm[9].AccountLabel}}</label>
                <input class="form-control" valid-number maxlength="25" ng-model="vm.rpm[9].AccountNumber" type="text" ng-class="{'has-error':vm.rpm[9].AccountNumber.length==0 && vm.rpm[9].AccountNumber.length<26}" />
                <span class="valid-info" ng-show="vm.rpm[9].AccountNumber.length==0 && vm.rpm[9].AccountNumber.length<26">Input Required</span>
            </div>
        </div>
    </div>
    <!--Tax distributions -->
    <div class="row">
        <div class="col-md-12">
            <h3>
                <span class="bottom-line">Tax Distributions</span>
            </h3>
        </div>
        @{
            var rpmtax = 1;
            for (var group = 0; group < 3; group++)
            {
                <div class="col-md-12">
                    @for (var row = (10 + group * 4); row < (14 + group * 4); row++)
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold">{{vm.rpm[@row].AccountLabel}}</label>
                                <input class="form-control" valid-number maxlength="25" ng-model="vm.rpm[@row].AccountNumber" type="text" ng-class="{'has-error':vm.rpm[@row].AccountNumber.length==0 && vm.rpm[@row].AccountNumber.length<26}" />
                                <span class="valid-info" ng-show="vm.rpm[@row].AccountNumber.length==0 && vm.rpm[@row].AccountNumber.length<26">Input Required</span>
                            </div>
                        </div>
                        rpmtax += 1;
                        if (rpmtax > 9)
                        {
                            break;
                        }
                    }
                </div>
            }
        }
    </div>
</div>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>