﻿<script type="text/ng-template" id="gp-create-batch-btn.html">
    <button type="button" class="btn btn-success btn-add float-right margin-top--10"
            data-toggle="modal" title="Create New Batch" ng-click="!IsReadOnly && createBatch()" ng-disabled="IsReadOnly">
        +
    </button>
</script>

<script type="text/ng-template" id="gp-post-batch-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!IsReadOnly && postBatch()"><i ng-show="type == 'Post'" class="fa fa-check"></i><i ng-show="type == 'Re-Post'" class="fa fa-reply"></i> {{type}}</a>
</script>

<script type="text/ng-template" id="gp-export-batch-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="exportBatch()"><i class="fa fa-file-excel-o"></i> Export</a>
</script>

<script type="text/ng-template" id="gp-on-hold-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!IsReadOnly && onHold()"><i class="fa fa-pause"></i> On Hold</a>
</script>

<script type="text/ng-template" id="gp-off-hold-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!IsReadOnly && offHold()"><i class="fa fa-play"></i> Off-Hold</a>
</script>

<script type="text/ng-template" id="gp-remove-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!IsReadOnly && remove()"><i class="glyphicon fa fa-trash-o"></i>&nbsp;Delete</a>
</script>

<script type="text/ng-template" id="gp-confirm-batch-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalCreateNewParticipantBatch" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
                <p ng-show="note">{{note}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()" ng-disabled="disableBtn">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()" ng-disabled="disableBtn">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="gp-successful-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">{{successHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="sucessMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                Ok
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="gp-fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Warning</h3>@*{{failHeader}}*@
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4><strong>{{message}}</strong></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                Ok
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-extracted.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <post-batch batch-num='batchNumber' type="Post" panel-name="panelName"></post-batch>
                </li>
                <li>
                    <export-batch batch-num='batchNumber' panel-name="panelName"></export-batch>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-queued.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <export-batch batch-num='batchNumber' panel-name="panelName"></export-batch>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-failed.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <post-batch batch-num='batchNumber' type="Re-Post" panel-name="panelName"></post-batch>
                </li>
                <li>
                    <export-batch batch-num='batchNumber' panel-name="panelName"></export-batch>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-posted.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <export-batch batch-num='batchNumber' panel-name="panelName"></export-batch>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-extracted.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover style="color: #6a6d68; padding: 7px;">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li><on-hold-transaction transaction-num='TransactionNumber' gpi-batchentry-id="BatchEntryId"></on-hold-transaction></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-failed.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover style="color: #6a6d68; padding: 7px;">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <post-batch batch-num='batchNumber' type="Re-Post" panel-name="panelName"></post-batch>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modal-hold.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover style="color: #6a6d68; padding: 7px;">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <off-hold-transaction transaction-num='TransactionNumber' gpi-batchentry-id="BatchEntryId"></off-hold-transaction>
                </li>
                <li>
                    <remove-transaction transaction-num='TransactionNumber' gpi-batchentry-id="BatchEntryId" type="Type"></remove-transaction>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="messagePopover.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" message-hover-popover>
            <i class="fa fa-comment color-tm-grey"></i>
        </a>
        <div class="popover-menu">
            <label>Message</label>
        </div>
    </div>
</script>

@*OTSMTM2-745*@
<script type="text/ng-template" id="gpActivityPanel">
    <div class="panel panel-default" id="gpActivityPanel">
        <div class="panel-heading" role="tab" id="panelSpotLightSearchManager-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="panel-arrow-expand" href="#panelClaimActivity">
                        Activities
                    </a>
                </h4>
                <h4 class="panel-title">
                    <a id="exportActivities" class="export" title="Export to Excel" href="@Url.Action("GetAllGPActivitiesExport", new { })">
                        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                    </a>
                </h4>
                <h4 title="New items have been added to this panel since you loaded the page.">
                    <span class="label label-default label-new" ng-show="hasNew">New</span>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="searchActivity" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                    <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                    <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                    <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div class="panel-collapse collapse in" id="panelClaimActivity" role="tabpanel">
            <div class="panel-body gp-activity-panel" ng-style="panelAfterMore">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per" width="100%"></table>
                        <div class="row">
                            <div class="col-md-12 viewMoreActivity">
                                <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.panel-->
</script>
