﻿<script type="text/ng-template" id="gp-modal-template.html">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-style="modalCss">
                <div class="panel-heading" role="tab" id="panelGPParticipantManager-headingOne">                    
                    <div class="col-xs-6 subcomp-search">
                        <input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="search(dtInstance)" ng-style="searchStyle">
                        <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                        <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
                <div id="panelGPParticipantManager-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelGPParticipantManager-headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width" width="100%"></table>
                                <br />
                                <a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                                <div id="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="gp-second-modal-template.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Batch # {{batchNumber}}</h3>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <gp-modal-view gp-url="@Url.Action("LoadGpTransactionsByBatch", "FinancialIntegration", new { area = "System", batchId = "AAA" })" batch-num={{batchNumber}} type="{{type}}"></gp-modal-view>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script>