﻿<script type="text/ng-template" id="gp-panel-template.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelGPParticipantManager-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{chevronId}}" aria-expanded="true" aria-controls="panelGPParticipantManager-collapseStatus" class="panel-arrow-expand">
                    {{header}}
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">@*id="search"*@
                <input  type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="search(dtInstance)" ng-style="searchStyle">
                <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="{{chevronId}}" role="tabpanel" aria-labelledby="panelGPParticipantManager-headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width" width="100%"></table>
                        <div class="row">
                            <div class="col-md-6 viewMoreActivity">
                                <a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                            </div>
                            <div class="col-md-6">
                                <create-batch type="type" panel-name="panelName"></create-batch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>