﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Staff Claim Summary";
    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalNotes);
    ViewBag.TransactionAdjustPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryTransactionAdjustments);
    Layout = "~/Views/Shared/_Layout.cshtml";
    string RPMWorkFlow = SecurityContextHelper.RPMClaimsWorkflow != null ? SecurityContextHelper.RPMClaimsWorkflow.Workflow : string.Empty;
}

@section styles {
    @Styles.Render("~/css/datatable-tm")
}

<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
<style>
    .disable-click {
        /*pointer-events: none;*/
        cursor: not-allowed;
        color: gray;
    }

    /*OTSTM2-424 begin*/
    #exportActivities {
        background: none;
        left: 95px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .label-new {
        left: 125px;
        position: absolute;
        top: 11px;
        width: 50px;
    }

    .viewMoreActivity {
        margin-top: 20px;
        display: inline-block;
    }

    /*stick to cube UI*/
    #panelClaimActivity .table thead > tr > th {
        border-bottom: 2px solid #e7ebee;
        text-transform: uppercase;
        font-size: 0.875em;
    }

    #panelClaimActivity .table tbody > tr > td {
        font-size: 0.875em;
        vertical-align: middle;
        border-top: 1px solid #e7ebee;
        padding: 12px 8px;
    }


    #panelClaimActivity .table tbody > tr > td {
        font-size: 0.875em;
        font-family: sans-serif;
        vertical-align: middle;
        border-top: 1px solid #e7ebee;
        padding: 12px 8px;
    }

    /*stick to cube UI*/
    table tbody tr td.ng-scope {
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    #panelClaimActivity {
        margin-top: -10px;
    }

    /*OTSTM2-424 end*/

    /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
    table.dataTable {
        border-collapse: collapse;
        width: 100% !important;
    }

</style>

<div class="tm-all staff-all-claims ng-cloak" ng-controller="rpmStaffClaimSummaryController" id="rpmStaffClaimSummary">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            @Html.Partial("_ClaimSummaryBreadCrumb")
            <h2 class="fixed-claim-header-title">Claim Summary</h2>
            <claim-bread-crumb></claim-bread-crumb>
            <div class="sub-header-claim-period"  
                 style="width:74px; height: 34px; line-height: 2.1em; text-align:center;"             
                 data-toggle="tooltip"
                 data-placement="right"
                 title="{{RPMClaimSummary.ClaimStatus.UnderReview}}"
                 ng-class="getStatusColor" >
                {{RPMClaimSummary.ClaimCommonModel.ClaimPeriodName}}
            </div>           
        </div>
        @if (SecurityContextHelper.IsStaff())
            {
            <div class="col-xs-5 col-sm-6">
                @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
            </div>
        }
        else
        {
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
            </div>
        }

    </div>
    <div class="panel-container">
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryStatus) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <claim-status claim-status-model="RPMClaimSummary.ClaimStatus"></claim-status>
            @Html.Partial("_ClaimStatusPaperOnly")
        }
        <!-- Component-->
        <div class="row">
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_RPMInboundPartial")
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInventoryAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_RPMInventoryAdjustmentPartial")
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_RPMStaffInternalAdjustmentPartial")
                }
            </div>
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryOutbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_RPMOutboundPartial")
                }
                @*@Html.Partial("_RPMTransactionAdjustmentPartial")*@
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryTransactionAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_CommonTransactionAdjustPartial")

                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryPaymentsAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_RPMPaymentAdjustmentPartial")
                }
                @*@Html.Partial("_RPMMessages", Model)*@
            </div>
        </div>
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_ClaimInternalNotesTemplate")
                    @*<manage-internal-notes></manage-internal-notes>*@
                    <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="rpm-claims-summary-notes"></manage-internal-notes>
                </div>
            </div>
        }
        <!-- Modal: Remove Internal Adjustment -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalRemoveInternalAdjustment" tabindex="-1" role="dialog" aria-labelledby="modalRemoveInternalAdjustment" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInactivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to remove <strong>Internal Adjustment</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnRemoveInternalAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
        <!-- Modal: Internal Adjustments  -->
        <script type="text/ng-template" id="internalAdjustModal.html">
            <div class="modal-content">
                <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 20px;">
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <h4>Choose Type</h4>
                                    <select class="form-control" id="internaladj-selector"
                                            ng-options="item.name for item in items"
                                            ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                                </div>
                            </div>
                            <div id="internaladj-weight" class="internaladj-options" ng-show="selectedItem.id=='1'">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="overall" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="inbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Inbound
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="outbound" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_onRoad') }">
                                            <label for="">Weight (t)</label>
                                            <input type="number" class="form-control" ng-model="modalResult.onroad" name="onroad" placeholder="0.0000" ng-disabled="isReadOnly||disableForReadOnlyStaff" decimal-required="4">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.onroad.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.onroad.$error.isDecimalRequired) || (internaladjustForm.onroad.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.onroad)">Weight should not be equal to 0</span>
                            </div>
                            <div id="internaladj-payment" class="internaladj-options" ng-show="selectedItem.id=='4'">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="RPMSPS" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Outbound SPS
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 txt-r">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                            <br>
                                            <label for="">Amount ($)</label>
                                            <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" decimal-required="2">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.amount.$error.isDecimalRequired) || (internaladjustForm.amount.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.amount)">Payment should not be equal to 0</span>
                            </div>
                            <div id="internaladj-internalNote" ng-if="!isReadOnly">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_internalNote') }">
                                        <h4 class="panel-title">Internal Note</h4>
                                        <textarea class="form-control" rows="3" name="note" ng-model="modalResult.internalNote" required></textarea>
                                        <div ng-show="internaladjustForm.$submitted || internaladjustForm.internalNote.$touched">
                                            <p class="help-block" ng-show="getErrorRule(selectedItem, '_internalNote')">Required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isReadOnly">
                                <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="rpm-internal-adjustment-notes"></manage-internal-notes>
                            </div>
                        </div>
                        <div style="padding:0 20px;">
                            <span class="color-tm-red">{{validationMessage}}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-if="!isReadOnly">
                            <i class="fa fa-ban fa-1x"></i>
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-if="isReadOnly">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                        <button type="submit" class="btn btn-success btn-lg" ng-if="!isReadOnly" ng-disabled="disableForReadOnlyStaff">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </script>
        <!-- /Modal  -->
        <!-- Modal: Internal Adjustments: Confirm  -->
        <script type="text/ng-template" id="internalAdjustConfirmModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </script>
        <!-- /Modal  -->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummarySupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    <!-- Component: Supporting Documents -->
                    @Html.Partial("_CommonClaimSupportingDocPartial", new ViewDataDictionary() {
                   { "TransactionId", @ViewBag.ClaimsId },
                   { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
                   { "ClaimsStatus", CL.TMS.Common.Enum.ClaimStatus.Open },
                   { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsRPMClaimSummarySupportingDocuments) }
                   })
                    <!-- /Component -->
                </div>
            </div>
        }

        @if ((SecurityContextHelper.RPMClaimsWorkflow != null) && (SecurityContextHelper.RPMClaimsWorkflow.Workflow != TreadMarksConstants.NoneWorkflow))
        {
            <claim-workflow claim-status-model="RPMClaimSummary.ClaimStatus" work-flow="RPM" vendor-type="5" closing-inventory="RPMClaimSummary.ClosingInventory"></claim-workflow>
            @Html.Partial("_ClaimWorkflowPartial")
        }
        <!--OTSTM2-424-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12" ng-controller="activityController" id="activityPanel">
                    <claim-activity-panel snp-url="@Url.Action("LoadAllActivities", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })"></claim-activity-panel>
                    @Html.Partial("_ClaimActivityPartial")
                </div>
            </div>
        }
        @Html.Partial("_ClaimSummaryBreadCrumb")
        @Html.Partial("_ClaimExport")

        @Html.Partial("_RPMCommonTemplates")
    </div>
</div><!--/.participants-all-claims-->

@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId',
            AccessPermission: '@ViewBag.isEditable', //OTSTM2-1304
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimsStatus: '@ViewBag.ClaimsStatus',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimPaymentUrl: '@Url.Action("ClaimPayment", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            ClaimSortYardCountSubmissionUrl: '@Url.Action("SortYardCountSubmission", "Claims")',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ConcurrentUsersValidationBeforeApprovingUrl: '@Url.Action("ConcurrentUsersValidationBeforeApproving", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })', //OTSTM2-1084 validate claim amount, threshold and assignee before approving
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            UpdateHSTUrl: '@Url.Action("UpdateHST", "Claims", new { area = "System" })',
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.InternalNoteSettings = {
            ID: '@ViewBag.ClaimsId',
            Resources: {},
            UserId: '@ViewBag.UserId',
            UserName: '@ViewBag.UserName',
            LoadInternalNotesUrl: '@Url.Action("GetClaimInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            //OTSTM2-649
            AddInternalNotesUrl: '@Url.Action("AddNotesHandler", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            viewMoreId: '#viewmore',
            removeIconId: '.remove-icon',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            notesLength: '130', //OTSTM2-524 72-->130
            //OTSTM2-649
            LoadInternalAdjustmentNotesUrl: '@Url.Action("GetInternalNotesInternalAdjustment", "Claims", new { area = "System" })',
            AddInternalAdjustmentNotesUrl: '@Url.Action("AddNotesHandlerInternalAdjustment", "Claims", new { area = "System" })',
            ExportToExcelInternalNotes: '@Url.Action("ExportToExcelInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            ExportToExcelInternalAdjustmentNotes: '@Url.Action("ExportToExcelInternalAdjustmentNotes", "Claims", new { area = "System" })',
        };

        Global.ParticipantClaimsSummary.Resources = {
            TotalOpening: '@UIResource.TotalOpening',
            TotalInbound: '@UIResource.TotalInbound',
            TotalOutbound: '@UIResource.TotalOutbound',

            OverallAdjustments: '@UIResource.OverallAdjustments',
            ClosingInventory: '@UIResource.ClosingInventory',
            ProcessingCapacity: '@UIResource.ProcessingCapacity',
            ManufacturingCapacity: '@UIResource.ManufacturingCapacity',
            OpeningInventory: '@UIResource.OpeningInventory'
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
            BtnReadOnly: '@ViewBag.AllowEdit' == 'False',  //OTSTM2-155
        };
        Global.Settings.Permission = {
            ReadOnly:'@CL.TMS.Security.SecurityResultType.ReadOnly',
            StatusPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryStatus)',
            InboundPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInbound)',
            OutboundPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryOutbound)',
            TransactionAdjustmentsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryTransactionAdjustments)',
            InventoryAndAdjustmentsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInventoryAndAdjustments)',
            PaymentsAndAdjustmentsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryPaymentsAndAdjustments)',
            InternalAdjustmentsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalAdjustments)',
            InternalNotesPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalNotes)',
            SupportingDocumentsPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummarySupportingDocuments)',
            ActivitiesPermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryActivities)',
            InternalNotePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalNotes)',
            DisableInternalAdjustmentsBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummaryInternalAdjustments) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            ClaimWorkFlow: '@RPMWorkFlow',
            EnableWorkflowButton: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsRPMClaimSummary) >= CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
        };
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/rpmclaimcommon")
    @Scripts.Render("~/bundles/rpmclaimstaff")
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}
