﻿<script type="text/ng-template" id="globalNotificationTemplate">

    <style>
        #button-badge-parent {
            display: inline-block;
            position: relative;
            /*padding: 2px 5px;*/
        }

        /* Make the badge float in the bottom right corner of the batge container */
        #button-badge {
            /*background-color: #fa3e3e;
            border-radius: 15px;
            color: white;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 13px;
            width: 13px;
            text-align: center;
            font-size: 12px;*/
            /*border: 1px solid white;*/
        }

        .myDropdown {
            position: absolute;
            top: 20px;
            min-width: 500px;
            right: -20px;
            border-radius: 7px;
            border: 2px solid lightgray;
            box-shadow: 5px 5px 5px #888888;
            list-style: none;
            padding: 0px 15px 0px 15px;
            margin-top: 25px;
            background-color: white;
            color: black;
            z-index: 1;
            /*for scroll bar*/
            max-height:300px; 
            overflow-y:auto;    
            cursor:auto;  /*OTSTM2-733*/
        }

        .topDivCont:after, .topDivCont:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-width: 0 6px 20px 6px;
            border-style: solid;
            border-color: white transparent;
            top: 120%;
            left: 13px;
            z-index: 2;
        }

        .topDivCont:before {
            border-width: 0 6px 20px 6px;
            border-color: black transparent;
        }

        .no-after-before:after, .no-after-before:before{
            content: none;
        }

        .myFade {
            display: none;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            transition: all .3s linear;
        }

        .myDropdown li {
            border-bottom: 1px solid lightgray;
            padding: 5px;
            padding-right: 0;
            padding-bottom: 2px;
        }

        .myDropdown li:not(:first-child):hover {
            background-color: lightgray;
        }

        .myDropdown li > div {
            min-height: 50px;
            border-right: 7px solid cornflowerblue;
        }

        .myDropdown li:first-child {
            padding-top: 0;
            padding-bottom: 0px;
            border-right: none;
        }

        #markAllAsRead, #SeeAllNotifications{
            display: inline-block;
            cursor: pointer;
        }

        .myDropdown .Initials-div-cont {
            padding: 0;
            margin: 0;
        }


        .myDropdown .Initials-div-cont span {
            background-color: orange;
            color: white;
            font-size: large;
            font-weight: bolder;
            border-radius: 25px;
            display: inline-block;
            height: 40px;
            width: 40px;
            /*OTSTM2-636*/            
            text-align:center;
            vertical-align: middle; 
            display: table-cell;
            /*OTSTM2-636*/   
        }

        .myDropdown .main-msg-div-cont {
            margin: 0;
            padding-left: 5px;
        }

        .myDropdown .main-msg-div-cont h5 {
            margin: 0;
            padding: 0;
            font-size: small;
            cursor:pointer;
            text-align:left; /*OTSTM2-733*/
            white-space:normal; /*OTSTM2-733*/
        }

        .myDropdown .main-msg-div-cont span {
            font-size: small;
            color: gray;
            padding: 0;
            display: inline-block;
            text-align:left; /*OTSTM2-733*/
        }

        .myDropdown .faClass-div-cont {
            padding: 0;
            padding-top: 13px;
            padding-left: 5px;
            font-size: 15px;
            cursor: pointer;
            color: gray;
        }

        .greyOut{
            pointer-events: none;
            color:darkgrey
        }

        .left-class{
            margin-left:-12px
        }

        .right-class{
            margin-right:-18px
        }

        @@media only screen and (max-width: 767px) { /*767px has been experimentally figured so thats why the use of magic number*/
            .myDropdown {
                left: 0;
            }

                .myDropdown:after, .myDropdown:before {
                    left: 15px;
                }
        }

        #bell{
            font-size: 1.125em;
            margin-left: -6px;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    </style>

    <div id="button-badge-parent" class="topDivCont no-after-before">       
        <i id="bell" class="fa fa-bell"></i>
        <span id="button-badge" ng-show="totalUnreadNotification!==0">@*<sup id="badeNumber" ng-bind="totalUnreadNotification"></sup>*@{{totalUnreadNotification}}</span>
        <ul id="dropDownTarget" class="myDropdown myFade">
            <li class="row">
                <h6 class="col-xs-5 text-left left-class"><b>Notifications</b></h6>
                <span class="col-xs-7 text-right">
                    <h6 id="markAllAsRead">Mark All as Read</h6> 
                    <h6 id="SeeAllNotifications" class="right-class">| See All Notifications</h6>
                </span>
            </li>
            <li class="row" ng-repeat="notification in unreadNotificationList">
                <div class="containerscont" ng-style="{'border-right':(notification.Status=='Unread')?'7px solid cornflowerblue':'7px solid transparent'}">
                    <div class="col-xs-1 Initials-div-cont">
                        <span>{{notification.AssignerInitial}}</span>
                    </div>
                    <div class="col-xs-10 main-msg-div-cont">
                        <h5 class="col-xs-12 main-msg" ng-bind-html="notification.Message | unsafe" ng-click="redirect()"></h5>
                        <span class="col-xs-12" style="text-align:left;">{{notification.TimeSpanMessage}}</span>
                    </div>
                    <div class="col-xs-1 faClass-div-cont">
                        <i id="cross" class="fa fa-times" aria-hidden="true"></i>
                        <i id="circle" ng-if="notification.Status=='Read'" class="fa fa-circle-o" aria-hidden="true"></i>
                        <i id="circle" ng-if="notification.Status=='Unread'" class="fa fa-circle" aria-hidden="true"></i>
                        <input type="hidden" name="NotificationId" value="{{notification.ID}}" id="NotificationId" />
                    </div>
                    
                </div>
            </li>           
        </ul>
    </div>
</script>


