﻿@*<script>
        function tempFunc() {
            var em = document.getElementById("dropDownTarget");
            em.classList.toggle("myFade");
        }
    </script>*@



<style>
    .button-batge-parent {
        display: inline-block;
        position: relative;
        padding: 2px 5px;
    }

    /* Make the badge float in the bottom right corner of the batge container */
    .button-badge {
        background-color: #fa3e3e;
        border-radius: 15px;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 13px;
        width: 13px;
        text-align: center;
        font-size: 12px;
        /*border: 1px solid white;*/
    }

    .myDropdown {
        position: absolute;
        top: 30px;
        min-width: 600px;
        right: 0;
        border-radius: 7px;
        border: 2px solid lightgray;
        box-shadow: 5px 5px 5px #888888;
        list-style: none;
        padding: 0px 15px 0px 15px;
        margin-top: 25px;
        background-color: white;
        color: black;
        z-index: 1;
    }

        .myDropdown:after, .myDropdown:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-width: 0 6px 20px 6px;
            border-style: solid;
            border-color: white transparent;
            right: 15px;
            bottom: 100%;
        }

        .myDropdown:before {
            border-width: 0 6px 20px 6px;
            border-color: black transparent;
        }

    .myFade {
        display: none;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }

    .myDropdown li {
        border-bottom: 1px solid lightgray;
        padding: 5px;
        padding-right: 0;
        padding-bottom: 2px;
    }

        .myDropdown li > div {
            min-height: 50px;
            border-right: 7px solid cornflowerblue;
        }

        .myDropdown li:first-child {
            padding-top: 0;
            padding-bottom: 0px;
            border-right: none;
        }

        .myDropdown li:last-child {
            padding-top: 0;
            padding-bottom: 0px;
            border-right: none;
            text-align: center;
        }

            .myDropdown li:last-child span {
                font-size: x-small;
                cursor: pointer;
            }

    .myDropdown .firstList-clickable {
        cursor: pointer;
    }

    .myDropdown .Initials-div-cont {
        padding: 0;
        margin: 0;
    }


        .myDropdown .Initials-div-cont span {
            background-color: orange;
            color: white;
            font-size: x-large;
            font-weight: bolder;
            border-radius: 25px;
            display: inline-block;
            height: 40px;
            width: 40px;
            padding: 8px 0 0 5px;
        }

    .myDropdown .main-msg-div-cont {
        margin: 0;
        padding-left: 5px;
    }

        .myDropdown .main-msg-div-cont h5 {
            margin: 0;
            padding: 0;
            font-size: small;
        }

        .myDropdown .main-msg-div-cont span {
            font-size: small;
            color: gray;
            padding: 0;
            display: inline-block;
        }

    .myDropdown .faClass-div-cont {
        padding: 0;
        padding-top: 13px;
        padding-left: 5px;
        font-size: 15px;
        cursor: pointer;
        color: gray;
    }

    @@media only screen and (max-width: 767px) { /*767px has been experimentally figured so thats why the use of magic number*/
        .myDropdown {
            left: 0;
        }

            .myDropdown:after, .myDropdown:before {
                left: 15px;
            }
    }
</style>

<div class="button-batge-parent">
    <i class="fa fa-bell-o" style="font-size: 27px; color: #ffffff; cursor: pointer; " onclick="tempFunc()"></i>
    <span class="button-badge"><sup>4</sup></span>
    <ul id="dropDownTarget" class="myDropdown myFade">
        <li class="row">
            <h6 class="col-xs-5"><b>Notifications</b></h6>
            <h6 class="col-xs-7 firstList-clickable">Mark All as Read | See All Notifications</h6>
        </li>

        <li class="row">
            <div>
                <div class="col-xs-1 Initials-div-cont">
                    <span>SR</span>
                </div>
                <div class="col-xs-10 main-msg-div-cont">
                    <h5 class="col-xs-12"><b>Samantha Retemeyer</b> assigned <b>3000180 - April 2016 Claim</b> to you for <b>review</b></h5>
                    <span class="col-xs-12">1 hour ago</span>
                </div>
                <div class="col-xs-1 faClass-div-cont">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        <li class="row">
            <div>
                <div class="col-xs-1 Initials-div-cont">
                    <span>KC</span>
                </div>
                <div class="col-xs-10 main-msg-div-cont">
                    <h5 class="col-xs-12"><b>Kayla Carreira</b> assigned <b>4000180 - May 2016 Claim</b> to you for <b>review</b></h5>
                    <span class="col-xs-12">3 hour ago</span>
                </div>
                <div class="col-xs-1 faClass-div-cont">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        <li class="row">
            <div>
                <div class="col-xs-1 Initials-div-cont">
                    <span>ZD</span>
                </div>
                <div class="col-xs-10 main-msg-div-cont">
                    <h5 class="col-xs-12"><b>Zach Dryman</b> assigned <b>2000180 - Jan-May 2016 Claim</b> to you for <b>approval</b></h5>
                    <span class="col-xs-12">5 hour ago</span>
                </div>
                <div class="col-xs-1 faClass-div-cont">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        <li class="row">
            <span class="col-xs-12">SHOW MORE...</span>
        </li>
    </ul>
</div>


