﻿<!-- Modal: confirm password for accessing admin menu -->
<div class="modal fade md-effect-1" id="modalConfirmAdminPassword" tabindex="-1" role="dialog" aria-labelledby="modalConfirmAdminPassword" aria-hidden="true" data-backdrop="static" @*data-keyboard="false" style="background-color: rgba(0, 0, 0, 0.5);"*@>
    <div class="modal-dialog modal-sm margin-top-100">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red">               
                <h3 class="modal-title" id="modalConfirmAdminPasswordTitle" align="center" style="border-bottom:hidden !important"><strong>Admin Access</strong></h3>
            </div>
            <div class="modal-body padding-25">
                <div class="row" align="center">
                    <div class="col-md-12">
                        <label id="lblConfirmPassword" for=""><strong>Confirm Password:</strong></label><label id="lblReenterPassword" for="" style="color:red"><strong>Incorrect password. Please re-enter.</strong></label><br />
                        <input id="enteredPassword" type="password" style="width:60%"/>
                        <br /><label id="requiredValidation" style="color:red; display:none">Required</label>
                    </div>                   
                </div><!--/.row-->               
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelConfirm" class="btn btn-danger" data-dismiss="modal">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    Cancel
                </button>
                <button type="button" id="btnConfirm" class="btn btn-success" >
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //password confirmation for accessing admin menu
        $("#adminMenuBtn").on("click", function () {
            $('#modalConfirmAdminPassword').modal('show');
            $("#lblReenterPassword").hide();
            $("#requiredValidation").hide();          
        });

        $('#modalConfirmAdminPassword').on('shown.bs.modal', function () {
            $("#enteredPassword").focus();
        })

        $('#enteredPassword').keyup(function (event) {
            $("#lblReenterPassword").hide();
            $("#lblConfirmPassword").show();
            var password = $(this).val();
            if (password.length != 0) {
                $("#lblReenterPassword").hide();
                $("#requiredValidation").hide();
            }

            if (event.keyCode == 13) {
                $("#btnConfirm").click();
            }
        });

        $('#modalConfirmAdminPassword').on('show.bs.modal', function (e) {           
            $('#enteredPassword').val("");
        })

        var count = 0;
        $("#btnConfirm").on("click", function () {
            if ($('#enteredPassword').val().length == 0) {
                $("#requiredValidation").show();
                $("#enteredPassword").focus();
            }
            else {
                $.ajax({
                    url: '/Account/AdminLoginConfirmation',
                    dataType: 'json',
                    type: 'POST',                    
                    data: { password: $("#enteredPassword").val() },
                    success: function (result) {
                        if (result) {
                            $('#modalConfirmAdminPassword').modal('hide');
                            window.location.href = "/Account/AdminEmptyPage";
                        }
                        else {
                            $("#lblConfirmPassword").hide();
                            $("#lblReenterPassword").show();
                            $("#enteredPassword").val("").focus();
                            count++;
                            if (count == 3) {
                                count = 0;
                                window.location.href = "/Account/Logout";
                            }
                        }
                    }
                });
            }
        });
    });
</script>