﻿@using CL.TMS.Common
@using CL.TMS.Security.Authorization
@using CL.TMS.Configuration
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security
@using CL.TMS.Common.Helper
@using CL.TMS.UI.Common.Helper
<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/css/normalize")
    @Styles.Render("~/css/bootstrap")
    <!-- bootstrap -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/cube/nanoscroller.css" rel="stylesheet" />
    <!-- global styles -->
    <link href="~/css/cube/theme_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    @Styles.Render("~/css/customize")
    @Styles.Render("~/css/common")
    @*@Styles.Render("~/css/jquery-webui-popover")*@
    @*@Styles.Render("~/css/jquery-webui-popover1.2.18")*@
    <link href="~/js/webui-popover-1.2.18/jquery.webui-popover.css?v=@ViewBag.versionid" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <!-- RTL support - for demo only -->
    @*<script src="js/demo-rtl.js"></script>*@
    <!--
    If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
    And add "rtl" class to <body> element - e.g. <body class="rtl">
    -->
    <!-- libraries -->
    <!-- this page specific styles -->
    <style>
        #sidebar-nav .nav > .open .submenu > li a, #sidebar-nav .nav > .active .submenu > li a {
            position: relative;
        }

        #sidebar-nav .nav li .submenu > li > a {
            display: block;
            font-size: 0.875em;
            line-height: 38px;
            padding-left: 66px;
            color: #fff;
            outline: none;
            text-decoration: none;
            transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s,box-shadow 0.1s ease-in-out 0s;
        }               
    </style>
    <!-- Favicon -->
    @*<link type="image/x-icon" href="favicon.png" rel="shortcut icon" />*@
    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body ng-app="@ViewBag.ngApp" class="theme-whbl  pace-done fixed-header fixed-leftmenu">
    @{
        var userFullName = string.Empty;

        var userClaimsIdentity = HttpContext.Current.User.Identity as System.Security.Claims.ClaimsIdentity;
        var IsAuthenticated = TMSContext.TMSPrincipal.Identity.IsAuthenticated;
        if (IsAuthenticated)
        {
            var userGivenName = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.GivenName).Value : string.Empty);
            var userSurname = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.Surname).Value : string.Empty);
            userFullName = string.Format("{0} {1}", userGivenName, userSurname);
        }
        else
        {
            userFullName = string.Format("{0} {1}", string.Empty, string.Empty);
        }

        string area = (ViewContext.RouteData.DataTokens["area"] ?? string.Empty).ToString();
        var registratioNumber = SecurityContextHelper.CurrentVendor != null ? SecurityContextHelper.CurrentVendor.RegistrationNumber : string.Empty;
        var currentUserEmail = SecurityContextHelper.CurrentUser != null ? SecurityContextHelper.CurrentUser.Email : string.Empty;
        var hasActivityPanel = ViewBag.HasActivityPanel;
        var claimId = ViewBag.ClaimsId;
        var hasRemittanceActivityPanel = ViewBag.HasRemittanceActivityPanel;
        var tsfclaimId = ViewBag.TsfClaimsId;
        var previousSearchWord = Session["PreviousSearchWord"] != null ? Session["PreviousSearchWord"].ToString() : string.Empty; //new added for cube UI (global search)
        var selectedMenu = ViewBag.SelectedMenu;
        var selectedSubMenu = ViewBag.SelectedSubMenu; //OTSTM2-989
        SecurityResultType uacAdminUsers = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsers);
        SecurityResultType uacAdminUsersStaffUsers = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminUsersStaffUsers);//level 1

        SecurityResultType uacAdminRolesAndPermissions = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRolesAndPermissions);
        SecurityResultType uacAdminReports = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminReports);
        SecurityResultType uacAdminRatesAndWeights = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentives);
        SecurityResultType uacAdminRateGroups = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRateGroups);
        SecurityResultType uacAdminRateGroupsPickupGroups = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRateGroups);
        SecurityResultType uacAdminRateGroupsDeliveryGroups = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRateGroups);
        SecurityResultType uacAdminCompanyBranding = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBranding);
        //SecurityResultType uacAdminCompanyBrandingLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingCompanyInformation);//level 1
        //uacAdminCompanyBrandingLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingTermsAndConditions);//level 1

        SecurityResultType uacAdminEmailSettings = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminEmailSettings);

        SecurityResultType uacReports = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Reports);
        SecurityResultType uacFinancialIntegration = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegration);

        SecurityResultType uacAdminApplicationSettings = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminApplicationSettings);
        SecurityResultType uacAdminFinancialIntegration = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFinancialIntegration);
        SecurityResultType uacAdminSystemThresholds = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminSystemThresholds);

        SecurityResultType uacAdminProductCompositions = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminProductCompositions);
        //SecurityResultType uacMetric = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Metric);
        SecurityResultType uacAdminAnnouncement = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminAnnouncements);

        string domainName = SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName");

        string companyLog = AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.LogoURL").Value.Replace("\\", "/");

        string companyLogUrlFullPath = Path.Combine(new string[] { domainName, companyLog });
    }

    <input id="registrationNumber" type="hidden" value="@registratioNumber" />
    <input id="currentUserEmail" type="hidden" value="@currentUserEmail" />
    <input id="hasActivityPanel" type="hidden" value="@hasActivityPanel" />
    <input id="claimId" type="hidden" value="@claimId" />
    <input id="hasRemittanceActivityPanel" type="hidden" value="@hasRemittanceActivityPanel" />
    <input id="tsfclaimId" type="hidden" value="@tsfclaimId" />

    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">

            <div class="container">
                <ul class="nav navbar-nav pull-left" style="margin-left:-10px;margin-right:-5px">
                    <li>
                        <a class="btn" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="#" id="logo" class="navbar-brand">
                        <img src="~/Images/gui-hdr-logo.png" alt="" class="normal-logo logo-white" style="margin-left:0px;" />
                    </a>
                </div>
                <div id="logo-separator" style="width: 0px; height: 34px; float: left; border: 1px solid #82b542; margin-left:-20px; margin-top: 8px; margin-bottom: 8px;"></div>
                <div style="float:left;" class="navbar-brand">
                    <img src="@companyLogUrlFullPath" alt=""  style="width:auto; height:50px; margin-top: -10px;margin-left:-36px; padding:5px 0px 5px 5px;"/>
                </div>
                <div class="clearfix">
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            <li class="hidden-xxs">
                                <a id="adminMenuBtn" class="btn">
                                    <i class="fa fa-lock"></i>
                                </a>
                            </li>
                            @*<li class="hidden-xxs">
                                    <a class="btn" href="@Url.Action("Index", "Invitation", new {area = "System"})">
                                        <i class="fa fa-sliders"></i>
                                    </a>
                                </li>*@
                            @if (uacReports >= CL.TMS.Security.SecurityResultType.ReadOnly)
                            {
                                <li class="hidden-xs">
                                    <a class="btn" id="SwitchToReportPage" href='@Url.Action("Index", "Reports", new { area = "System" })'>
                                        <i class="fa fa-file-text-o"></i>
                                    </a>
                                </li>
                            }
     
                            @if (uacFinancialIntegration >= CL.TMS.Security.SecurityResultType.ReadOnly)
                            {
                                <li class="hidden-xs">
                                    <a class="btn" id="SwitchToFinancialIntegrationPage" href='@Url.Action("Index", "FinancialIntegration", new { area = "System" })'>
                                        <i class="fa fa-money"></i>
                                    </a>
                                </li>
                            }

                            <li class="hidden-xxs" ng-controller="globalSearchController">
                                <a class="btn" id="ots-spyglass" spy-glass><i class="fa fa-search"></i></a>
                            </li>
                            <li class="dropdown hidden-xxs" ng-controller="notificationController" id="globalnotificationicon">
                                <a class="btn" id="notificationBell"><global-notification unread-notification-list="unreadNotificationList" total-unread-notification="totalUnreadNotification" total-notification="totalNotification"></global-notification></a>
                            </li>

                            <li class="dropdown profile-dropdown">
                                <a style="pointer-events:none">@userFullName &nbsp;<i class="fa fa-user-circle" aria-hidden="true" style="color:white"></i></a>
                            </li>
                            <li>
                                <a id="staffLogout" class="btn" href="@Url.Action("Logout", "Account", new {area = ""})">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Partial("_GlobalSearchCommonTemplate")
            @Html.Partial("_GlobalNotifications")

            <script type="text/javascript">
                //Global Variables
                var GlobalSearch = (function () {
                    var _searchLimit = 10;
                    var _spotLightSearch = '/Default/SpotLightSearch/' + _searchLimit + '/?searchFilters=filters' + '&keyWords=';
                    var _previousSearchWordUrl = '/System/Common/PreviousSearchWord/'
                    var _regNumber = '@(SecurityContextHelper.CurrentVendor != null ? SecurityContextHelper.CurrentVendor.RegistrationNumber: string.Empty)';
                    var _userName = '@userFullName';
                    var _groupLimit = 4;
                    var _isStaff = '@SecurityContextHelper.IsStaff()';
                    var _previousSearchWord = '@previousSearchWord';
                    var _spotLightSearchResult = '/System/Common/SpotLightSearchResults/?keyWords=';

                    var bClaims = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bRemittances = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bTransactions = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bApplications = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bUsers = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= SecurityResultType.ReadOnly).ToString().ToLower())';

                    var getbClaims = function () {
                        return bClaims;
                    }
                    var getbRemittances = function () {
                        return bRemittances;
                    }
                    var getbTransactions = function () {
                        return bTransactions;
                    }
                    var getbApplications = function () {
                        return bApplications;
                    }
                    var getbUsers = function () {
                        return bUsers;
                    }

                    var getSpotLightSearch = function () {
                        return _spotLightSearch;
                    }
                    var getRegNumber = function () {
                        return _regNumber;
                    }

                    var getUserName = function () {
                        return _userName;
                    }

                    var getSearchLimit = function () {
                        return _searchLimit;
                    }

                    var getGroupLimit = function () {
                        return _groupLimit;
                    }

                    var isStaff = function () {
                        return _isStaff;
                    }

                    var getPreviousSearchWordUrl = function () {
                        return _previousSearchWordUrl;
                    }

                    return {
                        RegNumber: getRegNumber,
                        UserName: getUserName,
                        SpotLightSearch: getSpotLightSearch,
                        SearchLimit: getSearchLimit,
                        GroupLimit: getGroupLimit,
                        IsStaff: isStaff,
                        getPreviousSearchWordUrl: getPreviousSearchWordUrl,
                        getSpotlightSearchResult: function () {
                            return _spotLightSearchResult;
                        },
                        ClaimsAccess: getbClaims,
                        RemittancesAccess: getbRemittances,
                        TransactionsAccess: getbTransactions,
                        ApplicationsAccess: getbApplications,
                        UsersAccess: getbUsers
                    };
                })();
                var GlobalBaseUrl = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)";
                if (GlobalBaseUrl.indexOf("localhost") < 0 && GlobalBaseUrl.indexOf("http:")>=0) { GlobalBaseUrl = GlobalBaseUrl.toLocaleLowerCase().replace("http:", "https:"); }
            </script>
        </header>
        <!--side nav-->
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano has-scrollbar">
                        <div id="col-left-inner" class="col-left-nano-content" tabindex="0" style="right:-17px;">
                            <div id="user-left-box" class="clearfix dropdown profile2-dropdown collapse navbar-collapse navbar-ex1-collapse" style="background-color:#edeaea;padding:0px;height:88px">
                                <div id="outerDivAdminLayout" class="row" style="margin:0px 0px 0px 0px;" ng-controller="GlobalSearchCtrl">
                                    <div id="innerDivAdminLayout" class="col-xs-3" style="background-color:red; height:88px; text-align: center; line-height:98px; width:64.77px">
                                        <i id="collapsed-search-icon" class="fa fa-unlock-alt" aria-hidden="true" style="font-size: 2em; color:white" ng-style="isNumberEntered" @*ng-click="globalSearch()"*@></i>
                                    </div>
                                    <div class="user-box col-xs-8" style="height:60px">
                                        <div class="row">
                                            <div class="col-xs-10" style="padding-left:0px; margin-top:-16px">
                                                <span style="font-size:1.5em; font-weight:600; overflow:hidden; white-space:nowrap; color:#535353; ">Admin Menu</span>
                                                <br />
                                                <span style="font-size:0.875em; font-weight:700;  position:relative; top:2px; color:#535353">TreadMarks</span><br /> 
                                                <span style="font-size:0.875em; overflow:hidden; white-space:nowrap; font-weight:700; position:relative; color:#535353">System Configuration</span>
                                            </div>
                                            <div id="AdminMenuCloseBtn" class="col-xs-2" style="padding-right:0px; margin-top:-18px; right:-18px; cursor:pointer;">
                                                <i class="fa fa-window-close" aria-hidden="true" style="color:#535353"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">
                                    <!--display order=20000-->
                                    @if (uacAdminUsers >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "Users")
                                        {
                                            <li class="active" data-uac="@uacAdminUsers.ToString() @uacAdminUsersStaffUsers.ToString()">
                                                <a href="@Url.Action("StaffIndex", "Invitation", new {area = "System"})">
                                                    <i class="fa fa-users" style="margin-left:0.5px;"></i><span class="title">@UIResource.StaffUsers</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminUsers.ToString() @uacAdminUsersStaffUsers.ToString()">
                                                <a href="@Url.Action("StaffIndex", "Invitation", new {area = "System"})">
                                                    <i class="fa fa-users" style="margin-left:0.5px;"></i><span class="title">@UIResource.StaffUsers</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <!--display order=21000-->
                                    @if (uacAdminRolesAndPermissions >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "RolesPermissions")
                                        {
                                            <li class="active" data-uac="@uacAdminRolesAndPermissions.ToString()">
                                                <a href='@Url.Action("RoleIndex", "User", new { area = "System" })'>
                                                    <i class="fa fa-id-card-o" style="margin-left:-1px;"></i><span class="title">Roles and Permissions</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminRolesAndPermissions.ToString()">
                                                <a href='@Url.Action("RoleIndex", "User", new { area = "System" })'>
                                                    <i class="fa fa-id-card-o" style="margin-left:-1px;"></i><span class="title">Roles and Permissions</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <!--display order=23000  -->
                                    @if (uacAdminRatesAndWeights >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AdminRates")
                                        {
                                            <li class="active" data-uac="@uacAdminRatesAndWeights.ToString()">
                                                <a href='@Url.Action("RatesIndex", "Rates", new { area = "System" })'>
                                                    <i class="fa fa-calculator" style="margin-left:1.5px;"></i><span class="title" style="margin-left:36px;">Fees and Incentives</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminRatesAndWeights.ToString()">
                                                <a href='@Url.Action("RatesIndex", "Rates", new { area = "System" })'>
                                                    <i class="fa fa-calculator" style="margin-left:1.5px;"></i><span class="title" style="margin-left:36px;">Fees and Incentives</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <!--display order=23000  -->
                                    @if (uacAdminRateGroups >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AdminRateGroups")
                                        {
                                            <li class="active" data-uac="@uacAdminRateGroups.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-sitemap" style="margin-left:1.5px;"></i>
                                                    <span class="title" style="margin-left:36px;">Rate Groups</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @*@if (uacAdminRateGroupsPickupGroups >= CL.TMS.Security.SecurityResultType.ReadOnly)*@
                                                    @{
                                                        <li>
                                                            <a href='@Url.Action("PickupGroupsIndex", "Rates", new { area = "System" })' class="@(selectedSubMenu == "PickupGroups" ? "active" : "")">
                                                                <span class="title">Pickup Groups</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @*@if (uacAdminRateGroupsDeliveryGroups >= CL.TMS.Security.SecurityResultType.ReadOnly)*@
                                                    @{
                                                        <li>
                                                            <a href='@Url.Action("DeliveryGroupsIndex", "Rates", new { area = "System" })' class="@(selectedSubMenu == "DeliveryGroups" ? "active" : "")">
                                                                <span class="title">Delivery Groups</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminRateGroups.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-sitemap" style="margin-left:1.5px;"></i>
                                                    <span class="title" style="margin-left:36px;">Rate Groups</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">     
                                                    @*@if (uacAdminRateGroupsPickupGroups >= CL.TMS.Security.SecurityResultType.ReadOnly)*@
                                                    @{
                                                        <li>
                                                            <a href='@Url.Action("PickupGroupsIndex", "Rates", new { area = "System" })' class="@(selectedSubMenu == "PickupGroups" ? "active" : "")">
                                                                <span class="title">Pickup Groups</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @*@if (uacAdminRateGroupsDeliveryGroups >= CL.TMS.Security.SecurityResultType.ReadOnly)*@
                                                    @{
                                                        <li>
                                                            <a href='@Url.Action("DeliveryGroupsIndex", "Rates", new { area = "System" })' class="@(selectedSubMenu == "DeliveryGroups" ? "active" : "")">
                                                                <span class="title">Delivery Groups</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!--display order=29000 -->
                                    @if (uacAdminProductCompositions >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "ProductCompositions")
                                        {
                                            <li class="active" data-uac="@uacAdminProductCompositions.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-pie-chart" style="margin-left:3.5px;"></i>
                                                    <span class="title" style="margin-left:34px;">Product Compositions</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @if (selectedSubMenu == "Materials")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("ProductList", "ProductCompositions", new { area = "System" })' class="active">
                                                                <span class="title">Materials</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("EstimatedWeights", "ProductCompositions", new { area = "System" })'>
                                                                <span class="title">Estimated Weights</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (selectedSubMenu == "EstimatedWeights")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("ProductList", "ProductCompositions", new { area = "System" })'>
                                                                <span class="title">Materials</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("EstimatedWeights", "ProductCompositions", new { area = "System" })' class="active">
                                                                <span class="title">Estimated Weights</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminProductCompositions.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-pie-chart"></i>
                                                    <span class="title" style="margin-left:34px;">Product Compositions</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href='@Url.Action("ProductList", "ProductCompositions", new { area = "System" })'>
                                                            <span class="title">Materials</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("EstimatedWeights", "ProductCompositions", new { area = "System" })'>
                                                            <span class="title">Estimated Weights</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!--display order=26000  => 31000 -->
                                    @if (uacAdminSystemThresholds >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "SystemThresholds")
                                        {
                                            <li class="active" data-uac="@uacAdminSystemThresholds.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-thermometer-half" style="margin-left:5px;"></i>
                                                    <span class="title" style="margin-left:34px;">System Thresholds</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @if (selectedSubMenu == "Accounts")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("AccountThresholds", "SystemThresholds", new { area = "System" })' class="active">
                                                                <span class="title">Accounts</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("TransactionThresholds", "SystemThresholds", new { area = "System" })'>
                                                                <span class="title">Transactions</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (selectedSubMenu == "Transactions")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("AccountThresholds", "SystemThresholds", new { area = "System" })'>
                                                                <span class="title">Accounts</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("TransactionThresholds", "SystemThresholds", new { area = "System" })' class="active">
                                                                <span class="title">Transactions</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminSystemThresholds.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-thermometer-half"></i>
                                                    <span class="title" style="margin-left:34px;">System Thresholds</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href='@Url.Action("AccountThresholds", "SystemThresholds", new { area = "System" })'>
                                                            <span class="title">Accounts</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("TransactionThresholds", "SystemThresholds", new { area = "System" })'>
                                                            <span class="title">Transactions</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!--display order=25000 => 33000 -->
                                    @if (uacAdminApplicationSettings >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AppSettings")
                                        {
                                            <li class="active" data-uac="@uacAdminApplicationSettings.ToString()">
                                                <a href='@Url.Action("AppSettings", "AppSettings", new { area = "System" })'>
                                                    <i class="fa fa-sliders" style="margin-left:2px;"></i><span class="title" style="margin-left:34px;">Application Settings</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminApplicationSettings.ToString()">
                                                <a href='@Url.Action("AppSettings", "AppSettings", new { area = "System" })'>
                                                    <i class="fa fa-sliders"></i><span class="title" style="margin-left:34px;">Application Settings</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <!--display order=25500 =>35000 -->
                                    @if (uacAdminFinancialIntegration >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AdminFinancialIntegration")
                                        {
                                            <li class="active" data-uac="@uacAdminFinancialIntegration.ToString()">
                                                <a href='@Url.Action("AdminIndex", "FinancialIntegration", new { area = "System" })'>
                                                    <i class="fa fa-money" aria-hidden="true" style="margin-left:2px;"></i><span class="title" style="margin-left:34px;">Financial Integration</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminFinancialIntegration.ToString()">
                                                <a href='@Url.Action("AdminIndex", "FinancialIntegration", new { area = "System" })'>
                                                    <i class="fa fa-money" aria-hidden="true" style="margin-left:2px;"></i><span class="title" style="margin-left:34px;">Financial Integration</span>
                                                </a>
                                            </li>
                                        }
                                    }

                                    <!--display order=27000 => 37000-->
                                    @if (uacAdminEmailSettings >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "EmailSettings")
                                        {
                                            <li class="active" data-uac="@uacAdminEmailSettings.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa fa-envelope" style="margin-left:2px;"></i>
                                                    <span class="title" style="margin-left:34px;">Email Settings</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @if (selectedSubMenu == "ETGeneral")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("GeneralIndex", "EmailSettings", new { area = "System" })' class="active">
                                                                <span class="title">General</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("ContentIndex", "EmailSettings", new { area = "System" })'>
                                                                <span class="title">Content</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (selectedSubMenu == "ETContent")
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("GeneralIndex", "EmailSettings", new { area = "System" })'>
                                                                <span class="title">General</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href='@Url.Action("ContentIndex", "EmailSettings", new { area = "System" })' class="active">
                                                                <span class="title">Content</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminEmailSettings.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa fa-envelope"></i>
                                                    <span class="title" style="margin-left:34px;">Email Settings</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href='@Url.Action("GeneralIndex", "EmailSettings", new { area = "System" })'>
                                                            <span class="title">General</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='@Url.Action("ContentIndex", "EmailSettings", new { area = "System" })'>
                                                            <span class="title">Content</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!--display order=24000 => 39000 -->
                                    @if (uacAdminCompanyBranding >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "CompanyBranding")
                                        {
                                            <li class="active" data-uac="@uacAdminCompanyBranding.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-building-o" style="margin-left:5.5px;"></i>
                                                    <span class="title" style="margin-left:35px;">Company Branding</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @if (selectedSubMenu == "CompanyInformation")
                                                    {
                                                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingCompanyInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("CompanyInformationIndex", "CompanyBranding", new { area = "System" })' class="active">
                                                                    <span class="title">Company Information</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingTermsAndConditions) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("TermConditionIndex", "CompanyBranding", new { area = "System" })'>
                                                                    <span class="title">Terms and Conditions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else if (selectedSubMenu == "TermCondition")
                                                    {
                                                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingCompanyInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("CompanyInformationIndex", "CompanyBranding", new { area = "System" })'>
                                                                    <span class="title">Company Information</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingTermsAndConditions) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("TermConditionIndex", "CompanyBranding", new { area = "System" })' class="active">
                                                                    <span class="title">Terms and Conditions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminCompanyBranding.ToString()">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-building-o"></i>
                                                    <span class="title" style="margin-left:35px;">Company Branding</span>
                                                    <i class="fa fa-angle-right drop-icon"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingCompanyInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("CompanyInformationIndex", "CompanyBranding", new { area = "System" })'>
                                                                <span class="title">Company Information</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingTermsAndConditions) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("TermConditionIndex", "CompanyBranding", new { area = "System" })'>
                                                                <span class="title">Terms and Conditions</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!--Display order =800000-->
                                    @if (uacAdminAnnouncement >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AdminAnnouncement")
                                        {
                                            <li class="active" data-uac="@uacAdminAnnouncement.ToString()">
                                                <a href='@Url.Action("Index", "Announcement", new { area = "System"})'>
                                                    <i class="fa fa-bullhorn" style="margin-left:4px;"></i><span class="title">Announcements</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminAnnouncement.ToString()">
                                                <a href='@Url.Action("Index", "Announcement", new { area = "System"})'>
                                                    <i class="fa fa-bullhorn"></i><span class="title">Announcements</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <!--display order=220000 => 410000 =>900000 -->
                                    @if (uacAdminReports >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "AdminReport")
                                        {
                                            <li class="active" data-uac="@uacAdminReports.ToString()">
                                                <a href='@Url.Action("AdminIndex", "Reports", new { area = "System" })'>
                                                    <i class="fa fa-file-text-o" style="margin-left:4px;"></i><span class="title">Reports</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-uac="@uacAdminReports.ToString()">
                                                <a href='@Url.Action("AdminIndex", "Reports", new { area = "System" })'>
                                                    <i class="fa fa-file-text-o"></i><span class="title">Reports</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>

                            </div>
                        </div>
                    </section>
                    <div id="nav-col-submenu">
                    </div>
                </div>
                <div id="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //disable Admin Button in navtop
        $("#adminMenuBtn").parent().addClass("open").css("pointer-events", "none");

        //click to switch back to regular empty page
        $("#AdminMenuCloseBtn").on("click", function () {
            window.history.pushState("admin", "adminLogin", "/Account/AdminLoginPage");
            $.ajax({
                url: '/Account/ClearSessionForAdminLogin',
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    window.location.href = "/System/Common/EmptyPage";
                }
            });
        });
        $("#SwitchToReportPage").on("click", function () {
            $.ajax({
                url: '/Account/ClearSessionForAdminLogin',
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    window.location.href = "/System/Reports";
                    return false;
                }
            });
        });
        $("#SwitchToFinancialIntegrationPage").on("click", function () {
            $.ajax({
                url: '/Account/ClearSessionForAdminLogin',
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    window.location.href = "/System/FinancialIntegration";
                    return false;
                }
            });
        });
    </script>

    <script>
        $(document).ready(function (e) {

            window.history.pushState('forward', null, '');

            //if clicking browser back button, force the page back to regular empty page
            if (window.history && typeof (window.history.pushState) == 'function') {

                $(window).on('popstate', function () {
                    window.history.pushState("admin", "adminLogin", "/Account/AdminLoginPage");
                    $.ajax({
                        url: '/Account/ClearSessionForAdminLogin',
                        dataType: 'json',
                        type: 'POST',
                        success: function (result) {  
                            window.location.href =  GlobalBaseUrl+"/System/Common/EmptyPage";
                        }
                    });
                });
            }
        });

    </script>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- theme scripts -->
    <script src="~/js/cube/jquery.nanoscroller.js?v=@ViewBag.versionid"></script>
    <script src="~/js/cube/scripts.js?v=@ViewBag.versionid"></script>

    @Scripts.Render("~/bundles/customize")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @*@Scripts.Render("~/bundles/jquery-webui-popover")*@
    @*@Scripts.Render("~/bundles/jquery-webui-popover1.2.18")*@
    <script src="~/js/webui-popover-1.2.18/jquery.webui-popover.js?v=@ViewBag.versionid"></script>


    <!-- ..\cl.tms.web\views\shared\_adminlayout.cshtml -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/js/AngularModule/global-search-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/AngularModule/tm-common-lib.js?v=@ViewBag.versionid"></script>
    @*please keep 'global-search-app.js' after 'tm-common-lib.js'*@
    <script src="~/js/Shared/global-search-app.js?v=@ViewBag.versionid"></script>
    
    @*eTracks*@
    @*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCaAG5ows57zWBx6KclwwTR72k5t6MiLLw"></script>*@
    @*Yess*@
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDeMjj7Rp5mxIaqH_8J-ELfVh90GsdPM1A"></script>    

    <!-- view holds common inline javascript functions -->
    @Html.Partial("_CommonJsSection", null)

    @RenderSection("scripts", required: false)

    <script src="~/js/Shared/globalNotification.js?v=@ViewBag.versionid"></script>

    <!--Script references. -->
    <!--Reference the SignalR library. -->
    <script src="/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>

    <!--Notification Client -->
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.notificationHub;

            // Create a function that the hub can call to broadcast notification messages.
            chat.client.newNotification = function (notificationid, receiver) {
                var currentUserEmail = $("#currentUserEmail").val().toLowerCase();
                //Update notification number
                if (receiver.toLowerCase() == currentUserEmail) {
                    //Refresh notification number
                    angular.element(document.getElementById('globalnotificationicon')).scope().increasingTotalUnreadNotification();
                    // alert("this is a test, id is:" + notificationid + " username: " + receiver + " currentUserEmail:" + currentUserEmail);
                }
            };

            // Create a function that the hub can call to broadcast activity messages.
            chat.client.newActivity = function (claimId) {
                var hasActivityPanel = $("#hasActivityPanel").val();
                var cid = $("#claimId").val();
                if (hasActivityPanel) {
                    if (claimId == cid) {
                        //Refresh activity number
                        angular.element(document.getElementById('activityPanel')).scope().increasingTotalActivity(cid);
                    }
                }
            };

            // Create a function that the hub can call to broadcast remittance activity messages.
            chat.client.newRemittanceActivity = function (claimId) {
                var hasRemittanceActivityPanel = $("#hasRemittanceActivityPanel").val();
                var tsfcid = $("#tsfclaimId").val();
                if (hasRemittanceActivityPanel) {
                    if (claimId == tsfcid) {
                        //Refresh activity number
                        angular.element(document.getElementById('remittanceActivityPanel')).scope().increasingTotalActivity(tsfcid);
                    }
                }
            };

            // Start the connection
            $.connection.hub.start({ pingInterval: null }).done(function () {

            });

            //OTSTM2-865 code copied from demo.js of "\cube\js" folder, extended function defined in "jquery.nanoscroller.js, the functionality of that leftmenu scrollbar appear/disappear automatically when resizing the height of screen"
            $('.fixed-leftmenu #col-left').nanoScroller({
                alwaysVisible: true,
                iOSNativeScrolling: false,
                preventPageScrolling: true,
                contentClass: 'col-left-nano-content'
            });
        });
    </script>

    <script type="text/ng-template" id="global-search.html">
        <div @*style="width: 95%; margin-left: 55px; padding: 12px 0 0 0"*@>
            <input id="txtGlobalSearch" class="global-search form-control" type="text" ng-model="searchvalue" @*placeholder="@UIResource.Search"*@ placeholder="Account #" numbers-only style="height: 30px; width:150px; margin-left:-3px; margin-top:-3px; padding-left: 8px; padding-right: 32px; border: none; outline: none;" ng-keyup="submitGlobalSearch($event)" />
            <i class="fa fa-window-close @*color-tm-white*@ pull-right" style="cursor:pointer; margin-top: -22px; margin-right:-15px; @*color:red;*@" ng-show="searchvalue.length > 0" ng-click="clearGlobalSearch()"></i>
        </div>
        <div ng-if="notFound" style="margin-top:-4px">
            <label @*class="color-tm-red"*@ style="margin-left: 2px; color: #d43f3a;"><small>Not Found</small></label>
        </div>
    </script>

    <script type="text/javascript" async>
        window.getBrowserInfo = function () {
            var ua = navigator.userAgent, tem,
            M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE ' + (tem[1] || '');
            }
            if (M[1] === 'Chrome') {
                tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        }
        try {
            if ($.fn.dataTable) {
                $.fn.dataTable.ext.errMode = 'none';
            }
        }
        catch (err) {
            console.log('err.message:', err.message);
        }
    </script>
</body>

</html>