﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/css/normalize")
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/customize")
    @Styles.Render("~/css/common")


    <!-- Custom styles for this template -->
    <!-- Load Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


    @RenderSection("styles", required: false)

    @* Placing modernizier script here as per documentation http://modernizr.com/docs/  *@
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <!-- Component: Header Bar -->
    <div id="hdrbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <img src="~/Images/gui-hdr-logo.png" class="navbar-logo navbar-left">
    </div>

    <div class="container-fluid main-content" role="content">

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/customize")

        @RenderSection("scripts", required: false)
   </div>

        <!--Do not remove-->
        <script type="text/javascript">

            $(document).ajaxError(function (event, jqxhr, settings, exception) {
                if (jqxhr.status == 401) {
                    window.location.reload(true);
                }
            });
        </script>

</body>
</html>
