﻿@using CL.TMS.Common
@using CL.TMS.Security.Authorization
@using CL.TMS.Configuration
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security
@using CL.TMS.Common.Helper
@using CL.TMS.UI.Common.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @*<link rel="icon" href="/favicon.ico">*@
    <title>@ViewBag.Title </title>

    @Styles.Render("~/css/normalize")
    @Styles.Render("~/css/bootstrap")
    <!-- bootstrap -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/cube/nanoscroller.css" rel="stylesheet" />
    <!-- global styles -->
    <link href="~/css/cube/theme_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    @Styles.Render("~/css/customize")
    @Styles.Render("~/css/common")
    @Styles.Render("~/css/jquery-webui-popover")

    @RenderSection("styles", required: false)

    <!-- RTL support - for demo only -->
    @*<script src="js/demo-rtl.js"></script>*@
    <!--
    If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
    And add "rtl" class to <body> element - e.g. <body class="rtl">
    -->
    <!-- libraries -->
    <!-- this page specific styles -->
    <!-- Favicon -->
    @*<link type="image/x-icon" href="favicon.png" rel="shortcut icon" />*@
    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body ng-app="@ViewBag.ngApp" class="theme-whbl  pace-done fixed-header fixed-leftmenu">
    @{
        var userFullName = string.Empty;
        var userClaimsIdentity = HttpContext.Current.User.Identity as System.Security.Claims.ClaimsIdentity;
        var IsAuthenticated = TMSContext.TMSPrincipal.Identity.IsAuthenticated;
        if (IsAuthenticated)
        {
            var userGivenName = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.GivenName).Value : string.Empty);
            var userSurname = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.Surname).Value : string.Empty);
            userFullName = string.Format("{0} {1}", userGivenName, userSurname);
        }
        else
        {
            userFullName = string.Format("{0} {1}", string.Empty, string.Empty);
        }

        string area = (ViewContext.RouteData.DataTokens["area"] ?? string.Empty).ToString();
        var registratioNumber = SecurityContextHelper.CurrentVendor != null ? SecurityContextHelper.CurrentVendor.RegistrationNumber : string.Empty;
        var currentUserEmail = SecurityContextHelper.CurrentUser != null ? SecurityContextHelper.CurrentUser.Email : string.Empty;
        var hasActivityPanel = ViewBag.HasActivityPanel;
        var claimId = ViewBag.ClaimsId;
        var hasRemittanceActivityPanel = ViewBag.HasRemittanceActivityPanel;
        var tsfclaimId = ViewBag.TsfClaimsId;
        var previousSearchWord = Session["PreviousSearchWord"] != null ? Session["PreviousSearchWord"].ToString() : string.Empty; //new added for cube UI (global search)
        var selectedMenu = ViewBag.SelectedMenu;
        SecurityResultType uacClaims = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims);
        SecurityResultType uacClaimsLevel1 = new SecurityResultType();
        if (SecurityContextHelper.IsStaff())
        {
            uacClaimsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsClaimsAssignment);
        }
        else
        {
            uacClaimsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsClaimsAllClaims);
        }
        SecurityResultType uacRemittance = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance);
        SecurityResultType uacRemittanceLevel1 = new SecurityResultType();
        if (SecurityContextHelper.IsStaff())
        {
            uacRemittanceLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceRemittancesAssignment);
        }
        else
        {
            uacRemittanceLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittances);
        }
        SecurityResultType uacTransactions = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions);
        SecurityResultType uacApplications = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications);
        SecurityResultType uacApplicationsLevel1 = SecurityResultType.ReadOnly;
        if (SecurityContextHelper.IsStaff())
        {
            uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsAllApplications);
            var currentVendor = SecurityContextHelper.CurrentVendor;
            if (currentVendor != null)
            {
                switch (currentVendor.VendorType)
                {
                    case 1:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplication);
                        break;
                    case 2:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsCollectorApplication);
                        break;
                    case 3:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplication);
                        break;
                    case 4:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplication);
                        break;
                    case 5:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsRPMApplication);
                        break;
                    default:
                        break;
                }
            }
        }
        else //registrant
        {
            var currentVendor = SecurityContextHelper.CurrentVendor;
            if (currentVendor != null)
            {
                switch (SecurityContextHelper.CurrentVendor.VendorType)
                {
                    case 1:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplication);
                        break;
                    case 2:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsCollectorApplication);
                        break;
                    case 3:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplication);
                        break;
                    case 4:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplication);
                        break;
                    case 5:
                        uacApplicationsLevel1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsRPMApplication);
                        break;
                    default:
                        break;
                }
            }
        }
        SecurityResultType uacUsers = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users);
        SecurityResultType uaciPadsQRCodes = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.iPadsQRCodes);
        SecurityResultType uacRetailConnection = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RetailConnection);

        SecurityResultType uacAdminAccess = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminAccess);
        SecurityResultType uacReports = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Reports);
        SecurityResultType uacFinancialIntegration = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegration);

        SecurityResultType uacDashboard = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Dashboard);
        SecurityResultType DashboardMetric1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFDollar);
        SecurityResultType DashboardMetric2 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFUnits);
        SecurityResultType DashboardMetric3 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFStatus);
        SecurityResultType DashboardMetric4 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTopTenStewards);
        SecurityResultType uacAnnouncement = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardAnnouncement);
        SecurityResultType uacSTC = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardSTC);
        //ET-59 and ET-60 for hide some menu items for participant and staff side.
        //bringing back menus YS-6
        var isParticipantHideMenu = false;
        var isPaticipantAdmin = SecurityContextHelper.IsParticipantAdmin();
        var isStaffHideMenu = false;

        string domainName = SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName");
        string companyLog = AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.LogoURL").Value.Replace("\\", "/");
        string companyLogUrlFullPath = Path.Combine(new string[] { domainName, companyLog });
    }

    <input id="registrationNumber" type="hidden" value="@registratioNumber" />
    <input id="currentUserEmail" type="hidden" value="@currentUserEmail" />
    <input id="hasActivityPanel" type="hidden" value="@hasActivityPanel" />
    <input id="claimId" type="hidden" value="@claimId" />
    <input id="hasRemittanceActivityPanel" type="hidden" value="@hasRemittanceActivityPanel" />
    <input id="tsfclaimId" type="hidden" value="@tsfclaimId" />

    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container">
                <ul class="nav navbar-nav pull-left" style="margin-left:-10px;margin-right:-5px">
                    <li>
                        <a class="btn btn-navigation" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="#" id="logo" class="navbar-brand">
                        <img src="~/Images/gui-hdr-logo.png" alt="" class="normal-logo logo-white" style="margin-left:0px;" />
                    </a>
                </div>
                <div id="logo-separator" style="width: 0px; height: 34px; float: left; border: 1px solid #82b542; margin-left:-20px; margin-top: 8px; margin-bottom: 8px;"></div>
                <div style="float:left;" class="navbar-brand">
                    <img src="@companyLogUrlFullPath" alt="" style="width:auto; height:50px; margin-top: -10px;margin-left:-36px; padding:5px 0px 5px 5px;" />
                </div>
                <div class="clearfix">
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            @{
                                if (SecurityContextHelper.IsStaff())
                                {
                                    if (uacAdminAccess >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (uacAdminAccess == CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <li class="hidden-xxs">
                                                <a id="adminMenuBtn" class="btn btn-navigation">
                                                    <i class="fa fa-lock"></i>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="hidden-xxs">
                                                <a id="adminMenuBtn" class="btn btn-navigation">
                                                    <i class="fa fa-lock"></i>
                                                </a>
                                            </li>
                                        }
                                    }
                                    if (uacReports >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "Reports")
                                        {
                                            <li class="hidden-xs open">
                                                <a id="topNavReport" class="btn btn-navigation" href='@Url.Action("Index", "Reports", new { area = "System" })'>
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="hidden-xs">
                                                <a id="topNavReport" class="btn btn-navigation" href='@Url.Action("Index", "Reports", new { area = "System" })'>
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                            </li>
                                        }
                                    }
                                    if (uacFinancialIntegration >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                    {
                                        if (selectedMenu == "FinancialIntegration")
                                        {
                                            <li class="hidden-xs open">
                                                <a class="btn btn-navigation" href='@Url.Action("Index", "FinancialIntegration", new { area = "System" })'>
                                                    <i class="fa fa-money"></i>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="hidden-xs">
                                                <a class="btn btn-navigation" href='@Url.Action("Index", "FinancialIntegration", new { area = "System" })'>
                                                    <i class="fa fa-money"></i>
                                                </a>
                                            </li>
                                        }
                                    }

                                    <li class="hidden-xxs" ng-controller="globalSearchController">
                                        <a class="btn btn-navigation" id="ots-spyglass" spy-glass><i class="fa fa-search"></i></a>
                                    </li>

                                    if (selectedMenu == "SeeAllNotification")
                                    {
                                        <li class="dropdown hidden-xxs open" ng-controller="notificationController" id="globalnotificationicon">
                                            <a class="btn btn-navigation" id="notificationBell"><global-notification unread-notification-list="unreadNotificationList" total-unread-notification="totalUnreadNotification" total-notification="totalNotification"></global-notification></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="dropdown hidden-xxs" ng-controller="notificationController" id="globalnotificationicon">
                                            <a class="btn btn-navigation" id="notificationBell"><global-notification unread-notification-list="unreadNotificationList" total-unread-notification="totalUnreadNotification" total-notification="totalNotification"></global-notification></a>
                                        </li>
                                    }

                                    <li class="dropdown profile-dropdown">
                                        <a style="pointer-events:none">@userFullName &nbsp;<i class="fa fa-user-circle" aria-hidden="true" style="color:white"></i></a>
                                    </li>
                                    <li>
                                        <a id="staffLogout" class="btn btn-navigation" href="@Url.Action("Logout", "Account", new { area = "" })">
                                            <i class="fa fa-sign-out"></i>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="dropdown profile-dropdown">
                                        <a style="pointer-events:none">@userFullName &nbsp;<i class="fa fa-user-circle" aria-hidden="true" style="color:white"></i></a>
                                    </li>
                                    <li>
                                        <a id="participantLogout" class="btn btn-navigation" href="@Url.Action("Logout", "Account", new { area = "" })">
                                            <i class="fa fa-sign-out"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Partial("_GlobalSearchCommonTemplate")
            @Html.Partial("_GlobalNotifications")
            <script type="text/javascript">
                //Global Variables
                var GlobalSearch = (function () {
                    var _searchLimit = 10;
                    var _spotLightSearch = '/Default/SpotLightSearch/' + _searchLimit + '/?searchFilters=filters' + '&keyWords=';
                    var _previousSearchWordUrl = '/System/Common/PreviousSearchWord/'
                    var _regNumber = '@(SecurityContextHelper.CurrentVendor != null ? SecurityContextHelper.CurrentVendor.RegistrationNumber : string.Empty)';
                    var _userName = '@userFullName';
                    var _groupLimit = 4;
                    var _isStaff = '@SecurityContextHelper.IsStaff()';
                    var _previousSearchWord = '@previousSearchWord';
                    var _spotLightSearchResult = '/System/Common/SpotLightSearchResults/?keyWords=';

                    var bClaims = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bRemittances = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bTransactions = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bApplications = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= SecurityResultType.ReadOnly).ToString().ToLower())';
                    var bUsers = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= SecurityResultType.ReadOnly).ToString().ToLower())';

                    var getbClaims = function () {
                        return bClaims;
                    }
                    var getbRemittances = function () {
                        return bRemittances;
                    }
                    var getbTransactions = function () {
                        return bTransactions;
                    }
                    var getbApplications = function () {
                        return bApplications;
                    }
                    var getbUsers = function () {
                        return bUsers;
                    }

                    var getSpotLightSearch = function () {
                        return _spotLightSearch;
                    }
                    var getRegNumber = function () {
                        return _regNumber;
                    }

                    var getUserName = function () {
                        return _userName;
                    }

                    var getSearchLimit = function () {
                        return _searchLimit;
                    }

                    var getGroupLimit = function () {
                        return _groupLimit;
                    }

                    var isStaff = function () {
                        return _isStaff;
                    }

                    var getPreviousSearchWordUrl = function () {
                        return _previousSearchWordUrl;
                    }

                    return {
                        RegNumber: getRegNumber,
                        UserName: getUserName,
                        SpotLightSearch: getSpotLightSearch,
                        SearchLimit: getSearchLimit,
                        GroupLimit: getGroupLimit,
                        IsStaff: isStaff,
                        getPreviousSearchWordUrl: getPreviousSearchWordUrl,
                        getSpotlightSearchResult: function () {
                            return _spotLightSearchResult;
                        },
                        ClaimsAccess: getbClaims,
                        RemittancesAccess: getbRemittances,
                        TransactionsAccess: getbTransactions,
                        ApplicationsAccess: getbApplications,
                        UsersAccess: getbUsers
                    };
                })();
                var GlobalBaseUrl = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)";
                if (GlobalBaseUrl.indexOf("localhost") < 0 && GlobalBaseUrl.indexOf("http:") >= 0) { GlobalBaseUrl = GlobalBaseUrl.toLocaleLowerCase().replace("http:", "https:"); }
            </script>
        </header>
        @Html.Partial("_AdminMenuCommonTemplate")
        <div id="page-wrapper" class="container">
            <div class="row">
                <!-- Component: Side Navigation-->
                @if (IsAuthenticated && !string.IsNullOrEmpty(area))
                {
                    <div id="nav-col">
                        <section id="col-left" class="col-left-nano has-scrollbar">
                            <div id="col-left-inner" class="col-left-nano-content" tabindex="0" style="right:-17px;">
                                @{
                                    <!-- Global search menu-->
                                    if (!SecurityContextHelper.IsOneUserVendorClaim)
                                    {
                                        //OTSTM2-865 add "collapse navbar-collapse navbar-ex1-collapse" class and remove "hidden-sm hidden-xs" class in the followed div
                                        <div id="user-left-box" class="clearfix dropdown profile2-dropdown collapse navbar-collapse navbar-ex1-collapse" style="background-color:#edeaea;padding:0px;height:88px;">
                                            <div id="outerDivLayout" class="row" style="margin:0px 0px 0px 0px;" ng-controller="GlobalSearchCtrl">
                                                <div id="innerDivLayout" class="col-xs-3" style="background-color:#b5b5b5; height:88px; text-align: center; line-height:98px; width:64.77px">
                                                    <i id="collapsed-search-icon" class="fa fa-address-book" aria-hidden="true" style="font-size: 2em; cursor:pointer; color:white;" ng-style="isNumberEntered" ng-click="globalSearch()"></i>
                                                </div>
                                                <div class="user-box col-xs-8">
                                                    <global-search></global-search>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                        <ul class="nav nav-pills nav-stacked">
                                            <!-- Staff Menus-->
                                            @if (SecurityContextHelper.IsStaff())
                                            {
                                                <!-- Dashboard Menu -->
                                                if (uacDashboard >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor == null)
                                                    {
                                                        if (selectedMenu == "Dashboard")
                                                        {
                                                            <li class="active" data-uac="@uacDashboard.ToString() @*@uacDashboardLevel1.ToString()*@">
                                                                <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                    <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacDashboard.ToString() @*@uacClaimsLevel1.ToString()*@">
                                                                <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                    <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (selectedMenu == "Dashboard")
                                                        {
                                                            <li class="active" data-uac="@uacDashboard.ToString() @*@uacClaimsLevel1.ToString()*@">
                                                                <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                    <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacDashboard.ToString() @*@uacClaimsLevel1.ToString()*@">
                                                                <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                    <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }

                                                <!-- Claims Menu -->
                                                if (!isStaffHideMenu && uacClaims >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor == null)
                                                    {
                                                        if (selectedMenu == "Claims")
                                                        {
                                                            <li class="active" data-uac="@uacClaims.ToString() @uacClaimsLevel1.ToString()">
                                                                <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                    <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacClaims.ToString() @uacClaimsLevel1.ToString()">
                                                                <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                    <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (SecurityContextHelper.CurrentVendor.IsVendor)
                                                        {
                                                            if (selectedMenu == "Claims")
                                                            {
                                                                <li class="active" data-uac="@uacClaims.ToString() @uacClaimsLevel1.ToString()">
                                                                    <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                        <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li data-uac="@uacClaims.ToString() @uacClaimsLevel1.ToString()">
                                                                    <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                        <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                    </a>
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                }

                                                <!-- Remittances Menu -->
                                                if (!isStaffHideMenu && uacRemittance >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor == null)
                                                    {
                                                        if (selectedMenu == "Remittance")
                                                        {
                                                            <li class="active" data-uac="@uacRemittance.ToString() @uacRemittanceLevel1.ToString()">
                                                                <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                    <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacRemittance.ToString() @uacRemittanceLevel1.ToString()">
                                                                <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                    <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                </a>
                                                            </li>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        if (!SecurityContextHelper.CurrentVendor.IsVendor)
                                                        {
                                                            if (selectedMenu == "Remittance")
                                                            {
                                                                <li class="active" data-uac="@uacRemittance.ToString() @uacRemittanceLevel1.ToString()">
                                                                    <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                        <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li data-uac="@uacRemittance.ToString() @uacRemittanceLevel1.ToString()">
                                                                    <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                        <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                    </a>
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                }

                                                <!-- Transaction Menu -->
                                                if (!isStaffHideMenu && uacTransactions >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor == null)
                                                    {
                                                        if (selectedMenu == "Transactions")
                                                        {
                                                            <li class="active" data-uac="@uacTransactions.ToString()">
                                                                <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                    <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacTransactions.ToString()">
                                                                <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                    <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (SecurityContextHelper.CurrentVendor.IsVendor)
                                                        {
                                                            if (selectedMenu == "Transactions")
                                                            {
                                                                <li class="active" data-uac="@uacTransactions.ToString()">
                                                                    <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                        <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li data-uac="@uacTransactions.ToString()">
                                                                    <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                        <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                }

                                                <!-- Application Menu -->
                                                if (uacApplications >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (selectedMenu == "Applications")
                                                    {
                                                        <li class="active" data-uac="@uacApplications.ToString() @uacApplicationsLevel1.ToString()">
                                                            <a href='@Url.Action("Applications", "Dashboard", new { area = "System" })'>
                                                                <i class="fa fa-address-card-o"></i><span class="title">@UIResource.Applications</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li data-uac="@uacApplications.ToString() @uacApplicationsLevel1.ToString()">
                                                            <a href='@Url.Action("Applications", "Dashboard", new { area = "System" })'>
                                                                <i class="fa fa-address-card-o"></i><span class="title">@UIResource.Applications</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }

                                                <!-- User Menu -->
                                                if (uacUsers >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor != null)
                                                    {
                                                        if (selectedMenu == "Users")
                                                        {
                                                            <li class="active" data-uac="@uacUsers.ToString()">
                                                                <a href="@Url.Action("ParticipantIndex", "Invitation", new { area = "System" })">
                                                                    <i class="fa fa-users"></i><span class="title">@UIResource.Users</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacUsers.ToString()">
                                                                <a href="@Url.Action("ParticipantIndex", "Invitation", new { area = "System" })">
                                                                    <i class="fa fa-users"></i><span class="title">@UIResource.Users</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }

                                                <!-- IPadQrCodes Menu-->
                                                if (!isStaffHideMenu && uaciPadsQRCodes >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor == null)
                                                    {
                                                        if (selectedMenu == "IPadQRCode")
                                                        {
                                                            <li class="active" data-uac="@uaciPadsQRCodes.ToString()">
                                                                <a href='@Url.Action("IPadQRCodeAll", "Inventory", new { area = "Registrant" })'>
                                                                    <i class="fa fa-qrcode"></i><span class="title">@UIResource.IPadsQRCodes</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uaciPadsQRCodes.ToString()">
                                                                <a href='@Url.Action("IPadQRCodeAll", "Inventory", new { area = "Registrant" })'>
                                                                    <i class="fa fa-qrcode"></i><span class="title">@UIResource.IPadsQRCodes</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (SecurityContextHelper.CurrentVendor.IsVendor)
                                                        {
                                                            if (selectedMenu == "IPadQRCode")
                                                            {
                                                                <li class="active" data-uac="@uaciPadsQRCodes.ToString()">
                                                                    <a href='@Url.Action("IPadQRCodeAll", "Inventory", new { area = "Registrant" })'>
                                                                        <i class="fa fa-qrcode"></i><span class="title">@UIResource.IPadsQRCodes</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li data-uac="@uaciPadsQRCodes.ToString()">
                                                                    <a href='@Url.Action("IPadQRCodeAll", "Inventory", new { area = "Registrant" })'>
                                                                        <i class="fa fa-qrcode"></i><span class="title">@UIResource.IPadsQRCodes</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                }

                                                <!-- RetailConnection Menu -->
                                                if (!isStaffHideMenu && uacRetailConnection >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                                {
                                                    if (selectedMenu == "RetailConnection")
                                                    {
                                                        <li class="active" data-uac="@uacRetailConnection.ToString()">
                                                            <a href='@Url.Action("Index", "RetailConnection", new { area = "RPM" })'>
                                                                <i class="fa fa-shopping-cart"></i><span class="title">Retail Connection</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li data-uac="@uacRetailConnection.ToString()">
                                                            <a href='@Url.Action("Index", "RetailConnection", new { area = "RPM" })'>
                                                                <i class="fa fa-shopping-cart"></i><span class="title">Retail Connection</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            }
                                            else
                                            {

                                                <!-- Participant Menus-->
                                                if ((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Dashboard) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {
                                                    if (selectedMenu == "Dashboard")
                                                    {
                                                        <li class="active" data-uac="@uacDashboard.ToString()">
                                                            <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li data-uac="@uacDashboard.ToString()">
                                                            <a href="@Url.Action("Index", "Dashboard", new { area = "System" })">
                                                                <i class="fa fa-dashboard"></i><span class="title">Dashboard</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                if (!isParticipantHideMenu && (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {
                                                    if (SecurityContextHelper.CurrentVendor.IsVendor)
                                                    {
                                                        if (selectedMenu == "Claims")
                                                        {
                                                            <li class="active" data-uac="@uacRetailConnection.ToString()">
                                                                <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                    <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-uac="@uacRetailConnection.ToString()">
                                                                <a href="@Url.Action("Index", "Claims", new { area = "System" })">
                                                                    <i class="fa fa-folder-open"></i><span class="title">@UIResource.Claims</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                if (!isParticipantHideMenu && (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {
                                                    if (SecurityContextHelper.CurrentVendor.IsVendor)
                                                    {
                                                        if (selectedMenu == "Transactions")
                                                        {
                                                            <li class="active">
                                                                <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                    <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("Index", "Transactions", new { area = "System" })'>
                                                                    <i class="fa fa-exchange"></i><span class="title">@UIResource.Transactions</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                if (!isParticipantHideMenu && (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {
                                                    if (!SecurityContextHelper.CurrentVendor.IsVendor)
                                                    {
                                                        if (selectedMenu == "Remittance")
                                                        {
                                                            <li class="active">
                                                                <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                    <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("Index", "TSFRemittances", new { area = "Steward" })'>
                                                                    <i class="fa fa-folder-open-o"></i><span class="title">@UIResource.TSFRemittance</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                if ((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {
                                                    if (selectedMenu == "Applications")
                                                    {
                                                        <li class="active">
                                                            <a href='@Url.Action("Applications", "Dashboard", new { area = "System" })'>
                                                                <i class="fa fa-address-card-o"></i><span class="title">@UIResource.Applications</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href='@Url.Action("Applications", "Dashboard", new { area = "System" })'>
                                                                <i class="fa fa-address-card-o"></i><span class="title">@UIResource.Applications</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                if (isPaticipantAdmin && (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= CL.TMS.Security.SecurityResultType.ReadOnly) && (SecurityContextHelper.CurrentVendor != null))
                                                {

                                                    if (selectedMenu == "Users")
                                                    {
                                                        <li class="active">
                                                            <a href="@Url.Action("ParticipantIndex", "Invitation", new { area = "System" })">
                                                                <i class="fa fa-users"></i><span class="title">@UIResource.Users</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("ParticipantIndex", "Invitation", new { area = "System" })">
                                                                <i class="fa fa-users"></i><span class="title">@UIResource.Users</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                //Retail Connection
                                                if (!isParticipantHideMenu && SecurityContextHelper.CurrentVendor != null)
                                                {
                                                    if (SecurityContextHelper.CurrentVendor.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "RPM").DefinitionValue)
                                                    {
                                                        if (selectedMenu == "RetailConnection")
                                                        {
                                                            <li class="active">
                                                                <a href='@Url.Action("Index", "RetailConnection", new { area = "RPM" })'>
                                                                    <i class="fa fa-shopping-cart"></i><span class="title">Retail Connection</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href='@Url.Action("Index", "RetailConnection", new { area = "RPM" })'>
                                                                    <i class="fa fa-shopping-cart"></i><span class="title">Retail Connection</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                                    }
                <!-- Component: Body-->
                @RenderSection("pageHeader", required: false)

                <div id="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- theme scripts -->
    <script src="~/js/cube/jquery.nanoscroller.js?v=@ViewBag.versionid"></script>
    <script src="~/js/cube/scripts.js?v=@ViewBag.versionid"></script>

    @Scripts.Render("~/bundles/customize")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/jquery-webui-popover")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    @*<script src="~/js/AngularModule/global-search-lib.js?v=@ViewBag.versionid"></script>*@
    @Scripts.Render("~/bundles/global-search-lib")
    <script src="~/js/AngularModule/tm-common-lib.js?v=@ViewBag.versionid"></script>
    @*please keep 'global-search-app.js' after 'tm-common-lib.js'*@
    <script src="~/js/Shared/global-search-app.js?v=@ViewBag.versionid"></script>
    
    @*eTracks*@
    @*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCaAG5ows57zWBx6KclwwTR72k5t6MiLLw"></script>*@
    @*Yess*@
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDeMjj7Rp5mxIaqH_8J-ELfVh90GsdPM1A"></script>

    <!-- view holds common inline javascript functions -->
    @Html.Partial("_CommonJsSection", null)

    @RenderSection("scripts", required: false)

    @*<script src="~/js/Shared/globalNotification.js?v=@ViewBag.versionid"></script>*@
    @Scripts.Render("~/bundles/globalNotification")

    <!--Script references. -->
    <!--Reference the SignalR library. -->
    <script src="/Scripts/jquery.signalR-2.2.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>

    <!--Notification Client -->
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.notificationHub;

            // Create a function that the hub can call to broadcast notification messages.
            chat.client.newNotification = function (notificationid, receiver) {
                var currentUserEmail = $("#currentUserEmail").val().toLowerCase();
                //Update notification number
                if (receiver.toLowerCase() == currentUserEmail) {
                    //Refresh notification number
                    angular.element(document.getElementById('globalnotificationicon')).scope().increasingTotalUnreadNotification();
                    // alert("this is a test, id is:" + notificationid + " username: " + receiver + " currentUserEmail:" + currentUserEmail);
                }
            };

            // Create a function that the hub can call to broadcast activity messages.
            chat.client.newActivity = function (claimId) {
                var hasActivityPanel = $("#hasActivityPanel").val();
                var cid = $("#claimId").val();
                if (hasActivityPanel) {
                    if (claimId == cid) {
                        //Refresh activity number
                        angular.element(document.getElementById('activityPanel')).scope().increasingTotalActivity(cid);
                    }
                }
            };

            // Create a function that the hub can call to broadcast remittance activity messages.
            chat.client.newRemittanceActivity = function (claimId) {
                var hasRemittanceActivityPanel = $("#hasRemittanceActivityPanel").val();
                var tsfcid = $("#tsfclaimId").val();
                if (hasRemittanceActivityPanel) {
                    if (claimId == tsfcid) {
                        //Refresh activity number
                        angular.element(document.getElementById('remittanceActivityPanel')).scope().increasingTotalActivity(tsfcid);
                    }
                }
            };

            //GP activity hub
            chat.client.gpActivityListener = function (id) {
                var gpPanel = document.getElementById('gpActivityPanel');

                if (typeof (gpPanel) != 'undefined' && gpPanel != null) {
                    // exists
                    angular.element(gpPanel).scope().updateGpActivityPanel();
                }
            }

            // Start the connection
            $.connection.hub.start({ pingInterval: null }).done(function () {

            });

            //OTSTM2-865 code copied from demo.js of "\cube\js" folder, extended function defined in "jquery.nanoscroller.js, the functionality of that leftmenu scrollbar appear/disappear automatically when resizing the height of screen"
            $('.fixed-leftmenu #col-left').nanoScroller({
                alwaysVisible: true,
                iOSNativeScrolling: false,
                preventPageScrolling: true,
                contentClass: 'col-left-nano-content'
            });

        });
    </script>

    <script type="text/ng-template" id="global-search.html">
        <div @*style="width: 95%; margin-left: 55px; padding: 12px 0 0 0"*@>
            <input id="txtGlobalSearch" class="global-search form-control" type="text" ng-model="searchvalue" @*placeholder="@UIResource.Search"*@ placeholder="Account #" numbers-only style="height: 30px; width:164px; margin-left:-3px; margin-top:6px; padding-left: 8px; padding-right: 32px; border: none; outline: none;" ng-keyup="submitGlobalSearch($event)" />
            <i class="fa fa-window-close @*color-tm-white*@ pull-right" style="cursor:pointer; position: absolute; top: 37px; left: 149px; color:#535353;" ng-show="searchvalue.length > 0" ng-click="clearGlobalSearch()"></i> @*OTSTM2-865 change css from "right: 2px" to "left: 149px"*@
        </div>
        <div ng-if="notFound" style="margin-top:0px">
            <label @*class="color-tm-red"*@ style="margin-left: 2px; color: #d43f3a;"><small>Not Found</small></label>
        </div>
    </script>

    <script type="text/javascript" async>
        window.getBrowserInfo = function () {
            var ua = navigator.userAgent, tem,
            M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE ' + (tem[1] || '');
            }
            if (M[1] === 'Chrome') {
                tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        }
        try {
            if ($.fn.dataTable) {
                $.fn.dataTable.ext.errMode = 'none';
            }
        }
        catch (err) {
            console.log('err.message:', err.message);
        }
    </script>
    @*<script src="~/js/idle.js?v=@ViewBag.versionid"></script>*@

    <script type="text/javascript" async>
        window.onload = function () {
            @{ if (!string.IsNullOrEmpty(@registratioNumber))
                {
                    <text>
            if ($('.nav.nav-pills li').length == 0) {//if no any Nav btn
                $('#emptyPageTitleId').html('<i class="fa fa-exclamation-triangle fa-2x"></i> Unauthorized Access');
            }
            </text>
                }}
        }
        @*var ExpiresInSeconds = (@UserPolicy.NonPersistentAuthTicketExpiresInMinutes * 60) * 1000;

        setIdleTimeout(ExpiresInSeconds - 30 * 1000);//30 seconds for counting down
        setAwayTimeout(ExpiresInSeconds);

        if (typeof Global === 'undefined') {
            Global = {};
        }
        localStorage.setItem("ots_session_active_time", new Date().getTime());

        Global.Layout = {
            LogoutUserUrl: '@Url.Action("Logout", "Account", new { area = "" })',//root area
        };*@
    </script>
</body>



</html>