﻿@using CL.TMS.Common.Helper
@using CL.TMS.UI.Common.Helper
@using System.Web.Hosting

@{ 
    var appSetting = CL.TMS.Configuration.AppSettings.Instance.AllSettings;
    var copyrightYear = DateTime.Now.Year.ToString(); //OTSTM2-979
    var licenseText = appSetting.FirstOrDefault(c => c.Key.Trim() == "Site.LicenseText").Value.Split(new string[] { "from" }, StringSplitOptions.None);

    string domainName = SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName");
    var companyLogo =appSetting.FirstOrDefault(c => c.Key.Trim() == "Company.LogoURL");
    string loginCompanyLogo=companyLogo !=null ? companyLogo.Value.Replace("\\", "/") : string.Empty;
    string loginCompanyLogoUrl = string.IsNullOrEmpty(loginCompanyLogo) ? "/Images/CompanyLogo" : Path.Combine(new string[] { domainName, loginCompanyLogo });

    var releaseVersion = ViewBag.versionid;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/css/bootstrap")

    <!-- Custom styles for this template -->
    @Styles.Render("~/css/customize")

    <!-- Load Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/js/cube/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Page specific css -->
    <!-- global styles -->
    <link href="~/css/cube/theme_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        #login-box .input-group .input-group-addon i {
            color: #4f4f4f;
        }

        /*set Chrome's remember me background color to white*/
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
        }

        .validation-summary-errors ul {
            list-style: none;
            margin-left: -40px;
        }

    </style>

</head>

<body id="login-page-full">
    <div id="login-full-wrapper" style="top:0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box" style="margin-top:11%;">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    <header id="login-header">
                                        <div id="login-logo" style="background:#4f4f4f; padding:25px 0;">
                                            <img src="~/gui/gui-hdr-logo-reversed.png" alt="Tread Marks Logo" style="width:280px; height:50px; padding-left:10px;" />
                                        </div>
                                    </header>
                                    <div id="login-box-inner">
                                        <div style="text-align:center;">
                                            <img src="@loginCompanyLogoUrl" alt="Company Logo" style="width:auto;height:70px;margin-top:-35px;margin-bottom:5px;" />
                                        </div>
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="login-box-footer">
                            <div class="row">
                                <div class="col-xs-12" data-releasever="@releaseVersion" style="color:#fff">
                                    © @copyrightYear · @licenseText[0] from
                                    <br />
                                    @licenseText[1]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cube")
    @RenderSection("scripts", required: false)

</body>
</html>
