﻿@using CL.TMS.Common;
@using CL.TMS.UI.Common.Helper;
@using CL.TMS.Configuration;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="icon" href="/favicon.ico">*@
    <title>@ViewBag.Title </title>

    @Styles.Render("~/css/normalize")
    @Styles.Render("~/css/bootstrap")

    <link href="~/css/cube/theme_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    @Styles.Render("~/css/customize")
    @Styles.Render("~/css/common")
    @Styles.Render("~/css/jquery-webui-popover")

    <!-- Custom styles for this template -->
    <!-- Load Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    @RenderSection("styles", required: false)

    @* Placing modernizier script here as per documentation http://modernizr.com/docs/  *@
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .container {
            background-color: #f9f9f9 !important;
        }

        #content-wrapper {
            margin: 0px 150px 0px 150px;
            border: none !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="theme-whbl">

    @{
        var userFullName = string.Empty;

        var userClaimsIdentity = HttpContext.Current.User.Identity as System.Security.Claims.ClaimsIdentity;
        var IsAuthenticated = TMSContext.TMSPrincipal.Identity.IsAuthenticated;
        if (IsAuthenticated)
        {
            var userGivenName = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.GivenName).Value : string.Empty);
            var userSurname = (userClaimsIdentity.Claims.Count() != 0 ? userClaimsIdentity.Claims.Single(r => r.Type == System.Security.Claims.ClaimTypes.Surname).Value : string.Empty);
            userFullName = string.Format("{0} {1}", userGivenName, userSurname);
        }
        else
        {
            userFullName = string.Format("{0} {1}", string.Empty, string.Empty);
        }
        //var isHideMenu = true;
        string domainName = SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName");
        var companyLogo = CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.LogoURL");
        string loginCompanyLogo = companyLogo != null ? companyLogo.Value.Replace("\\", "/") : string.Empty;
        string loginCompanyLogoUrl = string.IsNullOrEmpty(loginCompanyLogo) ? "/Images/CompanyLogo" : Path.Combine(new string[] { domainName, loginCompanyLogo });
    }

    <!-- Component: Header Bar -->
    <div id="hdrbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-brand">
            <img src="@loginCompanyLogoUrl" alt="" style="width:auto; height:50px; margin-top: -10px; padding:5px 0px 5px 142px;" />
        </div>
       
        <img src="~/Images/gui-hdr-logo.png" class="navbar-logo navbar-right">
        

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a>@userFullName</a></li>
            </ul>
        </div>
    </div>
    <!-- /Component -->
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Compentn: Haeder Bar -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customize")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/jquery-webui-popover")

    <!-- view holds common inline javascript functions -->
    @Html.Partial("_CommonJsSection", null)

    @RenderSection("scripts", required: false)


    <!--Do not remove-->
    <script type="text/javascript">

        $( document ).ajaxError( function ( event, jqxhr, settings, exception )
        {
            if ( jqxhr.status == 401 )
            {
                window.location.reload( true );
            }
        } );

        //Add client side timezone cookie
        $( function ()
        {
            function cookieExists( name )
            {
                var nameToFind = name + "=";
                var cookies = document.cookie.split( ';' );
                for ( var i = 0; i < cookies.length; i++ )
                {
                    if ( cookies[i].trim().indexOf( nameToFind ) === 0 ) return true;
                }
                return false;
            }
            if ( !cookieExists( "_timeZoneInfo" ) )
            {
                var now = new Date();
                now.setTime( now.getTime() + 10 * 24 * 60 * 60 * 1000 ); // keep it for 10 days
                document.cookie = "_timeZoneInfo=" + now.toString()
                              + ";expires=" + now.toGMTString() + ";path=/;" + document.cookie;
            }
        } );

    </script>

</body>
</html>
