﻿@model CL.TMS.DataContracts.ViewModel.Common.VendorReference
@using CL.TMS.Security.Authorization;
@using CL.TMS.Configuration

@{
    string resource = Convert.ToString(ViewData["resource"]); //OTSTM2-902

    bool bHasThresholdDays = Model.IsThresholdSet && SecurityContextHelper.IsStaff();
    int iDaysLeft = Model.DaysSinceLastServiced - Model.ThresholdDays;
    string sDays = iDaysLeft == 1 || iDaysLeft == -1 ? " day" : " days";
    string sDaysLeft = iDaysLeft > 0 ? iDaysLeft + sDays + " over" : (iDaysLeft * -1) + sDays + " left";
    string sThresholdTooltip = Model.DaysSinceLastServiced + "/" + Model.ThresholdDays + " (" + sDaysLeft + ")";
    string sThresholdBtnBackgroundColor = Model.DaysSinceLastServiced >= Model.ThresholdDays ? "background-color:red;" : "background-color:rgb(203, 152, 62);";
    string sThresholdDisplayStyle = !bHasThresholdDays ? "display:none;" : "";
}
<style>
    .tm-threshold-bg {
        background-color: rgb(203, 152, 62);
        border-color: rgb(203, 152, 62);
        color: #fff !important;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .fixed-claim-header-threshold {
        color: #fff !important;
        position: absolute;
        top: 11px;
        right: 185px;
        background-color: rgb(203, 152, 62);
        border-color: rgb(203, 152, 62);
        border-radius: 3px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1.5;
        height: 22px;
    }
</style>

<div class="sub-header-status txt-r tm-threshold-bg">
    <div class="btn-group btn-toggle fixed-claim-header-threshold"
         data-toggle="tooltip"
         data-placement="left"
         title="@sThresholdTooltip" style="@sThresholdBtnBackgroundColor @sThresholdDisplayStyle white-space: nowrap;">
        <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
        <span style="@sThresholdBtnBackgroundColor white-space: nowrap; margin-left: -5px; margin-top:5px;">
            <label style="font-family: 'Open Sans', sans-serif; font-size: 12px; ">
                @Model.ThresholdDays
            </label>
        </span>

    </div>
    <div class="btn-group btn-toggle fixed-claim-header-active-status" data-toggle="tooltip" data-placement="left" title="@Model.ActiveDateString">
        @if (Model.IsActive)
        {
            <label class="btn btn-xs btn-success active cursor-default">Active</label>
        }
        else
        {
            <label class="btn btn-xs btn-danger cursor-default">Inactive</label>
        }
    </div>
</div>

<div class="popoverParticipantInfo" data-placement="auto">
    <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@Model.RegistrationNumber</div>
    <div class="sub-header-companyname fixed-claim-header-companyname">@Model.BusinessName</div>
</div>
<div id="popoverParticipantInfo" style="display: none;">
    @{
        if (Model.Address != null)
        {
            <p>
                <strong>Business Address</strong><br>
                @Model.Address.Address1<br>
                @Model.Address.City,@Model.Address.Province @Model.Address.PostalCode
            </p>
        }

        if (Model.PrimaryContact != null)
        {
            <p>
                <strong>Primary Contact</strong><br>
                @Model.PrimaryContact.FirstName @Model.PrimaryContact.LastName<br>
                @Model.PrimaryContact.Email<br>
                @Model.PrimaryContact.PhoneNumber
            </p>
        }

        if (Model.Address.PostalCode != null)
        {
            if (Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Processor").DefinitionValue || Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Collector").DefinitionValue)
            {
                <p>
                    <strong>Group</strong><br>
                    @Model.GroupName
                </p>
            }
        }

    //OTSTM-865/902
    if (Model.VendorType == AppDefinitions.Instance.GetDefinitionByCode(DefinitionCategory.VendorType, "Collector").DefinitionValue && resource.IsEmpty())
    {
            <p>
                <strong>Subtype</strong><br>
                @Model.PrimaryBusinessActivity
            </p>

            if (Model.CIsGenerator ?? false)
            {
                <p>
                    <strong>Generator</strong><br>
                    Yes
                </p>
            }
            else
            {
                <p>
                    <strong>Generator</strong><br>
                    No
                </p>
            }

            if (Model.IsSubCollector ?? false)
            {
                <p>
                    <strong>Sub-Collector</strong><br>
                    Yes
                </p>
            }
            else
            {
                <p>
                    <strong>Sub-Collector</strong><br>
                    No
                </p>
            }
        }
    }
</div>
