﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    ViewBag.Title = "App Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminApplicationSettings);
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    @Styles.Render("~/css/datetimepicker")
    <style>
        .disable-click {
            pointer-events: none;
        }

        hr.local-hr-line {
            margin-top: 0px;
            margin-bottom: 5px;
            border-top: 3px solid #e5e5e5;
        }

        #internalNoteBody {
            height: 230px !important;
        }

        div.col-md-12 > h4 > span {
            /*border-bottom:3px solid #e5e5e5;*/
        }

        .has-error {
            color: red;
            border: 1px solid;
            /*background-color: yellow;*/
            border-color: red;
        }

        .field-message {
            color: red;
        }

        label {
            vertical-align: middle;
        }

        div > div > div.form-inline {
            display: flex;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

        input.form-control {
            margin-left: 5px;
            margin-right: 5px;
        }

        label {
            margin-top: 5px;
        }

        div.field-message {
            margin-top: 5px;
            margin-left: 10px;
        }

        input[type=text].text {
            /*width:300px*/
        }

        input[type=number].form-control {
            width: 120px;
        }

        div.panel-body > table > tbody > tr > td {
            height: 45px;
            white-space: nowrap;
        }

        div.popover > div.popover-content {
            padding-left: 12px !important;
        }
    </style>
}

<div id="fixedClaimHeader" class="row comp-variant-staff comp-claims-header fixed-claim-header">
    <div class="col-xs-7 col-sm-6">
        <h2 class="fixed-claim-header-title">Application Settings</h2>
    </div>
</div>

@using (Html.BeginForm("ApplicationSettingsFrom", "AppSettings", FormMethod.Post, new { @class = "ng-pristine ng-valid", @name = "appSettingsForm" }))
{
    <div class="tm-all" ng-controller="configurationAppSettingsController" id="configurationAppSettingsController" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-top:70px">
                    <div class="panel-body">                       
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <span style="border-bottom:2px solid #b0bec5;">Invitations</span>
                                </h3>
                            </div>
                        </div><!--.row h3-->
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>User Invitations expires </strong>in
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control"
                                           id="Invitation_ExpirationDays"
                                           typeof="numb"
                                           maxlength="65"
                                           name="Invitation_ExpirationDays"
                                           placeholder="Enter Number"
                                           type="number"
                                           required min="1"
                                           ng-class="{ 'has-error' : appSettingsForm.Invitation_ExpirationDays.$invalid && !appSettingsForm.Invitation_ExpirationDays.$pristine }"
                                           value="{{appSettingsVM.Invitation_ExpirationDays}}"
                                           ng-model="appSettingsVM.Invitation_ExpirationDays">
                                </td>
                                <td>
                                    <div class="has-feedback form-inline">
                                        <label class="control-label">
                                            Days.
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Invitation_ExpirationDays.$error" ng-if="appSettingsForm.Invitation_ExpirationDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Application Invitations expires </strong>in
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="Application_InvitationExpiryDays" maxlength="65" name="Application_InvitationExpiryDays"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           customValidationEqualOrGreater="{{valueMustEqualOrGreater(appSettingsVM.Application_InvitationExpiryDays, appSettingsVM.Application_PurgeOpenApplicationAfterDays)}}"
                                           ng-class="{ 'has-error' : appSettingsForm.Application_InvitationExpiryDays.$invalid && !appSettingsForm.Application_InvitationExpiryDays.$pristine }"
                                           value="{{appSettingsVM.Application_InvitationExpiryDays}}"
                                           ng-model="appSettingsVM.Application_InvitationExpiryDays">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Days.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Application_InvitationExpiryDays.$error" ng-if="appSettingsForm.Application_InvitationExpiryDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                        <div ng-message="customValidationEqualOrGreater"><span>{{valueMustLessThan}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Purge Open Applications after </strong>
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="Application_PurgeOpenApplicationAfterDays" maxlength="65" name="Application_PurgeOpenApplicationAfterDays"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           customValidationEqualOrGreater="{{valueMustEqualOrGreater(appSettingsVM.Application_InvitationExpiryDays, appSettingsVM.Application_PurgeOpenApplicationAfterDays)}}"
                                           ng-class="{ 'has-error' : appSettingsForm.Application_PurgeOpenApplicationAfterDays.$invalid && !appSettingsForm.Application_PurgeOpenApplicationAfterDays.$pristine }"
                                           value="{{appSettingsVM.Application_PurgeOpenApplicationAfterDays}}"
                                           ng-model="appSettingsVM.Application_PurgeOpenApplicationAfterDays">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Days.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Application_PurgeOpenApplicationAfterDays.$error" ng-if="appSettingsForm.Application_PurgeOpenApplicationAfterDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                        <div ng-message="customValidationEqualOrGreater"><span>{{valueMustEqualOrGreaterThan}}</span></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <span style="border-bottom:2px solid #b0bec5;">Passwords</span>
                                </h3>
                            </div>
                        </div><!--.row h3-->
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Lock-out users </strong>after
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="UserPolicy_MaxLoginAttemptBeforeLock" maxlength="65" name="UserPolicy_MaxLoginAttemptBeforeLock"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           ng-class="{ 'has-error' : appSettingsForm.UserPolicy_MaxLoginAttemptBeforeLock.$invalid && !appSettingsForm.UserPolicy_MaxLoginAttemptBeforeLock.$pristine }"
                                           value="{{appSettingsVM.UserPolicy_MaxLoginAttemptBeforeLock}}"
                                           ng-model="appSettingsVM.UserPolicy_MaxLoginAttemptBeforeLock">
                                </td>
                                <td>
                                    <label class="control-label">
                                        unsuccessful login attempts.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.UserPolicy_MaxLoginAttemptBeforeLock.$error" ng-if="appSettingsForm.UserPolicy_MaxLoginAttemptBeforeLock.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Password expires </strong>in
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="UserPolicy_PasswordExpiresInDays" maxlength="65" name="UserPolicy_PasswordExpiresInDays"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           ng-class="{ 'has-error' : appSettingsForm.UserPolicy_PasswordExpiresInDays.$invalid && !appSettingsForm.UserPolicy_PasswordExpiresInDays.$pristine }"
                                           value="{{appSettingsVM.UserPolicy_PasswordExpiresInDays}}"
                                           ng-model="appSettingsVM.UserPolicy_PasswordExpiresInDays">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Days.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.UserPolicy_PasswordExpiresInDays.$error" ng-if="appSettingsForm.UserPolicy_PasswordExpiresInDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Password reset tokens expire in </strong>
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="UserPolicy_PasswordResetTokenExpiresInMinutes" maxlength="65" name="UserPolicy_PasswordResetTokenExpiresInMinutes"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           ng-class="{ 'has-error' : appSettingsForm.UserPolicy_PasswordResetTokenExpiresInMinutes.$invalid && !appSettingsForm.UserPolicy_PasswordResetTokenExpiresInMinutes.$pristine }"
                                           value="{{appSettingsVM.UserPolicy_PasswordResetTokenExpiresInMinutes}}"
                                           ng-model="appSettingsVM.UserPolicy_PasswordResetTokenExpiresInMinutes">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Minutes.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.UserPolicy_PasswordResetTokenExpiresInMinutes.$error" ng-if="appSettingsForm.UserPolicy_PasswordResetTokenExpiresInMinutes.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <span style="border-bottom:2px solid #b0bec5;">
                                        Service Levels
                                    </span>
                                    <i class="fa fa-question-circle " data-placement="auto" title=""></i>
                                </h3>
                            </div>
                        </div><!--.row h3-->
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Claim must be approved </strong>within
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="Claims_ReviewDueDays" maxlength="65" name="Claims_ReviewDueDays"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           customValidationGreater="{{valueMustGreater(appSettingsVM.Claims_ReviewDueDays, appSettingsVM.Claims_ChequeDueDays)}}"
                                           ng-class="{ 'has-error' : appSettingsForm.Claims_ReviewDueDays.$invalid && !appSettingsForm.Claims_ReviewDueDays.$pristine }"
                                           value="{{appSettingsVM.Claims_ReviewDueDays}}"
                                           ng-model="appSettingsVM.Claims_ReviewDueDays">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Days.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Claims_ReviewDueDays.$error" ng-if="appSettingsForm.Claims_ReviewDueDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Claim Payments must be send </strong>within
                                    </label>
                                </td>
                                <td>
                                    <input class="form-control" id="Claims_ChequeDueDays" maxlength="65" name="Claims_ChequeDueDays"
                                           placeholder="Enter Number" type="number"
                                           required min="1"
                                           customValidationGreater="{{valueMustGreater(appSettingsVM.Claims_ReviewDueDays, appSettingsVM.Claims_ChequeDueDays)}}"
                                           ng-class="{ 'has-error' : appSettingsForm.Claims_ChequeDueDays.$invalid && !appSettingsForm.Claims_ChequeDueDays.$pristine }"
                                           value="{{appSettingsVM.Claims_ChequeDueDays}}"
                                           ng-model="appSettingsVM.Claims_ChequeDueDays">
                                </td>
                                <td>
                                    <label class="control-label">
                                        Days.
                                    </label>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Claims_ChequeDueDays.$error" ng-if="appSettingsForm.Claims_ChequeDueDays.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                        <div ng-message="customValidationGreater"><span>{{valueMustGreaterThan}}</span></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <span style="border-bottom:2px solid #b0bec5;">
                                        Other
                                    </span>
                                </h3>
                            </div>
                        </div><!--.row h3-->
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Flag transactions that have a GPS location variance </strong>of
                                    </label>
                                </td>
                                <td>
                                    <div class="form-inline">
                                        <input class="form-control" id="DistanceVariance" maxlength="65" name="DistanceVariance" placeholder="Enter Number" type="number"
                                               required min="1"
                                               ng-class="{ 'has-error' : appSettingsForm.DistanceVariance.$invalid && !appSettingsForm.DistanceVariance.$pristine }"
                                               value="{{appSettingsVM.DistanceVariance}}"
                                               ng-model="appSettingsVM.DistanceVariance">
                                        <label class="control-label">
                                            km or higher.
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.DistanceVariance.$error" ng-if="appSettingsForm.DistanceVariance.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="min"><span>{{valueMin}}</span></div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        <strong>Do not allow Remittance activity before </strong>
                                    </label>
                                </td>
                                <td>
                                    <div class="input-group date rpm_calendar" id="dpBusinessStartDate">
                                        <input class="form-control" id="Settings_UserDate" name="Settings_UserDate" placeholder="" type="text"
                                               required min="1"
                                               ng-class="{ 'has-error' : appSettingsForm.Settings_UserDate.$invalid && !appSettingsForm.Settings_UserDate.$pristine }"
                                               value="{{appSettingsVM.Settings_UserDate}}"
                                               ng-model="appSettingsVM.Settings_UserDate"
                                               style="width:160px;margin-right: 0px;">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="field-message" ng-messages="appSettingsForm.Settings_UserDate.$error" ng-if="appSettingsForm.Settings_UserDate.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div><!--/.panel-->
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-md-12">
                <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addNoteUrl}}" export-url="{{exportUrl}}" parent-id="{{rateTransactionID}}" panel-arrow="appsettings-viewdetail-notes"></manage-internal-notes>
            </div>
        </div>
        <div class="row">
            <button ng-click="saveAppSettingValue()" ng-if="!isView" ng-disabled="disableSaveBtn "  type="button" class="btn  btn-lg btn-success save-btn pull-right margin-top--10" style="margin-right:5px;">
                <i class="fa icon-floppy-o fa-floppy-o"></i>
                Save
            </button>
            <button ng-if="!isView" ng-click="cancelEdit()" type="reset" class="btn btn-lg btn-danger cancel-btn pull-right margin-top--10" style="margin-right:5px; margin-left:5px">
                <i class="fa icon-ban fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
}

@Html.Partial("_ClaimInternalNotesTemplate")
@Html.Partial("_ClaimExport")
@Html.Partial("_AppSettingsTemplate")

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.AppSettings = {
            LoadTermConditionDetailsByIDUrl: '@Url.Action("LoadTermConditionByID", "AppSettings", new { area = "System" })',
            SaveTermConditionUrl: '@Url.Action("SaveTermCondition", "AppSettings", new { area = "System" })',
            Header: 'AAA Term and Condition', //Create/Update
            ConfirmSaveHtml: '<h4>Are you sure you want to <strong>save</strong> the changes?</h4>',
            ConfirmCancelHtml: '<h4>Are you sure you want to <strong>Cancel</strong> the changes?</h4>',
            SaveFailHeader: 'Saving data failed',
            SaveFailText: 'Unable to save the change.',

            LoadNotesListUrl: '@Url.Action("LoadInternalNotesList", "AppSettings", new { area = "System" })',
            loadAppSettingsUrl: '@Url.Action("LoadAppSettings", "AppSettings", new { area = "System" })',
            UpdateAppSettingsURL: '@Url.Action("UpdateAppSettings", "AppSettings", new { area = "System" })',
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                AdminApplicationSettings: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminApplicationSettings)',
            },
        };
        Global.InternalNoteSettings = {
            InternalExportUrl: '@Url.Action("ExportInternalNotesList", "AppSettings", new { area = "System" })',
            loadUrl: '@Url.Action("LoadInternalNotesList", "AppSettings", new { area = "System" })',
            addNoteUrl: '@Url.Action("AddInternalNotes", "AppSettings", new { area = "System" })',
            exportUrl: '@Url.Action("ExportInternalNotesList", "AppSettings", new { area = "System" })',
        };
        Global.Settings = {
            popover: {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: 'center',
                width: '300',
                delay: { show: 300, hide: 800 },
                padding: true,
            },
            collectorClaimsContent: 'Claims and Remittances that have already been submitted will maintain their current service levels.'
        };
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>

    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Scripts/angular-messages.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.min.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/AppSettings/configurations-appsettings-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/moment.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.js?v=@ViewBag.versionid"></script>
}