﻿<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInternalAdjustments-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalAdjustments-collapseOne" aria-expanded="true" aria-controls="panelInternalAdjustments-collapseOne" class="panel-arrow-expand">
                Internal Adjustments
            </a>
            <a id="exportInternalAdj" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="internalAdjustSearch" type="text" class="form-control" placeholder="Search">
            <div id="internalAdjustFound" class="subcomp-search-found">&nbsp;</div>
            <i class="glyphicon glyphicon-remove remove-icon" id="internalAdjustRemove"></i>
            <i class="glyphicon glyphicon-search" id="internalAdjustSearchBtn"></i>
        </div>
    </div>
    <div id="panelInternalAdjustments-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInternalAdjustments-headingOne">
        <div class="panel-body">
            @Html.Partial("_CollectorInternalAdjustmentList")
        </div>
    </div>
</div>
<!-- Modal: Internal Adjustments: View Adjustment: Tire Counts  -->
<div class="modal fade" id="modalInternalAdjustmentsView" tabindex="-1" role="dialog" aria-labelledby="modalInternalAdjustmentsView" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg margin-top-100">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdjustmentsView" align="center">Internal Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 20px;">
                    <h4>Type</h4>
                    <p>Tire Counts</p>
                    <div id="" class="">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-2b" value="option1" checked="" disabled="">
                                        Eligible
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-2b" value="option2" disabled="">
                                        Ineligible
                                    </label>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" style="background:none!important;">
                                    <thead>
                                        <tr>
                                            <th>PLT</th>
                                            <th>MT</th>
                                            <th>AG/LS</th>
                                            <th>IND</th>
                                            <th>SOTR</th>
                                            <th>MOTR</th>
                                            <th>LOTR</th>
                                            <th>GOTR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>22</td>
                                            <td>-10</td>
                                            <td>0</td>
                                            <td>4</td>
                                            <td>-8</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Internal Adjustments: View Adjustment: Payment  -->
<div class="modal fade" id="modalInternalAdjustmentsViewPayment" tabindex="-1" role="dialog" aria-labelledby="modalInternalAdjustmentsViewPayment" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdjustmentsViewPayment" align="center">Internal Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 20px;">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <h4>Type</h4>
                            <p>Payment</p>
                        </div>
                        <div class="col-sm-5 txt-r">
                            <br>
                            <label for="">Amount ($)</label>
                            <p>720.52</p>
                        </div>
                    </div><!--/.row-->
                </div>
            </div>
        </div>
    </div>
</div>
