﻿@using CL.TMS.Resources;
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Common.Enum;
@using CL.TMS.Security.Authorization;
@using CL.TMS.Common;
@{
    bool isReadOnly = !((!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : @ViewBag.SupportDocEditPermission);
    bool isSupportingDocReadOnly = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? true : !@ViewBag.SupportDocEditPermission;

}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">
                @UIResource.CommonSupportingDocuments
            </a>
        </h4>
    </div>
    <input type="hidden" id="StatusString" value="@ViewBag.ClaimsStatus" />
    <div id="panelSupportingDocuments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <p ng-if="claimSupportingDocVMList.length > 0">@UIResource.SupportingDocPleaseSelectMethod</p>
            <ul ng-if="claimSupportingDocVMList.length > 0">
                <li>@UIResource.CollectorClaimSupportingDocSendDoc</li>
                <li>@UIResource.SupportingDocFax.Replace("[CompanyFax]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Fax").Value)</li>
            </ul>
            <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal" ng-if="claimSupportingDocVMList.length > 0">
                <thead>
                    <tr>
                        <th width="60%">
                            <div class="form-group has-required has-feedback">
                                <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                                <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                            </div>
                        </th>
                        <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                        <th class="txt-c">@UIResource.SupportingDocUpload</th>
                        <th width="15%" class="txt-c">@UIResource.SupportingDocNoDocs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supportingDocItem in claimSupportingDocVMList">
                        <td width="30%">
                            {{supportingDocItem.TypeDescription}}
                        </td>
                        <td class="txt-c"><label><input type="radio" name="{{supportingDocItem.TypeCode}}" ng-model="supportingDocItem.SelectedOption" value="optionfax"    ng-change="rbNewValue(supportingDocItem.SelectedOption)"     ng-checked="'{{supportingDocItem.SelectedOption}}' === 'optionfax'" @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="{{supportingDocItem.TypeCode}}" ng-model="supportingDocItem.SelectedOption" value="optionupload" ng-change="rbNewValue(supportingDocItem.SelectedOption)"     ng-checked="'{{supportingDocItem.SelectedOption}}' === 'optionupload'" @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="{{supportingDocItem.TypeCode}}" ng-model="supportingDocItem.SelectedOption" value="optionnodoc"  ng-change="rbNewValue(supportingDocItem.SelectedOption)"     ng-checked="'{{supportingDocItem.SelectedOption}}' === 'optionnodoc'" @(isReadOnly || isSupportingDocReadOnly ? "disabled" : "")></label></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_baseFileUpload", new FileUploadModel
               {
                   TransactionID = @ViewBag.TransactionId.ToString(),
                   AddFilesURL = "/System/FileUpload/UploadClaimFiles",
                   GetFilesURL = "/System/FileUpload/GetClaimUploadedFiles",
                   DeleteFileURL = "/System/FileUpload/DeleteClaimUploadedFile",
                   AllowSelection = false,
                   FileUploadSectionName = @ViewBag.FileUploadSectionName,

                   //AllowDelete = (ViewBag.SupportDocPermission == CL.TMS.Security.SecurityResultType.EditSave) ? true : false,
                   AllowDelete = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : @ViewBag.SupportDocEditPermission,

                   //AllowDownload = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : (ViewBag.SupportDocPermission == CL.TMS.Security.SecurityResultType.EditSave) ? true : false,
                   AllowDownload = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? false : true,

                   //Disable = (@ViewBag.ClaimsStatus != ClaimStatus.Open) || (ViewBag.SupportDocPermission != CL.TMS.Security.SecurityResultType.EditSave),
                   Disable = (!SecurityContextHelper.IsStaff() && @ViewBag.ClaimsStatus != ClaimStatus.Open) ? true : !@ViewBag.SupportDocEditPermission

               })


                </div>
            </div>
            <div id="isRequiredErrorFlag" ng-show="isRequiredErrorFlag">
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                    <div class="col-md-12">
                        <span style="color: #a94442">Required</span>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</div>

<script type="text/javascript">
    //declare dom related scripts here and please dont add in _baseFileUpload.js
</script>
