﻿<style>
    .btn-close {
        color: #fff !important;
        border: none;
        background-color: #90a4ae;
        border-bottom: 2px #607d8b solid;
        height: 34px;
    }
</style>
<!-- Component: Transactions Header -->
<div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
    <div class="col-xs-7 col-sm-6">
        <h2 class="fixed-claim-header-title">Claim Summary</h2>
        <claim-bread-crumb></claim-bread-crumb>
        <div class="sub-header-claimdate fixed-claim-header-claimdate-participant">
            {{ claimSummaryModel.ClaimCommonModel.ClaimPeriodName }}
        </div>
        <div class="btn-group" style="margin-top:-5px; margin-left:6px;">
            <button type="button" class="btn btn-close" ng-click="loadTopInfoBar()">
                <i class="glyphicon fa fa-usd fa-lg" aria-hidden="true" style="margin-top:-5px; margin-left:4px"></i>
            </button>
        </div>

    </div>

    <div class="col-xs-5 col-sm-6">
        <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">{{ claimSummaryModel.ClaimCommonModel.RegistrationNumber }}</div>
    </div>
</div><!--/.row-->
<!-- /Component -->
