﻿<!-- Component: Inbound -->
<script type="text/ng-template" id="collectorTireModifications.html">
    <div class="panel panel-default" style="margin-top:85px">
        <div class="panel-heading" role="tab" id="panelInbound-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne">
                    Inbound
                    <collector-inbound-and-reuse-export model="model" total-model="totalInbound"
                                                        attr-header="Total Inbound" file-name="ParticipantInboundClaimsSummary"
                                                        type-list="Inbound" url='@Url.Action("ExportToExcelInbound", "Claims")' attr-anchor="90px">
                    </collector-inbound-and-reuse-export>
                </a>
            </h4>
        </div>
        <div id="panelInbound-collapseOne" class="panel-collapse collapse in inbound-coll-participant" role="tabpanel" aria-labelledby="panelInbound-headingOne">
            <div class="panel-body" style="overflow-x: auto;" id="panel-tire-origin">
                <dropdown-resize-tire-origin></dropdown-resize-tire-origin>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="30%">
                                        Tire Origin <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverParticipantTireOrigin"></i>
                                        <div id="popoverParticipantTireOrigin" style="display:none;">
                                            <p>Indicate where your Collector Account has collected your used tires by selecting form the drop down list either 1 or more of the originated tire sources listed. If you have more than 1 source, ensure to allocate your quantities until the sums equal your total. Note: We may request supporting documentation to support the reported claim.</p>
                                        </div>
                                    </th>
                                    <th>PLT</th>
                                    <th>MT</th>
                                    <th>AG/LS</th>
                                    <th>IND</th>
                                    <th>SOTR</th>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th width="6%">GOTR</th>
                                    <th width="6%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addTireOrigin" id="addTireOrigin">
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant" ng-click="dropDownClick(setOverFlowDropDownVisibility)">
                                                        {{reasonSectionAdd}} {{selectedNameTireOriginFirst}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="overflow-add-dropdown">
                                                <li ng-repeat="item in tireOriginItems">
                                                    <a ng-click="setTireSelection(item.Description, item.DefinitionValue, item.DisplayOrder)" role="menuitem" tabindex="-1" href="javascript:void(0)">Reason # {{item.DisplayOrder}} {{item.Description}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowPLT" numbers-only ng-init="firstRowPLT=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowMT" numbers-only ng-init="firstRowMT=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowAGLS" numbers-only ng-init="firstRowAGLS=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowIND" numbers-only ng-init="firstRowIND=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowSOTR" numbers-only ng-init="firstRowSOTR=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowMOTR" numbers-only ng-init="firstRowMOTR=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowLOTR" numbers-only ng-init="firstRowLOTR=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="0" ng-model="firstRowGOTR" numbers-only ng-init="firstRowGOTR=0" input-limit="5" style="width:95px;">
                                    </td>
                                    <td>
                                        <button class="btn btn-md btn-success btn-add" type="submit" title="Add" ng-click="add()" ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant">+</button>
                                    </td>
                                </tr>
                                <tr ng-show="editTireOrigin" id="editTireOrigin">
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" disabled>
                                                {{reasonSectionEdit}} {{selectedNameTireOriginSecond}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="overflow-edit-dropdown">
                                                <li ng-repeat="item in tireOriginItems">
                                                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{item.Description}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowPLT" numbers-only ng-init="secondRowPLT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowMT" numbers-only ng-init="secondRowMT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowAGLS" numbers-only ng-init="secondRowAGLS=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowIND" numbers-only ng-init="secondRowIND=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowSOTR" numbers-only ng-init="secondRowSOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowMOTR" numbers-only ng-init="secondRowMOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowLOTR" numbers-only ng-init="secondRowLOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowGOTR" numbers-only ng-init="secondRowGOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><button class="btn btn-danger btn-block" type="submit" title="Cancel" ng-click="cancelUpdate()"><i class="fa fa-remove"></i></button><button class="btn btn-success btn-block" type="submit" title="Update" ng-click="updateItemRow(1)"><i class="fa fa-check"></i></button></td>
                                </tr>
                                <tr ng-repeat="tireOriginItem in model">
                                    <td width="30%">Reason # {{tireOriginItem.DisplayOrder}} {{tireOriginItem.TireOrigin}}</td>
                                    <td>{{tireOriginItem.PLT}}</td>
                                    <td>{{tireOriginItem.MT}}</td>
                                    <td>{{tireOriginItem.AGLS}}</td>
                                    <td>{{tireOriginItem.IND}}</td>
                                    <td>{{tireOriginItem.SOTR}}</td>
                                    <td>{{tireOriginItem.MOTR}}</td>
                                    <td>{{tireOriginItem.LOTR}}</td>
                                    <td>{{tireOriginItem.GOTR}}</td>
                                    <td class="td-center">
                                        <div class="btn-group dropdown-menu-actions">
                                            <a data-toggle="dropdown" href="#">
                                                <i class="glyphicon glyphicon-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="edit(tireOriginItem)" ng-hide="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
                                                    <span style="padding:3px 20px" ng-show="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</span>
                                                </li>
                                                <li>
                                                    <a ng-click="removeTires(tireOriginItem,1)" ng-hide="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa fa-trash-o"></i>&nbsp;Delete</a>
                                                    <span style="padding:3px 20px" ng-show="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa fa-trash-o"></i>&nbsp;Delete</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Total Inbound</strong></td>
                                    <td ng-repeat="item in totalInbound">
                                        {{item}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div><!--/.panel-->
</script>
<!-- /Component -->
