﻿
<script type="text/ng-template" id="InternalAdjustAddAdjustment.html">
    <!-- Modal: Internal Adjustments: Add Adjustment  -->
    <div class="modal-content">
        <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 20px;">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <h4>Choose Type</h4>
                            <select class="form-control" id="internaladj-selector"
                                    ng-options="item.name for item in items"
                                    ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                        </div>
                    </div>
                    <div id="internaladj-tirecounts" class="internaladj-options" ng-show="selectedItem.id=='2'">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-2" value="eligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                        Eligible
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-2" value="ineligible" ng-model="modalResult.eligibility" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                        Ineligible
                                    </label>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" style="background:none!important;">
                                    <thead>
                                        <tr>
                                            <th>PLT</th>
                                            <th>MT</th>
                                            <th>AG/LS</th>
                                            <th>IND</th>
                                            <th>SOTR</th>
                                            <th>MOTR</th>
                                            <th>LOTR</th>
                                            <th>GOTR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_plt') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.plt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_plt" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_plt.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_plt.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_mt') }">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.mt" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_mt" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_mt.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_mt.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_agls')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.agls" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_agls" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_agls.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_agls.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_ind')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.ind" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_ind" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_ind.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_ind.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_sotr')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.sotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_sotr" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_sotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_sotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_motr')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.motr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_motr" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_motr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_motr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_lotr')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.lotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_lotr" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_lotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_lotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_gotr')}">
                                                    <input type="number" class="form-control" placeholder="+/-" ng-model="modalResult.gotr" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="tirecount_gotr" no-decimal>
                                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.tirecount_gotr.$touched">
                                                        <p class="help-block" ng-show="(internaladjustForm.tirecount_gotr.$error.number)">Invalid Input</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && isTireTypeAllZeros()">Atleast one tire type should have value > or < 0</span>
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div id="internaladj-payment" class="internaladj-options" ng-show="selectedItem.id=='4'">
                        <div class="row">
                            <div class="col-sm-5 txt-r">
                                <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                    <br>
                                    <label for="">Amount ($)</label>
                                    <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" decimal-required="2">
                                    <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                        <p class="help-block" ng-show="(internaladjustForm.amount.$error.isDecimalRequired) || (internaladjustForm.amount.$error.number)">Invalid Input</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.amount)">Payment should not be equal to 0</span>
                    </div>

                    <div id="internaladj-internalNote" ng-if="!isReadOnly">
                        <div class="row">
                            <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_internalNote') }">
                                <h4 class="panel-title">Internal Note</h4>
                                <textarea class="form-control" rows="3" name="note" ng-model="modalResult.internalNote" required></textarea>
                                <div ng-show="internaladjustForm.$submitted || internaladjustForm.internalNote.$touched">
                                    <p class="help-block" ng-show="getErrorRule(selectedItem, '_internalNote')">Required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isReadOnly">
                        <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="hauler-internal-adjustment-notes"></manage-internal-notes>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-if="!isReadOnly">
                    <i class="fa fa-ban fa-1x"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-if="isReadOnly">
                    <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
                <button type="submit" class="btn btn-success btn-lg" ng-if="!isReadOnly" ng-disabled="disableForReadOnlyStaff">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
    <!-- /Modal  -->
</script>  

<script type="text/ng-template" id="InternalAdjustRemove.html">
    <!-- /Component -->
    <!-- Modal: Internal Adjustments: Remove  -->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>Are you sure you would like to remove<br> this <strong>Internal Adjustment</strong>?</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>
   
<script type="text/ng-template" id="InternalAdjustConfirm.html">
    <!-- Modal: Internal Adjustments: Confirm  -->
    <div class="modal-content">
        <div class="modal-header modal-header-le">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
    <!-- /Modal  -->
</script>   
    
