﻿@using CL.TMS.Security.Authorization
@model CL.TMS.DataContracts.ViewModel.Claims.ClaimsCommonHeaderViewModel

<style>
    .btn-close {
        color: #fff !important;
        border: none;
        background-color: #90a4ae;
        border-bottom: 2px #607d8b solid;
        height: 34px;
    }
</style>

<div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
    <div class="col-xs-7 col-sm-6">

        <h2 class="fixed-claim-header-title">Claim Summary</h2>
        <claim-bread-crumb></claim-bread-crumb>
        <div class="sub-header-claim-period"
             style="width:120px; text-align:center; height:32px;line-height:2.1em;"
             data-toggle="tooltip"
             data-placement="right"
             title="{{staffClaimSummaryModel.ClaimStatus.UnderReview}}"
             ng-class="getStatusColor">
            {{staffClaimSummaryModel.ClaimCommonModel.ClaimPeriodName}}
        </div>
        <div class="btn-group" style="margin-top:-5px; margin-left:6px;">
            <button type="button" class="btn btn-close" ng-click="loadTopInfoBar()">
                <i class="glyphicon fa fa-usd fa-lg" aria-hidden="true" style="margin-top:-5px; margin-left:4px"></i>
            </button>
        </div>

    </div>

    @if (SecurityContextHelper.IsStaff())
    {
        <div class="col-xs-5 col-sm-6">
            @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
        </div>
    }
    else
    {
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
        </div>
    }
</div><!--/.row-->
