﻿<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelReuseTires-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelReuseTires-collapseOne" aria-expanded="true" aria-controls="panelReuseTires-collapseOne">
                Reuse Tires @*<i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>*@
                <collector-inbound-and-reuse-export model="reuseTireModel" total-model="totalReuseTires"
                                                    attr-header="Total Reuse" file-name="StaffReuseTiresClaimsSummary"
                                                    type-list="Reuse" url='@Url.Action("ExportToExcelReuseTires", "Claims")' attr-anchor="115px">
                </collector-inbound-and-reuse-export>
            </a>
        </h4>
    </div>
    <div id="panelReuseTires-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelReuseTires-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="30%">
                                    Reuse Tires <i class="fa fa-question-circle popoverReuseTires" data-placement="auto" title="" popover="#popoverStaffReuseTires"></i>
                                    <div id="popoverStaffReuseTires" style="display:none;">
                                        <p>Enter the quantities of tires by type that were removed from vehicles that were directed to other purposes including but not limited to; retreading or used tire sales during this reporting period. If you have not sent any collected tires to a reuse market, enter 0 in each tire type field. The tire quantities entered on this report have <strong>not</strong> been and will <strong>not</strong> be transported from your site by a registered Hauler. Tires that are directed to reuse markets by Collectors do not attract a collection incentive allowance.</p>
                                    </div>
                                </th>
                                <th>PLT</th>
                                <th>MT</th>
                                <th>AG/LS</th>
                                <th>IND</th>
                                <th>SOTR</th>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>{{reuseTireModel.PLT}}</td>
                                <td>{{reuseTireModel.MT}}</td>
                                <td>{{reuseTireModel.AGLS}}</td>
                                <td>{{reuseTireModel.IND}}</td>
                                <td>{{reuseTireModel.SOTR}}</td>
                                <td>{{reuseTireModel.MOTR}}</td>
                                <td>{{reuseTireModel.LOTR}}</td>
                                <td>{{reuseTireModel.GOTR}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div><!--/.panel-->
