﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Participant Claim Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/css/datatable-tm")
    <style>
        .collection-payment-title, .collection-payment-qty, .collection-payment-rate, .collection-payment-pay {
            text-align: right;
        }
    </style>
}
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

<div class="tm-all participants-all-claims ng-cloak" ng-controller="collectorClaimSummaryController" id="collectorParticipantClaimSummary">

    @Html.Partial("_CollectorHeaderPartial")
    @Html.Partial("_CollectorInboundPartial")
    <collector-tire-modifications model="inboundModel" total-inbound="totalInbound" tire-origin-items="tireOriginItems"
                                  tire-origin-validations="tireOriginValidations" complete-tire-origin-items="completeTireOriginItems"
                                  claim-common-model="claimSummaryModel.ClaimCommonModel"
                                  ng-if="dataloaded"></collector-tire-modifications>
    @Html.Partial("_CollectorOutboundPartial")
    @*OTSTM2-588*@
    @Html.Partial("_CollectorTotalAdjustmentPartial")
    @Html.Partial("_CollectorReuseTiresPartial")

    @*Templates*@
    @Html.Partial("_CollectorRemoveTireOriginCategoryModal")
    @Html.Partial("_ClaimSummaryBreadCrumb")
    <collector-reuse claim-common-model="claimSummaryModel.ClaimCommonModel" reuse-tire-model="claimSummaryModel.ReuseTire" ng-if="dataloaded"></collector-reuse>

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_CommonTransactionAdjustPartial")
            @Html.Partial("_CollectorInternalAdjustPartial")
        </div>
        <div class="col-md-6">
            @Html.Partial("_CollectorPaymentAdjustPartial")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_CollectorClaimSupportingDocPartial", new ViewDataDictionary() {
           { "TransactionId", @ViewBag.ClaimsId },
           { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
           { "ClaimsStatus", @ViewBag.ClaimsStatus },
           { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsCollectorClaimSummarySupportingDocuments) }
       })
        </div>
    </div>
    <submit-claimcheck model="claimSummaryModel" submit-info="submitInfo" submit-btn="submitBtn" ng-if="dataloaded"></submit-claimcheck>

    @Html.Partial("_SubmitModalPartial")
    @Html.Partial("_ClaimExport")
    @Html.Partial("_ModalStaffInternalAdjustPartial")
    @Html.Partial("_VendorRateGroupInfoPartial")

    @Html.Partial("_CollectorCommonTemplates")
</div>

@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId'
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            AddTireOriginUrl: '@Url.Action("AddTireOrigin", "Claims")',
            RemoveTireOriginUrl: '@Url.Action("RemoveTireOrigin", "Claims")',
            UpdateTireOriginUrl: '@Url.Action("UpdateTireOrigin", "Claims")',

            TiresOriginRemoveMessage: 'the Tire Origin class/category for',
            ReuseTiresOriginRemoveMessage: 'this Reuse Tire',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            CurrentVendorId: '@ViewBag.VendorId',
            LoadInboundUrl: '@Url.Action("LoadInboundTireOrigin", "Claims", new { claimId = @ViewBag.ClaimsId })',
            LoadSupportingDocsUrl: '@Url.Action("LoadSupportingDocs", "Claims", new { claimId = @ViewBag.ClaimsId })',
            UpdateSupportingDocOption: '@Url.Action("UpdateSupportingDocOption", "Claims")',

            AddUpdatedReuseTiresUrl: '@Url.Action("AddUpdatedReuseTires", "Claims")',
            EditReuseTiresUrl: '@Url.Action("EditUpdatedReuseTires", "Claims")',
            RemoveReuseTiresUrl: '@Url.Action("RemoveUpdatedReuseTire", "Claims")',
            LoadReuseUrl: '@Url.Action("LoadReuseTire", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            VendorRateInfoUrl: '@Url.Action("GetVendorGroupInfoByVid", "Rates", new {area="System", ClaimId = @ViewBag.ClaimsId })',
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")'
        };

    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    <script src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/collectorclaimcommon")
    @Scripts.Render("~/bundles/collectorclaimparticipant")
    @*<script src="~/Areas/Collector/Scripts/Claims/collector-claim-summary-directives.js?v=@ViewBag.versionid"></script>*@
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}