﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security

@{
    ViewBag.Title = "Financial Integration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")

    <style>
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .table tr {
            cursor: pointer;
        }

        .table td {
            white-space: normal;
        }

        .btn-add {
            margin-top: 10px !important;
        }

        /*.panel-body {
            height: 370px !important;
        }*/
        .panel-body.gp-activity-panel {
            height: 340px !important;
        }

        .dataTables_wrapper {
            height: 300px !important;
        }
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="financialIntegrationController" id="financialIntegrationController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Financial Integration</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
        </div>
    </div><!--/.row-->

    <div class="row panel-container-other">
        @{
            if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPParticipantManager) >= SecurityResultType.ReadOnly ||
                ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPCollectorManager) >= SecurityResultType.ReadOnly ||
                ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPProcessorManager) >= SecurityResultType.ReadOnly)
            {
                <div class="col-md-6">
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPParticipantManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new { area = "System", type = "R" })" type="R" header="Participant Manager" panel-name="Participant"></gp-panel-view>
                    }
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPCollectorManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new {area = "System", type = "C"})" type="C" header="Collector Manager" panel-name="Collector"></gp-panel-view>
                    }
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPProcessorManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new {area = "System", type = "P"})" type="P" header="Processor Manager" panel-name="Processor"></gp-panel-view>
                    }
                </div>
            }

            if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPStewardManager) >= SecurityResultType.ReadOnly ||
                ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPHaulerManager) >= SecurityResultType.ReadOnly ||
                  ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPRPMManager) >= SecurityResultType.ReadOnly)
            {
                <div class="col-md-6">
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPStewardManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new {area = "System", type = "S"})" type="S" header="Steward Manager" panel-name="Steward"></gp-panel-view>
                    }
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPHaulerManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new {area = "System", type = "H"})" type="H" header="Hauler Manager" panel-name="Hauler"></gp-panel-view>
                    }
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPRPMManager) >= SecurityResultType.ReadOnly)
                    {
                        <gp-panel-view gp-url="@Url.Action("LoadGPByType", "FinancialIntegration", new {area = "System", type = "M"})" type="M" header="RPM Manager" panel-name="RPM"></gp-panel-view>
                    }
                </div>
            }
        }

        <div class="row">
            <div class="col-md-12">
                <gp-activity-panel snp-url="@Url.Action("LoadAllGPActivities", "FinancialIntegration", new { area = "System" })"></gp-activity-panel>
            </div>
        </div>

        @Html.Partial("_GpPanelTemplate")
        @Html.Partial("_GpCommonTemplate")
        @Html.Partial("_GpModalTemplate")
    </div>
    <div data-loading-spinner style="position: absolute; display: block; top: 50%; left: 50%; z-index: 1003;"><img src="~/Images/spinner.gif" /></div>
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.GP = {
            LoadParticipantManagerUrl: '@Url.Action("LoadGPByType", "FinancialIntegration", new { area = "System" })',
            CreateBatchUrl: '@Url.Action("CreateBatch", "FinancialIntegration", new { area = "System" })',
            CreateBatchSuccessHtml: '<h4><strong>Batch #BatchNum</strong> for <strong>PanelName</strong> was successfully created.</h4>',
            CreateBatchFailHeader: 'Unable to create a Batch',
            CreateBatchSuccessHeader: 'Batch Created',
            CreateBatchConfirmHtml: '<h4>Are you sure you want to <strong>create</strong> a new batch for <strong>AAA</strong>?</h4>',

            PostBatchUrl: '@Url.Action("PostBatch", "FinancialIntegration", new { area = "System" })',
            PostBatchConfirmHtml: '<h4>Are you sure you want to <strong>Type</strong> batch <strong>BatchNum</strong> for <strong>PanelName</strong>?</h4>', //
            PostBatchSuccessHtml: '<h4><strong>Batch #BatchNum</strong> for <strong>PanelName</strong> was successfully Posted.</h4>',
            PostBatchFailHeader: 'Unable to post a Batch',
            PostBatchSuccessHeader: 'Batch Posted',

            OnHoldTransactionUrl: '@Url.Action("PutOnHold", "FinancialIntegration", new { area = "System" })',
            OnHoldTransactionConfirmHtml: '<h4>Are you sure you want to place<br> Transaction <strong>#TransNum On-Hold</strong>?</h4>',
            OnHoldTransactionFailHeader: 'Unable to On-Hold this Transaction',

            OffHoldTransactionUrl: '@Url.Action("PutOffHold", "FinancialIntegration", new { area = "System" })',
            OffHoldTransactionConfirmHtml: '<h4>Are you sure you want to place<br> Transaction <strong>#TransNum Off-Hold</strong>?</h4>',
            OffHoldTransactionFailHeader: 'Unable to Off-Hold this Transaction',

            RemoveTransactionUrl: '@Url.Action("DeleteEntryFromBatch", "FinancialIntegration", new { area = "System" })',
            RemoveTransactionConfirmHtml: '<h4>Are you sure you want to remove <br> Transaction <strong>#TransNum</strong> from this batch?</h4>',
            RemoveNoteTypeHPCR: 'Note: Claims will be put back into Under Review status.',
            RemoveNoteTypeS: 'Note: TSF Remittances will be put back into Under Review status.',
            RemoveTransactionFailHeader: 'Unable to Remove this Transaction',

            ExportUrl: '@Url.Action("GetExport", "FinancialIntegration", new { area = "System" })',
            CheckExportUrl: '@Url.Action("CheckExport", "FinancialIntegration", new { area = "System" })',
            ExportFailHeader: 'Export Fail',
            ExportFailBody: 'Nothing to Export',

            PageEditable: '@ViewBag.PageEditable'.toLowerCase(),

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },

                ParticipantManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPParticipantManager)',
                StewardManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPStewardManager)',
                CollectorManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPCollectorManager)',
                HaulerManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPHaulerManager)',
                ProcessorManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPProcessorManager)',
                RPMManager: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.FinancialIntegrationGPFinancialIntegrationGPRPMManager)'
            }
        };

        Global.Settings = {
        };
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Areas/System/Scripts/FinancialIntegration/financial-integration-app.js?v=@ViewBag.versionid"></script>
}