﻿@model CL.TMS.DataContracts.ViewModel.System.UserAcceptInvitationModel
@{
    ViewBag.Title = "TreadMarks Invitation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    ul {
        list-style-type: none;
    }
</style>

@using (Html.BeginForm("AcceptInvitation", "Invitation", FormMethod.Post, new { DefaultButton = "submit-button", id = "MyForm" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" placeholder=@Model.UserName disabled>
        @Html.HiddenFor(r => r.InviteGUID)
        @Html.HiddenFor(r => r.UserName)
    </div>

    if (string.IsNullOrWhiteSpace(@Model.UserName))
    {
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>

            @Html.PasswordFor(r => r.Password, new { id = "password-input", @class = "form-control", placeholder = UIResource.CreateNewPassword, @readonly = "readonly" })
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            @Html.PasswordFor(r => r.ConfirmPassword, new { id = "confirmpassword-input", @class = "form-control", placeholder = UIResource.ConfirmNewPassword, @readonly = "readonly" })
        </div>

        <span class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
            @Html.ValidationSummary(false, "")
        </span>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" id="submit-button" class="btn btn-success col-xs-12" disabled>@UIResource.Login</button>
            </div>
        </div>

    }

    else
    {

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>

            @Html.PasswordFor(r => r.Password, new { id = "password-input", @class = "form-control", 
           placeholder = UIResource.CreateNewPassword})
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            @Html.PasswordFor(r => r.ConfirmPassword, new { id = "confirmpassword-input",
           @class = "form-control", placeholder = UIResource.ConfirmNewPassword})
        </div>

        <span id="spnValidationMessage" class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
            @Html.ValidationSummary(false, "")
        </span>


        <div class="row">
            <div class="col-xs-12">
                <button type="submit" id="btnSubmit" class="btn btn-success col-xs-12">@UIResource.Login</button>
            </div>
        </div>
    }
}
@section Scripts{

}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('mytextbox').focus()
    $("#MyForm").keypress(function (e) {
    kCode = e.keyCode || e.charCode //for cross browser
     if (kCode == 13) {
         var defaultbtn = $(this).attr("DefaultButton");
         $("#" + defaultbtn).click();
       //  $('#spnValidationMessage').text();  
         return true;
     }
 });
 });
</script>