﻿@using CL.TMS.Security.Authorization
@model CL.TMS.DataContracts.ViewModel.System.InvitationsViewModel

@{
    ViewBag.Title = "TreadMarks";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

<style>
    .subcomp-search input:focus {
        visibility: visible;
    }

    .panel-default > .panel-heading a.export,
    .panel-default > .panel-heading a.export:hover {
        background: none;
        left: 100px;
        position: absolute;
        top: 11px;
        width: 25px;
    }
</style>

}

<!-- ///////////// HTML Top ///////////// -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frminvitation" }))
{
    @*<input type="hidden" id="hdSearchText" value="@ViewBag.SearchText" />*@ @*useless, comment out for OTSTM2-1013*@
    <div class="tm-all participants-all-claims">

        <!-- Component: Transactions Header -->
        <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">Users</h2>
            </div>
            @if (SecurityContextHelper.IsStaff())
            {
                <div class="col-xs-5 col-sm-6">
                    @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor, new ViewDataDictionary() { { "resource", ViewBag.Resource??string.Empty } }) @*OTSTM2-902 pass ViewData to partial view*@
                </div>
            }
            else
            {
                <div class="col-xs-5 col-sm-6">
                    <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@SecurityContextHelper.CurrentVendor.RegistrationNumber</div>
                </div>
            }
        </div>
        
        @*@if (Model.PageReadonly)*@  @*OTSTM2-882*@
        @if (Model.StaffParticipantUserPageReadonly)
            {
            <button type="button"  style="margin-top:70px" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAddUser" title="Add New User &amp; Send Invite" disabled>+</button>
        }
        else
        {
            <button type="button"  style="margin-top:70px" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAddUser" title="Add New User &amp; Send Invite">+</button>
        }
        <!-- Modal: Add New User -->
        <div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg margin-top-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAddUser" align="center">New User</h3>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">@UIResource.FirstName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.FirstName, new { id = "firstname-input", @class = "form-control", placeholder = UIResource.FirstName })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.FirstName, "", new { id = "validfirstname-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label for="">@UIResource.LastName</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.LastName, new { id = "lastname-input", @class = "form-control", placeholder = UIResource.LastName })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.LastName, "", new { id = "validlastname-input", @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label for="">@UIResource.Email</label>
                                @Html.TextBoxFor(r => r.CreateInvitationViewModel.EmailAddress, new { id = "emailaddress-input", @class = "form-control", placeholder = UIResource.EmailAddress })
                                @Html.ValidationMessageFor(r => r.CreateInvitationViewModel.EmailAddress, "", new { id = "validemail-input", @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Access</label>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="ckRead" class="ckAddRole"> Read
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="ckWrite" class="ckAddRole"> Write
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="ckSubmit" class="ckAddRole"> Submit
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="ckParticipantAdmin" class="ckAddRole"> Admin
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncanceluser" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            Cancel
                        </button>
                        <button type="button" id="btnadduser" class="btn btn-success btn-lg" disabled>
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Add User & Send Invite Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddUserSendInviteConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddUserSendInviteConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAddUserSendInviteConfirm" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="txt-c">
                            Are you sure you want to create an account to
                            <strong id="dynamicname"></strong> and send an invite to
                            <strong id="dynamicemail"></strong>?
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnadduserconfirm" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Component: Panels Expand / Collapse All -->
        <div class="panels-expand-collapse-all">
        </div>
        
        <!-- Component: All Users -->
        <div class="panel panel-default margin-top-0">
            <div class="panel-heading" role="tab" id="panelAllUsers-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-messages" href="#panelAllUsers" aria-expanded="true" aria-controls="panelAllUsers" class="panel-arrow-expand">
                        All Users
                    </a>
                    <a id="export" class="export export-claimindex" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="Search" type="text" class="form-control" placeholder="Search">
                    <div id="found" class="subcomp-search-found">&nbsp;</div>
                    <i id="removeSearch" class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="panelAllUsers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAllUsers-heading">
                <div class="panel-body table-responsive">
                    <table id="tbluserlist" class="display table truncate table-hover datatable-100-perc"> @*OTSTM2-843 change class from "table-responsive" to "datatable-100-perc"*@
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Invitation date</th>
                                <th>Status</th>
                                <th class="td-c">Actions</th>
                                <th class="display-none"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                    <a id="viewmore" href="javascript:void(0);" class="viewmore" style="display:inline-block">More</a>
                    <div id="loading"></div>
                </div>
            </div>
        </div>

        
       
        <!-- Modal: Add User & Resend Invite Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddUserResendInviteConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddUserResendInviteConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalAddUserResendInviteConfirm" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="txt-c">
                            Are you sure you want to
                            <strong>re-send the invite</strong>
                            <br />to
                            <strong> <span id="spanFullName"></span> </strong> at
                            <strong><span id="spanEmail"></span></strong>?
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnResendEmail" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Edit User -->
        <div class="modal fade margin-top-100" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalEditUser" align="center">User</h3>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">First Name</label>
                                <input id="editfirstname-input" type="text" class="form-control" placeholder="">
                                <label id="fedituserstatus" class="text-danger"> </label>
                            </div>
                            <div class="col-md-4">
                                <label for="">Last Name</label>
                                <input id="editlastname-input" type="text" class="form-control" placeholder="">
                                <label id="ledituserstatus" class="text-danger"> </label>
                            </div>
                            <div class="col-md-4">
                                <label for="">Email</label>
                                <p class="padding-5"><span id="editSpanEmail"></span></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Access</label>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="editckread" value="read" class="ckEditRole"> Read
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="editckwrite" value="write" class="ckEditRole"> Write
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="editcksubmit" value="submit" class="ckEditRole"> Submit
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="editckparticipantadmin" value="participantadmin" class="ckEditRole"> Admin
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            @UIResource.Cancel
                        </button>
                        <button id="btnEditUserNext" type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalEditUserConfirm">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
       

        <!-- Modal: View User -->
        <div class="modal fade margin-top-100" id="modalViewUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" align="center">User</h3>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">First Name</label>
                                <input id="viewfirstname-input" type="text" class="form-control" placeholder="" disabled="disabled">
                               
                            </div>
                            <div class="col-md-4">
                                <label for="">Last Name</label>
                                <input id="viewlastname-input" type="text" class="form-control" placeholder="" disabled="disabled">
                             
                            </div>
                            <div class="col-md-4">
                                <label for="">Email</label>
                                <p class="padding-5"><span id="viewSpanEmail"></span></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Access</label>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="viewckread" value="read" class="ckEditRole" disabled="disabled"> Read
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="viewckwrite" value="write" class="ckEditRole" disabled="disabled"> Write
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="viewcksubmit" value="submit" class="ckEditRole" disabled="disabled"> Submit
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="viewckparticipantadmin" value="participantadmin" class="ckEditRole" disabled="disabled"> Admin
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>                       
                    </div>
                </div>
            </div>
        </div>
       


        <!-- Modal: Edit User Confirm -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalEditUserConfirm" tabindex="-1" role="dialog" aria-labelledby="modalEditUserConfirm" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalEditUserConfirm" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <h4 id="editUserConfirmMsg1" class="txt-c">Are you sure you want to <strong>change user name</strong> <br />from <strong id="edituserfrom"></strong> to <strong id="edituserto"></strong>?</h4>
                        <h4 id="editUserConfirmMsg2" class="txt-c">Are you sure you want to <strong>change user role</strong>?</h4>
                        <h4 id="editUserConfirmMsg3" class="txt-c">Are you sure you want to <strong>change user name</strong> <br />from <strong id="edituserfrom1"></strong> to <strong id="edituserto1"></strong> and <strong>change user role</strong>?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button type="button" id="buttonEditUser" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Activate User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalActivateUser" tabindex="-1" role="dialog" aria-labelledby="modalActivateUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalActivateUser" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">
                                Are you sure you want to
                                <strong>activate</strong> user
                                <strong><span id="spanFullName"></span></strong>?
                            </h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="buttonActivateUser" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Modal: Inactivate User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalInactivateUser" tabindex="-1" role="dialog" aria-labelledby="modalInactivateUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInactivateUser" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to <strong>inactivate</strong> user <strong><span id="spanFullName"></span></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="buttonInactivateUser" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--OTSTM2-1013 Modal: Unlock User -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalUnlockUser" tabindex="-1" role="dialog" aria-labelledby="modalUnlockUser" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" style="border-bottom:hidden !important" id="modalUnlockUser" align="center">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to <strong>unlock</strong> user account <strong id="unlockuser"></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="btnunlockuser" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!--/.participants-all-claims-->
}

<!-- ///////////// HTML Bottom ///////////// -->
@section scripts{

@Scripts.Render("~/bundles/jquerydatatable")

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.InvitationIndex = {
            Resources: {

            },
            ExportUrl: '@Html.Raw(Url.Action("ExportToExcel", "Invitation", new { searchText = "----", sortColumn="AAA", sortDirection="BBB" }))', //OTSTM2-1013
            GetListHandlerUrl: '@Url.Action("GetListHandler","Invitation")',
            CreateInvitationUrl: '@Url.Action("CreateInvitation","Invitation")',
            ResendInviteUrl: '@Url.Action("Resend","Invitation")',
            LoadUserDetailsUrl: '@Url.Action("LoadParticipantUserDetails", "Invitation")',
            LoadUserDetailsViewUrl: '@Url.Action("LoadParticipantUserDetailsView", "Invitation")',
            EditUserUrl: '@Url.Action("EditParticipantUser", "Invitation")',
            InactiveUrl: '@Url.Action("InactiveParticipantUser", "Invitation")',
            ActiveUrl: '@Url.Action("ActiveParticipantUser", "Invitation")',
            UnlockParticipantUserUrl: '@Url.Action("UnlockParticipantUser","Invitation")', //OTSTM2-1013
            CheckEmailUrl: '@Url.Action("CheckEmailForParticipant", "Invitation")',
            //OTSTM2-882
            @*PageReadOnly: '@Model.PageReadonly',*@
            StaffParticipantUserPageReadOnly: '@Model.StaffParticipantUserPageReadonly',
        };
    </script>
    @Scripts.Render("~/bundles/systemparticipantuser")
    @Scripts.Render("~/bundles/participantheader")
}
