﻿        <!-- Modal: TCR Paper Form -->
<div class="comp-all-modal modal fade" id="modalTCRPaperForm" tabindex="-1" role="dialog" aria-labelledby="modalTCRPaperForm" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="pos-l">
                    <h3 class="modal-title" id="modalTCRPaperForm">
                        TCR #<br>
                        <span>166373464</span>
                    </h3>
                </div>
                <div class="pos-c"><img src="gui/gui-hdr-logo.png"></div>
                <div class="pos-r">
                    3000180<br>
                    <span>Paper Form</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-previewtransaction">
                    <div class="row margin-top--20">
                        <div class="col-sm-1">
                            <label for="">Date</label><p class="margin-top--3">2015-03-12</p>
                        </div>
                        <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Collector</strong> <br>
                                2000000
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                Zach's Tire Collectors<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                        <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Hauler</strong><br>
                                3000000
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                Zach's Tire Hauler<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                    </div><!--/.row-->
                    <hr class="margin-top-5">
                    <div class="row margin-top--10">
                        <div class="col-md-12">
                            <table class="table comp-modal-table-p margin-bottom-0">
                                <thead>
                                    <tr>
                                        <th>PLT</th>
                                        <th>MT</th>
                                        <th>AG/LS</th>
                                        <th>IND</th>
                                        <th>SOTR</th>
                                        <th>MOTR</th>
                                        <th>LOTR</th>
                                        <th>GOTR</th>
                                        <th>Gen. Tires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">Yes</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <!-- Component: Documents: Preview -->
                    <div class="row">
                        <div class="col-md-12">
                            <p><label>Supporting Documents</label></p>
                        </div>
                        <div class="col-md-4 col-md-offset-2 plugin-smoothzoompan">
                            <img id="smoothzoompanPTRPhoto1" src="~/Images/image-unavailable.png" class="img-smoothzoom" />
                        </div>
                        <div class="col-md-5">
                            <div class="smoothzoompanPhotoThumb">
                                <img src="~/Images/image-unavailable.png" class="view-thumbnail" flag="1" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="~/Images/scale-ticket.jpg" class="view-thumbnail" flag="2" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="~/Images/sample-form-tcr.jpg" class="view-thumbnail" flag="3" target-elm="PTR" />
                            </div>
                        </div>
                        <div class="col-md-5 margin-bottom--10">
                            <div id="PTR-comment-1" class="PTRImagesComments smoothzoompanPhotoComments" style="display:block">
                                <hr>
                                <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                                <p>scan one.docx</p>
                                <label>Description</label>
                                <p>Paper Form</p>
                                <button class="btn btn-success color-tm-green-bg btn-sm"><strong>Download</strong></button>
                            </div>
                            <div id="PTR-comment-2" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                                <p>copy from copy_343 file.pdf</p>
                                <label>Description</label>
                                <p>Paper Form</p>
                                <button class="btn btn-success color-tm-green-bg btn-sm"><strong>Download</strong></button>
                            </div>
                            <div id="PTR-comment-3" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <label>Filename</label><span class="float-right">Submitted by <strong>Upload</strong></span>
                                <p>Canon Document Scan 029.jpg</p>
                                <label>Description</label>
                                <p>Paper Form</p>
                                <button class="btn btn-success color-tm-green-bg btn-sm"><strong>Download</strong></button>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <!-- /Components -->
                </div><!--/.modal-previewtransaction-->
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<!-- Modal: TCR iPad -->
<div class="comp-all-modal modal fade" id="modalTCRiPad" tabindex="-1" role="dialog" aria-labelledby="modalTCRiPad" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="pos-l">
                    <h3 class="modal-title" id="modalTCRiPad">
                        TCR #<br>
                        <span>166373464</span>
                    </h3>
                </div>
                <div class="pos-c"><img src="gui/gui-hdr-logo-le.png"></div>
                <div class="pos-r">
                    3000180-15<br>
                    <span>OTSIPADH237</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-previewtransaction">
                    <div class="row margin-top--20">
                        <div class="col-sm-5 col-sm-offset-1 txt-c">
                            <label for="">Transaction</label> <p class="margin-top--3">2015-03-12 09:32 AM</p>
                        </div>
                        <div class="col-sm-5 txt-c">
                            <label for="">Sync</label> <p class="margin-top--3">2015-03-14 1:32 PM</p>
                        </div>
                    </div><!--/.row-->
                    <hr class="margin-top-5">
                    <div class="row">
                        <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Collector</strong> <span class="sample-popover-map"><i class="fa fa-map-marker cursor-pointer"></i></span><br>
                                2000000
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                Zach's Tire Collectors<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                        <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Hauler</strong><br>
                                3000000
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                Zach's Tire Hauler<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                    </div><!--/.row-->
                    <hr class="margin-top-5">
                    <div class="row margin-top--10">
                        <div class="col-md-12">
                            <table class="table comp-modal-table-p margin-bottom-0">
                                <thead>
                                    <tr>
                                        <th>PLT</th>
                                        <th>MT</th>
                                        <th>AG/LS</th>
                                        <th>IND</th>
                                        <th>SOTR</th>
                                        <th>MOTR</th>
                                        <th>LOTR</th>
                                        <th>GOTR</th>
                                        <th>Gen. Tires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">0</p></td>
                                        <td><p class="form-control-static">Yes</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <div class="row">
                        <div class="col-md-2 txt-r">
                            <p><strong>Photos</strong></p>
                        </div>
                        <div class="col-md-4 plugin-smoothzoompan">
                            <img id="smoothzoompanPTRPhoto1" src="img/sample/tires.jpg" class="img-smoothzoom" />
                        </div>
                        <div class="col-md-5">
                            <div class="smoothzoompanPhotoThumb">
                                <img src="img/sample/tires.jpg" class="view-thumbnail" flag="1" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="img/sample/tires2.jpg" class="view-thumbnail" flag="2" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="img/sample/tires3.jpg" class="view-thumbnail" flag="3" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="img/sample/tires4.jpg" class="view-thumbnail" flag="4" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="img/sample/tires5.jpg" class="view-thumbnail" flag="5" target-elm="PTR" />
                            </div>
                        </div>
                        <div class="col-md-5 margin-bottom--10">
                            <div id="PTR-comment-1" class="PTRImagesComments smoothzoompanPhotoComments" style="display:block">
                                <hr>
                                <strong>Comments</strong>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis, dui vitae dignissim feugiat, dolor elit tincidunt lectus, sit amet elementum quam justo sit amet nibh.</p>
                            </div>
                            <div id="PTR-comment-2" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <strong>Comments</strong>
                                <p>Dolor elit tincidunt lectus, sit amet elementum quam justo sit amet nibh. Consectetur adipiscing elit. Proin venenatis, dui vitae dignissim feugiat</p>
                            </div>
                            <div id="PTR-comment-3" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <strong>Comments</strong>
                                <p>Proin venenatis, dui vitae dignissim feugiat, dolor elit tincidunt lectus, sit amet elementum ipsum dolor sit amet, consectetur adipiscing elit. quam justo sit amet nibh.</p>
                            </div>
                            <div id="PTR-comment-4" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <strong>Comments</strong>
                                <p>Consectetur adipiscing elit. Proin venenatis, dui vitae dignissim feugiat, dolor elit tincidunt lectus, sit amet elementum quam justo sit amet nibh.</p>
                            </div>
                            <div id="PTR-comment-5" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <strong>Comments</strong>
                                <p>Proin venenatis, dui vitae dignissim feugiat, dolor elit tincidunt lectus, sit amet elementum quam justo sit amet nibh.</p>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <div class="row">
                        <div class="col-md-2 txt-r">
                            <p><strong>Comments</strong></p>
                        </div>
                        <div class="col-md-9">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis, dui vitae dignissim feugiat, dolor elit tincidunt lectus, sit amet elementum quam justo sit amet nibh. Nulla vestibulum dictum quam, eget sollicitudin mauris ultrices aliquet.</p>
                        </div>
                    </div><!--/.row-->
                    <hr class="margin-top-10">
                    <div class="row">
                        <div class="col-md-6 txt-c">
                            <img src="img/sample/collector.png" width="100%">
                            <div class="signline"></div>
                            <p>Collector: <strong>Mark Goodwin</strong></p>
                        </div>
                        <div class="col-md-6 txt-c">
                            <img src="img/sample/hauler.png" width="100%">
                            <div class="signline"></div>
                            <p>Hauler: <strong>Zach Dryman</strong></p>
                        </div>
                    </div><!--/.row-->
                </div><!--/.modal-previewtransaction-->
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->

