﻿@{
    if (@ViewBag.VendorCode == CL.TMS.Common.TreadMarksConstants.RPM)
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Trans.&nbsp;#</th>
                    <th>Type</th>
                    <th>Start</th>
                    <th>Add</th>
                    <th>Inc.&nbsp;Reg.&nbsp;#</th>

                    <th>Out.&nbsp;Reg.&nbsp;#</th>
                    <th>User</th>
                    <th class="txt-c">Actions</th>
                    <th>TransactionId</th>
                    <th>CreatedUserId</th>

                    <th>CreatedVendorId</th>
                    <th>ClaimReviewStatus</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>iPad/Form</th>
                    <th>Trans.&nbsp;#</th>
                    <th>Type</th>
                    <th>Start</th>

                    <th>End</th>
                    <th>Sync/Add</th>
                    <th>Inc.&nbsp;Reg.&nbsp;#</th>
                    <th>Out.&nbsp;Reg.&nbsp;#</th>
                    <th>Badge/User</th>

                    <th class="txt-c">Actions</th>
                    <th>TransactionId</th>
                    <th>CreatedUserId</th>
                    <th>CreatedVendorId</th>
                    <th>ClaimReviewStatus</th>

                    <th>ID</th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
}
<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
