﻿@using CL.TMS.UI.Common.Helper
@{
    ViewBag.Title = "Registration";
    Layout = "~/Areas/System/Views/Shared/_LayoutRegistration.cshtml";
    var appSetting = CL.TMS.Configuration.AppSettings.Instance.AllSettings;
    string domainName = SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName");
    var companyLogo = appSetting.FirstOrDefault(c => c.Key.Trim() == "Company.LogoURL");
    string loginCompanyLogo = companyLogo != null ? companyLogo.Value.Replace("\\", "/") : string.Empty;
    string loginCompanyLogoUrl = string.IsNullOrEmpty(loginCompanyLogo) ? "/Images/CompanyLogo" : Path.Combine(new string[] { domainName, loginCompanyLogo });

}
<div id="login-box" style="margin: auto;">
    <header id="login-header">
        <div id="login-logo" style="background:#4f4f4f;padding:25px 0;">
            <img src="../../../Images/gui-hdr-logo-reversed.png" style="width:80%; height:80%;padding-left:10px;">
        </div>
    </header>
    <div id="login-box-inner">
        <div style="text-align:center;">
            @*<img src="~/Images/CompanyLogo.png" alt="Company Logo" style="width:175px;height:70px;margin-top:-35px;margin-bottom:5px;" />*@
            <img src="@loginCompanyLogoUrl" alt="Company Logo" style="width:auto;height:70px;margin-top:-35px;margin-bottom:5px;" />
        </div>
        <div class="alert alert-success fade in" id="myAlert" hidden="hidden">
            <a href="#" class="close" data-hide="alert">&times;</a>
            <div id="myAlertMessage" style="width:90%;"></div>
        </div>
        <form role="form" data-toggle="validator" id="formRegister">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" class="form-control" id="inputEmail" placeholder="@UIResource.EmailAddress" data-error="@MessageResource.ValidationMsgInvalidEmail" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <select id="participantType" class="form-control selectbox" required>
                    <option value='' disabled selected style='display:none;'>Select participant type</option>
                    <option value="Steward">Steward</option>
                    <option value="Collector">Collector</option>
                    <option value="Hauler">Hauler</option>
                    <option value="Processor">Processor</option>
                    <option value="RPM">Recycled Product Manufacturers</option>
                </select>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button id="btnRegister" name="btnregister" type="submit" class="btn btn-success col-xs-12">@UIResource.CommonRegister</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/systemregistration")
}


