﻿@model CL.TMS.DataContracts.ViewModel.Common.SupportingDocumentsRegistrationModel
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload

<div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">
            <img class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png"> @UIResource.CommonSupportingDocuments
        </a>
    </h4>
</div>
<div id="panelSupportingDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">
        <p>@UIResource.SupportingDocPleaseSelectMethod</p>
        <ul>
            <li>@UIResource.SupportingDocSendDoc</li>
            <li>@UIResource.SupportingDocFax</li>
            <li>@UIResource.SupportingDocMailAddress</li>
        </ul>
        <table class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
            <thead>
                <tr>
                    <th>@UIResource.SupportingDocRequiredDocuments</th>
                    <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                    <th class="txt-c">@UIResource.SupportingDocMail</th>
                    <th class="txt-c">@UIResource.SupportingDocUpload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL<i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBL" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                        <div id="supportingDocumentsAIMBL" style="display:none;">
                            <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                            <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionMBL" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionMBL" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionMBL" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "option3" ? "checked" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLI" data-placement="auto" title="Commercial Liability Insurance"></i>
                        <div id="supportingDocumentsCLI" style="display:none;">
                            <p>@UIResource.SupportingDocInsuranceCertificate</p>
                            <ul>
                                <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                <li>@UIResource.SupportingDocInsurancePink</li>
                                <li>@UIResource.SupportingDocLiability</li>
                            </ul>
                            <p></p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCLI" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCLI" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCLI" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "option3" ? "checked" : "")></label></td>
                </tr>
                @*<tr id="cVORDocument">
                    <td>
                        CVOR Abstract Level II
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVOR" data-placement="auto" title="CVOR Abstract Level II"></i>
                        <div id="supportingDocumentsCVOR" style="display:none;">
                            <p>A valid Commercial Vehicle Operating Registration (CVOR) is required in Ontario for commercial vehicles. OTS is requesting you provide your CVOR Abstract Level II report issued by the Ontario Ministry of Transportation (MTO). The CVOR Abstract Level II will provide your CVOR rating, company information and vehicles information. Please contact or visit your MTO office to obtain your report. </p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCVOR" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCVOR" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCVOR" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == null || Model.SupportingDocumentsOptionCVOR == "option3" ? "checked" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        Processor Relationship Letter
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsPRL" data-placement="auto" title="Processor Relationship Letter"></i>
                        <div id="supportingDocumentsPRL" style="display:none;">
                            <p>A Processor Relationship Letter, is a letter directly from an OTS registered Processor on their company letterhead indicating they intend to take used tires from your Hauling business if and when OTS accepts your Collector application.</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionPRL" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionPRL" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionPRL" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionPRL == null || Model.SupportingDocumentsOptionPRL == "option3" ? "checked" : "")></label></td>
                </tr>*@
                <tr id="hSTDocument">
                    <td>@UIResource.SupportingDocHST</td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionHST" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionHST" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionHST" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "option3" ? "checked" : "")></label></td>
                </tr>
                <tr id="wSIBDocument">
                    <td>@UIResource.SupportingDocWSIBCertificate</td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionWSIB" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionWSIB" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionWSIB" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "option3" ? "checked" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocVoidCheque <small>@UIResource.ParticipantVoidCheque</small>
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i>
                        <div id="supportingDocumentsVOCH" style="display:none;">
                            <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCHQ" value="option1" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "option1" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCHQ" value="option2" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "option2" ? "checked" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="supportingDocumentsOptionCHQ" value="option3" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "option3" ? "checked" : "")></label></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-12">
                <label>@UIResource.SupportingDocUploadDocuments</label><br><br>
                @Html.Partial("_FileUpload", new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/Staff/ApplicationCollector/UploadFiles", GetFilesURL = "/Staff/ApplicationCollector/GetUploadedFiles", DeleteFileURL = "/Staff/ApplicationCollector/DeleteUploadedFile", AllowSelection = false, AllowDownload = false, AllowDelete = true });                
            </div>
        </div>
        <small><em>@UIResource.ParticipantWsib</em></small><br>
        <small><em>@UIResource.DevNote <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">@UIResource.JqueryFileupload</a></em></small>
    </div>
</div>
