﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];
    var prefix = @Html.GetPropertyName(m => m.TireDetails).ToString();
    string view = Convert.ToString(@ViewData["view"]);

}

<div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelTireDetails" aria-expanded="false" aria-controls="panelTireDetails">
            <img id="flagTireDetails" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png"> @UIResource.CommonTireDetails
        </a>
    </h4>
</div>
<div id="panelTireDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
        <!--/.row-->
        @if (string.Compare(view, "Staff", 0) == 0)
        {
            @Html.EditorFor(model => model.TireDetails, "StaffCollectorTireDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
        }
        else
        {
            @Html.EditorFor(model => model.TireDetails, "ParticipantCollectorTireDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
        }


    </div>
</div>
