﻿<script type="text/ng-template" id="rc-panel-template.html">
    <div class="col-md-12">
        <div class="panel panel-default rc-panel" @*ng-style="{ 'margin-top' : (type === 'Staff Retailer' || type === 'Participant Retailer') ? '70px' : '0' }"*@> 
            <div class="panel-heading" role="tab" id="panelGPParticipantManager-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{chevronId}}" aria-expanded="true" aria-controls="panelGPParticipantManager-collapseStatus" class="panel-arrow-expand">
                        {{header}}
                        <rc-common-export attr-anchor="120px" rc-type="type"></rc-common-export>
                    </a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="search(dtInstance)" ng-style="searchStyle">
                    <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                    <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div class="panel-collapse collapse in" id="{{chevronId}}" role="tabpanel" aria-labelledby="panelGPParticipantManager-headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per" width="100%"></table>

                            <div class="row">
                                <div class="col-md-6">
                                    <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-if="viewMore" ng-model="viewMore" style="display:inline-block">More</a>
                                </div>
                                <div class="col-md-6">
                                    <rc-add-btn rc-type="type" ng-if="type === 'Product Category' && IsProductCategoriesEditable"></rc-add-btn>
                                    <rc-add-btn rc-type="type" ng-if="type === 'Staff Retailer' && IsAllRetailersEditable"></rc-add-btn>
                                    <rc-add-btn rc-type="type" ng-if="type === 'Participant Product' && PageEditable"></rc-add-btn>
                                    <rc-add-btn rc-type="type" ng-if="type === 'Participant Retailer' && PageEditable"></rc-add-btn>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>