﻿@{
    var appSetting = CL.TMS.Configuration.AppSettings.Instance.AllSettings;
    var copyrightYear = DateTime.Now.Year.ToString(); //OTSTM2-979
    //var companyName = appSetting.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value.ToString();
    var licenseText = appSetting.FirstOrDefault(c => c.Key.Trim() == "Site.LicenseText").Value.Split(new string[] { "from" }, StringSplitOptions.None);

    var releaseVersion = ViewBag.versionid;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    @*@Styles.Render("~/css/bootstrap")*@

    <!-- Custom styles for this template -->
    @Styles.Render("~/css/customize")

    <!-- Custom styles for this template -->
    @*@Styles.Render("~/css/invitation-registration.css")*@

    <!-- Load Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    @*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/css/invitation-registration.css" rel="stylesheet">
    @*<link href="~/css/customize-reg.css" rel="stylesheet">*@
    <link href="~/css/bootstrap.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/css/cube/theme_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
        #login-box .input-group .input-group-addon i {
            color: #4f4f4f;
        }

        input {
            font-weight: 600 !important;
        }

        .selectbox {
            font-weight: bold;
            color: #4f4f4f;
        }

        .centered {
            margin: auto;
        }
    </style>

</head>
<body>
    <div id="login-full-wrapper" style="top:0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box" style="margin-top:11%;" class="centered">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                        <div id="login-box-footer">
                            <div class="row">
                                <div class="col-xs-12" data-releasever="@releaseVersion">
                                    © @copyrightYear · @licenseText[0] from
                                    <br />
                                    @licenseText[1]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/cube")
    @RenderSection("scripts", required: false)
</body>
</html>
