﻿
@{
    ViewBag.Title = "TreadMarks - Application Submitted";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}

<div>
    <h2>Your application has been successfully submitted.</h2>
</div>

