﻿@model CL.TMS.DataContracts.ViewModel.Common.Registration.IContactInformationListModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;
@using CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData;

@{
    //-----------------------------
    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.CommonPartialView)ViewData["ContactInformation"];

    List<string> invalidFormFieldList = partialViewData.InvalidFormFieldList.ToList();
    var view = partialViewData.view;
    var prefix = partialViewData.prefix;
    var status = (ApplicationStatusEnum)(partialViewData.Status);

    bool disableButton = ((string.Compare(view, "Participant", 0) == 0 || SecurityContextHelper.IsParticipant()) &&
        (status == ApplicationStatusEnum.BackToApplicant || status == ApplicationStatusEnum.Completed || status == ApplicationStatusEnum.BankInformationSubmitted || status == ApplicationStatusEnum.BankInformationApproved));

    bool contactPlusDisable = (SecurityContextHelper.IsStaff() && status == ApplicationStatusEnum.Open);
        
    //check security level
    var ContactInfoResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForContactInfo(partialViewData.Type);
    var isResourceReadOnly = ContactInfoResource == CL.TMS.Security.SecurityResultType.ReadOnly;

}


<div class="panel-heading" role="tab" id="panelContactInformationHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelContactInformation" aria-expanded="false" aria-controls="panelContactInformation">
            <img id="flagContactInformation" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommonContactInformation
        </a>
    </h4>
</div>

<div id="panelContactInformation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
        @if(string.Compare(view, "Staff", 0) == 0)
        {    
            @Html.EditorFor(model => model.ContactInformationList, "StaffContactInformation", (CommonPartialView)ViewData["ContactInformation"])  
        }
        else
        {
            @Html.EditorFor(model => model.ContactInformationList, "ParticipantContactInformation", (CommonPartialView)ViewData["ContactInformation"] )
        }
        <div class="row">
            <div class="col-md-12">
                @{
                    if (SecurityContextHelper.IsStaff())
                    {
                       @HelperMethods.Button(new { id = "btnAddContact", @class = "btn color-tm-green-bg" ,data_buttontype="added"}, (isResourceReadOnly || contactPlusDisable), "Contact +") 
                    }
                    else
                    {
                        @HelperMethods.Button(new { id = "btnAddContact", @class = "btn color-tm-green-bg", data_buttontype = "added" }, (disableButton), "Contact +") 
                    }
                }                
            </div>
        </div>
    </div>

</div>




