﻿<style>
    /*#tblInternalNoteList tbody tr td {
        max-width: 200px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }*/
</style>
<table id="tblInternalNoteList" class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>            
            @*<th style="width: 195px;">Date<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th style="width: 1180px;">Note<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th style="width: 171px;">Added by<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>*@
            <th>Date</th>
            <th>Note</th>
            <th>Added by</th>
        </tr>
    </thead>
</table>
<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
