﻿@model CL.TMS.DataContracts.ViewModel.Common.SupportingDocumentsRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Security.Authorization

@{
    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.SupportingDocumentPartialView)ViewData["SupportingDocument"];

    bool isStaff = false;
    var user = TMSContext.TMSPrincipal;

    if (user.Identity.IsAuthenticated)
    {
        if (SecurityContextHelper.IsStaff())
        {
            isStaff = true;
        }
    }
    var isInvalid = partialViewData.InvalidFormFieldList;
    bool isReadOnly = false;

    bool isBankInfoSubmitted = (Model.Status == (ApplicationStatusEnum.BankInformationSubmitted) || (Model.Status == ApplicationStatusEnum.BankInformationApproved)) ? true : false;

    var prefix = partialViewData.prefix;
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "RequiredDocuments");

    bool allowDisable = false;
    bool allowDownload = false;
    bool allowDelete = false;
    bool isSupportingDocReadOnly = false;
    bool isSupportingDocEditSave = false;

    if (SecurityContextHelper.IsStaff())
    {
        var SupportingDocResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationSupportingDocuments);
        isSupportingDocReadOnly = SupportingDocResource == CL.TMS.Security.SecurityResultType.ReadOnly;
        isSupportingDocEditSave = SupportingDocResource == CL.TMS.Security.SecurityResultType.EditSave;
    }

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Open:
                if (isStaff)
                {
                    isReadOnly = true;
                    allowDisable = true;
                    allowDownload = false;
                    allowDelete = false;
                }
                else
                {
                    allowDisable = (isReadOnly);
                    allowDownload = true;
                    allowDelete = true;
                }
                break;

            case ApplicationStatusEnum.BackToApplicant:
                if (isStaff)
                {
                    isReadOnly = true;
                    allowDisable = (isReadOnly || isSupportingDocReadOnly);
                    allowDownload = (partialViewData.allowFileDownload.Value || isSupportingDocEditSave);
                    allowDelete = (partialViewData.allowFileDelete.Value || isSupportingDocEditSave);
                    break;
                }
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;

            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                //when participant login after application approved
                if (SecurityContextHelper.IsParticipant())
                {
                    isReadOnly = true;
                    allowDisable = true;
                    allowDownload = false;
                    allowDelete = false;
                }
                if (SecurityContextHelper.IsStaff())
                {
                    allowDisable = (isReadOnly || isSupportingDocReadOnly);
                    allowDownload = (partialViewData.allowFileDownload.Value || isSupportingDocEditSave);
                    allowDelete = (partialViewData.allowFileDelete.Value || isSupportingDocEditSave);
                }
                break;
            default:
                isReadOnly = false;
                break;
        }
    }
}

<div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">

            @if (isStaff)
            {
                <img id="StaffFlagSupportingDocuments" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png">
            }
            else
            {
                <img id="flagSupportingDocuments" src="/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark">
            }

            @UIResource.CommonSupportingDocuments
        </a>
    </h4>
</div>
<div id="panelSupportingDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">

        <ul>
            <li>@UIResource.SupportingDocSendDoc</li>
            <li>@UIResource.SupportingDocFax.Replace("[CompanyFax]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Fax").Value)</li>
            <li>@UIResource.SupportingDocMailAddress.Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value)</li>
        </ul>


        <div class="row">
            <div class="col-sm-12">
                @Html.Hidden("BankInfo", false)
                @{
                    switch (Model.Status)
                    {
                        case ApplicationStatusEnum.Approved:
                        case ApplicationStatusEnum.BankInformationSubmitted:
                        case ApplicationStatusEnum.BankInformationApproved:
                        case ApplicationStatusEnum.Completed:
                            @Html.Partial("_FileUploadStewardApplication", new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/System/FileUpload/UploadCustomerFiles", GetFilesURL = "/System/FileUpload/GetUploadedCustomerFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedCustomerFile", AllowSelection = false, AllowDownload = allowDownload, AllowDelete = allowDelete, Disable = allowDisable, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName })
                            break;
                        default:
                        @Html.Partial("_FileUploadStewardApplication", new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/System/FileUpload/UploadFiles", GetFilesURL = "/System/FileUpload/GetUploadedFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedFile", AllowSelection = false, AllowDownload = allowDownload, AllowDelete = allowDelete, Disable = allowDisable, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName })
                            break;
                    }
                }
            </div>
        </div>
    </div>
</div>


