﻿
@model CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/js/FileUpload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/js/FileUpload/css/jquery.fileupload-ui.css">

<!-- The file upload form used as target for the file upload widget -->
<form id="fileupload">
    <label id="uploadDocumentLabel">@UIResource.SupportingDocUploadDocuments</label><br>
    <table id="filesToUploadGrid" class="table table-striped"></table>

    <div id="fileUploadDropzone" class="dropzone fileinput-button" style="min-height: 200px">
        <div class="dz-default dz-message">
        </div>
        <input id="fileUploadInput" type="file" name="files" multiple accept=".xls,.xlsx,.doc,.docx,.pdf,.jpeg,.jpg,.gif,.bmp,.tiff,.png">
    </div>
    <input type="hidden" id="transactionID" value=@Model.TransactionID />
    <input type="hidden" id="addFilesURL" value=@Model.AddFilesURL />
    <input type="hidden" id="getFilesURL" value=@Model.GetFilesURL />
    <input type="hidden" id="disableDropZone" value=@Model.Disable />
    <input type="hidden" id="deleteFilesURL" value=@Model.DeleteFileURL />
    <input type="hidden" id="allowSelection" value=@Model.AllowSelection />
    <input type="hidden" id="allowDownload" value=@Model.AllowDownload />
    <input type="hidden" id="allowDelete" value=@Model.AllowDelete />
    <input type="hidden" id="currUploadFiles" value=@Model.CountOfUploadedDocuments.ToString() />
    <input type="hidden" id="fileUploadSectionName" value=@Model.FileUploadSectionName />


    <!-- /Modal  -->
    <!-- Modal: Confirm File Deletion -->
    <div class="modal fade" id="modalConfirmDeletionOfUploadedFile" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDeletionOfUploadedFile" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-90">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="modalConfirmDeletionOfUploadedFileCloseBtn"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalApprove" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <input type="hidden" class="form-control" id="modalConfirmDeletionOfUploadedFileTargetId" />
                        <h4>@UIResource.FileUploadAreYouSure<br />'<span id="confirmFileNameToDelete"></span>'?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalConfirmDeletionOfUploadedFileNoBtn" class="btn btn-default">@UIResource.CommonWordNo</button>
                    <button type="button" id="modalConfirmDeletionOfUploadedFileYesBtn" class="btn color-tm-green-bg">@UIResource.CommonWordYes</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(function () {
        var disableDropZone = Boolean($('#disableDropZone').val());
        if (disableDropZone) {
            $('#fileUploadDropzone').hide();
            $('#uploadDocumentLabel').hide();
        }

        $('#modalConfirmDeletionOfUploadedFileNoBtn').on('click', function (e) {
            $('#modalConfirmDeletionOfUploadedFile').modal('hide');
        });

        $('#modalConfirmDeletionOfUploadedFileCloseBtn').on('click', function (e) {
            $('#modalConfirmDeletionOfUploadedFile').modal('hide');
        });
    });
</script>

<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
@*<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>*@
<!-- blueimp Gallery script -->
@*<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>*@
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/js/FileUpload/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
@*<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>*@
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/FileUpload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/FileUpload/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/FileUpload/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/FileUpload/jquery.fileupload-image.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/FileUpload/jquery.fileupload-validate.js"></script>
<!-- The File Upload authenticationUser interface plugin -->
<script src="/js/FileUpload/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/js/FileUpload/vendorFileUpload.js"></script>


