﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    ViewBag.Title = "Retail Connection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        .btn-space {
            margin-right: 5px;
        }

        .table.dataTable tr {
            cursor: pointer;
        }

        .td-center{
            text-align:center;
        }

        .rc-panel .panel-heading {
            min-width: 300px;
        }                   

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable { 
            border-collapse: collapse;
            width: 100% !important;
        } 

        /*OTSTM2-843 clicking more, make sure alignment*/
        .move-right-25px{
            padding-left:25px !important;
        }
        .move-right-20px{
            padding-left:20px !important;
        }
        .move-right-15px{
            padding-left:15px !important;
        }  
        .move-right-10px{
            padding-left:10px !important;
        }        

        .popoverMessage {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            display: none;
            max-width: 310px;
            height: 250px;
            padding: 1px;
            text-align: left;
            white-space: normal;
            background-color: white;
            color: black;
            font: normal normal normal 14px/1 FontAwesome;
            display: block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            overflow-y: scroll;
        }

        .popoverMessage.bottom {
                margin-top: -5px;
        }

        .dropdown-menu {
                height: auto;
                max-height: 200px;
                overflow-x: hidden;
         }

    </style>
}


<div class="tm-all staff-all-rc" ng-controller="retailConnectionController" id="retailConnectionController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Retail Connection</h2>
        </div>
        @if (SecurityContextHelper.IsStaff())
        {
            if (SecurityContextHelper.CurrentVendor != null)
            {
                <div class="col-xs-5 col-sm-6">
                    @Html.Partial("_ParticipantHeader", SecurityContextHelper.CurrentVendor)
                </div>
            }
        }
    </div>
    <div class="panel-container-other">
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RetailConnectionAllRetailConnectionAllRetailers) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <rc-panel-view rc-url="@Url.Action("LoadAllStaffRetailers", "RetailConnection", new { area = "RPM" })" type="Staff Retailer" header="All Retailers"></rc-panel-view>
            </div>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RetailConnectionAllRetailConnectionAllProducts) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <rc-panel-view rc-url="@Url.Action("LoadAllStaffProducts", "RetailConnection", new { area = "RPM" })" type="Staff Product" header="All Products"></rc-panel-view>
            </div>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RetailConnectionAllRetailConnectionProductCategories) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                @if ((bool)ViewBag.IsCategoryVisible)
                {
                    <rc-panel-view rc-url="@Url.Action("LoadAllProductCategories", "RetailConnection", new { area = "RPM" })" type="Product Category" header="Product Categories"></rc-panel-view>
                }
            </div>
        }

        @Html.Partial("_RcPanelTemplate")
        @Html.Partial("_RcCommonTemplate")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.RetailConnnection = {
            InitializeRetailerFormDataUrl: '@Url.Action("InitializeRetailerFormData", "RetailConnection", new { area = "RPM" })',
            InitializeProductFormDataUrl: '@Url.Action("InitializeProductFormData", "RetailConnection", new { area = "RPM" })',
            InitializeCategoryFormDataUrl: '@Url.Action("InitializeCategoryFormData", "RetailConnection", new { area = "RPM" })',
            AddCategoryFormDataUrl: '@Url.Action("AddCategoryFormData", "RetailConnection", new { area = "RPM" })',
            AddStaffRetailerFormDataUrl: '@Url.Action("AddStaffRetailerFormData", "RetailConnection", new { area = "RPM" })',
            UploadProductFileURL: '@Url.Action("UploadProductFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryProductFileURL: '@Url.Action("DeleteTemporaryProductFile", "FileUpload", new { area = "System" })',
            GetRetailerEditFormDataUrl: '@Url.Action("GetRetailerEditFormData", "RetailConnection", new { area = "RPM" })',
            EditStaffRetailerFormDataUrl: '@Url.Action("EditStaffRetailerForm", "RetailConnection", new { area = "RPM" })',

            GetProductEditFormDataUrl: '@Url.Action("GetProductEditFormData", "RetailConnection", new { area = "RPM" })',
            EditProductFormUrl: '@Url.Action("EditProductForm", "RetailConnection", new { area = "RPM" })',
            EditStaffProductFormUrl: '@Url.Action("EditStaffProductForm", "RetailConnection", new { area = "RPM" })',
            LoadCategoryProductFormUrl: '@Url.Action("LoadProductCategories", "RetailConnection", new { area = "RPM" })',
            GetRetailersForProductUrl: '@Url.Action("LoadRetailersForProduct", "RetailConnection", new { area = "RPM" })',
            ApproveProductUrl: '@Url.Action("ApproveProduct", "RetailConnection", new { area = "RPM" })',
            RejectProductUrl: '@Url.Action("RejectProduct", "RetailConnection", new { area = "RPM" })',
            ActiveProductUrl: '@Url.Action("ActiveProduct", "RetailConnection", new { area = "RPM" })',
            InactiveProductUrl: '@Url.Action("InactiveProduct", "RetailConnection", new { area = "RPM" })',
            ChangeCategoryStatusUrl: '@Url.Action("ChangeCategoryStatus", "RetailConnection", new { area = "RPM" })',
            GetCategoryEditFormDataUrl: '@Url.Action("GetCategoryEditFormData", "RetailConnection", new { area = "RPM" })',

            ApproveRetailerUrl: '@Url.Action("ApproveRetailer", "RetailConnection", new { area = "RPM" })',
            RejectRetailerUrl: '@Url.Action("RejectRetailer", "RetailConnection", new { area = "RPM" })',
            ActiveRetailerUrl: '@Url.Action("ActiveRetailer", "RetailConnection", new { area = "RPM" })',
            InactiveRetailerUrl: '@Url.Action("InactiveRetailer", "RetailConnection", new { area = "RPM" })',

            ExportUrl: '@Url.Action("GetExport", "RetailConnection", new { area = "System" })',
            CheckExportUrl: '@Url.Action("CheckExport", "RetailConnection", new { area = "System" })',

            inactiveConfirmMessage: 'Are you sure you want to inactivate ',
            activeConfirmMessage: 'Are you sure you want to activate ',
            approveConfirmMessage: 'Are you sure you want to approve ',
            rejectConfirmMessage: 'Are you sure you want to reject ',

            CheckRetailerNameUrl: '@Url.Action("CheckRetailerName", "RetailConnection", new { area = "RPM" })',

            ExportStaffRetailerUrl: '@Url.Action("GetStaffRetailerExport", "RetailConnection", new { area = "RPM" })',
            ExportStaffProductUrl: '@Url.Action("GetStaffProductExport", "RetailConnection", new { area = "RPM" })',
            ExportProductCategoryUrl: '@Url.Action("GetProductCategoryExport", "RetailConnection", new { area = "RPM" })',
            PageEditable: '@ViewBag.IsEditable'.toLowerCase(),

            IsAllRetailersEditable: '@ViewBag.IsAllRetailersEditable'.toLowerCase(),
            IsAllProductsEditable: '@ViewBag.IsAllProductsEditable'.toLowerCase(),
            IsProductCategoriesEditable: '@ViewBag.IsProductCategoriesEditable'.toLowerCase(),

        };

        Global.RetailConnnection.Settings = {
            isStaff: '@(SecurityContextHelper.IsStaff())',
            isParticipant: '@(SecurityContextHelper.IsParticipantAdmin())',
        };
        Global.InternalNoteSettings = {
            LoadInternalNotesUrl: '@Url.Action("GetRetailerInternalNotes", "RetailConnection", new { area = "RPM" })',
            AddInternalNotesUrl: '@Url.Action("AddRetailerNotesHandler", "RetailConnection", new { area = "RPM" })',
        };

</script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Areas/RPM/Scripts/RetailConnection/retail-connection-app.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/transaction-list-common")
}
