﻿@{

}



<input type="button"  @*class="btn btn-default btn-sm"*@ class="btn btn-success" data-toggle="modal" data-target="#modalImportSPSTransactions" id="import" value="Import" style="margin-left:5px; margin-top:70px" />

<!--Modal Import-->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalImportSPSTransactions" tabindex="-1" role="dialog" aria-labelledby="modalImportSPSTransactions" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">SPS Transactions</h3>
            </div>

            <div class="modal-body">
                <!--Body-->
                <span>Select your CSV file to import. (Note: The CSV File must follow the template provided.)</span>
                <span>
                    <input type="file"
                           style="visibility:hidden; width: 1px;"
                           id='selectFile' name='selectFile'
                           onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))" /> <!-- Chrome security returns 'C:\fakepath\'  -->
                    <input class="btn btn-default" type="button" value="Import CSV File..." onclick="$(this).parent().find('input[type=file]').click();" /> <!-- on button click fire the file click event -->
                    &nbsp;
                    <span class="badge badge-important" id="showFile"></span>
                </span>
            </div>
            <div class="modal-footer">            
                <button type="button" id="modalImportSPSTransactionsCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    @UIResource.Cancel
                </button>
                <button type="submit" id="modalImportSPSTransactionsImportBtn" class="btn btn-success btn-lg" data-dismiss="modal" @*data-toggle="modal" data-target="#modalImportSPSTransactionsConfirm"*@ disabled>
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirm Import-->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalImportSPSTransactionsConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalImportSPSTransactionsConfirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalImportSPSTransactionsConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you want to import file <strong>&nbsp;<span id="modalImportSPSTransactionsFileName"></span>&nbsp;</strong>?</h4>
                    <h4 class="txt-c" style="color:red"><strong>Note: Any Incorrect file imported in error,requires you to manually void each transaction. </strong></h4>
                    <h4 class="txt-c">Confirm to proceed? </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalImportSPSTransactionsCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" id="modalImportSPSTransactionsYesBtn" class="btn btn-success btn-lg">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Error or Success-->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalImportSPSTransactionsErrorOrSuccess" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalImportSPSTransactionsErrorOrSuccess" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalImportSPSTransactionsErrorOrSuccessTitle" align="center"></h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c" id="modalImportSPSTransactionsErrorOrSuccessBody"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalImportSPSTransactionsOkBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    OK
                </button>              
            </div>
        </div>
    </div>
</div>

<script>

    $("#selectFile").change(function () {
        var file = $(this).val();
        if (file != "") {
            var fileName = $(this).val().split('/').pop().split('\\').pop();
            $("#modalImportSPSTransactionsFileName").html(fileName);
            $("#modalImportSPSTransactionsImportBtn").removeAttr("disabled");         
        }
    });

    $('#modalImportSPSTransactionsImportBtn').on("click", function () {
        var fileName = $("#modalImportSPSTransactionsFileName").html();
        if (fileName.split('.').pop().toLowerCase() == "csv") {
            $('#modalImportSPSTransactionsConfirm').modal('show');
        }
        else {
            $('#modalImportSPSTransactionsErrorOrSuccess').modal('show');
            $('#modalImportSPSTransactionsErrorOrSuccessTitle').text("Warning");
            $('#modalImportSPSTransactionsErrorOrSuccessBody').text("Your import has failed because the file you have attempted to import was not a CSV file. Please review your file and try again. ");
        }
    });

    $('#modalImportSPSTransactionsOkBtn').on("click", function () {
        if ($('#modalImportSPSTransactionsErrorOrSuccessBody').text().indexOf("successfully imported")>=0) {
            window.location.reload(true);
        }      
    });

    $("#modalImportSPSTransactions").on("show.bs.modal", function (e) {
        $("#showFile").html("");
        $("#selectFile").val("");
        $('#messageForError').text("");
        $("#modalImportSPSTransactionsImportBtn").attr("disabled", "disabled");
    });

    $("#modalImportSPSTransactionsConfirm").on("hide.bs.modal", function (e) {
        $("#selectFile").val("");
        $("#modalImportSPSTransactionsImportBtn").attr("disabled", "disabled");
    })

    $("#import").on("click", function (e) {      
        e.preventDefault();
        e.stopPropagation();
        $('#modalImportSPSTransactions').modal('show');
        $('#messageForError').text("");      
    });

    $("#modalImportSPSTransactionsYesBtn").on("click", function () {
        var formdata = new FormData();
        var file = document.getElementById("selectFile").files[0];
        formdata.append("fileToImport", file);
        formdata.append("claimId", Global.Transaction.ClaimId)
        $.ajax({
            url: '/RPM/Transaction/Import',
            type: 'Post',
            processData: false,
            contentType: false,
            dataType: 'json',
            data: formdata,
            success: function (result) {
                $('#modalImportSPSTransactionsConfirm').modal('hide');
                $('#modalImportSPSTransactionsErrorOrSuccess').modal('show');
                $('#modalImportSPSTransactionsErrorOrSuccessTitle').text(result.MessageTitle);
                if (result.Status == "success" || result.Status == "fail") {                  
                    $('#modalImportSPSTransactionsErrorOrSuccessBody').html(result.MessageBody);
                }
                else if (result.Status == "datafail") {
                    var text = "<p style=\"text-align: left;\">Your import has failed because of the ";    
                    if (!result.MessageBodyDataError) {
                        text=text+"CSV file is not match the provided template:</p>";
                    } else if (result.MessageBodyDataError.length > 0) {
                        text=text+ "following Column(s) & Row(s):</p>";
                        var arrayA = [], arrayB = [], arrayC = [], arrayD = [], arrayE = [], arrayF = [], arrayG = [], arrayH = [], arrayI = [], arrayJ = [], arrayK = [], arrayL = [], arrayM = [], arrayN = [], arrayO = [], arrayP = [];
                        for (i = 0; i < result.MessageBodyDataError.length; i++) {                         
                            switch (result.MessageBodyDataError[i].Column) {
                                case "A":
                                    arrayA.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "B":
                                    arrayB.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "C":
                                    arrayC.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "D":
                                    arrayD.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "E":
                                    arrayE.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "F":
                                    arrayF.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "G":
                                    arrayG.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "H":
                                    arrayH.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "I":
                                    arrayI.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "J":
                                    arrayJ.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "K":
                                    arrayK.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "L":
                                    arrayL.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "M":
                                    arrayM.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "N":
                                    arrayN.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "O":
                                    arrayO.push(result.MessageBodyDataError[i].Row);
                                    break;
                                case "P":
                                    arrayP.push(result.MessageBodyDataError[i].Row);
                                    break;
                            }
                        }
                        if (arrayA.length > 0) {
                            var textA = "<p style=\"text-align: left; margin-left: 50px\">-Column A - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayA.length; i++) {
                                rows = rows + arrayA[i] + ", ";
                            }
                            textA = textA + rows.slice(0, -2) + "</p>";
                            text = text + textA;
                        }
                        if (arrayB.length > 0) {
                            var textB = "<p style=\"text-align: left; margin-left: 50px\">-Column B - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayB.length; i++) {
                                rows = rows + arrayB[i] + ", ";
                            }
                            textB = textB + rows.slice(0, -2) + "</p>";
                            text = text + textB;
                        }
                        if (arrayC.length > 0) {
                            var textC = "<p style=\"text-align: left; margin-left: 50px\">-Column C - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayC.length; i++) {
                                rows = rows + arrayC[i] + ", ";
                            }
                            textC = textC + rows.slice(0, -2) + "</p>";
                            text = text + textC;
                        }
                        if (arrayD.length > 0) {
                            var textD = "<p style=\"text-align: left; margin-left: 50px\">-Column D - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayD.length; i++) {
                                rows = rows + arrayD[i] + ", ";
                            }
                            textD = textD + rows.slice(0, -2) + "</p>";
                            text = text + textD;
                        }
                        if (arrayE.length > 0) {
                            var textE = "<p style=\"text-align: left; margin-left: 50px\">-Column E - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayE.length; i++) {
                                rows = rows + arrayE[i] + ", ";
                            }
                            textE = textE + rows.slice(0, -2) + "</p>";
                            text = text + textE;
                        }
                        if (arrayF.length > 0) {
                            var textF = "<p style=\"text-align: left; margin-left: 50px\">-Column F - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayF.length; i++) {
                                rows = rows + arrayF[i] + ", ";
                            }
                            textF = textF + rows.slice(0, -2) + "</p>";
                            text = text + textF;
                        }
                        if (arrayG.length > 0) {
                            var textG = "<p style=\"text-align: left; margin-left: 50px\">-Column G - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayG.length; i++) {
                                rows = rows + arrayG[i] + ", ";
                            }
                            textG = textG + rows.slice(0, -2) + "</p>";
                            text = text + textG;
                        }
                        if (arrayH.length > 0) {
                            var textH = "<p style=\"text-align: left; margin-left: 50px\">-Column H - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayH.length; i++) {
                                rows = rows + arrayH[i] + ", ";
                            }
                            textH = textH + rows.slice(0, -2) + "</p>";
                            text = text + textH;
                        }
                        if (arrayI.length > 0) {
                            var textI = "<p style=\"text-align: left; margin-left: 50px\">-Column I - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayI.length; i++) {
                                rows = rows + arrayI[i] + ", ";
                            }
                            textI = textI + rows.slice(0, -2) + "</p>";
                            text = text + textI;
                        }
                        if (arrayJ.length > 0) {
                            var textJ = "<p style=\"text-align: left; margin-left: 50px\">-Column J - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayJ.length; i++) {
                                rows = rows + arrayJ[i] + ", ";
                            }
                            textJ = textJ + rows.slice(0, -2) + "</p>";
                            text = text + textJ;
                        }
                        if (arrayK.length > 0) {
                            var textK = "<p style=\"text-align: left; margin-left: 50px\">-Column K - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayK.length; i++) {
                                rows = rows + arrayK[i] + ", ";
                            }
                            textK = textK + rows.slice(0, -2) + "</p>";
                            text = text + textK;
                        }
                        if (arrayL.length > 0) {
                            var textL = "<p style=\"text-align: left; margin-left: 50px\">-Column L - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayL.length; i++) {
                                rows = rows + arrayL[i] + ", ";
                            }
                            textL = textL + rows.slice(0, -2) + "</p>";
                            text = text + textL;
                        }
                        if (arrayM.length > 0) {
                            var textM = "<p style=\"text-align: left; margin-left: 50px\">-Column M - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayM.length; i++) {
                                rows = rows + arrayM[i] + ", ";
                            }
                            textM = textM + rows.slice(0, -2) + "</p>";
                            text = text + textM;
                        }
                        if (arrayN.length > 0) {
                            var textN = "<p style=\"text-align: left; margin-left: 50px\">-Column N - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayN.length; i++) {
                                rows = rows + arrayN[i] + ", ";
                            }
                            textN = textN + rows.slice(0, -2) + "</p>";
                            text = text + textN;
                        }
                        if (arrayO.length > 0) {
                            var textO = "<p style=\"text-align: left; margin-left: 50px\">-Column O - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayO.length; i++) {
                                rows = rows + arrayO[i] + ", ";
                            }
                            textO = textO + rows.slice(0, -2) + "</p>";
                            text = text + textO;
                        }
                        if (arrayP.length > 0) {
                            var textP = "<p style=\"text-align: left; margin-left: 50px\">-Column P - Row(s) ";
                            var rows = "";
                            for (var i = 0; i < arrayP.length; i++) {
                                rows = rows + arrayP[i] + ", ";
                            }
                            textP = textP + rows.slice(0, -2) + "</p>";
                            text = text + textP;
                        }
                    }
                    text = text + "<p>Please review your CSV file and try again.</p>";
                    $('#modalImportSPSTransactionsErrorOrSuccessBody').html(text);
                }
            }
        });
    });
</script>