﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Processor;
@model ProcessorClaimSummaryModel

@{
    ViewBag.Title = "Participant Claim Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/css/datatable-tm")
    <style>
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .table.clickable tr {
            cursor: pointer;
        }

        .btn-add {
            margin-top: 10px !important;
        }

        .panel-body.transportation-incentive {
            height: 380px;
        }

        #rate-viewdetail-notes > div.panel-body {
            height: 475px;
        }

        .dataTables_wrapper {
            height: 300px !important;
        }

        .limited-width {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .table_scrollBody {
            max-height: 160px;
            position: relative;
            width: 100%;
        }

        .position-fixed-x {
            position: relative;
        }

        .position-fixed-y {
            position: relative;
        }

        .disableClick {
            pointer-events: none;
            /*visibility: hidden;*/
        }

        .ratecolor-yellow {
            background-color: #f7bc69;
        }

        .ratecolor-green {
            background-color: #c4dc85;
        }

        .ratecolor-blue {
            background-color: #61b3dd;
        }

        table > tbody > tr.ratecolor-green > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-blue > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-yellow > td {
            border-top: none;
        }

        .datepicker td, .datepicker th, .daterangepicker td, .daterangepicker th {
            text-transform: capitalize;
            font-size: 1.0em;
        }

        div.datepicker-months > table > thead > tr > th.datepicker-switch {
            pointer-events: none;
        }

        div.modal-content.ng-scope {
            min-width: 600px;
        }

        #internalNoteBody {
            height: 230px !important;
        }

        /*$('[id^=popover]').css('overflow-y','auto').css('overflow-x','hidden')*/
        [id^="popover"] {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        div.popover > div.popover-content {
            padding-left: 12px !important;
        }

        .btn-close {
            color: #fff !important;
            border: none;
            background-color: #90a4ae;
            border-bottom: 2px #607d8b solid;
            height: 34px;
        }
    </style>
}
<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

<style>
    .btn-close {
        color: #fff !important;
        border: none;
        background-color: #90a4ae;
        border-bottom: 2px #607d8b solid;
        height: 34px;
    }
</style>

<script type="text/ng-template" id="modelSpecificRate.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Specific Processing Incentive Rates ($/t)
            </h3>
        </div>
        <div class="modal-body">
            <!--(Effective Start/End Date) col-sm-5 -->
            <div class="row form-inline">
                <div class="col-md-4">
                    <label class="control-label" style="font-size:large;">Start Date: {{rateVM.startDate}}</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label" style="font-size:large;">End Date: {{rateVM.endDate}}</label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <!--SPS on-road row 1-->
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td rowspan="4" class="text-center" width="22%;"><strong style="font-size:xx-large;color:white;">SPS<br /></strong><strong style="font-size:large; color:white;">(On-Road)</strong></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><div style="width:110px;"><strong>TDP1</strong></div></td>
                                <td width="8%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2(Feedstock)</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--SPS on-road row 2-->
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3FeedstockOnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4OnRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5OnRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr style="height:5px;" class="ratecolor-yellow"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>

                            <!--SPS off-road row 1-->
                            <tr style="height:35px;" class="ratecolor-green">
                                <td rowspan="4" class="text-center" width="20%;"><strong style="font-size:xx-large;color:white;">SPS</strong><br /><strong style="font-size:large;color:white;">(Off-Road)</strong></td>

                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2(Feedstock)</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-green">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <!--SPS off-road row 2-->
                            <tr style="height:35px;" class="ratecolor-green">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4(Feedstock)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-green">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3FeedstockOffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4OffRoad}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5OffRoad}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <tr style="height:5px;" class="ratecolor-green"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>

                            <!--PIT row 1-->
                            <tr style="height:40px;" class="ratecolor-blue">
                                <td rowspan="6" class="text-center" width="20%;"><strong style="font-size:xx-large;color:white;">PIT</strong></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP1</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP2</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP3</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>Transfer-Fiber/Rubber</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP1}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP2}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP3}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TransferFibreRubber}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--row 2-->
                            <tr style="height:35px;" class="ratecolor-blue">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4FF</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP4FF(No PI)</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5FT</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP5NT</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4FF}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP4FFNoPI}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5FT}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP5NT}}</span></td>
                                <td width="10%;"></td>
                            </tr>
                            <!--row 3-->
                            <tr style="height:35px;" class="ratecolor-blue">
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP6NP</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP6FP</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP7NT</strong></td>
                                <td width="10%;"></td>
                                <td class="text-center" width="10%;" style="vertical-align:bottom;"><strong>TDP7FT</strong></td>
                                <td width="10%;"></td>
                            </tr>
                            <tr class="ratecolor-blue">

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP6NP}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP6FP}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP7NT}}</span></td>
                                <td width="10%;"></td>

                                <td ng-if="isView" width="10%;"><span class="form-control">{{rateVM.processingIncentiveRate.TDP7FT}}</span></td>
                                <td width="10%;"></td>
                            </tr>

                            <tr style="height:5px;" class="ratecolor-blue"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- ///////////// HTML Top ///////////// -->
<div class="tm-all participants-all-claims ng-cloak" ng-controller="processorClaimSummaryController" id="processorClaimSummary">
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Claim Summary </h2>
            <claim-bread-crumb></claim-bread-crumb>
            @Html.Partial("_ClaimSummaryBreadCrumb")
            <div class="sub-header-companyname fixed-claim-header-claimdate-participant" style="vertical-align:bottom;">
                {{ ProcessorClaimSummary.ClaimCommonModel.ClaimPeriodName }}
            </div>
            <div class="btn-group" style="margin-top:-5px; margin-left:6px;">
                <button type="button" class="btn btn-close" ng-click="loadTopInfoBar()"><i class="glyphicon fa fa-usd fa-lg" aria-hidden="true" style="margin-top:-5px; margin-left:4px"></i></button>
            </div>
            <div class="btn-group" style="margin-top:-5px; margin-left:2px;">
                <button type="button" class="btn btn-close" ng-click="openRateDetailsModal()" ng-if="HasSpecificRate">
                    <i class="glyphicon fa fa-bullseye fa-lg" aria-hidden="true" style="margin-top:-5px; margin-left:4px"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">{{ ProcessorClaimSummary.ClaimCommonModel.RegistrationNumber }}</div>
        </div>
    </div><!--/.row-->
    <!-- Component: Panels Expand / Collapse All -->

    <div class="row">
        <div class="col-md-6">
            <!-- Component: Inbound -->
            @Html.Partial("_ProcessorInboundPartial")

            <!-- Component: Inventory & Adjustments-->
            @Html.Partial("_ProcessorInventoryAdjustPartial")


            <!-- Component: Internal Adjustments -->
            @Html.Partial("_ProcessorInternalAdjustmentPartial")


            <!-- Component: Messages -->

        </div>
        <div class="col-md-6">
            <!-- Component: Outbound -->
            @Html.Partial("_ProcessorOutboundPartial")

            <!-- Component: Transaction Adjustments -->
            @*@Html.Partial("_ProcessorTransactionAdjustmentPartial")*@
            @Html.Partial("_CommonTransactionAdjustPartial")

            <!-- Component: Payments & Adjustments -->
            @Html.Partial("_ProcessorPaymentPartial")

        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_CommonClaimSupportingDocPartial", new ViewDataDictionary() {
           { "TransactionId", @ViewBag.ClaimsId },
           { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
           { "ClaimsStatus", @ViewBag.ClaimsStatus },
           { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsProcessorClaimSummarySupportingDocuments) }
       })
        </div>
    </div>

    <submit-claimcheck model="ProcessorClaimSummary" submit-info="submitInfo" submit-btn="submitBtn" ng-if="dataloaded"></submit-claimcheck>
    @Html.Partial("_SubmitModalPartial")
    @Html.Partial("_ClaimExport")
    <br />

    <!-- Modal: Internal Adjustments  -->
    <script type="text/ng-template" id="internalAdjustModal.html">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 20px;">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <h4>Choose Type</h4>
                            <select class="form-control" id="internaladj-selector"
                                    ng-options="item.name for item in items"
                                    ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                        </div>
                    </div>
                    <div id="internaladj-weight" class="internaladj-options" ng-show="selectedItem.id=='1'">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="overall" ng-disabled="isReadOnly">
                                        Overall
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="inbound" ng-disabled="isReadOnly">
                                        Inbound
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-1-1" ng-model="modalResult.direction" value="outbound" ng-disabled="isReadOnly">
                                        Outbound
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="">Weight (t)</label>
                                <input type="number" class="form-control" ng-model="modalResult.onroad" placeholder="0.0000" ng-pattern="/^-?[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" ng-disabled="isReadOnly">
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div id="internaladj-tirecounts" class="internaladj-options" ng-show="selectedItem.id=='2'">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-1" value="overall" ng-model="modalResult.direction" ng-disabled="isReadOnly">
                                        Overall
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-1" value="inbound" ng-model="modalResult.direction" ng-disabled="isReadOnly">
                                        Inbound
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-2-1" value="outbound" ng-model="modalResult.direction" ng-disabled="isReadOnly">
                                        Outbound
                                    </label>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" style="background:none!important;">
                                    <thead>
                                        <tr>
                                            <th>PLT</th>
                                            <th>MT</th>
                                            <th>AG/LS</th>
                                            <th>IND</th>
                                            <th>SOTR</th>
                                            <th>MOTR</th>
                                            <th>LOTR</th>
                                            <th>GOTR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.plt" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.mt" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.agls" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.ind" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.sotr" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.motr" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.lotr" ng-disabled="isReadOnly"></td>
                                            <td><input type="number" class="form-control" placeholder="+/-" min="-100000" max="100000" ng-model="modalResult.gotr" ng-disabled="isReadOnly"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/.row-->
                    </div>
                    <div id="internaladj-payment" class="internaladj-options" ng-show="selectedItem.id=='4'">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        Overall
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="PTR" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        PTR
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="SPS" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        SPS
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="PITOutbound" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        Outbound PIT
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio-internaladj-option-3-1" value="DOR" ng-model="modalResult.paymentType" ng-disabled="isReadOnly">
                                        DOR
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 txt-r">
                                <br>
                                <label for="">Amount ($)</label>
                                <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-pattern="/^-?[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="isReadOnly">
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-show="!isReadOnly">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-show="isReadOnly">
                    <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                    <i class="fa fa-floppy-o fa-1x"></i>
                    Save
                </button>
            </div>
        </div>
    </script>

    <!-- Modal: Internal Adjustments: Confirm  -->
    <script type="text/ng-template" id="internalAdjustConfirmModal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" ng-show="!isReadOnly">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>

    </script>
    @Html.Partial("_VendorRateGroupInfoPartial")

    @Html.Partial("_ProcessorCommonTemplates")

    @*<div data-loading-spinner style="position: absolute; display: block; top: 50%; left: 50%; z-index: 1003;"><img src="~/Images/spinner.gif" /></div>*@
</div>

@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId'
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System" })',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            VendorRateInfoUrl: '@Url.Action("GetVendorGroupInfoByVid", "Rates", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadPIRatesByTransactionIDUrl: '@Url.Action("LoadPIRatesByTransactionID", "Claims")',
            UpdateHSTUrl: '@Url.Action("UpdateHST", "Claims", new { area = "System" })',
        };
        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };
        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.ParticipantClaimsSummary.Resources = {
            TotalOpening: '@UIResource.TotalOpening',
            TotalInbound: '@UIResource.TotalInbound',
            TotalOutbound: '@UIResource.TotalOutbound',

            OverallAdjustments: '@UIResource.OverallAdjustments',
            ClosingInventory: '@UIResource.ClosingInventory',
            ProcessingCapacity: '@UIResource.ProcessingCapacity'
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")'
        };
    </script>

    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/processor-claim-angular")
    @Scripts.Render("~/bundles/processor-claim-participant")
    @*<script type="text/javascript" src="/Areas/Processor/Scripts/Claims/Processor-claim-summary-controller.js?v=@ViewBag.versionid"></script>*@
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/processor-claim-list")
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}

