﻿@using CL.TMS.Common
@using CL.TMS.Security.Authorization
@using CL.TMS.Security
@{
    ViewBag.Title = "SPS Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HtmlHelper.ClientValidationEnabled = false;
    int currUserId;
    currUserId = Convert.ToInt32(CL.TMS.Security.Authorization.SecurityContextHelper.CurrentUser.Id);
    SecurityResultType currentPageAccessPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsProcessorClaimSummaryOutbound);
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
<style>
    table.dataTable {
        table-layout: fixed;
        min-width: 1700px !important;
    }
</style>
}

@if ((currentPageAccessPermission >= CL.TMS.Security.SecurityResultType.ReadOnly) || (SecurityContextHelper.IsParticipant()))
{
    <div class="tm-all participants-all-claims" ng-controller="TransactionCtrl">
        @Html.Partial("_ProcessorHeader")

        @if (@ViewBag.AllowAddTransaction)
        {
            <button type="button" style="margin-top:70px" class="btn btn-success btn-add" open-transaction-paper-form claim-id="@ViewBag.ClaimId" type-id="@ViewBag.TypeId" direction="@ViewBag.Direction" title="Add SPS Paper Form">+</button>
        }

        @Html.Partial("_ProcessorTransactionListContainer")

        <!-- Templates Used -->
        @Html.Partial("_ProcessorPaperFormSPSTemplate")

        @Html.Partial("_ProcessorCommonTemplates")
        <!-- /Templates Used -->
    </div>
}
else
{
    Response.Redirect("/System/Common/UnauthorizedPage");
}

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/transaction-list-common")

    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/Areas/Processor/Scripts/Transaction/transaction-processor-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>

    @*<script src="~/js/Transaction/transaction-generic-list.js"></script>*@
    @Scripts.Render("~/bundles/transaction-generic-list")

    <script type="text/javascript">
        Global = {};
        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimId',
            VendorCode: '@ViewBag.VendorCode',
            TransactionType: '@ViewBag.TransactionType',
            ListName: 'All SPS Transactions',
            AccessPermission: '@currentPageAccessPermission',
        };

        Global.Settings = {
            DatePickerFormat: '@CL.TMS.Common.TreadMarksConstants.DateFormat',

            InitializePaperFormServiceURL: '@Url.Action("initializePaperForm", "Transaction", new { area = @ViewBag.VendorCode })',
            AddPaperFormServiceURL: '@Url.Action("AddPaperTransaction" + @ViewBag.TransactionType, "Transaction", new { area = @ViewBag.VendorCode })',

            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
            isStaff: JSON.parse('@CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff()'.toLocaleLowerCase()),
        };

        @{
            if (CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
            {
                //call staff list view
                <text>
        $(function () {
            var columnNames = [
            { columnName: 'InvoiceDate', },
            { columnName: 'TransactionFriendlyId', },
            { columnName: 'ReviewStatus', },
            { columnName: 'Adjustment', className: 'td-center', orderable: false, },
            { columnName: 'NotesAllText', className: 'td-center', orderable: false, width: '5%', },

            { columnName: 'VendorNumber', },
            { columnName: 'VendorBusinessName', className: 'td-center', },
            { columnName: 'Destination', className: 'td-center', },

            { columnName: 'InvoiceNbr', className: 'td-center', },

            { columnName: 'ProductType', className: 'td-center', orderable: false, },
            { columnName: 'MeshRange', className: 'td-center', orderable: false, },

            { columnName: 'ScaleWeight', className: 'td-center', },
            { columnName: 'Rate', className: 'td-center', orderable: false, },
            { columnName: 'AmountDollar', className: 'td-center', orderable: false, width: '9%', },
            { columnName: 'Actions', className: 'td-center', orderable: false, width: '7%', },
            { columnName: 'TransactionId', className: 'display-none', orderable: false, },

            { columnName: 'ID', className: 'display-none', orderable: false, },
            { columnName: 'CreatedUserId', className: 'display-none', orderable: false, }];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("StaffExportToExcel", "Transaction", new { area = "Processor", transactionType = "SPS", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "notype", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetProcessorStaffTransactionsList", "Transaction", new { area = "Processor", ClaimId = @ViewBag.ClaimId, DataType = "SPS" }))',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                userRole: "staff",
                transactionType: "SPS",
                subDataType: "noType",
                modalPaperForm: 'modalSPSPaperForm',
                modaliPad: 'modalSPSiPad',

                currUserId: '@currUserId',
                InvalidateTransactionHandler: '@Url.Action("InvalidateTransaction", "Transactions", new { area = "System" })',
                ApproveTransactionHandler: '@Url.Action("ApproveTransaction", "Transactions", new { area = "System" })',

                modalInvalidate: '#modalInvalidate',
                modalApprove: '#modalApprove',
                modalInvalidateTypeText: '#modalInvalidateTypeText',
                modalInvalidateTransNumText: '#modalInvalidateTransNumText',
                btnInvalidateYes: '#btnInvalidateYes',
                modalApproveTypeText: '#modalApproveTypeText',
                modalApproveTransNumText: '#modalApproveTransNumText',
                btnApproveYes: '#btnApproveTransaction',
            });
        });
        </text>
            }
            else
            {
                //call participant list view
                <text>
        $(function () {
            var columnNames = [
            { columnName: 'InvoiceDate', },
            { columnName: 'TransactionFriendlyId', },
            { columnName: 'ReviewStatus', },
            { columnName: 'Adjustment', className: 'td-center', orderable: false, },
            { columnName: 'VendorNumber', },

            { columnName: 'VendorBusinessName', className: 'td-center', },
            { columnName: 'Destination', className: 'td-center', orderable: false, },

            { columnName: 'InvoiceNbr', className: 'td-center', },

            { columnName: 'ProductType', className: 'td-center', orderable: false, },
            { columnName: 'MeshRange', className: 'td-center', orderable: false, },
            { columnName: 'ScaleWeight', className: 'td-center', },

            { columnName: 'Rate', className: 'td-center', orderable: false, },
            { columnName: 'AmountDollar', orderable: false, className: 'td-center', },
            { columnName: 'Actions', className: 'td-center', orderable: false, width: '7%', },
            { columnName: 'TransactionId', className: 'display-none', orderable: false, },
            { columnName: 'ID', className: 'display-none', orderable: false, }];

            $('#tblTransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                columnNames: columnNames,
                exportUrl: '@Html.Raw(@Url.Action("ExportToExcel", "Transaction", new { area = "Processor", transactionType = "SPS", claimId = @ViewBag.ClaimId, searchText = "----", dataSubType = "notype", sortColumn = "AAA", sortDirection = "BBB" }))',
                ajaxHandler: '@Html.Raw(@Url.Action("GetTransactionListHandler", "Transaction", new {ClaimId = @ViewBag.ClaimId, DataType = "SPS" }))',
                userHandler: '@Url.Action("GetUserList", "Claims")',
                transactionType: "SPS",
                subDataType: "noType",
                modalPaperForm: 'modalSPSPaperForm',
                modaliPad: 'modalSPSiPad',
            });
        })
        </text>
            }
        }
    </script>
}
