﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    ViewBag.Title = "Company Information";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    <link href="~/css/cube/datatable_styles.css" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    <style>
        .table tbody > tr > td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .glyphicon {
            padding-right: 15px;
        }

        .required-validity {
            color: #dd191d;
        }

        .form-group.has-required .form-control-feedback {
            opacity: 0.15;
        }

        .form-control {
            padding-right: 35px;
        }

        #internalNoteBody {
            height: 230px !important;
        }

        .drop-file-enabled {
            position: absolute;
            margin: -23px -29px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=100)';
            font-size: 43px;
            direction: ltr;
            cursor: pointer;
            height: 100%;
            width: 60%;
        }

        .drop-file-disabled {
            position: absolute;
            margin: -23px -29px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=100)';
            font-size: 43px;
            direction: ltr;
            cursor: not-allowed !important;
            height: 100%;
            width: 60%;
        }

        div.popover > div.popover-content {
            padding-left: 12px !important;
        }
        /*.tooltip-inner {
            max-width: 250px;*/
        /* If max-width does not work, try using width instead */
        /*width: 250px;*/
        /*}*/
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="companyInformationController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Company Branding - Information</h2>
        </div>
    </div>
    <div class="panel panel-default panel-body" id="companyInformationContents" style="margin-top:90px;">
        <h3>
            <span style="border-bottom:2px solid #b0bec5;">Company Information</span>
        </h3>
        <company-information-section company-info-view-model="companyInfoViewModel" company-information-validity="companyInformationValidity" is-view="isView"></company-information-section>

        <h3>
            <span style="border-bottom:2px solid #b0bec5;">Logo</span>          
            <i class="fa fa-question-circle" id="logo-title-question-mark" data-placement="right" title=""></i>
        </h3>
        <company-logo-uploader current-supporting-document="currentSupportingDocument" is-view="isView"></company-logo-uploader>
    </div>
    <div>
        <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" parent-id="{{rateTransactionID}}" panel-arrow="company-information-internal-notes" is-view="isView"></manage-internal-notes>
    </div>

    <div style="margin-top:20px">
        <button ng-click="submitContent()" ng-disabled="isView" type="submit" class="btn btn-success save-btn pull-right margin-top--10 btn-lg" style="margin-right:-5px;">
            <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o" style="padding-right:0px"></i>
            Save
        </button>
        <button ng-disabled="isView" ng-click="cancelChange()" type="button" class="btn btn-danger cancel-btn pull-right margin-top--10 btn-lg" style="margin-right:5px">
            <i class="glyphicon fa icon-ban glyphicon-ban fa-ban" style="padding-right:0px"></i>
            Cancel
        </button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.CompanyInformation = {

            ConfirmHtml: '<h4>Are you sure you want to <strong>save</strong> the changes?</h4>',
            CancelHtml: '<h4>Are you sure you want to <strong>cancel</strong> the changes?</h4>',

            LoadCompanyInformationUrl: '@Url.Action("LoadCompanyInformationVM", "CompanyBranding", new { area = "System" })',
            LoadCompanyLogoPathUrl: '@Url.Action("LoadCompanyLogoUrl", "CompanyBranding", new { area = "System" })',
            UpdateCompanyInformationUrl: '@Url.Action("UpdateCompanyInformation", "CompanyBranding", new { area = "System" })',

            UploadLogoFileURL: '@Url.Action("UploadCompanyLogoFile", "FileUpload", new { area = "System" })',

            LoadNotesUrl: '@Url.Action("LoadCompanyInformationInternalNotes", "CompanyBranding", new { area = "System" })',
            AddNoteUrl: '@Url.Action("AddCompanyInformationInternalNote", "CompanyBranding", new { area = "System" })',
            ExportNotesUrl: '@Url.Action("ExportCompanyInformationInternalNotes", "CompanyBranding", new { area = "System" })',

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                CompanyInformation: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingCompanyInformation)',
            },
        };
        Global.InternalNoteSettings = {
            currentOpenId: 0,
            InternalExportUrl: '',
        };
        Global.Settings = {
            popover: {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                width: '300',
                delay: { show: 300, hide: 800 },
                padding: true
            },
            logoContent: 'Recommended file formats JPG, GIF or PNG, with dimesions 168 x 50'
        };

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    <script type="text/javascript" src="~/js/Shared/summernote-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/CompanyBranding/company-branding-app.js?v=@ViewBag.versionid"></script>
}
<script type="text/ng-template" id="company-information-section.html">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group has-required">
                <label class="control-label" for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" placeholder="" ng-model="companyInfoViewModel.CompanyName" name="companyName" ng-disabled="isView" maxlength="65">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.companyName">Invalid Business Name</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-required">
                <label class="control-label" for="addressLine1">Address Line 1</label>
                <input type="text" class="form-control" id="addressLine1" placeholder="" ng-model="companyInfoViewModel.AddressLine1" name="addressLine1" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.addressLine1">Invalid Address Line 1</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="" ng-model="companyInfoViewModel.City" name="city" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.city">Invalid City</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="province">Province</label>
                <input type="text" class="form-control" id="province" placeholder="" ng-model="companyInfoViewModel.Province" name="province" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.province">Invalid Province/State</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="addressLine2" placeholder="" ng-model="companyInfoViewModel.AddressLine2" name="addressLine2" ng-disabled="isView" maxlength="50">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="postal">Postal/Zip</label>
                <input type="text" class="form-control" id="postal" placeholder="" ng-model="companyInfoViewModel.PostalCode" name="postal" ng-disabled="isView">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.postal || companyInformationValidity.postal_regex">Invalid Postal Code</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="country">Country</label>
                <select class="form-control" id="country" name="country" ng-model="companyInfoViewModel.Country" ng-change="countryChange()" ng-options="country for country in companyInfoViewModel.CountryList" ng-disabled="isView">
                    <option value="">Please Select</option>
                </select>
                <p class="required-validity" ng-if="companyInformationValidity.country">Invalid Country</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group has-required">
                <label class="control-label" for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="" ng-model="companyInfoViewModel.PhoneNumber" name="phone" ng-disabled="isView">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.phone">Invalid Phone</p>
                <p class="required-validity" ng-if="companyInformationValidity.phone_regex">Expected format ###-###-####</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="ext">Ext.</label>
                <input type="text" class="form-control" id="ext" placeholder="" ng-model="companyInfoViewModel.Ext" name="ext" ng-disabled="isView" maxlength="12">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group has-required">
                <label class="control-label" for="fax">Fax</label>
                <input type="text" class="form-control" id="fax" placeholder="" ng-model="companyInfoViewModel.Fax" name="fax" ng-disabled="isView">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.fax">Invalid Fax</p>
                <p class="required-validity" ng-if="companyInformationValidity.fax_regex">Expected format ###-###-####</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group has-required">
                <label class="control-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="" ng-model="companyInfoViewModel.Email" name="email" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.email || companyInformationValidity.email_regex">Invalid Email</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group has-required">
                <label class="control-label" for="website">Website(URL)</label>
                <input type="text" class="form-control" id="webSite" placeholder="" ng-model="companyInfoViewModel.WebSite" name="website" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.webSite || companyInformationValidity.webSite_regex">Invalid Website</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="facebook">Facebook(URL)</label>
                <input type="text" class="form-control" id="facebook" placeholder="" ng-model="companyInfoViewModel.Facebook" name="facebook" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.facebook || companyInformationValidity.facebook_regex">Invalid Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-required">
                <label class="control-label" for="twitter">Twitter(URL)</label>
                <input type="text" class="form-control" id="twitter" placeholder="" ng-model="companyInfoViewModel.Twitter" name="twitter" ng-disabled="isView" maxlength="50">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <p class="required-validity" ng-if="companyInformationValidity.twitter || companyInformationValidity.twitter_regex">Invalid Twitter</p>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="documentUploader.html">

    <div class="row" style="margin-top:50px;margin-bottom:50px">
        <div class="col-md-6">
            <div class="dropzone" style="min-height: 300px; width:460px; margin:0 auto">
                <input ng-file-select="onFileSelect($files)" type="file" title="Drop files to upload (or click)" accept=".gif, .jpg, .png" ng-disabled="isView" ng-class="isView?'drop-file-disabled':'drop-file-enabled'">
            </div>
            <!-- should use ng-messages but this is a custom validation -->
            <div ng-show="invalidFileFormat" style="color:#dd191d; text-align: center;" role="alert">
                <ng-message>Invalid file format.</ng-message>
            </div>
        </div>
        <div class="col-md-6">
            <div style="border: 2px dashed #7E8C8D; height:300px; width: 460px; margin:0 auto; position: relative">
                <img id="SupportingDocumentZoom" src="/img/image-unavailable.png" logo-preview img-src="currentSupportingDocument.url" style="width:168px; height:50px; position:absolute; margin:auto; top:0; left:0; right:0; bottom:0" />
                <div style="position:absolute;margin:auto; top:0;left:0;width:146px;height:125px;background-color: #f3f3f3; opacity: 0.5; border-right:2px dashed #7E8C8D; border-bottom:2px dashed #7E8C8D"></div>
                <div style="position:absolute;margin:auto; top:0;left:0;right:0; width:168px;height:123px;background-color: #f3f3f3; opacity: 0.5; border-left:2px dashed #7E8C8D; border-right:2px dashed #7E8C8D;"></div>
                <div style="position:absolute;margin:auto; top:0;right:0;width:146px;height:125px;background-color: #f3f3f3; opacity: 0.5; border-left:2px dashed #7E8C8D; border-bottom:2px dashed #7E8C8D"></div>
                <div style="position:absolute;margin:auto; bottom:0;left:0;width:146px;height:125px;background-color: #f3f3f3; opacity: 0.5;border-top:2px dashed #7E8C8D;border-right:v"></div>
                <div style="position:absolute;margin:auto; bottom:0;left:0;right:0; width:168px;height:123px;background-color: #f3f3f3; opacity: 0.5; border-left:2px dashed #7E8C8D;border-right:2px dashed #7E8C8D"></div>
                <div style="position:absolute;margin:auto; bottom:0;right:0;width:146px;height:125px;background-color: #f3f3f3; opacity: 0.5;border-left:2px dashed #7E8C8D;border-top:2px dashed #7E8C8D"></div>
                <div style="position:absolute;margin:auto; top:0;bottom:0;left:0;width:144px;height:50px;background-color: #f3f3f3; opacity: 0.5;border-top:2px dashed #7E8C8D;border-bottom:2px dashed #7E8C8D"></div>
                <div style="position:absolute;margin:auto; top:0;bottom:0;right:0;width:144px;height:50px;background-color: #f3f3f3; opacity: 0.5; border-top:2px dashed #7E8C8D; border-bottom:2px dashed #7E8C8D"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="cancel-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="cancelMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<div style="display:none"><canvas id="myCanvas" width="578" height="200"></canvas></div>@*OTSTM2-845 added for getTextWidth(text, font) *@

<script type="text/ng-template" id="company-information-internal-notes.html">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelNotes-headingOne">

            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" @*href="#panelNotes-collapseOne"*@ href="#{{panelArrow}}" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes
                </a>
            </h4>
            <h4 class="panel-title">
                <internal-notes-export search-text='{{searchNote}}' sort-reverse='{{sortReverse}}' sort-column='{{sortType}}' url='{{exportUrl}}' file-name="InternalNotes">
                </internal-notes-export>
            </h4>

            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" style="{{searchStyle}}" ng-model="searchNote" id="search" ng-blur="blur()" ng-keyup="search()" ng-class="{in: searchNote}">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="removeIcon($event)"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="{{panelArrow}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                @*@if ((bool)(ViewBag.InterNotesPermission == CL.TMS.Security.SecurityResultType.EditSave))*@
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaModel" ng-disabled="isView"></textarea>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()" ng-disabled="isView">+</button>
                <br>
                <br>
                <div class="internal-wrap">
                    <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td style="width: 175px">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedOn'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td id="{{panelArrow}}-notes-width" style="width:75%">
                                    <a href="javascript:void(0);" ng-click="sortType = 'Note'; sortReverse = !sortReverse">
                                        Note
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td style="width: 175px">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedBy'; sortReverse = !sortReverse" id="tdAddedBy">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="height: 200px; overflow-y: auto; margin-top: -10px" id="internalNoteBody">
                        <table class="table table-hover internal-note-table" style="margin-right: 5px;">
                            <tbody>
                                <tr ng-repeat="note in filtered = (allInternalNotes | orderBy:sortType:sortReverse | filter:searchNote| limitTo:quantity)">
                                    <td style="width: 175px">{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>
                                    <td ng-if="checkNoteSize(note.Note)" width="75%" style="cursor: pointer" class="internal-note{{$index}}">
                                        <span internal-note-hover-popover data-note="{{note.Note}}">{{stripNotes(note.Note)}}</span>
                                    </td>
                                    <td ng-if="!checkNoteSize(note.Note)" width="75%" class="internal-note{{$index}}">
                                        <span>{{note.Note}}</span>
                                    </td>
                                    <td style="width: 175px">{{note.AddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:void(0);" ng-click="quantity = allInternalNotes.length; showMore = !showMore" ng-show="showMore && allInternalNotes.length > quantity" id="internal-viewmore">More</a>
                </div>
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
</script>

<script type="text/ng-template" id="companyInformationAnchorExport.html">
    <a id="internal-export" class="export" title="Export to CSV" href='javascript:void(0);' ng-style="anchorCss">
        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
    </a>
</script>