﻿
<script type="text/ng-template" id="anchorExport.html">
    <a id="internal-export" class="export" title="Export to CSV" href='javascript:void(0);' ng-style="anchorCss">
        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
    </a>
</script>