﻿@using CL.TMS.Resources

<script type="text/ng-template" id="date-display-view.html">
    <label>{{label}}</label>
    <p class="margin-top--3">{{date | date:format}}</p>
</script>
<script type="text/ng-template" id="date-display-bold-view.html">
    <label><strong>{{label}}</strong></label>
    <p class="margin-top--3">{{date | date:format}}</p>
</script>
