﻿@using CL.TMS.Resources

<script type="text/ng-template" id="scale-ticket-view.html">
    <div class="row" ng-show="scaleTicketModel.singleTicketType">
        <div class="col-md-2 txt-r">
            <p><strong>Scale Ticket</strong></p>
        </div>
        <div class="col-md-4">
            <img ng-src="{{ previewDomainName + scaleTicketModel.ticketPhotos[0] }}" scale-ticket-smooth-zoom width="250px" height="250px" />
        </div>
        <div class="col-sm-5">
            <table class="table table-hover margin-top-0">
                <thead>
                    <tr>
                        <th>Ticket #</th>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Weight ({{scaleTicketModel.unit}})</th>
                        <th ng-show="!isAdjustment()">&nbsp;</th>
                    </tr>
                </thead>
                <tbody ng-show="isAdjustment()">
                    <tr>
                        <td>
                            <div class="form-group" cl-show-errors>
                                <input type="text" name="singleScaleTicketNumber" ng-model="scaleTicketModel.tickets[0].ticketNumber" maxlength="50" class="form-control" placeholder="" ng-required="scaleTicketModel.singleTicketType" />
                                <span class="help-block" ng-if="singleScaleTicketNumber.$error">Required</span>
                            </div>
                            
                        </td>
                        <td class="txt-r">Gross</td>
                        <td class="textinput-nofield txt-r"><input type="text" name="singleScaleInboundWeight" ng-model="scaleTicketModel.tickets[0].inboundWeight" inbound-weight="scaleTicketModel.tickets[0].inboundWeight" outbound-weight="scaleTicketModel.tickets[0].outboundWeight" valid-scale-weight ng-required="scaleTicketModel.tickets[0].ticketNumber.length > 0" class="form-control" placeholder=""></td>                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="txt-r">Tare</td>
                        <td class="textinput-nofield txt-r"><input type="text" name="singleScaleOutboundWeight" ng-model="scaleTicketModel.tickets[0].outboundWeight" inbound-weight="scaleTicketModel.tickets[0].inboundWeight" outbound-weight="scaleTicketModel.tickets[0].outboundWeight" valid-scale-weight ng-required="scaleTicketModel.tickets[0].ticketNumber.length > 0" class="form-control" placeholder=""></td>                        
                    </tr>                                   
                </tbody>
                <tbody ng-show="!isAdjustment()">
                    <tr>
                        <td>{{scaleTicketModel.tickets[0].ticketNumber}}</td>
                        <td class="txt-r">Gross</td>
                        <td class="textinput-nofield txt-r">{{scaleTicketModel.tickets[0].inboundWeight}}</td>
                        <td class="text-r">-</td>
                    </tr>
                    <tr>
                        <td><strong>Date</strong></td>
                        <td class="txt-r">Tare</td>
                        <td class="textinput-nofield txt-r">{{scaleTicketModel.tickets[0].outboundWeight}}</td>
                        <td class="text-r">=</td>
                    </tr>
                    <tr>
                        <td>{{scaleTicketModel.tickets[0].createdOn | date:'yyyy-MM-dd'}}</td>
                        <td class="txt-r"><strong>Net</strong></td>
                        <td class="textinput-nofield txt-r"><strong>{{scaleTicketModel.netWeight |  number : 4}}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="txt-r">Variance</td>
                        <td class="textinput-nofield txt-r">{{scaleTicketModel.variance |  number : 2}}</td>
                        <td class="text-r">%</td>
                    </tr>
                </tbody>
            </table>
            <div id="GrossTareBusinessRuleErrorMessage" style="display:none">Tare weight should be less than Gross Weight.</div> @*OTSTM2-1235 The validation message about the business rule: inbound > outbound*@
        </div>
    </div> 

    <div class="row" ng-show="!scaleTicketModel.singleTicketType">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Scale Tickets</strong></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center" ng-repeat="photo in scaleTicketModel.ticketPhotos">
                    <img ng-src="{{ previewDomainName + photo }}" scale-ticket-smooth-zoom width="300px" height="300px" />
                </div>
            </div>

            <div class="row"> <div class="col-md-12">&nbsp;</div></div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <table class="table table-hover margin-top--20 margin-bottom-0" ng-show="!isAdjustment()">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th class="txt-c">Ticket #</th>
                                <th class="txt-c">Date</th>
                                <th>&nbsp;</th>
                                <th style="text-align:right">Weight ({{scaleTicketModel.unit}})</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ticket in scaleTicketModel.tickets">
                                <td><span ng-show="ticket.ticketType == 1">Inbound</span><span ng-show="ticket.ticketType == 2">Outbound</span></td>
                                <td>{{ticket.ticketNumber}}</td>
                                <td>{{ticket.createdOn | date:'yyyy-MM-dd'}}</td>
                                <td class="txt-r"><span ng-show="ticket.ticketType == 1">Gross</span><span ng-show="ticket.ticketType == 2">Tare</span></td>
                                <td class="textinput-nofield txt-r"><span ng-show="ticket.ticketType == 1">{{ticket.inboundWeight}}</span><span ng-show="ticket.ticketType == 2">{{ticket.outboundWeight}}</span></td>
                                <td class="text-r"><span ng-show="ticket.ticketType == 1">-</span><span ng-show="ticket.ticketType == 2">=</span></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="txt-r"><strong>Net</strong></td>
                                <td class="textinput-nofield txt-r"><strong>{{scaleTicketModel.netWeight |  number : 4}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="txt-r">Variance</td>
                                <td class="textinput-nofield txt-r">{{scaleTicketModel.variance |  number : 2}}</td>
                                <td class="text-r">%</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover margin-top--20 margin-bottom-0" ng-show="isAdjustment()">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th class="txt-c">Ticket #</th>
                                <th>&nbsp;</th>
                                <th style="text-align:right">Weight ({{scaleTicketModel.unit}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="inboundTicket">
                                <td>Inbound</td>
                                <td>
                                    <div class="form-group" cl-show-errors>
                                        <input type="text" name="inboundScaleTicketNumber" ng-model="inboundTicket.ticketNumber" maxlength="50" class="form-control" placeholder="" ng-required="!scaleTicketModel.singleTicketType" />
                                        <span class="help-block" ng-if="inboundScaleTicketNumber.$error">Required</span>
                                    </div>                                    
                                </td>
                                <td class="txt-r">Gross</td>
                                <td class="textinput-nofield txt-r"><input type="text" name="inboundScaleWeight" ng-model="inboundTicket.inboundWeight" valid-scale-weight ng-required="inboundTicket.ticketNumber.length > 0" class="form-control" placeholder=""></td>
                            </tr>  
                            
                            <tr ng-show="outboundTicket">
                                <td>Outbound</td>
                                <td>
                                    <div class="form-group" cl-show-errors>
                                        <input type="text" name="outboundScaleTicketNumber" ng-model="outboundTicket.ticketNumber" maxlength="50" class="form-control" placeholder="" ng-required="!scaleTicketModel.singleTicketType" />
                                        <span class="help-block" ng-if="outboundScaleTicketNumber.$error">Required</span>
                                    </div>                                    
                                </td>
                                <td class="txt-r">Tare</td>
                                <td class="textinput-nofield txt-r"><input type="text" name="outboundScaleWeight" ng-model="outboundTicket.outboundWeight" valid-scale-weight ng-required="outboundTicket.ticketNumber.length > 0" class="form-control" placeholder=""></td>
                            </tr>                                                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</script>

