﻿@using CL.TMS.Resources

<script type="text/ng-template" id="formDatePicker.html">
    <div class="form-group" cl-show-errors>
        <label for="formDate">{{labelText}}</label>
        <p class="input-group">
            <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="{{datePicker.dateTimeFormat}}" show-weeks="false" date-disabled="disabled(date, mode)" custom-class="disabledClass(date, mode)" ng-model="formDate.on" is-open="datePicker.status" min-date="getDate(formDate.minDate)" max-date="getDate(formDate.maxDate)" init-date="focusDate" ng-required="true" close-text="@UIResource.Close" />
            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
        <span class="help-block" ng-if="form.formDate.$error">Required</span>
    </div>
</script>