﻿@using CL.TMS.Resources

<script type="text/ng-template" id="tire-type-count-view.html">
    <table class="table comp-modal-table-p margin-bottom-0">
        <thead>
            <tr>
                <th ng-class="changeAlertStyle('PLT')" ng-if="tireTypeAvailable('PLT')">PLT</th>
                <th ng-class="changeAlertStyle('MT')" ng-if="tireTypeAvailable('MT')">MT</th>
                <th ng-class="changeAlertStyle('AGLS')" ng-if="tireTypeAvailable('AGLS')">AG/LS</th>
                <th ng-class="changeAlertStyle('IND')" ng-if="tireTypeAvailable('IND')">IND</th>
                <th ng-class="changeAlertStyle('SOTR')" ng-if="tireTypeAvailable('SOTR')">SOTR</th>
                <th ng-class="changeAlertStyle('MOTR')" ng-if="tireTypeAvailable('MOTR')">MOTR</th>
                <th ng-class="changeAlertStyle('LOTR')" ng-if="tireTypeAvailable('LOTR')">LOTR</th>
                <th ng-class="changeAlertStyle('GOTR')" ng-if="tireTypeAvailable('GOTR')">GOTR</th>
                <th ng-if="displayGenerateTires()">Gen. Tires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-if="tireTypeAvailable('PLT')"><p ng-class="changeAlertStyle('PLT')">{{tireTypeByType('PLT').count}}</p></td>
                <td ng-if="tireTypeAvailable('MT')"><p ng-class="changeAlertStyle('MT')">{{tireTypeByType('MT').count}}</p></td>
                <td ng-if="tireTypeAvailable('AGLS')"><p ng-class="changeAlertStyle('AGLS')">{{tireTypeByType('AGLS').count}}</p></td>
                <td ng-if="tireTypeAvailable('IND')"><p ng-class="changeAlertStyle('IND')">{{tireTypeByType('IND').count}}</p></td>
                <td ng-if="tireTypeAvailable('SOTR')"><p ng-class="changeAlertStyle('SOTR')">{{tireTypeByType('SOTR').count}}</p></td>
                <td ng-if="tireTypeAvailable('MOTR')"><p ng-class="changeAlertStyle('MOTR')">{{tireTypeByType('MOTR').count}}</p></td>
                <td ng-if="tireTypeAvailable('LOTR')"><p ng-class="changeAlertStyle('LOTR')">{{tireTypeByType('LOTR').count}}</p></td>
                <td ng-if="tireTypeAvailable('GOTR')"><p ng-class="changeAlertStyle('GOTR')">{{tireTypeByType('GOTR').count}}</p></td>
                <td ng-if="displayGenerateTires()">{{generateTires ? 'Yes' : 'No'}}</td>
            </tr>
        </tbody>
    </table>
</script>