﻿@using CL.TMS.Resources

<script type="text/ng-template" id="scale-ticket.html">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <label>Scale Ticket #</label>
                <input type="text" name="scaleTicketNumber" ng-disabled="isDisabled()" ng-model="scaleTicket.ticketNumber" ng-change="scaleTicketNumberChange()" maxlength="50" class="form-control" placeholder="" ng-required="isTicketNumberMandatory()">
                <span class="help-block" ng-if="form.ticketNumber.$error">Required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <label>Scale Weight ({{weighTypeLabel(scaleTicket.weightType)}})</label><br>
                <input type="text" name="scaleWeight" ng-disabled="isDisabled()" ng-model="scaleTicket.weight" valid-scale-weight ng-required="scaleTicket.ticketNumber.length > 0" class="form-control" placeholder="">
                <div class="btn-group float-right margin-top--1">
                    <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(3, scaleTicket.weightType)" ng-if="weighTypeAvailable(3)" ng-model="scaleTicket.weightType" uib-btn-radio="3">t</label>
                    <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(2, scaleTicket.weightType)" ng-if="weighTypeAvailable(2)" ng-model="scaleTicket.weightType" uib-btn-radio="2">kg</label>
                    <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(1, scaleTicket.weightType)" ng-if="weighTypeAvailable(1)" ng-model="scaleTicket.weightType" uib-btn-radio="1">lbs</label>
                </div><br />
                <span class="help-block" ng-if="form.scaleWeight.$error">Required</span>
            </div>
        </div>
    </div>
</script>