﻿@using CL.TMS.Resources

<script type="text/ng-template" id="signature-view.html">
    <div class="row">
        <div class="col-md-6 signature txt-c">
            <div ng-show="signature.incomingExists">
                <img ng-src="{{previewDomainName + signature.incomingSrc}}" style="width: 100%; height: 108px">                
                <div class="signline"></div>
                <p>{{signature.incomingLabel}}: <strong>{{signature.incomingName}}</strong></p>
            </div>
        </div>

        <div class="col-md-6 signature txt-c">
            <div ng-show="signature.outgoingExists">
                <img ng-src="{{previewDomainName + signature.outgoingSrc}}" style="width: 100%; height: 108px">
                <div class="signline"></div>
                <p>{{signature.outgoingLabel}}: <strong>{{signature.outgoingName}}</strong></p>
            </div>
        </div>
    </div>
</script>