﻿@using CL.TMS.Resources

<script type="text/ng-template" id="invoice-number.html">
    <div class="form-group" cl-show-errors>
        <label for="invoiceNumber">Invoice #</label>
        <input type="text" name="invoiceNumber" ng-model="invoiceNumber" class="form-control" required>
        <span class="help-block" ng-if="form.invoiceNumber.$error">Required</span>
    </div>
</script>