﻿@using CL.TMS.Resources

<script type="text/ng-template" id="vendor-information-collector.html">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <span ng-show="label"><label>{{label}}</label></span>
                <span ng-show="!label">
                    <label ng-if="isCollector()" for="vendorNumber">Collector #</label>
                    <label ng-if="isHauler()" for="vendorNumber">Hauler #</label>
                    <label ng-if="isProcessor()" for="vendorNumber">Processor #</label>
                    <label ng-if="isRPM()" for="vendorNumber">RPM #</label>
                </span>

                <input type="text" name="vendorNumber" ng-model="vendorNumber" class="form-control" placeholder="" ng-change="resetVendorInfo()" ng-blur="getVendorInfo()" numbers-only validate-vendor-number="{{vendorInfoRequired}}" vendor-code-list="{{vendorCode}}" ng-required="vendorInfoRequired" />

                <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notReady">Unable to validate. Select the date</span>                

                <div ng-if="isMultiMode()">
                    <span class="help-block" ng-if="form.vendorNumber.$error.validFormat">A valid registration number required</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notFound">Vendor registration not found for the specified registration number</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notActive">Vendor was inactive on the date specified</span>
                </div>

                <div ng-if="isCollector()">
                    <span class="help-block" ng-if="form.vendorNumber.$error.validFormat">Should be seven digits starting with 2</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notFound">Collector not found for the specified collector number</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notActive">Collector was inactive on the date specified</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.sameAsCurrent">Collector # same as the current Collector</span>
                </div>

                <div ng-if="isHauler()">
                    <span class="help-block" ng-if="form.vendorNumber.$error.validFormat">Should be seven digits starting with 3</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notFound">Hauler not found for the specified hauler number</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notActive">Hauler was inactive on the date specified</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.sameAsCurrent">Hauler # same as the current Hauler</span>
                </div>

                <div ng-if="isProcessor()">
                    <span class="help-block" ng-if="form.vendorNumber.$error.validFormat">Should be seven digits starting with 40</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notFound">Processor not found for the specified processor number</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notActive">Processor was inactive on the date specified</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.sameAsCurrent">Processor # same as the current Processor</span>
                </div>

                <div ng-if="isRPM()">
                    <span class="help-block" ng-if="form.vendorNumber.$error.validFormat">Should be seven digits starting with 5</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notFound">RPM not found for the specified RPM number</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.notActive">RPM was inactive on the date specified</span>
                    <span style="color: #a94442;" ng-if="form.vendorNumber.$error.sameAsCurrent">RPM # same as the current RPM</span>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="isVendorValid()">
            <label ng-if="isCollector()">Collector Info.</label>
            <label ng-if="isHauler()">Hauler Info.</label>
            <label ng-if="isProcessor()">Processor Info.</label>
            <label ng-if="isRPM()">RPM Info.</label>
            <br>
            <div ng-if="vendor.isFound">
                <span class="form-control-static">{{vendor.info.name}}</span><br>
                <span class="form-control-static">{{vendor.info.address.address1}} {{vendor.info.address.address2}} {{vendor.info.address.address3}}</span><br>
                <span class="form-control-static">{{vendor.info.address.city}}, {{vendor.info.address.province}}</span><br>
                <span class="form-control-static">{{vendor.info.address.postalCode}}</span>
            </div>
        </div>
    </div>
</script>