﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-tire-rim-detail-view.html">
    <label>Tire Rims</label>

    <div class="row">
        <div class="col-md-4">
            <label>PTR #</label><br />
            {{tireRimDetail.ptrNumber}}
        </div>
        <div class="col-md-4">
            <label>On-Road Scale Weight (t)</label><br />
            {{tireRimDetail.onRoadScaleWeight | number:4}}
        </div>
        <div class="col-md-4">
            <label>Off-Road Scale Weight (t)</label><br />
            {{tireRimDetail.offRoadScaleWeight | number:4}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Amount ($)</label><br />
            -{{tireRimDetail.amount | number:2}}
        </div>
        <div class="col-md-4">
            <label>On-Road Rate ($/t)</label><br />
            {{tireRimDetail.onRoadRate | number:3}}
        </div>
        <div class="col-md-4">
            <label>Off-Road Rate ($/t)</label><br />
            {{tireRimDetail.offRoadRate | number:3}}
        </div>
    </div>
</script>