﻿@using CL.TMS.Resources

<script type="text/ng-template" id="comment-view.html">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Comments</strong></p>
        </div>       
    </div>

    <div class="row">       
        <div class="col-md-12">
            <p ng-repeat="comment in commentList" style="word-wrap: break-word;">{{comment}}</p>
        </div>
    </div>
</script>