﻿@using CL.TMS.Resources

<script type="text/ng-template" id="manage-internal-notes.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelPaperFormInternalNotes-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelPaperFormInternalNotes-collapseOne" aria-expanded="true" aria-controls="panelPaperFormInternalNotes-collapseOne">
                    Internal Notes <!--<i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>-->
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" ng-model="filterText" placeholder=" search">
                <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
        </div>

        <div id="panelPaperFormInternalNotes-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaperFormInternalNotes-headingOne">
            <div class="panel-body">                
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" name="internalNote" ng-model="internalNoteModel.newNote" ng-disabled="disableBtnAdd"></textarea><br />
                        <button type="button" class="btn btn-success btn-add" ng-click="addNote()" ng-disabled="disableBtnAdd">+</button>
                    </div>
                </div>

                <div ng-show="internalNoteModel.noteList.length > 0">
                    <div class="row"><div class="col-md-12">&nbsp;</div></div>
                    <div class="row"><div class="col-md-12">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="height: 150px; overflow-y: auto;">
                                <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;">
                                    <thead>
                                        <tr>
                                            <th style="width: 175px">
                                                <span ng-click="sortType = 'addedOn'; sortReverse = !sortReverse" style="cursor:pointer;">
                                                    Date
                                                    <span ng-show="sortType == 'addedOn' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'addedOn' && sortReverse" class="fa fa-caret-up"></span>
                                                </span>
                                            </th>
                                            <th>
                                                <span ng-click="sortType = 'note'; sortReverse = !sortReverse" style="cursor:pointer;">
                                                    Note
                                                    <span ng-show="sortType == 'note' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'note' && sortReverse" class="fa fa-caret-up"></span>
                                                </span>
                                            </th>
                                            <th style="width: 175px">
                                                <span ng-click="sortType = 'addedBy'; sortReverse = !sortReverse" style="cursor:pointer;">
                                                    Added by
                                                    <span ng-show="sortType == 'addedBy' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'addedBy' && sortReverse" class="fa fa-caret-up"></span>
                                                </span>
                                            </th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="internalNote in internalNoteModel.noteList | filter: filterText | orderBy:sortType:sortReverse | limitTo:quantity">
                                            <td style="width: 175px">{{internalNote.addedOn | date:'yyyy-MM-dd hh:mm a'}}</td>
                                            <td><span style="cursor:pointer;" detailed-note-view={{popoverRequired(internalNote.note)}} note="internalNote.note">{{ getShortNote(internalNote.note) }}</span></td>
                                            <td style="width: 175px">{{internalNote.addedBy}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </div>
                    <a href="#" ng-click="quantity = internalNoteModel.noteList.length; showMore = !showMore" ng-show="showMore && internalNoteModel.noteList.length > quantity">More</a>
                </div>                
            </div>
        </div>
    </div>
</script>