﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using Newtonsoft.Json
@using CL.TMS.Security
@model List<CL.TMS.DataContracts.ViewModel.Common.BaseItemModel>

@{
    ViewBag.Title = "EstimatedWeights";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var weightCategories = JsonConvert.SerializeObject(Model);
}

@section styles{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link href="~/css/cube/nouislider.css?v=@ViewBag.versionid" rel="stylesheet" />
    @*@Styles.Render("~/css/datatable-tm")*@
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/Content/datepicker")

    <style>

    .panel-default > .panel-heading a.export,
    .panel-default > .panel-heading a.export:hover {
        background: none;
        left: 140px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    #internalNoteBody {
        height: 230px !important;
    }

    .required-validity {
        color: #dd191d;
    }

    .has-error {
        border: 1px solid;
        /* background-color: yellow; */
        border-color: red;
    }
    #input-number-min, #input-number-max {
	    padding: 7px;
	    margin: 15px 5px 5px;
	    width: 70px;
        display: block;
        margin : 0 auto;
    }

    .rowClickable {
        cursor: pointer;
    }

    .ratecolor-yellow {
        background-color: #f7bc69;
    }

    table > tbody > tr.ratecolor-yellow > td {
        border-top: none;
    }

    /*fix datatable white space when clicking hambourger icon(existing issue)*/
    table.dataTable { 
        border-collapse: collapse;
        width: 100% !important;
    } 

    /*display "..." if too long*/
    .table tbody > tr > td label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .noUi-target .noUi-handle {
        border-radius: 50%;
        transition: box-shadow .2s,transform .2s,-webkit-transform .2s;
    }

    .noUi-target.noUi-horizontal .noUi-handle {
        width: 22px;
        height: 22px;
        left: -8px;
        top: -10px;
    }

    .noUi-target.noUi-horizontal .noUi-handle:focus {
        outline: none !important;
    }

    .noUi-target .noUi-handle:after, .noUi-target .noUi-handle:before {
        content: none;
        width: 0;
        height: 0;
    }

    .noUi-connect {
        background: #03A9F4 !important;
    }

    .fa-6 {
        font-size: 20em;
        color:#E8E8E8;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
    }

    /*clicking more, make sure alignment*/
        /*.move-right-25px {
            padding-left: 25px !important;
        }*/

        .move-right-20px {
            padding-left: 20px !important;
        }       

    #supplyEstimatedWeightsTable .table thead > tr > th{
        text-transform:none;
    }
    </style>
}

<!--List page-->
<div class="tm-all staff-all-claims" ng-controller="estimatedWeightsController" id="estimatedWeightsController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Estimated Weights</h2>
        </div>
        <div class="col-xs-5 col-sm-6"></div>
    </div><!--/.row-->
    <div class="panel-container-other">
        <div class="row">
            <div class="col-md-12">
                @foreach (var weightCategory in Model)
                {
                    var array = weightCategory.ItemName.Split(' ');
                    if (weightCategory.SecurityResultType != "NoAccess" && @weightCategory.ItemValue == 1)
                    {
                        <supply-estimated-weight-list-panel-view weight-url="@Url.Action("LoadSupplyEstimatedWeightList", "ProductCompositions", new { area = "System", category = weightCategory.ItemValue})"
                                                                   category='@weightCategory.ItemValue'
                                                                   header="@array[0]"
                                                                   panel-name="@array[0]">
                        </supply-estimated-weight-list-panel-view>
                    }
                    if (weightCategory.SecurityResultType != "NoAccess" && @weightCategory.ItemValue == 2)
                    {
                        <recovery-estimated-weight-list-panel-view weight-url="@Url.Action("LoadRecoveryEstimatedWeightList", "ProductCompositions", new { area = "System", category = weightCategory.ItemValue})"
                                              category='@weightCategory.ItemValue'
                                              header="@array[0]"
                                              panel-name="@array[0]">
                        </recovery-estimated-weight-list-panel-view>
                    }
                    
                }
            </div>
        </div>     
        @Html.Partial("_EstimatedWeightsTemplate")
        @Html.Partial("_ClaimInternalNotesTemplate")
        @Html.Partial("_ClaimExport")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript">
        Global = {};
        Global.EstimatedWeights = {
           
            LoadRecoveryEstimatedWeightDetailsByTransactionIDUrl: '@Url.Action("LoadRecoveryEstimatedWeightDetailsByTransactionID", "ProductCompositions", new { area = "System" })',
            LoadSupplyEstimatedWeightDetailsByItemIDUrl: '@Url.Action("LoadSupplyEstimatedWeightDetailsByItemID", "ProductCompositions", new { area = "System" })',

            AddNewRecoveryEstimatedWeightUrl: '@Url.Action("AddNewRecoveryEstimatedWeight", "ProductCompositions", new { area = "System" })',
            EditRecoveryEstimatedWeightUrl: '@Url.Action("EditSaveRecoveryEstimatedWeight", "ProductCompositions", new { area = "System" })',
            RemoveTransactionUrl: '@Url.Action("RemoveFromList", "ProductCompositions", new { area = "System" })',

            EditSupplyEstimatedWeightUrl: '@Url.Action("EditSaveSupplyEstimatedWeight", "ProductCompositions", new { area = "System" })',

            AddNewNoteUrl: '@Url.Action("AddNotesHandler", "ProductCompositions", new { area = "System" })',
            LoadNotesListUrl: '@Url.Action("LoadTransactionNotesList", "ProductCompositions", new { area = "System" })',
            InternalNotesExportUrl: '@Url.Action("ExportTransactionNotesList", "ProductCompositions", new { area = "System" })',
            
            AddNewWeightFailHeader: 'Unable to add a new Weight',
            AddNewWeightConfirmHtml: '<h4>Are you sure you want to <strong>add</strong> these new <strong>Weights</strong>?</h4>',

            EditWeightConfirmHtml: '<h4>Are you sure you want to <strong>save</strong> the changes?</h4>',
            EditWeightFailHeader: 'Unable to save the change',
            EditWeightFailHtml: 'Invalid data',

            RemoveTransactionConfirmHtml: '<h4>Are you sure you want to <strong>remove</strong> these <strong>Weights</strong>?</h4>',
            RemoveTransactionFailHeader: 'Unable to Remove these Weights',
            ConfirmHeader: 'Confirm',
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                Authorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminProductCompositions)',
            },
            WeightCategory: {
            }
        };

        Global.Settings = {
            popover:{
                height:'auto',
                width:'auto',
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true,
                placement: function (){
                    return 'top';
                }
            },
        };

        Global.InternalNoteSettings = {
            currentOpenId: 0,
            InternalExportUrl: '',
        };

        $.each(@Html.Raw(weightCategories),function(index,weight){
            if (weight instanceof Object) {
                Global.EstimatedWeights.WeightCategory[weight.ItemCode] = {weightCategoryID:weight.ItemValue,weightCategoryName:weight.ItemName};
            }
        });

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>

    <script type="text/javascript" src="~/js/cube/nouislider.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/ProductCompositions/product-compositions.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/moment.js?v=@ViewBag.versionid"></script>
}


