﻿@using CL.TMS.Resources
@using CL.TMS.Security.Authorization
@using CL.TMS.Common

<script type="text/ng-template" id="transaction-handler.html">
    <form id="transForm" name="transForm">
        <div class="comp-all-modal">
            <transaction-handler-header-view></transaction-handler-header-view>

            <div class="modal-body padding-25">
                <!-- Collector View Transaction -->
                <div ng-if="vm.currentMode == 'view'">
                    <div class="modal-previewtransaction">
                        <!-- Paper Form View -->
                        <tcr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-paper-view>
                        <dot-paper-view ng-if="!vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-paper-view>
                        <!-- /Paper Form View -->
                        <!-- Mobile View -->
                        <tcr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-mobile-view>
                        <dot-mobile-view ng-if="vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-mobile-view>
                        <!-- /Mobile View -->
                    </div>
                </div>
                <!-- /View Transaction -->
                <!-- Adjust Transaction -->
                <div ng-if="vm.currentMode == 'adjust'">
                    <tcr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-paper-adjustment>
                    <dot-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-paper-adjustment>

                    <tcr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-mobile-adjustment>
                    <dot-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-mobile-adjustment>
                </div>
                <!-- /Adjust Transaction -->
                <!-- Collector Review Tool Bar -->
                @if (@ViewBag.AllowTransactionHandling) //OTSTM2-464
                {
                    <transaction-review-toolbar ng-if="initialized" ds="THSvr"></transaction-review-toolbar>
                }
                <!-- /Review Tool Bar -->
            </div>
            @*@if (@ViewBag.AllowEdit)*@
            @if ((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInbound) == CL.TMS.Security.SecurityResultType.EditSave) &&
                (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryOutbound) == CL.TMS.Security.SecurityResultType.EditSave) &&
                (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryTransactionAdjustments) == CL.TMS.Security.SecurityResultType.EditSave) )
            {
                <transaction-handler-workflow></transaction-handler-workflow>
            }
        </div>
    </form>
</script>
