﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler.html">
    <form id="transForm" name="transForm">
        <div class="comp-all-modal">
            <transaction-handler-header-view></transaction-handler-header-view>

            <div class="modal-body padding-25">
                <!-- Hauler View Transaction -->
                <div ng-if="vm.currentMode == 'view'">
                    <div class="modal-previewtransaction">                        
                        <!-- Paper Form View -->
                        <tcr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-paper-view>
                        <dot-paper-view ng-if="!vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-paper-view>
                        <ucr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-paper-view>
                        <hit-paper-view ng-if="!vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-paper-view>
                        <stc-paper-view ng-if="!vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-paper-view>
                        <ptr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-paper-view>
                        <rtr-paper-view ng-if="!vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-paper-view>
                        <!-- /Paper Form View -->
                        <!-- Mobile View -->
                        <tcr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-mobile-view>
                        <dot-mobile-view ng-if="vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-mobile-view>
                        <ucr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-mobile-view>
                        <hit-mobile-view ng-if="vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-mobile-view>
                        <stc-mobile-view ng-if="vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-mobile-view>
                        <ptr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-mobile-view>
                        <rtr-mobile-view ng-if="vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-mobile-view>
                        <!-- /Mobile View -->
                    </div>
                </div>
                <!-- /View Transaction -->
                <!-- Adjust Transaction -->
                <div ng-if="vm.currentMode == 'adjust'">    
                    <tcr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-paper-adjustment>
                    <dot-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-paper-adjustment>
                    <ucr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-paper-adjustment>
                    <hit-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-paper-adjustment>
                    <stc-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-paper-adjustment>
                    <ptr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-paper-adjustment>
                    <rtr-paper-adjustment ng-if="!vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-paper-adjustment>

                    <tcr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'TCR'" vm="vm"></tcr-mobile-adjustment>
                    <dot-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'DOT'" vm="vm"></dot-mobile-adjustment>
                    <ucr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'UCR'" vm="vm"></ucr-mobile-adjustment>
                    <hit-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'HIT'" vm="vm"></hit-mobile-adjustment>
                    <stc-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'STC'" vm="vm"></stc-mobile-adjustment>
                    <ptr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'PTR'" vm="vm"></ptr-mobile-adjustment>
                    <rtr-mobile-adjustment ng-if="vm.isMobile && vm.typeCode == 'RTR'" vm="vm"></rtr-mobile-adjustment>
                </div>
                <!-- /Adjust Transaction -->
                <!-- Hauler Review Tool Bar -->
                @if (@ViewBag.AllowTransactionHandling && @ViewBag.AllowEdit) //OTSTM2-464
                {
                    <transaction-review-toolbar ng-if="initialized" ds="THSvr"></transaction-review-toolbar>
                }
                <!-- /Review Tool Bar -->
            </div>

            @if (@ViewBag.AllowEdit)
            {
                <transaction-handler-workflow></transaction-handler-workflow>
            }
        </div>
    </form>
</script>
