﻿@using CL.TMS.Resources

<script type="text/ng-template" id="ptr-paper-view.html">   
    <div>
        <div class="row margin-top--20">
            <div class="col-sm-2">
                <date-display-view label="{{vm.formDateLabel}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <div ng-show="vm.adjustmentDetail">
            <adjustment-detail-view adjustment-detail="vm.adjustmentDetail" display-original="vm.displayOriginal"></adjustment-detail-view>
            <hr>
        </div>

        <div ng-if="vm.displayOriginal">
            <div class="row">
                <div class="col-md-6">                    
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail"></paper-scale-ticket-view>
                </div>
                <div class="col-md-3">
                    <label>Variance (%)</label>
                    <p ng-class="varianceDisplayStyle()">{{vm.original.scaleTicketDetail.variance |  number : 2}}</p>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <hr>

            <div class="row">                
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.original.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div class="row" ng-show="vm.original.calculationSummary">
                <div class="col-md-2">
                    Amount ($) <i class="fa fa-search-plus color-tm-blue" ptr-amount-calculation-detail-view item-list="vm.original.calculationSummary.itemList"></i><br />
                    {{vm.original.calculationSummary.amount | number:2}}
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>

        <div ng-if="!vm.displayOriginal">
            <div class="row">
                <div class="col-md-6">

                    <paper-scale-ticket-view scale-ticket-model="vm.adjusted.scaleTicketDetail"></paper-scale-ticket-view>
                </div>
                <div class="col-md-3">
                    <label>Variance (%)</label>
                    <p ng-class="varianceDisplayStyle()">{{vm.adjusted.scaleTicketDetail.variance |  number : 2}}</p>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.adjusted.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div class="row" ng-show="vm.adjusted.calculationSummary">
                <div class="col-md-2">
                    Amount ($) <i class="fa fa-search-plus color-tm-blue" ptr-amount-calculation-detail-view item-list="vm.adjusted.calculationSummary.itemList"></i><br />
                    {{vm.adjusted.calculationSummary.amount | number:2}}
                </div>
            </div>

            <div ng-show="vm.adjusted.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.adjusted.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>        

        @if (@ViewBag.AllowInternalNote)
        {
            <hr />
            <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
        }
    </div>
</script>

<script type="text/ng-template" id="ptr-mobile-view.html">
    <div>
        <div ng-if="!vm.isStaff" class="row margin-top--20">
            <div class="col-sm-5 col-sm-offset-1 txt-c">
                <date-display-view label="{{'Transaction'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-view>
            </div>
            <div class="col-sm-5 txt-c">
                <date-display-view label="{{'Sync'}}" date="vm.mobileSyncDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-view>
            </div>
        </div>
        <div ng-if="vm.isStaff">
            <mobile-gps-header vm="vm"></mobile-gps-header>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-6">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-6">
                <participant-info-view info="vm.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <div ng-show="vm.adjustmentDetail">
            <adjustment-detail-view adjustment-detail="vm.adjustmentDetail" display-original="vm.displayOriginal"></adjustment-detail-view>
            <hr>
        </div>

        <div ng-if="vm.displayOriginal">
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.original.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div class="row" ng-show="vm.original.calculationSummary">
                <div class="col-md-2">
                    Amount ($) <i class="fa fa-search-plus color-tm-blue" ptr-amount-calculation-detail-view item-list="vm.original.calculationSummary.itemList"></i><br />
                    {{vm.original.calculationSummary.amount | number:2}}
                </div>
            </div>

            <div ng-show="vm.original.scaleTicketDetail.tickets.length > 0">
                <hr>
                <scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail"></scale-ticket-view>
            </div>

            @*OTSTM2-148*@
            <hr>
            <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            <br />
            <br />
            @*OTSTM2-148*@
        </div>

        <div ng-if="!vm.displayOriginal">
            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.adjusted.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div class="row" ng-show="vm.adjusted.calculationSummary">
                <div class="col-md-2">
                    Amount ($) <i class="fa fa-search-plus color-tm-blue" ptr-amount-calculation-detail-view item-list="vm.adjusted.calculationSummary.itemList"></i><br />
                    {{vm.adjusted.calculationSummary.amount | number:2}}
                </div>
            </div>

            <div ng-show="vm.adjusted.scaleTicketDetail.tickets.length > 0">
                <hr>
                <scale-ticket-view scale-ticket-model="vm.adjusted.scaleTicketDetail"></scale-ticket-view>
            </div>

            @*OTSTM2-148*@
            <hr>
            <supporting-document-view supporting-document-detail="vm.adjusted.supportingDocumentDetail"></supporting-document-view>
            <br />
            <br />
            @*OTSTM2-148*@
        </div>

        

        <div ng-show="vm.photoList.length > 0">
            <hr>
            <photo-view photo-list="vm.photoList"></photo-view>            
        </div>

        <div ng-show="vm.commentList.length > 0">
            <hr>
            <comment-view comment-list="vm.commentList"></comment-view>            
        </div>

        <hr>
        <signature-view signature="vm.signature"></signature-view>

        @if (@ViewBag.AllowInternalNote)
        {
            <hr />
            <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
        }
    </div>    
</script>
