﻿@using CL.TMS.Resources

<script type="text/ng-template" id="pit-paper-adjustment.html">
    <div>
        <div class="row margin-top--20">
            <div class="col-sm-2">
                <date-display-view label="{{vm.formDateLabel}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-5">
                <participant-info-view info="vm.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
        <br />

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-md-6">
                    <scale-ticket-collector form="transForm" scale-ticket="vm.adjModel.scaleTicket" mandatory="{{'false'}}"></scale-ticket-collector>
                </div>
                <div class="col-md-6">
                    <pit-product-detail-collector form="transForm" is-inbound="vm.direction == 1" product-detail="vm.adjModel.productDetail" product-list="vm.adjModel.productList" scale-ticket="vm.adjModel.scaleTicket" adjust="{{'true'}}"></pit-product-detail-collector>
                </div>                
            </div>
            <hr />            

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail"></paper-scale-ticket-view>
                </div>
                <div class="col-md-6">
                    <pit-product-detail-view product-detail="vm.original.productDetail" direction="vm.direction"></pit-product-detail-view>
                </div> 
            </div>            

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>
    </div>
</script>

<script type="text/ng-template" id="pit-mobile-adjustment.html">
    <div>
        <div class="row margin-top--20">
            <div class="col-sm-5 col-sm-offset-1 txt-c">
                <date-display-view label="{{'Transaction'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-view>
            </div>
            <div class="col-sm-5 txt-c">
                <date-display-view label="{{'Sync'}}" date="vm.mobileSyncDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-view>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-6">
                <participant-info-view info="vm.inboundParticipant"></participant-info-view>
            </div>
            <div class="col-sm-6">
                <participant-info-view info="vm.outboundParticipant"></participant-info-view>
            </div>
        </div>
        <hr>

        <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
        <br />

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-md-6">
                    <pit-product-detail-collector form="transForm" is-inbound="vm.direction == 1" product-detail="vm.adjModel.productDetail" product-list="vm.adjModel.productList" scale-ticket="vm.adjModel.scaleTicketDetail" mobile="{{'true'}}" adjust="{{'true'}}"></pit-product-detail-collector>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            
            <div ng-show="vm.adjModel.scaleTicketDetail.tickets.length > 0">
                <hr>
                <scale-ticket-view scale-ticket-model="vm.adjModel.scaleTicketDetail" adjust="{{'true'}}"></scale-ticket-view>
            </div> 
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-md-6">
                    <pit-product-detail-view product-detail="vm.original.productDetail" direction="vm.direction"></pit-product-detail-view>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <hr>

            <div ng-show="vm.original.scaleTicketDetail.tickets.length > 0">
                <scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail"></scale-ticket-view>                
            </div>
        </div>

        @*OTSTM2-148 Start*@
        <hr>
        <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired" @*ng-if="vm.currentMode == 'adjust'"*@></document-uploader>
        <br />
        <br />
        @*OTSTM2-148 End*@

        <div ng-show="vm.photoList.length > 0">
            <hr>
            <photo-view photo-list="vm.photoList"></photo-view>
        </div>

        <div ng-show="vm.commentList.length > 0">
            <hr>
            <comment-view comment-list="vm.commentList"></comment-view>
        </div>

        <hr>
        <signature-view signature="vm.signature"></signature-view>

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div> 
    </div>
</script>
