﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-paper-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div>

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-md-6">
                    <scale-ticket-collector form="transForm" scale-ticket="vm.adjModel.scaleTicket" mandatory="{{vm.adjModel.productDetail.materialTypeId != 4}}" disable="{{vm.adjModel.productDetail.materialTypeId == 4}}"></scale-ticket-collector>
                </div>
                <div class="col-sm-3">
                    <invoice-number-collector form="transForm" invoice-number="vm.adjModel.invoiceNumber"></invoice-number-collector>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <dor-product-detail-collector form="transForm" product-detail="vm.adjModel.productDetail" weight-type-list="vm.adjModel.weightTypeList" scale-ticket="vm.adjModel.scaleTicket" tire-type-list="vm.adjModel.tireTypeList" adjust="{{'true'}}" vm="vm"></dor-product-detail-collector>
                </div>
            </div>
            <hr>           

            <div class="row">
                <div class="col-md-12">
                    <label>Sold to</label>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio"><label><input type="radio" ng-disabled="true" ng-model="vm.soldTo" disabled value="registered"> Registered Participant</label></div>
                            <div class="radio"><label><input type="radio" ng-disabled="true" ng-model="vm.soldTo" disabled value="unregistered"> Unregistered Participant</label></div>
                        </div>
                        <div class="col-md-8">&nbsp;</div>
                    </div>

                    <div class="row" ng-if="vm.soldTo == 'registered'">
                        <div class="col-sm-6">
                            <participant-info-view info="vm.original.inboundParticipant"></participant-info-view>
                        </div>
                        <div class="col-sm-6">
                            <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                        </div>
                    </div>

                    <div class="row" ng-if="vm.soldTo == 'unregistered'">
                        <div class="col-sm-12">
                            <unregistered-company-collector form="transForm" company-info="vm.adjModel.companyInfo" company-label-text="{{'Business Name'}}" country-list="vm.adjModel.countryList"></unregistered-company-collector>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail" unit="{{'t'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-material-type-collector material-type-id="vm.original.materialTypeId" disable="{{'true'}}"></dor-material-type-collector>
                    <br />

                    <div ng-if="vm.original.materialTypeId == 4">
                        <dor-tire-rim-detail-view tire-rim-detail="vm.original.tireRimDetail"></dor-tire-rim-detail-view>
                    </div>

                    <div ng-show="vm.original.materialTypeId == 5">
                        <dor-used-tire-sale-detail-view used-tire-sale-detail="vm.original.usedTireSaleDetail"></dor-used-tire-sale-detail-view>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-disposition-reason-collector material-type-id="vm.original.materialTypeId" disposition-reason-id="vm.original.dispositionReasonId" read-only="{{'true'}}"></dor-disposition-reason-collector>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <participant-info-view info="vm.original.inboundParticipant"></participant-info-view>
                </div>
                <div class="col-sm-6">
                    <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>
    </div>
</script>

<script type="text/ng-template" id="dor-mobile-adjustment.html">
    <div>
        <div class="alert alert-warning">Not Supported</div>
    </div>
</script>



