﻿@using CL.TMS.Resources

<script type="text/ng-template" id="sir-paper-view.html">
    <div>
        <div ng-show="vm.adjustmentDetail">
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-detail-view adjustment-detail="vm.adjustmentDetail" display-original="vm.displayOriginal"></adjustment-detail-view>
                </div>
            </div>
            <hr>
        </div>

        <div ng-if="vm.displayOriginal">          
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
                <div class="col-sm-6">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail" unit="{{'TON'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <hr class="margin-top-5">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Type</label>
                    <p>{{vm.original.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <span ng-show="vm.original.productDetail.meshRangeStart && vm.original.productDetail.meshRangeEnd">
                        <label>Mesh Range</label>
                        <p>{{vm.original.productDetail.meshRangeStart}} to {{vm.original.productDetail.meshRangeEnd}}</p>
                    </span>
                    <span ng-show="vm.original.productDetail.isFreeOfSteel">
                        <br />
                        <label><input type="checkbox" ng-disabled="true" name="isFreeOfSteel" ng-model="vm.original.productDetail.isFreeOfSteel"> Free of Steel</label>
                    </span>
                    <span ng-show="vm.original.productDetail.productDescription">
                        <label>Description</label>
                        <p>{{vm.original.productDetail.productDescription}}</p>
                    </span>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <label>Received from</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                        </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>  
        </div>     
        
        <div ng-if="!vm.displayOriginal">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.adjusted.invoiceNumber}}</p>
                </div>
                <div class="col-sm-6">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.adjusted.scaleTicketDetail" unit="{{'TON'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <hr class="margin-top-5">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Type</label>
                    <p>{{vm.adjusted.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <span ng-show="vm.adjusted.productDetail.meshRangeStart && vm.adjusted.productDetail.meshRangeEnd">
                        <label>Mesh Range</label>
                        <p>{{vm.adjusted.productDetail.meshRangeStart}} to {{vm.adjusted.productDetail.meshRangeEnd}}</p>
                    </span>
                    <span ng-show="vm.adjusted.productDetail.isFreeOfSteel">
                        <br />
                        <label><input type="checkbox" ng-disabled="true" name="isFreeOfSteel" ng-model="vm.adjusted.productDetail.isFreeOfSteel"> Free of Steel</label>
                    </span>
                    <span ng-show="vm.adjusted.productDetail.productDescription">
                        <label>Description</label>
                        <p>{{vm.adjusted.productDetail.productDescription}}</p>
                    </span>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <label>Received from</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                        </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.adjusted.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.adjusted.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>    

        @if (@ViewBag.AllowInternalNote)
        {
            <hr />
            <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
        }
    </div>   
</script>

<script type="text/ng-template" id="sir-mobile-view.html">     
    <div class="alert alert-warning">Not Supported</div>    
</script>
