﻿@using CL.TMS.Resources

<script type="text/ng-template" id="spsr-paper-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div> 

        <div ng-show="!vm.adjModel.preview">
            <div class="row margin-top--20">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <invoice-number-collector form="transForm" invoice-number="vm.adjModel.invoiceNumber"></invoice-number-collector>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" cl-show-errors>
                        <label>Percentage&nbsp;(%)<i class="position-absolute padding-3 fa fa-question-circle popoverPercentage" data-placement="auto" uib-tooltip="% of Ontario rubber in your product"></i></label>
                        <input type="text" name="percentage" ng-model="vm.adjModel.productDetail.percentage" class="form-control" required valid-decimal precision="5" scale="2" maxvalue="100.00">
                        <span class="help-block" ng-if="transForm.percentage.$error">Required</span>
                    </div>
                </div>
                <unit-type-weight form="transForm" vm="vm.adjModel.productDetail" mandatory="{{'true'}}"></unit-type-weight> @*OTSTM2-1012 add it back*@
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <sps-product-detail-collector form="transForm" product-detail="vm.adjModel.productDetail" product-list="vm.adjModel.productList" total-weight="vm.adjModel.productDetail.totalTDPWeight" adjust="{{'true'}}"></sps-product-detail-collector>
                </div>
            </div>
            <hr> 

            <div class="row">
                <div class="col-md-12">
                    <unregistered-company-collector form="transForm" company-info="vm.adjModel.companyInfo" company-label-text="{{'Business Name'}}" country-list="vm.adjModel.countryList"></unregistered-company-collector>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row margin-top--20">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label>Invoice #</label><br />
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Percentage (%)</label><br />
                    <p class="margin-top--3">{{vm.original.productDetail.recyclablePercentage | number:2}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Total TDP Weight (t)</label><br />
                    <p class="margin-top--3">{{vm.original.productDetail.totalTDPWeight | number:4}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <label>Product Type</label><br>
                    <p>{{vm.original.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <label>Product Code</label><br>
                    {{vm.original.productDetail.productCode}}
                </div>
                <div class="col-md-6">
                    <label>Product Sold Description</label><br>
                    <p>{{vm.original.productDetail.productDescription}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <label>Rate&nbsp;($/t)</label><br>
                    <p>{{vm.original.productDetail.rate | number:2}}</p>
                </div>
                <div class="col-md-3">
                    <label>Amount ($)</label><br>
                    <p>{{vm.original.productDetail.amount | number:2}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6"><participant-info-view info="vm.original.inboundParticipant"></participant-info-view></div>
                <div class="col-md-6"><participant-info-view info="vm.outboundParticipant"></participant-info-view></div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>     
    </div>
</script>

<script type="text/ng-template" id="spsr-mobile-adjustment.html">
    <div class="alert alert-warning">Not Supported</div>
</script>
