﻿@model CL.TMS.DataContracts.ViewModel.Common.BankingInformationRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    bool isReadOnly = true;
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;

    var isParticipant = ViewData["IsParticipant"];
    string lastFourDigits = string.Empty;
    if (Model.AccountNumber.Length >= 4)
    {
        lastFourDigits = Model.AccountNumber.Substring(Model.AccountNumber.Length - CL.TMS.Common.TreadMarksConstants.NumberToMask);
        Model.AccountNumberMask = "********" + lastFourDigits;
    }

    //check security level
    var BankAccessResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForBankingInformation();
    var IsBankingResourceReadonly = BankAccessResource == CL.TMS.Security.SecurityResultType.ReadOnly;
}
<div id="panelBankingInformation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbBankInfoBankName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BankName).ToString())),
                                    ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly,
                                    new
                                    {
                                        data_validate_field = "#BankName",
                                        data_validate_message = "Invalid Hauler Business Start Date",
                                        @class = "validation-checkbox no-validate",
                                        data_att_chkbox = string.Format("{0}.{1}", prefix,
                                        @Html.GetExpressionText(p => p.BankName).ToString()),
                                        id = "cbBankName",
                                    }))
                        Bank Name
                    </label>
                    @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", maxlength = "50", placeholder = "" , id = "BankName", }, isReadOnly || IsBankingResourceReadonly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbBankInfoBankName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.TransitNumber).ToString())),
                                    ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly,
                                    new
                                    {
                                        data_validate_field = "#TransitNumber",
                                        data_validate_message = "Invalid Hauler Business Start Date",
                                        @class = "validation-checkbox no-validate",
                                        data_att_chkbox = string.Format("{0}.{1}",
                                        prefix,
                                        @Html.GetExpressionText(p => p.TransitNumber).ToString()),
                                        id = "cbTransitNumber",
                                    }))
                        Transit Branch #
                    </label>
                    @Html.TextBoxFor(model => model.TransitNumber, new { @class = "form-control", maxlength = "5", placeholder = "5 digit branch number" }, isReadOnly || IsBankingResourceReadonly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbBankInfoBankName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BankNumber).ToString())),
                                        ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly,
                                        new
                                        {
                                            data_validate_field = "#BankNumber",
                                            data_validate_message = "Invalid Hauler Business Start Date",
                                            @class = "validation-checkbox no-validate",
                                            data_att_chkbox = string.Format("{0}.{1}",
                                            prefix,
                                            @Html.GetExpressionText(p => p.BankNumber).ToString()),
                                            id = "cbBankNumber",
                                        }))
                        Financial Institution Bank #
                    </label>
                    @*<input type="text" class="form-control" id="inputWarning2" placeholder="3 digit bank number">*@
                    @Html.TextBoxFor(model => model.BankNumber, new { @class = "form-control", maxlength = "3", placeholder = "3 digit bank number" }, isReadOnly || IsBankingResourceReadonly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbBankInfoBankName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.AccountNumber).ToString())),
                                        ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly,
                                        new
                                        {
                                            data_validate_field = "#AccountNumber",
                                            data_validate_message = "Invalid Hauler Business Start Date",
                                            @class = "validation-checkbox no-validate",
                                            data_att_chkbox = string.Format("{0}.{1}",
                                            prefix,
                                            @Html.GetExpressionText(p => p.AccountNumber).ToString()),
                                            id = "AccountNumber",
                                        }))
                        Designation and Account #
                    </label>
                    @*<input type="text" class="form-control" id="inputWarning2" placeholder="account number">*@
                    @{
                        if (CL.TMS.Security.Authorization.SecurityContextHelper.IsParticipant() || CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
                        {
                            @Html.TextBoxFor(model => model.AccountNumberMask, new { @class = "form-control", maxlength = "15", placeholder = "account number" }, isReadOnly || IsBankingResourceReadonly)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", maxlength = "15", placeholder = "account number" }, isReadOnly || IsBankingResourceReadonly)
                        }
                    }
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div><!--/.row-->
        <hr>
        <div class="row">
            <div class="col-md-12">
                @*<label>@Html.CheckBox("cbEmailPaymentTransferNotification",
                    new { @disabled = "disabled", @checked = string.Format(Model.EmailPaymentTransferNotification ? "true" : "false") }) Email Payment Transfer Notifications</label>*@
                <label>
                    @Html.CheckBox("cbEmailPaymentTransferNotification", Model.EmailPaymentTransferNotification, ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly))
                    <span>Email Payment Transfer Notifications</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @*@{
                        if (Model.NotifyToPrimaryContactEmail)
                        {
                            <input type="checkbox" checked="checked" class="isBankTransferNotficationPrimaryContact" disabled="disabled" id="cbNotifyToPrimaryContactEmail" />
                        }
                        else
                        {
                            <input type="checkbox" class="isBankTransferNotficationPrimaryContact" disabled="disabled" id="cbNotifyToPrimaryContactEmail" />
                        }
                    }*@
                <label>
                    @Html.CheckBox("cbBankTransferNotficationPrimaryContact", Model.NotifyToPrimaryContactEmail,
                                              ExtensionMethods.ConditionalDisable(isReadOnly || IsBankingResourceReadonly, new { id = "cbNotifyToPrimaryContactEmail", @class = "isBankTransferNotficationPrimaryContact" }))
                    <span>Send notifications to the same Email as specified for Primary Contact</span>
                </label>
            </div>
        </div>
        @{

            if (!Model.NotifyToPrimaryContactEmail)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-required has-feedback bankTransferNotficationPrimaryContactDifferent">
                            <label class="control-label" for="inputSuccess2">Email</label><br>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "", @readonly = "readonly" }, isReadOnly || IsBankingResourceReadonly)
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                </div><!--/.row-->
            }
        }

        <div class="row" style="display:none">
            <div class="col-md-12">
                <button type="button" class="btn color-tm-green-bg">CC Email +</button> <i class="color-tm-gray-light">&nbsp; Dev. Note: Limit of 1 CC email</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-required">
                    <label class="control-label" for="inputSuccess2">Optional CC Email</label>
                    @Html.TextBoxFor(model => model.CCEmail, new { @class = "form-control", placeholder = "", @readonly = "readonly" }, isReadOnly || IsBankingResourceReadonly)
                </div>
            </div>
        </div><!--/.row-->
    </div>
</div>
