﻿@model CL.TMS.DataContracts.DomainEntities.Vendor
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
    }
    var prefix = @ViewData["data_businesslocationVendor"];        
    var isBackToApplicant = Model.ValidStatus == ApplicationStatusEnum.BackToApplicant;
}
    <div class="row margin-bottom--10">
        <div class="col-md-4">
            @*<div class="form-group has-success has-feedback">*@
            <div class="form-group has-feedback has-required">
                <label class="control-label" for="exampleInput">
                    @UIResource.ParticipantBusinessLocationLegalBusinessName
                    <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
                </label>
                <div id="businessLocationLBN" style="display:none;">
                    <p>@UIResource.ParticipantBusinessLocationLegalBusinessNameHelpInfo</p>
                </div>
                @Html.TextBoxFor(m => m.BusinessName, new { id = "BusinessName", @class = "form-control", maxlength = "65", placeholder = "Enter Name" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.BusinessName).ToString())))

                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group has-feedback has-required">
                <label class="control-label">
                   @UIResource.ParticipantBusinessLocationPlaceHolderEnterBOName
                    <i class="fa fa-question-circle businessLocationBON" data-placement="auto" title=""></i>
                </label>
                <div id="businessLocationBON" style="display:none;">
                    <p>@UIResource.ParticipantBusinessLocationBusinessOperatingNameHelpInfo</p>
                </div>
                @Html.TextBoxFor(m => m.OperatingName, new { id = Html.GetPropertyName(m => m.OperatingName).ToString(), @class = "form-control", maxlength = "65", placeholder = "Enter Business Operating Name" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.OperatingName).ToString())))

                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                @*<span class="glyphicon glyphicon-remove form-control-feedback"></span>*@
                @*<p class="help-block">Please enter Business Operating Name.</p>*@
            </div>
        </div>
        @*<div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label for="exampleInput">
                        Franchise Name
                        <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
                    </label>
                    @Html.TextBoxFor(m => m.FranchiseName, new { @class = "form-control", placeholder = "Enter Franchise Name" }, isInvalid.Contains(@Html.GetPropertyName(p => p.FranchiseName).ToString()))
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>*@
    </div>
