﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;    
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }        
    }

    var prefix_contactInformationAddress = @ViewData["data_ContactInformationAddress"];

    // var contactAddressFlag = ((TMS.Contracts.Entities.Participants.ApplicationHaulerModel)(ViewData.ModelMetadata.Container)).ContactInformation.ContactAddressSameAsBusinessAddress;
    var contactAddressFlag = true;
}

<div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbAddress1", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Address1).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address1", data_validate_message = "Invalid Address Line 1", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Address1).ToString()) }))
            
            @UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control title-case dynamic-required", maxlength ="50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbAddress2", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Address2).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address2", data_validate_message = "Invalid Address Line 2", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Address2).ToString()) }))
           @UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control title-case", maxlength = "50", placeholder = "Suite, Unit, Bldg., etc." }, isReadOnly)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbCity", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.City).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationAddress.City", data_validate_message = "Invalid City", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.City).ToString()) }))            
            
            @UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control dynamic-required", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPostalCode", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.PostalCode).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationAddress.PostalCode", data_validate_message = "Invalid Province/State", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.PostalCode).ToString()) }))
                @UIResource.CommonAddressPostalCode
            </label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control dynamic-regex-postal", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>


    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbProvince", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Province).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationAddress.Province", data_validate_message = "Invalid Province/State", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Province).ToString()) }))            
            @UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>

            @Html.CheckBox("cbCountry", !isInvalid.Contains(string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Country).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly, new { test = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Country).ToString()), data_validate_field = "#ContactInformation[0].ContactInformationAddress.Country", data_validate_message = "Invalid Province/State", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_contactInformationAddress, @Html.GetPropertyName(p => p.Country).ToString()) }))
            @UIResource.CommonAddressCountry
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control dynamic-required" }, isReadOnly)
            </div>
        </div>
    </div>
</div><!--/.row-->
