﻿@model CL.TMS.DataContracts.ViewModel.Hauler.BusinessRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData

@{
    var partialViewData = (CommonPartialView)ViewData["BusinessLocation"];

    var isInvalid = (List<string>)partialViewData.InvalidFormFieldList;

    bool isBackToApplicant = false;
    if (Model != null)
    {
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    var prefix = partialViewData.prefix; 
}

<div class="row margin-bottom--10">
    <div class="col-md-4">
        @*<div class="form-group has-success has-feedback">*@
        <div class="form-group has-feedback has-required">
            <label class="control-label" for="exampleInput">
                @UIResource.ParticipantBusinessLocationLegalBusinessName
                <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationLBN" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationLegalBusinessNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.BusinessName, new { id = "BusinessName", @class = "form-control", maxlength = "65", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolderEntername }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.BusinessName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-feedback has-required">
            <label class="control-label">
                @UIResource.BusinessOperatingName
                <i class="fa fa-question-circle businessLocationBON" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationBON" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationBusinessOperatingNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.OperatingName, new { id = Html.GetPropertyName(m => m.OperatingName).ToString(), @class = "form-control", maxlength = "65", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolderEnterBOName }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.OperatingName).ToString())))

            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            @*<span class="glyphicon glyphicon-remove form-control-feedback"></span>*@
            @*<p class="help-block">Please enter Business Operating Name.</p>*@
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="form-group has-required has-feedback">
                <label for="exampleInput">
                    Franchise Name
                    <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
                </label>
                @Html.TextBoxFor(m => m.FranchiseName, new { @class = "form-control", placeholder = "Enter Franchise Name" }, isInvalid.Contains(@Html.GetPropertyName(p => p.FranchiseName).ToString()))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>*@
</div>
<hr />

<div class="row">

    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.BusinessAddress.AddressLine1, new
            {
                @class = "form-control title-case sortyard-address",
                maxlength = "50",
                placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1,
                data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine1"            
            }, 
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine1).ToString())))

            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.BusinessAddress.AddressLine2, 
                new
                {
                    @class = "form-control title-case sortyard-address",
                    maxlength = "50",
                    placeholder = @UIResource.ParticipantBusinessLocationPlaceHolderEnterAddress,
                    data_sortyard = "SortYardDetails[0].SortYardAddress.AddressLine2"
                }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.AddressLine2).ToString())))
        </div>
        @*commenting out as per business location requirements *@
        @*<small>Dev. Note: See <a href="https://www.walmart.ca/my-account/addresses" target="_blank">WalMart.ca</a> for address lookup behaviour. (L: malars@capris.com, P: Dundas77)</small>*@
    </div>

    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.BusinessAddress.City, new
            {
                @class = "form-control sortyard-address",
                maxlength = "50",
                placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1,
                data_sortyard = "SortYardDetails[0].SortYardAddress.City"
            }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.City).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
            @Html.TextBoxFor(m => m.BusinessAddress.Postal, new
            {
                @class = "form-control sortyard-address",
                maxlength = "50",
                placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1,
                data_sortyard = "SortYardDetails[0].SortYardAddress.Postal"
            }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Postal).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.BusinessAddress.Province, new
            {
                @class = "form-control sortyard-address",
                maxlength = "50",
                placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1,
                data_sortyard = "SortYardDetails[0].SortYardAddress.Province"
            }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Province).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCountry</label><br>
            <div class="dropdown">
                @*<button data-toggle="dropdown" id="BusinessLocation_BusinessLocationAddress_Country" type="button" class="btn btn-default dropdown-toggle">*@

                @Html.DropDownListFor(m => m.BusinessAddress.Country, new SelectListItem[]{
                        new SelectListItem() {Text = @UIResource.CommonAddressCountryCA, Value="Canada"},
                        new SelectListItem() {Text = @UIResource.CommonAddressCountryUSA, Value="USA"},
                        new SelectListItem() {Text = @UIResource.CommonAddressCountryOther, Value="Other"}}, @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, 
                        new { @class = "form-control sortyard-address", data_sortyard = "SortYardDetails[0].SortYardAddress.Country" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessAddress.Country).ToString())))
                @*<div class="glyphicon glyphicon-ok form-control-feedback"></div>
                        <span class="caret"></span>
                    </button>*@


            </div>
        </div>
    </div>

</div><!--/.row-->


<hr>

<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumber</label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Phone).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumberExt</label>
            @Html.TextBoxFor(m => m.Extension, new { @class = "form-control", maxlength = "12", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Extension).ToString())))
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonEmailAddress</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Email).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->


<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            <label>
                @*<input type="checkbox" id="MailingAddressSameAsBusiness" name="BusinessLocation.MailingAddressSameAsBusiness" class="isMailingAddressDifferent"
                       @(Model.MailingAddressSameAsBusiness ? "checked" : "")*@
                @Html.CheckBoxFor(m => m.MailingAddressSameAsBusiness, new { @class = "isMailingAddressDifferent", id = "MailingAddressSameAsBusiness" })
                       @*@( Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant ? "disabled='disabled'" : string.Empty) />*@
                @UIResource.ParticipantBusinessLocationCBLabelSameAddress
            </label>
        </div>
    </div>
</div>
<!--/.row-->


<div class="row mailingAddressPanel" style="display:none;">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine1</label>
            @Html.TextBoxFor(m => m.MailingAddress.AddressLine1, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine1).ToString()), @class = "form-control title-case", maxlength = "50", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine1).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantBusinessLocationAddressLine2</label>
            @Html.TextBoxFor(m => m.MailingAddress.AddressLine2, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine2).ToString()), @class = "form-control title-case", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolderEnterAddress }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.AddressLine2).ToString())))
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressCity</label>
            @Html.TextBoxFor(m => m.MailingAddress.City, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.City).ToString()), @class = "form-control", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.City).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressPostalCode</label>
            @Html.TextBoxFor(m => m.MailingAddress.Postal, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Postal).ToString()), @class = "form-control", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Postal).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonAddressProvincestate</label>
            @Html.TextBoxFor(m => m.MailingAddress.Province, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Province).ToString()), @class = "form-control", maxlength = "50", placeholder = @UIResource.ParticipantBusinessLocationPlaceHolder1 }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Province).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <label>@UIResource.CommonAddressCountry</label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Select Country
                        <div class="glyphicon glyphicon-ok form-control-feedback"></div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Canada</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">USA</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                    </ul>*@
                @Html.DropDownListFor(m => m.MailingAddress.Country, new SelectListItem[]{
                    new SelectListItem() {Text = "Canada", Value="Canada"},
                    new SelectListItem() {Text = "USA", Value="USA"},
                    new SelectListItem() {Text = "Other", Value="Other"}}, @UIResource.ParticipantBusinessLocationPlaceHolderSelectCountry, new { id = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Country).ToString()), @class = "form-control" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.MailingAddress.Country).ToString())))
            </div>
        </div>
    </div>
</div><!--/.row-->
