﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    var subtypes = (List<CL.TMS.DataContracts.DomainEntities.TypeDefinition>)TempData["SubTypes"];
    bool isBackToApplicant = false;
    if (Model != null)
    {
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    var prefix = @ViewData["prefix"];
}


<div class="row">

    <div class="col-md-3">
        @*<div class="form-group has-required has-feedback"></div>*@
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.ParticipantHaulerDetailsBusinessStartDate</label>
            <div class="input-group date" id="dpBusinessStartDate">
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                <span disabled="disabled" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">Ontario Business #</label>
            @*@Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" })*@
            @*<span class="glyphicon glyphicon-ok form-control-feedback"></span>*@
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" },
              isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.BusinessNumber).ToString())))


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback" id="flagStewardDetailsHSTRegistrationNumber">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantHaulerDetailsHSTRegistrationNumber</label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", @readonly = "readonly", placeholder = "" },
                                 isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CommercialLiabHstNumber).ToString())))
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, new { @class = "hst", @readonly = "readonly" }) @UIResource.ParticipantHaulerDetailsHSTExempt
                        </label>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@Html.Raw(UIResource.PrimaryBusinessActivity.ToString()) <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="@UIResource.PrimaryBusinessActivityDescription"></i></label><br>

            <div class="dropdown">
                @Html.DropDownListFor(m => m.BusinessActivity, Model.BusinessActivites, "Select Activity Type", new { @class = "form-control" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString())))


            </div>
        </div>
    </div>

</div><!--/.row-->

<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">Briefly Describe your Business as it relates to New Tire Supply in Ontario</label>

            @Html.TextAreaFor(m => m.SBusinessDesc, (isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SBusinessDesc).ToString()))) ? (object)new { disabled = "disabled",
           @Id = "StewardDetails_SBusinessDesc",
           @class = "form-control",
           placeholder = "",
       } : new
       {
           @Id = "StewardDetails_SBusinessDesc",
           @class = "form-control",
           placeholder = "",
       })

        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">

        <div class="form-group has-required has-feedback">
            <p style="cursor:pointer;" aria-controls="typeOfTiresHandled" aria-expanded="true"
               data-target="#typeOfTiresHandled" data-toggle="collapse">

                <label class="control-label">Steward Type</label>

            </p>

            <em>@UIResource.StewardBusinessType</em>

            @foreach (var tem in subtypes)
            {
                <div class="radio">


                    <label>
                        @*<input type="radio" value="option1" id="optionsRadios1" name="stewardDetailsStewardType">*@
                        @Html.RadioButtonFor(model => model.RegistrantSubTypeID, tem.DefinitionValue, new { @class = "wsib" },
                            isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix,
                            @Html.GetPropertyName(p => p.RegistrantSubTypeID).ToString())))
                        @tem.Description

                        @if (tem.DefinitionValue == 1)
                {
                            <i title="Original Equipment Manufacturer (OEM)" data-placement="auto" class="fa fa-question-circle StewardOriginalEquipmentManufactureOEM"></i>
                            <div style="display:none;" id="StewardOriginalEquipmentManufactureOEM">
                                @Html.Raw(UIResource.StewardOriginalEquipmentManufactureOEM.ToString())
                            </div>

                        }
                        @if (tem.DefinitionValue == 2)
                {
                            <i title="Tire Manufacturer/Brand Owner" data-placement="auto" class="fa fa-question-circle StewardTireManufactureBrandOwner"></i>
                            <div style="display:none;" id="StewardTireManufactureBrandOwner">
                                <p>  @Html.Raw(UIResource.StewardTireManufactureBrandOwner.ToString())</p>
                            </div>
                        }
                        @if (tem.DefinitionValue == 3)
                {
                            <i title="First Importer" data-placement="auto" class="fa fa-question-circle StewardFirstImporter"></i>
                            <div style="display:none;" id="StewardFirstImporter">
                                @Html.Raw(UIResource.StewardFirstImporter.ToString())

                            </div>
                        }
                    </label>
                </div>
            }

        </div>
    </div>
</div><!--/.row-->
@*<div class="row">
        <div class="col-md-4">



        </div>
    </div>*@
<!--/.row-->


<div class="row">
    <div class="col-md-8">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.FeeToAllVendor</label>

            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.HasFeeToALLVendor, true, new { @class = "wsib" },
                            isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.HasFeeToALLVendor).ToString())))

                    Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.HasFeeToALLVendor, false, new { @class = "wsib" },
                            isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.HasFeeToALLVendor).ToString())))
                    No
                </label>
            </div>
        </div>
    </div>
</div>
