﻿@model CL.TMS.DataContracts.ViewModel.Hauler.TermsAndConditionsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];

    bool isBackToApplicant = false;
    if (Model != null)
    {
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    var prefix = @ViewData["prefix"];
}

<div class="row">
    <div class="col-md-12">
        <p>@UIResource.TermsAndConditionsApplicationNameAndPositionauthority</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.CommonPersonFirstName</label>
            @Html.TextBoxFor(model => model.SigningAuthorityFirstName, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityFirstName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.CommonPersonLastName</label>
            @Html.TextBoxFor(model => model.SigningAuthorityLastName, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityLastName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">@UIResource.CommonPersonPosition</label>
            @Html.TextBoxFor(model => model.SigningAuthorityPosition, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityPosition).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <p>@UIResource.TermsAndConditionsApplicationNameAndPhoneNumbeWhoCompleted</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">@UIResource.CommonPersonFirstName</label>
            @Html.TextBoxFor(model => model.FormCompletedByFirstName, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByFirstName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">@UIResource.CommonPersonLastName</label>
            @Html.TextBoxFor(model => model.FormCompletedByLastName, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByLastName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">@UIResource.CommonWordPhoneNumber</label>
            @Html.TextBoxFor(model => model.FormCompletedByPhone, new { @class = "form-control", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByPhone).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <label>@UIResource.TermsAndConditionsApplicationAcknowledgementOfTerms</label>
        <div class="termsandconditions">
            @Html.HiddenFor(x => x.TermsAndConditionsID)
            @Html.Raw(Model.TermAndConditionContent)
            @*@if (Model.ParticipantType == "Hauler")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionHauler);

                }
                else if(Model.ParticipantType == "Collector"){
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionCollector);
                }
                @if (Model.ParticipantType == "Steward")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionSteward);

                }
                else if (Model.ParticipantType == "Processor")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionProcessor);
                }
                @if (Model.ParticipantType == "RPM")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionRPM);
                }*@

        </div><!--/.termsandconditions-->
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4 col-md-offset-2">


        <label>@UIResource.TermsAndConditionsApplicationELECTRONICSIGNATURE</label>
        <div class="termsandconditions-signature has-feedback has-required">
            <label class="control-label">@UIResource.TermsAndConditionsApplicationEnterYourFullName</label>
            @Html.TextBoxFor(model => model.AgreementAcceptedByFullName, new { @class = "form-control", data_signature = "true", maxlength = "50", placeholder = "" },
                isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.AgreementAcceptedByFullName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="checkbox checked termsandconditions-checkbox">
            <label>

                @Html.CheckBox("AgreementAcceptedCheck", Model.AgreementAcceptedCheck.HasValue ? Model.AgreementAcceptedCheck.Value : false, new { })
            </label>

            <label class="no-cursor">

                @if (Model.ParticipantType == "Hauler")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityTo.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)
                }
                else if (Model.ParticipantType == "Collector")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToCollector.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)
                }
                @if (Model.ParticipantType == "Steward")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToSteward.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)
                }
                else if (Model.ParticipantType == "Processor")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToProcessor.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)
                }
                @if (Model.ParticipantType == "RPM")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToRPM.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)
                }


            </label>
        </div>
    </div>
</div><!--/.row-->