﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface


@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];

    bool isBackToApplicant = false;
    if (Model != null)
    {
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    var prefix = @ViewData["prefix"];


}

<div class="row">
    <div class="col-md-3">
        <div class="form-group has-required">
            <label class="control-label">Business Start Date</label>
            <div class='input-group date' id='dpBusinessStartDate'>
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control ", @readonly = "readonly", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group control-label has-required has-feedback">
            <label class="control-label">Ontario Business #</label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "" },
              isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.BusinessNumber).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback" id="flagCollectorDetailsHSTRegistrationNumber">

            <label class="control-label">HST Registration #</label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", placeholder = "" },
                                 isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CommercialLiabHstNumber).ToString())))

                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, new { @class = "hst", @readonly = "readonly" }) @UIResource.ParticipantHaulerDetailsHSTExempt
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">

        <div class="form-group has-required has-feedback">
            <label class="control-label">@Html.Raw(UIResource.PrimaryBusinessActivity.ToString()) <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Select ONE Collector Type that best describes your primary business activity."></i></label><br>

            <div class="dropdown">
                @Html.DropDownListFor(m => m.BusinessActivity, Model.BusinessActivites, "Select Activity Type", new { @class = "form-control" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString())))


            </div>
        </div>

    </div>
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label class="control-label">Commercial Liability Insurance</label>
            @Html.TextBoxFor(m => m.CommercialLiabInsurerName, new { @class = "form-control", maxlength = "50", placeholder = "" },
              isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.CommercialLiabInsurerName).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">

        <div class="form-group has-required">
            <label class="control-label">Expiry Date</label>
            <div class='input-group date' id='dpInsuranceExpiryDate'>
                @Html.TextBoxFor(m => m.CommercialLiabInsurerExpDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">Do you have 1 or more employees?</label>
            <div class="radio">
                <label>  

                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false, new { @class = "wsib" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix,
                            @Html.GetPropertyName(p => p.HasMoreThanOneEmp).ToString())))
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert2" value="option2">*@
                    No, I certify that there are no employees working in my premises.
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true, new { @class = "wsib" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix,
                            @Html.GetPropertyName(p => p.HasMoreThanOneEmp).ToString())))
                    @*<input type="radio" name="optionsRadiosCert" id="optionsRadiosCert1" value="option1">*@
                    Yes
                </label>
            </div>
        </div>
        <div id="pnlWSIB">
            <div class="form-group has-required has-feedback">
                <label class="control-label">WSIB Number</label>
                             @Html.TextBoxFor(m => m.WsibNumber, new { @class = "form-control", maxlength = "7", placeholder = "7 " + @UIResource.ParticipantHaulerDetailsAccountNumber },
                                                       isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.WsibNumber).ToString())))
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>

            </div>
        </div>
    </div>
</div><!--/.row-->