﻿@model CL.TMS.DataContracts.DomainEntities.VendorStorageSite
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface


<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
                Sort Yard 1 Capacity (tonnes)
                <i class="fa fa-question-circle sortYardDetailsTSYC" data-placement="auto" title=""></i>
            </label>
            <div id="sortYardDetailsTSYC" style="display:none;">
                <p>Maximum Capacity for this sort yard refers to the total amount of scrap tires, in metric tonnes, that can be accommodated in this location.</p>
            </div>
            @Html.TextBoxFor(m => m.MaxStorageCapacity, new { @class = "form-control", data_maxstorage = string.Format("{0}", @Html.GetPropertyValue(m => m.MaxStorageCapacity).ToString()), placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4 COA">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">Certificate of Approval #</label>
            @Html.TextBoxFor(m => m.CertificateOfApprovalNumber, new { @class = "form-control", data_certificate = string.Format("{0}", @Html.GetPropertyName(m => m.CertificateOfApprovalNumber).ToString()), placeholder = "Dev. Note: Only show if over 50 tonnes" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div>
