﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;

    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItemProduct");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    if (SecurityContextHelper.IsParticipant())
    {
        isReadOnly = true;
    }

    if (isReadOnly)
    {
        check = "checked:checked";
    }
    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplicationTiresAndProcessingDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12">

            @Html.CheckBox("cbProcessorProductType", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItemProduct")),
            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
            {
                data_validate_field = "cbProcessorProductType",
                data_validate_message = "Invalid Processor Product Type",
                @class = "validation-checkbox no-validate",
                data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItemProduct")
            }))
            <label class="control-label">@UIResource.ProcessorProductProdedureTitle</label>
            <p><em>@UIResource.ProcessorProductProdedureTitleDesc</em></p>
            <div id="product" class="row">
                @{


                    int countno = 1;
                    string startCheckBox = "<div class='checkbox ProductProduce' style='margin-top: 0px;'>";
                    string startHTML = "<div class='col-md-4' style='padding-left: 13px; padding-right: 13px; '>";
                    string endHTML = "</div>";

                    @Html.Raw(startHTML);
                                        if (@Model != null)
                                        {
                                            foreach (var item in Model.ProductsProduceType)
                                            {
                                                if (countno % 6 == 0 && countno != 0)
                                                {
                                                    @Html.Raw(startCheckBox);
                    <label>
                        @{
                                                    if (item.isChecked)
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                                    }
                        }
                        <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())

                    </label>
                    @Html.Raw(endHTML);
                    @Html.Raw(endHTML);
                    @Html.Raw(startHTML);
                                                }
                                                else
                                                {
                                                    @Html.Raw(startCheckBox);
                    <label>
                        @{
                                                    if (item.isChecked)
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}~{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                                    }

                        }
                        <strong>@string.Format("{0}", item.ShortName.Trim())</strong> @string.Format("{0}", item.Name.Trim())


                    </label>
                    @Html.Raw(endHTML);
                                                }
                                                countno++;
                                            }
                                        }

                                        @Html.Raw(endHTML);
                }




            </div><!--/.row-->

            <div id="pnlOtherProd" style="display:none;" class="col-md-4">
                <div class="form-group has-required has-feedback">
                    @Html.TextAreaFor(m => m.OtherProcessProduct, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        @class = "form-control",
                        placeholder = @UIResource.ProcessorOtherProcessorType
                    }))

                </div>
            </div>



        </div>
    </div>
</div>