﻿@model CL.TMS.DataContracts.ViewModel.Hauler.TireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;

    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }

    var isParticipant = ViewData["IsParticipant"];
    if ((bool)isParticipant)
    {
        isReadOnly = true;
    }

    if (isReadOnly)
    {
        check = "checked:checked";
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationTireDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12">
            @*<p data-toggle="collapse" data-target="#typeOfTiresHandled" aria-expanded="true" aria-controls="typeOfTiresHandled" style="cursor:pointer;">
                    <label class="control-label" for="typeOfTiresHandled">@UIResource.ParticipantTireDetailsTypeTypesofTiresHandled</label>
                </p>*@
            @Html.CheckBox("cbHRelatedProcessor", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItem")),
                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        data_validate_field = "cbHRelatedProcessor",
                        data_validate_message = "Invalid Tire Details",
                        @class = "validation-checkbox no-validate",
                        data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem")
                    }))
            <label class="control-label" for="typeOfTiresHandled">
                @UIResource.ParticipantTireDetailsTypeTypesofTiresHandled
            </label><br />
            <em>@UIResource.ParticipantTireDetailsSelectALLtires</em>
        </div>
    </div><!--/.row-->
    @*<div class="form-group has-required has-feedback">*@
    <div class="row" id="item_checkbox">
        @{
            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMT).ToString()},
                {"AGLS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"IND", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresIND).ToString()},
                {"SOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresSOTR).ToString()},
                {"MOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMOTR).ToString()},
                {"LOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresLOTR).ToString()},
                {"GOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresGOTR).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'>";
            string startingHTML = "<div class='col-md-4'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
                                   if (@Model != null)
                                   {
                                       foreach (var item in Model.TireDetailsItemType)
                                       {
                                           if (count % 3 == 0 && count != 0)
                                           {
                                            @Html.Raw(startingCheckBox);
            <label>
                @{
                                               if (item.isChecked)
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                                               else
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                }

                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                @{
                    string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                    <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                    <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                        @{
                            if (details.ContainsKey(itemShortNameReformat))
                            {
                                @Html.Raw(details[itemShortNameReformat]);
                            }
                        }
                    </div>
                }
            </label>
                            @Html.Raw(endingHTML);
                            @Html.Raw(endingHTML);
                            @Html.Raw(startingHTML);
                                           }
                                           else
                                           {
                                            @Html.Raw(startingCheckBox);
            <label>
                @{
                                               if (item.isChecked)
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                                               else
                                               {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "") />
                                               }
                }
                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                @{
                    string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                    <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                    <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                        @{
                            if (details.ContainsKey(itemShortNameReformat))
                            {
                                @Html.Raw(details[itemShortNameReformat]);
                            }
                        }
                    </div>
                }
            </label>
            @Html.Raw(endingHTML);
                                           }
                                           count++;
                                       }
                                   }

                                @Html.Raw(endingHTML);
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="form-group has-feedback has-required">
            @Html.CheckBox("cbHRelatedProcessor", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HHasRelatioshipWithProcessor).ToString())),
                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        test = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HHasRelatioshipWithProcessor).ToString()),
                        data_validate_field = "cbHRelatedProcessor",
                        data_validate_message = "Invalid Processor",
                        @class = "validation-checkbox no-validate relationship-ots",
                        data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HHasRelatioshipWithProcessor).ToString())
                    }))
            <label class="control-label" for="inputSuccess2"> @UIResource.ParticipantTireDetailsDoYouHaveReleation</label>
            <div class="radio tire-details-ignore">
                @Html.RadioButtonFor(model => model.HHasRelatioshipWithProcessor, false, new { @class = "HHasRelatioshipWithProcessor" }, isReadOnly || isResourceReadOnly)<label class="control-label" for="HHasRelatioshipWithProcessor">@UIResource.ParticipantTireDetailsRadioBtnNo</label><br />
                @Html.RadioButtonFor(model => model.HHasRelatioshipWithProcessor, true, new { @class = "HHasRelatioshipWithProcessor" }, isReadOnly || isResourceReadOnly) <label class="control-label" for="HHasRelatioshipWithProcessor">@UIResource.ParticipantTireDetailsRadioBtnYes</label>
            </div>
            <input type="hidden" class="disableProcessorRadioButtonCheck" value='@{ @(isReadOnly || isResourceReadOnly)}' />
        </div>
    </div>
    <div class="col-md-2" id="ProcessDiv">
        <br>
        <label>
            @UIResource.CommonWordProcessor
        </label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                <input type="hidden" id="HRelatedProcessorSelectedValue" value="@Model.HRelatedProcessor" />
                @Html.DropDownListFor(m => m.HRelatedProcessor, new SelectListItem[] { }, "", new
                    {
                        id = @Html.GetExpressionText(p => p.HRelatedProcessor).ToString(),
                        @class = "form-control processorDropDownList"
                    }, (!@Model.HRelatedProcessor.HasValue && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HHasRelatioshipWithProcessor).ToString()))) || isResourceReadOnly)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmRelationshipWithProcessor" tabindex="-1" role="dialog" aria-labelledby="modalConfirmRelationshipWithProcessor" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 class="modal-title" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>You must establish a relationship with a registered Processor before your application is approved.</h4>
                    @*Establish relationship with an existing Processor*@
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger " id="modalConfirmRelationshipWithProcessorNo" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>*@
                <button type="button" id="modalConfirmRelationshipWithProcessorYes" class="btn btn-success " data-dismiss="modal">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    OK
                </button>
            </div>
        </div>
    </div>
</div>