﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;

    var isParticipant = ViewData["IsParticipant"];
    if ((bool)isParticipant)
    {
        isReadOnly = true;
    }
    var subtypes = (List<CL.TMS.DataContracts.DomainEntities.TypeDefinition>)TempData["SubTypes"];

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationStewardDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
    int i = 0;
}
<style>
    .lblStewardType {
        padding-left: 25px;
        color: #333 !important;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">
                @Html.CheckBox("cbBusinessStartDate", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessStartDate", data_validate_message = "Invalid Steward Business Start Date", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessStartDate).ToString()) }))

                Business Start Date
            </label>
            <div class="input-group date" id="dpBusinessStartDate">
                @Html.TextBoxFor(m => m.BusinessStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "", @readonly = "readonly", data_fieldname = "Business Start Date" })

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback" style="right:60px;"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbBusinessNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString())),
                         ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#businessNumber", data_validate_message = "Invalid Steward Ontario Business Number", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessNumber).ToString()) }))
                @UIResource.ParticipantHaulerDetailsOntarioBusinessNumber
            </label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", maxlength = "50", placeholder = "", data_fieldname = "Ontario Business #" }, isReadOnly || isResourceReadOnly)
            @*<span class="glyphicon glyphicon-ok form-control-feedback"></span>*@
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbCommercialLiabHSTNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString())),
                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                           {
                                               data_validate_field = "#commercialLiabHSTNumber",
                                               data_validate_message = "Invalid Steward HST Registration Number",
                                               @class = "validation-checkbox no-validate",
                                               data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.CommercialLiabHstNumber).ToString())
                                           }))
                @UIResource.ParticipantHaulerDetailsHSTRegistrationNumber
            </label>
            <div class="row">
                <div class="col-md-7" id="flagStewardDetailsHSTRegistrationNumber">
                    @Html.TextBoxFor(m => m.CommercialLiabHstNumber, new { @class = "form-control", maxlength = "9", placeholder = "", data_fieldname = "HST Registration #" }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5 checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsTaxExempt, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { @class = "hst", data_fieldname = "HST Exempt" }))
                            @UIResource.ParticipantHaulerDetailsHSTExempt @*<small>(Dev. Note: If checked disable HST field)</small>*@
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">

                @Html.CheckBox("cbBusinessActivity", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString())),
                                                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#PrimaryBusinessActivity", data_validate_message = "Invalid Primary Business Activity", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.BusinessActivity).ToString()) }))

                @UIResource.PrimaryBusinessActivity <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="@UIResource.PrimaryBusinessActivityDescription">
                </i>
            </label><br>
            <div class="dropdown">
                <!--The Value text do NOT use Global language resource!!--> <!--OTSTM2-899 add class "primary-business-activity-dropdown"-->
                @Html.DropDownListFor(m => m.BusinessActivity, Model.BusinessActivites, "Select Activity Type", new { @class = "form-control primary-business-activity-dropdown", data_fieldname = "Primary Business Activity" }, isReadOnly || isResourceReadOnly)
            </div>

        </div>
    </div>

</div><!--/.row-->

<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbSBusinessDesc", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SBusinessDesc).ToString())),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    data_validate_field = "#SBusinessDesc",
                    data_validate_message = "Invalid Primary Business Activity Description",
                    @class = "validation-checkbox no-validate",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SBusinessDesc).ToString())
                }))
                @UIResource.StewardBusinessDesc
            </label>
            @Html.TextAreaFor(m => m.SBusinessDesc, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
       {
           @class = "form-control",
           data_fieldname = "Briefly Describe your Business as it relates to New Tire Supply in Ontario",
           maxlength = "500"
       }))
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-required has-feedback">
            <p style="cursor:pointer;" aria-controls="typeOfTiresHandled" aria-expanded="true" data-target="#typeOfTiresHandled" data-toggle="collapse">

                <label class="control-label">

                    @Html.CheckBox("cbStewardType", !isInvalid.Contains(string.Format("{0}.{1}", prefix,
                   @Html.GetExpressionText(p => p.RegistrantSubTypeID).ToString())),
                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        data_validate_field = "#RegistrantSubTypeID",
                        data_validate_message = "Invalid Steward Type",
                        @class = "validation-checkbox no-validate",
                        data_att_chkbox = string.Format("{0}.{1}", prefix,
                        @Html.GetExpressionText(p => p.RegistrantSubTypeID).ToString())
                    }))
                    @UIResource.StewardType
                </label>

            </p>
            <em>@UIResource.StewardBusinessType</em>


            @foreach (var item in subtypes)
            {
                <div class="radio lblStewardType">
                    @Html.RadioButtonFor(m => m.RegistrantSubTypeID, item.DefinitionValue, new { @class = "steward-type", data_fieldname = "Please select your Steward Type.", id = "steward-type" + @i.ToString() }, isReadOnly || isResourceReadOnly)
                    <label style="margin-left:0px !important">@item.Description</label>

                    @if (item.DefinitionValue == 1)
                    {
                        <i title="Original Equipment Manufacturer (OEM)" data-placement="auto" class="fa fa-question-circle StewardOriginalEquipmentManufactureOEM"></i>
                        <div style="display:none;" id="StewardOriginalEquipmentManufactureOEM">
                            @Html.Raw(UIResource.StewardOriginalEquipmentManufactureOEM.ToString())
                        </div>

                    }
                    @if (item.DefinitionValue == 2)
                    {
                        <i title="Tire Manufacturer/Brand Owner" data-placement="auto" class="fa fa-question-circle StewardTireManufactureBrandOwner"></i>
                        <div style="display:none;" id="StewardTireManufactureBrandOwner">
                            @Html.Raw(UIResource.StewardTireManufactureBrandOwner.ToString())
                        </div>
                    }
                    @if (item.DefinitionValue == 3)
                    {
                        <i title="First Importer" data-placement="auto" class="fa fa-question-circle StewardFirstImporter"></i>
                        <div style="display:none;" id="StewardFirstImporter">
                            @Html.Raw(UIResource.StewardFirstImporter.ToString())
                        </div>
                    }
                </div>
                i++;
            }
        </div>

    </div><!--/.row-->
</div>

<!--/.row-->


<div class="row">

    <div class="col-md-8">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbHasFeeToALLVendor", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasFeeToALLVendor).ToString())),
                                                                           ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_validate_field = "#HasFeeToALLVendor", data_validate_message = "Invalid Stewardship Fee", @class = "validation-checkbox no-validate", data_fieldname = "Are you currently registered with RPRA?", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.HasFeeToALLVendor).ToString()) }))
                @UIResource.FeeToAllVendor
            </label>

            <div class="radio lblStewardType">
                @Html.RadioButtonFor(model => model.HasFeeToALLVendor, true, new { @class = "wsib", data_fieldname = "Are you currently registered with RPRA?", id = "HasFeeToALLVendorYes" }, isReadOnly || isResourceReadOnly)
                <label style="margin-left:0px !important">
                    Yes
                </label>
            </div>
            <div class="radio lblStewardType">
                @Html.RadioButtonFor(model => model.HasFeeToALLVendor, false, new { @class = "wsib", data_fieldname = "Are you currently registered with RPRA?", id = "HasFeeToALLVendorNo" }, isReadOnly || isResourceReadOnly)
                <label style="margin-left:0px !important">
                    No
                </label>
            </div>
        </div>
    </div>
</div>
