﻿@model CL.TMS.DataContracts.ViewModel.Processor.ProcessorTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;

    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
       
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.OffHold:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    if (isReadOnly)
    {
        check = "checked:checked";
    }
}
<div class="col-md-12">
    <label>Products Produced</label>
    <p class="help-block"><em>Please indicate ALL Tire Derived Products (TDP), Tire Delivered Fuel (TDF), Land Fill Cover and/or other products that your business produces:</em></p>
    <div class="row">
        @{


            int countno = 1;
            string startCheckBox = "<div class='checkbox'>";
            string startHTML = "<div class='col-md-4'>";
            string endHTML = "</div>";

            @Html.Raw(startHTML);
                                if (@Model != null)
                                {
                                    foreach (var item in Model.ProductsProduceType)
                                    {
                                        if (countno % 6 == 0 && countno != 0)
                                        {
                                            @Html.Raw(startCheckBox);
            <label>
                @{
                                            if (item.isChecked)
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                            }
                }
                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())

                
            </label>
            @Html.Raw(endHTML);
            @Html.Raw(endHTML);
            @Html.Raw(startHTML);
                                        }
                                        else
                                        {
                                            @Html.Raw(startCheckBox);
            <label>
                @{
                                            if (item.isChecked)
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' checked="checked" @(isReadOnly ? "disabled" : "") />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@data_att_chkbox' data-tiredetails="tire_val" data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly ? "disabled" : "") />
                                            }

                }
                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())



            </label>
            @Html.Raw(endHTML);
                                        }
                                        countno++;
                                    }
                                }

                                @Html.Raw(endHTML);
        }





    </div><!--/.row-->
</div>