﻿@model List<CL.TMS.DataContracts.ViewModel.Hauler.ContactRegistrationModel>
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.CommonPartialView)ViewData["ContactInformation"];

    var isInvalid = partialViewData.InvalidFormFieldList;

    //var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    var isBackToApplicant = Model.Count > 0 && Model[0].Status == ApplicationStatusEnum.BackToApplicant;
    //var prefix = ViewData["prefix"];
    var prefix = partialViewData.prefix;

    if (Model != null)
    {
        if (Model.Count > 0)
        {
            switch (Model[0].Status)
            {
                case ApplicationStatusEnum.Submitted:
                case ApplicationStatusEnum.Assigned:
                case ApplicationStatusEnum.OnHold:
                case ApplicationStatusEnum.OffHold:
                case ApplicationStatusEnum.Approved:
                case ApplicationStatusEnum.BankInformationSubmitted:
                case ApplicationStatusEnum.BankInformationApproved:
                case ApplicationStatusEnum.Completed:
                case ApplicationStatusEnum.Denied:
                    isReadOnly = false;
                    break;
                default:
                    isReadOnly = true;
                    break;
            }
        }
    }


    var contactAddressFlag = true;
    //var prefix = prefix;

    //var isParticipant = ViewData["IsParticipant"];
    var isParticipant = partialViewData.IsParticipant;
    if (Convert.ToBoolean(isParticipant))
    {
        isReadOnly = true;
    }

    var ContactInfoResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForContactInfo(partialViewData.Type);
    var isResourceReadOnly = ContactInfoResource == CL.TMS.Security.SecurityResultType.ReadOnly;
    //OTSTM2-50
    bool isRemoveButtonVisible = Model != null ?
                                    (Model.Count > 0 ?
                                        (Model[0].Status == ApplicationStatusEnum.Submitted
                                        || Model[0].Status == ApplicationStatusEnum.Assigned
                                        || Model[0].Status == ApplicationStatusEnum.UnderReview
                                        || Model[0].Status == ApplicationStatusEnum.OnHold
                                        || Model[0].Status == ApplicationStatusEnum.OffHold
                                        || Model[0].Status == ApplicationStatusEnum.Approved
                                        || Model[0].Status == ApplicationStatusEnum.BankInformationSubmitted
                                        || Model[0].Status == ApplicationStatusEnum.BankInformationApproved)
                                    : false)
                                : false;
    bool isStaff = SecurityContextHelper.IsStaff();

    var isContactPanelVisible = ContactInfoResource == CL.TMS.Security.SecurityResultType.ReadOnly || ContactInfoResource == CL.TMS.Security.SecurityResultType.EditSave;
    var isContactPanelEditable = ContactInfoResource == CL.TMS.Security.SecurityResultType.EditSave;
}

<div id="divContactTemplate">
    <input id="contactCount" name="invalidList" type="hidden" value='@(Model != null ? Model.Count : 0)' />
    <textarea class="temp" style="display: none">
        <div><i class="fa fa-minus-circle btnRemoveContact" data-buttontype="removed" type="button" aria-hidden="true" style="color:red; font-size:20px; cursor: pointer; position:absolute; z-index:100; margin-left: -30px"></i></div>@*OTSTM2-50*@
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label>
                        @Html.CheckBox("cbPrimaryContactFirstName", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.FirstName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 data_validate_field = "#ContactInformation[0].ContactInformationContact.FirstName",
                                 data_validate_message = MessageResource.ValidationMsgInvalidPrimaryContactFirstName,
                                 @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                 data_fieldname = "First Name",
                                 data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.FirstName).ToString())
                             }))
                        <span class="contactFName">@UIResource.ParticipantContactInformationPrimaryFName</span>
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.FirstName, new
               {
                   @class = "form-control dynamic-required",
                   maxlength = "50",
                   placeholder = "",
                   data_fieldname = "First Name"
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label>
                        @Html.CheckBox("cbPrimaryContactLastName", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.LastName).ToString())),
                              ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                              {
                                  data_validate_field = "#ContactInformation[0].ContactInformationContact.LastName",
                                  data_validate_message = MessageResource.ValidationMsgInvalidPrimaryContactLastName,
                                  @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                  data_fieldname = "Last Name",
                                  data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.LastName).ToString())
                              }))
                        <span class="contactLName">@UIResource.ParticipantContactInformationPrimaryLName</span>
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.LastName, new
               {
                   @class = "form-control dynamic-required",
                   maxlength = "50",
                   placeholder = "",
                   data_fieldname = "Last Name"
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputWarning2">
                        @Html.CheckBox("cbPosition", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Position).ToString())),
                                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                {
                                                    data_validate_field = "#ContactInformation[0].ContactInformationContact.Position",
                                                    data_validate_message = MessageResource.ValidationMsgInvalidPosition,
                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                    data_fieldname = "Position",
                                                    data_att_chkbox = string.Format("{0}{1}", prefix,
                                                   @Html.GetExpressionText(p => p[0].ContactInformation.Position).ToString())
                                                }))

                        @UIResource.CommonPersonPosition
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.Position, new
               {
                   @class = "form-control dynamic-required",
                   maxlength = "50",
                   data_fieldname = "Position",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbPhoneNumber", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.PhoneNumber).ToString())),
                                       ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                       {
                                           data_validate_field = "#ContactInformation[0].ContactInformationContact.PhoneNumber",
                                           data_validate_message = MessageResource.ValidationMsgInvalidPhone,
                                           data_fieldname = "Phone",
                                           @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                           data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.PhoneNumber).ToString())
                                       }))
                        @UIResource.CommonPersonPhoneNumber
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.PhoneNumber, new
               {
                   @class = "form-control dynamic-regex-phone",
                   maxlength = "50",
                   data_fieldname = "Phone",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    @*<span class="glyphicon glyphicon-ok form-control-feedback"></span>*@
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group has-required has-feedback">
                    <label class="control-label">
                        @Html.CheckBox("cbExtension", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Ext).ToString())),
                                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                {
                                                    data_validate_field = "#ContactInformation[0].ContactInformationContact.Ext",
                                                    data_validate_message = MessageResource.ValidationMsgInvalidExt,
                                                    data_fieldname = "Ext.",
                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                    data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Ext).ToString())
                                                }))
                        @UIResource.CommonPersonPhoneNumberExt
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.Ext, new
               {
                   @class = "form-control",
                   maxlength = "50",
                   data_fieldname = "Ext.",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbAlternatePhoneNumber", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.AlternatePhoneNumber).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationContact.AlternatePhoneNumber",
                                data_validate_message = MessageResource.ValidationMsgInvalidMobileNumber,
                                data_fieldname = "Mobile",
                                @class = "validation-checkbo no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.AlternatePhoneNumber).ToString())
                            }))
                        @UIResource.CommonPersonMobileNumber
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.AlternatePhoneNumber, new
               {
                   @class = "form-control dynamic-regex-phone",
                   maxlength = "50",
                   data_fieldname = "Mobile",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">

                        @Html.CheckBox("cbEmail", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Email).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationContact.Email",
                                data_validate_message = MessageResource.ValidationMsgInvalidEmail,
                                data_fieldname = "Email",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Email).ToString())
                            }))
                        @UIResource.CommonPersonEmailAddress
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactInformation.Email, new
               {
                   @class = "form-control dynamic-regex-email dynamic-required dynamic-review-chckbox",
                   data_fieldname = "Email",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m[0].ContactInformation.ContactAddressSameAsBusiness, new
                   {
                       id = "ContactAddressSameAsBusinessAddress",
                       data_fieldname = "Contact Address Same As Business Address",
                   })
                        Contact Address same as Business Address
                    </label>
                </div>
            </div>
        </div>
        <div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
            <div class="col-md-6">
                <div class="form-group has-required has-feedback">
                    <label class="control-label">
                        @Html.CheckBox("cbAddress1", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine1).ToString())),
                                          ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                          {
                                              data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address1",
                                              data_validate_message = "Invalid Address Line 1",
                                              @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                              data_fieldname = "Address Line 1",
                                              data_att_chkbox = string.Format("{0}{1}",
                                             prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine1).ToString())
                                          }))

                        Address Line 1
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.AddressLine1, new
               {
                   @class = "form-control title-case dynamic-required",
                   maxlength = "50",
                   data_fieldname = "Address Line 1",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbAddress2", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine2).ToString())),
                                                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                            {
                                                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address2",
                                                                data_validate_message = "Invalid Address Line 2",
                                                                data_fieldname = "Address Line 2",
                                                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.AddressLine2).ToString())
                                                            }))
                        Address Line 2
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.AddressLine2, new
               {
                   @class = "form-control title-case",
                   maxlength = "50",
                   data_fieldname = "Address Line 2",
                   placeholder = "Suite, Unit, Bldg., etc."
               }, isReadOnly || isResourceReadOnly)
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbCity", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.City).ToString())),
                                                   ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                   {
                                                       data_validate_field = "#ContactInformation[0].ContactInformationAddress.City",
                                                       data_validate_message = "Invalid City",
                                                       data_fieldname = "City",
                                                       @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                       data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.City).ToString())
                                                   }))

                        City
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.City, new
               {
                   @class = "form-control dynamic-required",
                   maxlength = "50",
                   data_fieldname = "City",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div class="form-group has-required has-feedback">
                    <label class="control-label" for="inputSuccess2">
                        @Html.CheckBox("cbPostalCode", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Postal).ToString())),
                                                   ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                   {
                                                       data_validate_field = "#ContactInformation[0].ContactInformationAddress.PostalCode",
                                                       data_validate_message = "Invalid Postal / Zip",
                                                       data_fieldname = "Protal/Zip",
                                                       @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                       data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Postal).ToString())
                                                   }))
                        Postal / Zip
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.Postal, new
               {
                   @class = "form-control dynamic-regex-postal",
                   maxlength = "50",
                   data_fieldname = "Postal/Zip",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>


            </div>

            <div class="col-md-3">
                <div class="form-group has-required has-feedback">
                    <label class="control-label">
                        @Html.CheckBox("cbProvince", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Province).ToString())),
                                                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                            {
                                                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.Province",
                                                                data_validate_message = "Invalid Province/State",
                                                                data_fieldname = "Province/State",
                                                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Province).ToString())
                                                            }))
                        Province / State
                    </label>
                    @Html.TextBoxFor(m => m[0].ContactAddress.Province, new
               {
                   @class = "form-control",
                   maxlength = "50",
                   data_fieldname = "Province/State",
                   placeholder = ""
               }, isReadOnly || isResourceReadOnly)
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <div class="form-group has-required has-feedback">
                    <label>

                        @Html.CheckBox("cbCountry", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Country).ToString())),
                                                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                            {
                                                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.Country",
                                                                data_validate_message = "Invalid Country",
                                                                data_fieldname = "Country",
                                                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactAddress.Country).ToString())
                                                            }))
                        Country
                    </label><br>

                    <div class="dropdown">
                        @Html.DropDownListFor(m => m[0].ContactAddress.Country, new SelectListItem[]{
                                new SelectListItem() {Text = "Canada", Value="Canada"},
                                new SelectListItem() {Text = "USA", Value="USA"},
                                new SelectListItem() {Text = "Other", Value="Other"}},
                                "Select Country",
                                new { @class = "form-control dynamic-required dropdownCountry", data_fieldname = "Country" },
                                         isReadOnly || isResourceReadOnly)
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </textarea>
    @for (var i = 0; i < Model.Count; i++)
    {
        <textarea id='@(string.Format("contactTemplate{0}", i.ToString()))' style="display:none" data-sectionname="Contact @i.ToString()">
            @Html.HiddenFor(m => m[i].ContactInformation.ID)
            @Html.HiddenFor(m => m[i].ContactInformation.AddressID)
            <div style="@((i > 0 && isRemoveButtonVisible && isContactPanelVisible && isStaff) ? "display:block;" : "display:none;");">
                <i class="fa fa-minus-circle btnRemoveContact" data-buttontype="removed" type="button" aria-hidden="true" style="font-size:20px; @((isContactPanelEditable) ? "cursor: pointer; color: red" : "cursor: not-allowed; color: salmon; pointer-events: none"); position:absolute; z-index:100; margin-left: -30px"></i>
            </div>  @*OTSTM2-50*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label>
                            @Html.CheckBox("cbPrimaryContactFirstName", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.FirstName).ToString())),
                                        ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                        {
                                            data_validate_field = "#ContactInformation[0].ContactInformationContact.FirstName",
                                            data_validate_message = MessageResource.ValidationMsgInvalidPrimaryContactFirstName,
                                            @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                            data_fieldname = "First Name",
                                            data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.FirstName).ToString())
                                        }))
                            <span class="contactFName">@UIResource.ParticipantContactInformationPrimaryFName</span>
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.FirstName, new
                   {
                       @class = "form-control dynamic-required",
                       maxlength = "50",
                       data_fieldname = "First Name",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label>
                            @Html.CheckBox("cbPrimaryContactLastName", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.LastName).ToString())),
                                                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                            {
                                                                data_validate_field = "#ContactInformation[i].ContactInformationContact.LastName",
                                                                data_validate_message = MessageResource.ValidationMsgInvalidPrimaryContactLastName,
                                                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                                data_fieldname = "Last Name",
                                                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.LastName).ToString())
                                                            }))
                            <span class="contactLName">@UIResource.ParticipantContactInformationPrimaryLName</span>
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.LastName, new
                   {
                       @class = "form-control dynamic-required",
                       maxlength = "50",
                       data_fieldname = "Last Name",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputWarning2">
                            @Html.CheckBox("cbPosition", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Position).ToString())),
                                                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                                {
                                                    data_validate_field = "#ContactInformation[0].ContactInformationContact.Position",
                                                    data_validate_message = MessageResource.ValidationMsgInvalidPosition,
                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                    data_fieldname = "Position",
                                                    data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Position).ToString())
                                                }))
                            @UIResource.CommonPersonPosition
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.Position, new
                   {
                       @class = "form-control dynamic-required",
                       maxlength = "50",
                       data_fieldname = "Position",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbPhoneNumber", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.PhoneNumber).ToString())),
                                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly,
                                                new
                                                {
                                                    data_validate_field = "#ContactInformation[0].ContactInformationContact.PhoneNumber",
                                                    data_validate_message = MessageResource.ValidationMsgInvalidPhone,
                                                    @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                                    data_fieldname = "Phone",
                                                    data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.PhoneNumber).ToString())
                                                }))
                            @UIResource.CommonPersonPhoneNumber
                        </label>
                        @{
                            if (i == 0)
                            {
                                @Html.TextBoxFor(m => m[i].ContactInformation.PhoneNumber, new
                           {
                               @class = "form-control dynamic-required dynamic-regex-phone",
                               maxlength = "50",
                               data_fieldname = "Phone",
                               placeholder = ""
                           }, isReadOnly || isResourceReadOnly)
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m[i].ContactInformation.PhoneNumber, new
                           {
                               @class = "form-control dynamic-regex-phone",
                               maxlength = "50",
                               data_fieldname = "Phone",
                               placeholder = ""
                           }, isReadOnly || isResourceReadOnly)
                            }
                        }
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbExtension", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Ext).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 data_validate_field = "#ContactInformation[0].ContactInformationContact.Ext",
                                 data_validate_message = MessageResource.ValidationMsgInvalidExt,
                                 @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                 data_fieldname = "Ext.",
                                 data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[0].ContactInformation.Ext).ToString())
                             }))
                            @UIResource.CommonPersonPhoneNumberExt
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.Ext, new
                   {
                       @class = "form-control",
                       maxlength = "50",
                       data_fieldname = "Ext.",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbAlternatePhoneNumber", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.AlternatePhoneNumber).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationContact.AlternatePhoneNumber",
                                data_validate_message = MessageResource.ValidationMsgInvalidMobileNumber,
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_fieldname = "Mobile",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.AlternatePhoneNumber).ToString())
                            }))
                            @UIResource.CommonPersonMobileNumber
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.AlternatePhoneNumber, new
                   {
                       @class = "form-control dynamic-regex-phone",
                       maxlength = "50",
                       data_fieldname = "Mobile",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">

                            @Html.CheckBox("cbEmail", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Email).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationContact.Email",
                                data_validate_message = MessageResource.ValidationMsgInvalidEmail,
                                data_fieldname = "Email",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactInformation.Email).ToString())
                            }))

                            @UIResource.CommonPersonEmailAddress
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactInformation.Email, new
                   {
                       @class = "form-control dynamic-regex-email dynamic-required",
                       placeholder = "",
                       data_fieldname = "Email"
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            @if (Model[i].Status == ApplicationStatusEnum.BackToApplicant)
                            {
                                @Html.CheckBoxFor(m => m[i].ContactAddressSameAsBusinessAddress, new
                           {
                               @class = "isContactAddressSameAsBusinessAddress ContactAddressSameAsBusinessAddress",
                               id = "ContactAddressSameAsBusinessAddress",
                               data_fieldname = "Contact Address same as Business Address",
                               disabled = "disabled"
                           })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => m[i].ContactAddressSameAsBusinessAddress, new
                           {
                               @class = "isContactAddressSameAsBusinessAddress ContactAddressSameAsBusinessAddress",
                               id = "ContactAddressSameAsBusinessAddress",
                               data_fieldname = "Contact Address same as Business Address"
                           })
                            }
                            Contact Address same as Business Address
                        </label>
                    </div>
                </div>
            </div>

            <div class="row contactAddressDifferent" style="@(contactAddressFlag == true ? "display:block;" : "display:none;")">
                <div class="col-md-6">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbAddress1", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine1).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address1",
                                data_validate_message = "Invalid Address Line 1",
                                data_fieldname = "Address Line 1",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine1).ToString())
                            }))

                            Address Line 1
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine1, new
                   {
                       @class = "form-control title-case dynamic-required",
                       maxlength = "50",
                       data_fieldname = "Address Line 1",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbAddress2", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine2).ToString())),
                               ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                               {
                                   data_validate_field = "#ContactInformation[0].ContactInformationAddress.Address2",
                                   data_validate_message = "Invalid Address Line 2",
                                   data_fieldname = "Address Line 2",
                                   @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                   data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.AddressLine2).ToString())
                               }))
                            Address Line 2
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactAddress.AddressLine2, new
                   {
                       @class = "form-control title-case",
                       maxlength = "50",
                       data_fieldname = "Address Line 2",
                       placeholder = "Suite, Unit, Bldg., etc."
                   }, isReadOnly || isResourceReadOnly)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbCity", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.City).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.City",
                                data_validate_message = "Invalid City",
                                data_fieldname = "City",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.City).ToString())
                            }))

                            City
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactAddress.City, new
                   {
                       @class = "form-control dynamic-required",
                       maxlength = "50",
                       data_fieldname = "City",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group has-required has-feedback">
                        <label class="control-label" for="inputSuccess2">
                            @Html.CheckBox("cbPostalCode", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Postal).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.PostalCode",
                                data_validate_message = "Invalid Postal / Zip",
                                data_fieldname = "Postal/Zip",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Postal).ToString())
                            }))
                            Postal / Zip
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactAddress.Postal, new
                   {
                       @class = "form-control dynamic-regex-postal",
                       maxlength = "50",
                       data_fieldname = "Postal/Zip",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>


                </div>

                <div class="col-md-3">
                    <div class="form-group has-required has-feedback">
                        <label class="control-label">
                            @Html.CheckBox("cbProvince", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Province).ToString())),
                            ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                            {
                                data_validate_field = "#ContactInformation[0].ContactInformationAddress.Province",
                                data_validate_message = "Invalid Province/State",
                                data_fieldname = "Province/State",
                                @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Province).ToString())
                            }))
                            Province / State
                        </label>
                        @Html.TextBoxFor(m => m[i].ContactAddress.Province, new
                   {
                       @class = "form-control",
                       maxlength = "50",
                       data_fieldname = "Province/State",
                       placeholder = ""
                   }, isReadOnly || isResourceReadOnly)
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group has-required has-feedback">
                        <label>

                            @Html.CheckBox("cbCountry", !isInvalid.Contains(string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Country).ToString())),
                               ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                               {
                                   data_validate_field = "#ContactInformation[0].ContactInformationAddress.Country",
                                   data_validate_message = "Invalid Country",
                                   data_fieldname = "Country",
                                   @class = "validation-checkbox no-validate dynamic-review-chckbox",
                                   data_att_chkbox = string.Format("{0}{1}", prefix, @Html.GetExpressionText(p => p[i].ContactAddress.Country).ToString())
                               }))
                            Country
                        </label><br>

                        <div class="dropdown">
                            @Html.HiddenFor(m => m[i].ContactAddress.Country, new { id = string.Format("{0}{1}", "contactAddressCountry", i) })
                            @Html.DropDownListFor(m => m[i].ContactAddress.Country, new SelectListItem[]{
                                new SelectListItem() {Text = "Canada", Value="Canada"},
                                new SelectListItem() {Text = "USA", Value="USA"},
                            new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new
                            {
                                @class = "form-control dynamic-required dropdownCountry",
                                data_fieldname = "Country"
                            }, isReadOnly || isResourceReadOnly)
                        </div>
                    </div>
                </div>
            </div><!--/.row-->

        </textarea>
    }
</div><!-- finish contactTemplate  -->
