﻿
@{
    ViewBag.Title = "Antiforgery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oops!</h2>
<strong>Something went wrong (Antiforgery session)</strong>
<a href="/Account/Login">Login</a>

