﻿@model CL.TMS.DataContracts.ViewModel.System.ForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <span>@UIResource.ForgotPasswordInfo</span><br/><br />
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        @Html.TextBoxFor(r => r.EmailAddress, new { id = "emailAddressText", @class = "form-control", placeholder = @UIResource.UserNamePlaceHolder })
    </div>
        if(!string.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <strong>@ViewBag.StatusMessage</strong>
        }
        <span class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
            @Html.ValidationSummary(false, "", new { style = "list-style-type:none" })
        </span>
    <div class="row">
        <div class="col-xs-12">
            @if(string.IsNullOrEmpty(ViewBag.StatusMessage))
            { 
              <button type="submit" id="submit-button" class="btn btn-success col-xs-12">@UIResource.Send</button>
            }
        </div>
    </div>
}

