﻿@model CL.TMS.DataContracts.ViewModel.System.AuthenticationUser

@{
    ViewBag.Title = "TreadMarks Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { DefaultButton = "submit-button", id = "MyForm" }))
{
    @Html.HiddenFor(model=>model.VendorId)
    @Html.AntiForgeryToken()
    if (ViewBag.SessionTimeOut == true)
    {
        <div class="help-block color-tm-red txt-c">
            <strong>@UIResource.SessionTimeOut</strong>
        </div>
    }

    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        @Html.TextBoxFor(r => r.UserName, new { id = "authenticationUsername-input", @class = "form-control", placeholder = @UIResource.UserNamePlaceHolder })
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        @Html.PasswordFor(r => r.Password, new { id = "password-input", @class = "form-control", placeholder =UIResource.Password  })
    </div>
    <div id="remember-me-wrapper">
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox-nice">
                    <input type="checkbox" id="remember-me" name="RememberMe" value="true" @Html.Raw((Model != null && Model.RememberMe) ? "checked=\"Checked\"" : "") />
                    <label for="remember-me">
                        @UIResource.RememberMe
                    </label>
                </div>
            </div>
            <a href="/Account/ForgotPassword" id="login-forget-link" class="col-xs-6" style="text-align:right; right:5px; white-space:nowrap">
                @UIResource.ForgotChangePassword
            </a>
        </div>
        <div class="row">
            <a href="/System/AppInvitation/Registration" id="request-account-link" class="col-xs-6 col-xs-offset-6" style="font-size:0.875em; text-align:right;margin-top:3px">Request an Account</a>
        </div>
    </div>
     <span class="help-block color-tm-red txt-c" id="error-message-area" style="font-weight:600;">@*padding:0 25px;*@
        @Html.ValidationSummary(false, "")
    </span>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" id="submit-button" class="btn btn-success col-xs-12">@UIResource.Login</button>
        </div>
    </div>
}

<script>

    $(document).ready(function () { $("input").attr("autocomplete", "off"); });

    var userName = "";
    $(document).ready(function () {
        userName = $("#username-input").val();
        $("#MyForm").keypress(function (e) {
            kCode = e.keyCode || e.charCode //for cross browser
            if (kCode == 13) {
                var defaultbtn = $(this).attr("DefaultButton");
                $("#" + defaultbtn).click();
                return true;
            }
        });

        //Detect the browser user are using 
        //'edge' for Edge, 'trident/7.0' for IE 11, 'trident/6.0' for IE10, 'trident/5.0' for IE9, 'firefox' for Firefox, 'chrome' for Chrome
        if (navigator.userAgent.toLowerCase().indexOf('edge') >= 0) {
            $("#authenticationUsername-input").attr("disabled", "disabled");
            $("#password-input").attr("disabled", "disabled");
            $("#remember-me").attr("disabled", "disabled");
            $("#submit-button").attr("disabled", "disabled");
            $("#login-forget-link").removeAttr("href");
            $("#request-account-link").removeAttr("href");
            var html = "<div class=\"validation-summary-errors\"><ul><li>You are using Windows Edge browser</li><li>Please change to another browser</li></ul></div>";
            $("#error-message-area").append(html);
        }
    });

    $("#username-input").on("keyup", function () {

        var currentUserNameTxt = $("#username-input").val();
        var rememberMe = $("#remember-me").is(":checked");

        if (userName != "" && currentUserNameTxt != userName && rememberMe)
        {
            $("#remember-me").attr("checked", false);
        }
    });
</script>