﻿@model  CL.TMS.DataContracts.ViewModel.System.UserPasswordResetModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using(Html.BeginForm("ResetPassword","Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(r => r.ID)
    @Html.HiddenFor(r => r.Token)
    @Html.HiddenFor(r => r.Ops)
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        @Html.TextBoxFor(r => r.UserName, new { id = "username-input", @class = "form-control", placeholder = UIResource.UserNamePlaceHolder, @readonly="" })
    </div>
     <span class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
         @if(Model != null)
         { 
             if (Model.Ops.Equals("1"))
             {
                <span>@UIResource.PasswordExpired</span>
             }
         }
       </span>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        @Html.PasswordFor(r => r.Password, new { id = "password1-input", @class = "form-control", placeholder = UIResource.NewPassword, @autofocus="" })
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        @Html.PasswordFor(r => r.ConfirmPassword, new { id = "password2-input", @class = "form-control", placeholder = UIResource.ConfirmNewPassword })
    </div>
    <span class="help-block color-tm-red txt-c" style="font-weight:600;padding:0 25px;">
        @Html.ValidationSummary(false, "")
    </span>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" id="submit-button" class="btn btn-success col-xs-12">@UIResource.Login</button>
        </div>
    </div>
}

<script>
    $(function () {
        $("form").on("invalid-form.validate", function (error, element) {
            var password = $("#password1-input").val();
            var confirmPassword = $("#password2-input").val();
            if (password != confirmPassword && confirmPassword != "") {

                $("#password2-input").val("");
                $("#password1-input").val("");
                $("#password1-input").focus();
            }
            else if (password != "" && confirmPassword == "") {
                $("#password2-input").focus();
            }
            else {
                $("#password1-input").focus();
            }

        });
    });

</script>



