﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Transaction;

@{
    string viewBagHeaderName = ViewBag.HeaderName ?? "TCR Transactions";

    if (viewBagHeaderName.Contains("TCR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>TCR #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="lr-small-pading" style="width:5%">Notes</th>

                    <th class="">Date</th>
                    <th>Collector</th>
                    <th>Group</th>
                    <th>Rate Group</th>
                    <th class="lr-small-pading" style="width:3%">PLT</th>

                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>

                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th class="lr-small-pading" style="width:3%">Gen.</th>
                    <th>On-Road(KG)</th>
                    <th>Off-Road(KG)</th>

                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("DOT Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>DOT #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="lr-small-pading" style="width:5%">Notes</th>

                    <th class="">Date</th>
                    <th>Collector</th>
                    <th>Group</th>
                    <th class="lr-small-pading" style="width:3%">Rate Group</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>

                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th class="lr-small-pading" style="width:3%">Gen.</th>
                    <th>Scale (KG)</th>
                    <th>Est.(KG)</th>

                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("STC Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>STC #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">Notes</th>

                    <th class="">Date</th>
                    <th>Group/ Ind.</th>
                    @*OTSTM2-1215*@
                    <th>Event#</th>
                    @*<th>Group</th>*@
                    @*<th>Rate Group</th>*@
                    <th class="lr-small-pading" style="width:3%">PLT</th>

                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>

                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th>On-Road(KG)</th>
                    <th>Off-Road(KG)</th>
                    <th>Actions</th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("UCR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>UCR #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="lr-small-pading" style="width:5%">Notes</th>

                    <th class="">Date</th>
                    <th>Reg.#/Site Name</th>
                    <th>Group</th>
                    <th>Rate Group</th>
                    <th class="lr-small-pading" style="width:3%">PLT</th>

                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>

                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th>On-Road(KG)</th>
                    <th>Off-Road(KG)</th>
                    <th>Actions</th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("HIT Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>HIT #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">Notes</th>

                    <th class="">Date</th>
                    <th>Hauler</th>
                    <th class="lr-small-pading" style="width:3%">PLT</th>
                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>

                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>
                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>

                    <th>On-Road(KG)</th>
                    <th>Off-Road(KG)</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("RTR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>RTR #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">Notes</th>

                    <th class="">Date</th>
                    <th>Market</th>
                    <th>Type</th>
                    <th>Buyer</th>
                    <th>Invoice#</th>

                    <th class="lr-small-pading" style="width:3%">PLT</th>
                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>

                    <th class="lr-small-pading" style="width:3%">MOTR</th>
                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th class="lr-small-pading" style="width:3%">On-Road(KG)</th>
                    <th class="lr-small-pading" style="width:3%">Off-Road(KG)</th>

                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("PTR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>iPad/Form</th>
                    <th>PTR #</th>
                    <th class="lr-small-pading">Rev. Stat.</th>
                    <th>Adj.</th>
                    <th class="lr-small-pading" style="width:5%">Notes</th>

                    <th class="lr-small-pading td-center">Date</th>
                    <th>Processor</th>
                    <th >Group</th>
                    <th class="lr-small-pading" style="width:3%">Rate Group</th>
                    <th class="lr-small-pading" style="width:3%">PLT</th>

                    <th class="lr-small-pading" style="width:3%">MT</th>
                    <th class="lr-small-pading" style="width:3%">AG/LS</th>
                    <th class="lr-small-pading" style="width:3%">IND</th>
                    <th class="lr-small-pading" style="width:3%">SOTR</th>
                    <th class="lr-small-pading" style="width:3%">MOTR</th>

                    <th class="lr-small-pading" style="width:3%">LOTR</th>
                    <th class="lr-small-pading" style="width:3%">GOTR</th>
                    <th>On-Road(KG)</th>
                    <th>Off-Road(KG)</th>
                    <th>Scale(KG)</th>

                    <th>Est.(KG)</th>
                    <th>Var.(%)</th>
                    <th class="lr-small-pading" style="width:3%">Actions</th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
}

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>

