﻿@using CL.TMS.Resources

<script type="text/ng-template" id="paper-form.html">
    <div class="comp-all-modal">
        <form id="transForm" name="transForm">
            <div class="modal-header">
                <button type="button" ng-click="cancelPaperForm()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">RTR Paper Form</h3>
            </div>
            <div class="modal-body padding-25">
                <creation-status-message ng-if="statusModel.display" status-model="statusModel"></creation-status-message>

                <div class="row">
                    <div class="col-md-3">
                        <form-date-picker label-text="Date Sold" form="transForm" form-date="trans.formDate"></form-date-picker>
                    </div>
                    <div class="col-md-3">
                        <form-number-collector form="transForm" claim-id={{trans.claimId}} form-type="RTR" form-number="trans.formNumber"></form-number-collector>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <rtr-tire-market-collector form="transForm" tire-market="trans.tireMarketInfo" country-list="trans.countryList" supporting-document-list="trans.supportingDocumentList" company-info="trans.companyInfo"></rtr-tire-market-collector>
                    </div>

                    <div class="col-md-3">
                        <invoice-number-collector form="transForm" invoice-number="trans.invoiceNumber"></invoice-number-collector>
                    </div>
                </div>

                <br />

                <unregistered-company-collector form="transForm" company-info="trans.companyInfo" company-label-text="{{'Buyer Name'}}" country-list="trans.countryList"></unregistered-company-collector>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <tire-type-count form="transForm" tire-type-list="trans.tireTypeList"></tire-type-count>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <supporting-document-selector list="trans.supportingDocumentList"></supporting-document-selector>
                    </div>
                </div>

                <document-uploader transaction-id="{{trans.transactionId}}" upload-list="trans.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>

                @if (@ViewBag.AllowInternalNote)
                {
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <internal-note-collector form="transForm" internal-note="trans.internalNote"></internal-note-collector>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger btn-lg" ng-click="cancelPaperForm()">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    @UIResource.Cancel
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="submitPaperForm()">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</script>