﻿@using CL.TMS.Resources

<script type="text/ng-template" id="sps-product-detail.html">
    <div class="row">
        <div class="col-md-6">            
            <div class="form-group" cl-show-errors>
                <label>Product Type</label><br>
                <select class="form-control" name="productList" ng-model="currentProduct" ng-change="productChange()" required ng-options="product as product.productName for product in productList">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.country.$error">Required</span>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="row" ng-if="showMeshRange()">
                <div class="col-md-12">
                    <label>Mesh Range</label><br />
                    <div>
                        <div class="form-group" cl-show-errors style="float: left">
                            <input type="text" class="form-control display-inline" name="meshRangeStart" placeholder="0" style="width:60px;" ng-model="productDetail.meshRangeStart" numbers-only="2" required>
                        </div>
                        <div style="float: left; margin-left: 10px; margin-right: 10px;"><span> to </span></div>
                        <div class="form-group" cl-show-errors style="float: left">
                            <input type="text" class="form-control display-inline" name="meshRangeEnd" placeholder="99" style="width:60px;" ng-model="productDetail.meshRangeEnd" numbers-only="2" required>
                        </div>
                    </div>
                </div>
            </div>     
            
            <div class="row" ng-if="showIsFreeOfSteel()">
                <div class="col-md-12">
                    <label><input type="checkbox" name="isFreeOfSteel" ng-model="productDetail.isFreeOfSteel"> Free of Steel</label>
                </div>                
            </div> 
            
            <div class="row" ng-if="showProductDescription()">
                <div class="col-md-12">
                    <div class="form-group" cl-show-errors>
                        <label>Description</label><br>
                        <textarea class="form-control" rows="3" name="productDescription" ng-model="productDetail.productDescription" required></textarea>
                        <span class="help-block" ng-if="form.productDescription.$error">Required</span>
                    </div> 
                </div>
            </div>       
        </div>
        <div class="col-md-2">
            <label>Rate&nbsp;($/t)</label><br>
            <p ng-show="currentProduct">{{currentProduct.rate | number:2}}</p><p ng-show="!currentProduct">&nbsp;</p>
            <label>Amount ($)</label><br>
            <p ng-show="showAmount()">{{getAmount() | number:2}}</p><p ng-show="!showAmount()">&nbsp;</p>
        </div>
    </div>    
</script>