﻿@using CL.TMS.Resources

<script type="text/ng-template" id="pit-product-detail.html">
    <div class="row">
        <div class="col-md-8">            
            <div class="form-group" cl-show-errors>
                <label>Product Type</label><br>
                <select class="form-control" name="productList" ng-model="currentProduct" ng-change="productChange()" required ng-options="product as product.productName for product in productList">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.productList.$error">Required</span>
            </div>            
        </div>        
        <div class="col-md-4">
            <div ng-show="!isInbound">
                <label>Rate&nbsp;($/t)</label><br>
                <p ng-show="currentProduct">{{currentProduct.rate | number:2}}</p><p ng-show="!currentProduct">&nbsp;</p>
                <label>Amount ($)</label><br>
                <p ng-show="showAmount()">{{getAmount() | number:2}}</p><p ng-show="!showAmount()">&nbsp;</p>
            </div>
            <div ng-show="isInbound">&nbsp;</div>
        </div>
    </div>    
</script>