﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-product-detail.html">
    <div class="row">
        <div class="col-md-12">     
            <dor-material-type-collector material-type-id="productDetail.materialTypeId"></dor-material-type-collector>  

            <div ng-show="tireRimsRequired()">
                <br />
                <label>Tire Rims</label>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" cl-show-errors>
                            <label for="reason">PTR #</label>
                            <input type="text" class="form-control" name="ptrNumber" ng-model="productDetail.ptrNumber" ng-required="tireRimsRequired()" ng-change="resetPTRNumberValidation()" ng-blur="validatePTRNumber()" placeholder="" numbers-only="11" validate-form-number="{{tireRimsRequired() ? 'PTR' : ''}}">
                            <span class="help-block" ng-if="form.ptrNumber.$error.validFormat">Should be atleast eight digits starting with 7</span>
                            <span class="help-block" ng-if="form.ptrNumber.$error.notFound">PTR # entered is not found</span>
                        </div>
                        <br /><br />
                        <p>
                            <strong>Amount ($)</strong><br />
                            <span ng-show="productDetail.onRoadScaleWeight.weight && productDetail.offRoadScaleWeight.weight">-{{getTireRimsAmount() | number:2}}</span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" cl-show-errors>
                            <label>On-Road Scale Weight ({{weighTypeLabel(productDetail.onRoadScaleWeight.weightType)}})</label><br>
                            <input type="text" name="onRoadScaleWeight" ng-model="productDetail.onRoadScaleWeight.weight" ng-required="tireRimsRequired()" valid-scale-weight class="form-control" placeholder="">
                            <div class="btn-group float-right margin-top--1">
                                <label ng-class="weighTypeStyle(3, productDetail.onRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(3)" ng-model="productDetail.onRoadScaleWeight.weightType" uib-btn-radio="3">t</label>
                                <label ng-class="weighTypeStyle(2, productDetail.onRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(2)" ng-model="productDetail.onRoadScaleWeight.weightType" uib-btn-radio="2">kg</label>
                                <label ng-class="weighTypeStyle(1, productDetail.onRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(1)" ng-model="productDetail.onRoadScaleWeight.weightType" uib-btn-radio="1">lbs</label>
                            </div><br />
                            <span class="help-block" ng-if="form.onRoadScaleWeight.$error.required">Required</span>
                            <span class="help-block" ng-if="form.onRoadScaleWeight.$error.invalidWeight">Weight doesn't match (or is greater than the) with the weight given before in PTR transaction specified. Please check.</span>
                        </div>
                        <br />
                        <label>On-Road Rate&nbsp;($/t)</label><br />
                        {{productDetail.onRoadRate | number:3}}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" cl-show-errors>
                            <label>Off-Road Scale Weight ({{weighTypeLabel(productDetail.offRoadScaleWeight.weightType)}})</label><br>
                            <input type="text" name="offRoadScaleWeight" ng-model="productDetail.offRoadScaleWeight.weight" ng-required="tireRimsRequired()" valid-scale-weight class="form-control" placeholder="">
                            <div class="btn-group float-right margin-top--1">
                                <label ng-class="weighTypeStyle(3, productDetail.offRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(3)" ng-model="productDetail.offRoadScaleWeight.weightType" uib-btn-radio="3">t</label>
                                <label ng-class="weighTypeStyle(2, productDetail.offRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(2)" ng-model="productDetail.offRoadScaleWeight.weightType" uib-btn-radio="2">kg</label>
                                <label ng-class="weighTypeStyle(1, productDetail.offRoadScaleWeight.weightType)" ng-if="weighTypeAvailable(1)" ng-model="productDetail.offRoadScaleWeight.weightType" uib-btn-radio="1">lbs</label>
                            </div><br />
                            <span class="help-block" ng-if="form.offRoadScaleWeight.$error.required">Required</span>
                            <span class="help-block" ng-if="form.offRoadScaleWeight.$error.invalidWeight">Weight doesn't match (or is greater than the) with the weight given before in PTR transaction specified. Please check.</span>
                        </div>
                        <br />
                        <label>Off-Road Rate&nbsp;($/t)</label><br>
                        {{productDetail.offRoadRate | number:3}}
                    </div>
                </div>
            </div>        
            
            <div ng-show="usedTireSaleRequired()">
                <br />
                <label>Used Tire Sale</label>
                <div class="row">
                    <div class="col-md-12">
                        <tire-type-count form="form" mandatory="{{usedTireSaleRequired()}}" tire-type-list="tireTypeList"></tire-type-count>
                    </div>
                </div>                             
            </div> 

            <div>
                <br />
                <dor-disposition-reason-collector material-type-id="productDetail.materialTypeId" disposition-reason-id="productDetail.dispositionReasonId"></dor-disposition-reason-collector>                          
            </div>
        </div>
    </div>       
</script>