﻿@using CL.TMS.Security.Authorization

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments
              
                <common-payment-adjust-export model="HaulerPayment"
                                              file-name= "@(SecurityContextHelper.IsStaff() ? "StaffPaymentAdjustmentClaimsSummary" : "ParticipantPaymentAdjustmentClaimsSummary")" ng-if="claimDetailsLoaded"
                                              url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims", new { area = "System" })' claim-type="Hauler" attr-anchor="230px">
                </common-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body" style="overflow-x:visible">
            <table class="table table-hover" id="tblPaymentAdj" name="HaulerClaims-PaymentAdjustment">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-toggle="modal" data-target="#modalNorthernPremium" style="cursor:pointer;">Transportation Premium <i class="fa fa-search-plus color-tm-blue"></i></td>
                        <td align="right">{{HaulerPayment.NorthernPremium | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalDOTPremium" style="cursor:pointer;">DOT Premium <i class="fa fa-search-plus color-tm-blue"></i></td>
                        <td align="right">{{HaulerPayment.DOTPremium | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalSTCPremium" style="cursor:pointer;">STC Premium <i class="fa fa-search-plus color-tm-blue"></i></td>
                        <td align="right">{{HaulerPayment.STCPremium | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.PaymentAdjustment<0}">{{HaulerPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.SubTotal<0}">{{HaulerPayment.SubTotal | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>HST {{HaulerPayment.HSTBase*100 | number:2}}%</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.HST<0}">{{HaulerPayment.HST | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.PaymentTotal<0}">{{HaulerPayment.PaymentTotal | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal" data-target="#modalIneligibleInventoryPayment" style="cursor:pointer;">Ineligible Inventory Payment <i class="fa fa-search-plus color-tm-blue"></i><br></td>
                        <td align="right" class="color-tm-red">{{HaulerPayment.IneligibleInventoryPayment | number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Ineligible Inventory Adjustments</td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.IneligibleInventoryPaymentAdjust<0}">{{HaulerPayment.IneligibleInventoryPaymentAdjust | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right" ng-class="{'color-tm-red': HaulerPayment.GrandTotal<0}"><strong>{{HaulerPayment.GrandTotal | number:2}}</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;" id="tblPaymentAdjExtra">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{HaulerPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{HaulerPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{HaulerPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{HaulerPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        @if (SecurityContextHelper.IsStaff())
                        {
                            <td ng-show="ShowMailDate">
                                <div class="pull-right">
                                    <p class="input-group" ng-show="true" style="width:280px">
                                        <input type="text" name="formDate" class="form-control" ng-readonly='true' uib-datepicker-popup="yyyy-MM-dd" show-weeks="false" ng-model="HaulerPayment.MailedDate" is-open="datePicker.status" ng-required="true" close-text="@UIResource.Close" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                    </p>
                                </div>
                            </td>
                            <td class="txt-r" ng-hide="ShowMailDate">{{HaulerPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                        else
                        {
                            <td class="txt-r">{{HaulerPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                        }
                    </tr>
                    @if (SecurityContextHelper.IsStaff())
                    {
                        <tr>
                            <td>Batch #</td>
                            <td class="txt-r">{{HaulerPayment.BatchNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal: Ineligible Inventory Payment   -->
<div class="modal fade" id="modalIneligibleInventoryPayment" tabindex="-1" role="dialog" aria-labelledby="modalIneligibleInventoryPayment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalIneligibleInventoryPayment" align="center">Ineligible Inventory Payment </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="3" style="text-align:center;" class="success"><strong>On-Road</strong></td>
                                <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Delivery Group</strong></td>
                                <td>Ineligible (KG)</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">TI</td>
                                <td>Ineligible KG)</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">TI</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="rowdata in HaulerPayment.ClawbackPaymentViewModel.RowDatas">
                                <td class="border-r">{{rowdata.DeliveryGroupName}}</td>
                                <td>{{rowdata.OnRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{rowdata.OnRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{rowdata.OnRoadPremium | number:2}}</td>
                                <td>{{rowdata.OffRoadWeight | number:4}}</td>
                                <td class="color-tm-red">-${{rowdata.OffRoadRate | number:3}}</td>
                                <td class="border-r color-tm-red">-${{rowdata.OffRoadPremium | number:2}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.ClawbackPaymentViewModel.TotalOnRoadPreminum | number:2}}</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.ClawbackPaymentViewModel.TotalOffRoadPremium | number:2}}</strong></td>
                                <td class="color-tm-red"><strong>-${{HaulerPayment.ClawbackPaymentViewModel.TotalPremium | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Northern Premium  -->
<div class="modal fade" id="modalNorthernPremium" tabindex="-1" role="dialog" aria-labelledby="modalNorthernPremium" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-yongsdata="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalNorthernPremium" align="center">Transportation Premium</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="3" style="text-align:center;" class="success"><strong>On-Road</strong></td>
                            <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                            <td><strong>Total</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Pickup Group</strong></td>
                                <td class="border-r"><strong>Delivery Group<strong></td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="rowdata in HaulerPayment.TransportationPremium.RowDatas">
                                <td rowspan="{{HaulerPayment.TransportationPremium.RowSpan}}" class="border-r" ng-if="rowdata.RowType==0">{{rowdata.PickupGroupName}}</td>
                                <td class="border-r" ng-if="rowdata.RowType!=2">{{rowdata.DeliveryGroupName}}</td>
                                <td class="border-r" ng-if="rowdata.RowType==2"><strong>{{rowdata.DeliveryGroupName}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">{{rowdata.OnRoadWeight | number:4}}</td>
                                <td ng-if="rowdata.RowType==2"><strong>{{rowdata.OnRoadWeight | number:4}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">${{rowdata.OnRoadRate | number:3}}</td>
                                <td ng-if="rowdata.RowType==2"></td>
                                <td class="border-r" ng-if="rowdata.RowType!=2">${{rowdata.OnRoadPremium | number:2}}</td>
                                <td class="border-r" ng-if="rowdata.RowType==2"><strong>${{rowdata.OnRoadPremium | number:2}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">{{rowdata.OffRoadWeight | number:4}}</td>
                                <td ng-if="rowdata.RowType==2"><strong>{{rowdata.OffRoadWeight | number:4}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">${{rowdata.OffRoadRate | number:3}}</td>
                                <td ng-if="rowdata.RowType==2"></td>
                                <td class="border-r" ng-if="rowdata.RowType!=2">${{rowdata.OffRoadPremium | number:2}}</td>
                                <td class="border-r" ng-if="rowdata.RowType==2"><strong>${{rowdata.OffRoadPremium | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.TransportationPremium.TotalOnRoadPreminum | number:2}}</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r"><strong>${{HaulerPayment.TransportationPremium.TotalOffRoadPremium | number:2}}</strong></td>
                                <td><strong>${{HaulerPayment.TransportationPremium.TotalPremium | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: DOT Premium  -->
<div class="modal fade" id="modalDOTPremium" tabindex="-1" role="dialog" aria-labelledby="modalDOTPremium" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalDOTPremium" align="center">DOT Premium</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0px 10px">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road (Est. / Actual / Mixed)</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>                        
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>Pickup Group</strong></td>
                                <td class="border-r"><strong>Delivery Group</strong></td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="rowdata in HaulerPayment.DOTPaymentViewModel.RowDatas">
                                <td rowspan="{{HaulerPayment.DOTPaymentViewModel.RowSpan}}" class="border-r" ng-if="rowdata.RowType==0">{{rowdata.PickupGroupName}}</td>
                                <td class="border-r" ng-if="rowdata.RowType!=2">{{rowdata.DeliveryGroupName}}</td>
                                <td class="border-r" ng-if="rowdata.RowType==2"><strong>{{rowdata.DeliveryGroupName}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">{{rowdata.OffRoadWeight | number:4}}</td>
                                <td ng-if="rowdata.RowType==2"><strong>{{rowdata.OffRoadWeight | number:4}}</strong></td>
                                <td ng-if="rowdata.RowType!=2">${{rowdata.OffRoadRate | number:3}}</td>
                                <td ng-if="rowdata.RowType==2"></td>
                                <td class="border-r" ng-if="rowdata.RowType!=2">${{rowdata.OffRoadPremium | number:2}}</td>
                                <td class="border-r" ng-if="rowdata.RowType==2"><strong>${{rowdata.OffRoadPremium | number:2}}</strong></td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td><strong>{{HaulerPayment.DOTPaymentViewModel.TotalOffRoadWeight | number:4}}</strong></td>
                                <td>&nbsp;</td>
                                <td><strong>${{HaulerPayment.DOTPaymentViewModel.TotalOffRoadPremium | number:2}}</strong></td>
                                <td><strong>${{HaulerPayment.DOTPaymentViewModel.TotalPremium | number:2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: STC Premium  -->
<div class="modal fade" id="modalSTCPremium" tabindex="-1" role="dialog" aria-labelledby="modalSTCPremium" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-yongsdata="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSTCPremium" align="center">STC Premium</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="3" style="text-align:center;" class="success"><strong>On-Road</strong></td>
                                <td colspan="3" style="text-align:center;" class="warning"><strong>Off-Road</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-r"><strong>STC #</strong></td>
                                <td class="border-r"><strong>Event #</strong></td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>Weight</td>
                                <td>Rate (per KG)</td>
                                <td class="border-r">Premium</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="rowdata in HaulerPayment.STCPremiumViewModel.RowDatas">
                                <td class="border-r">{{rowdata.STCNumber}}</td>
                                <td class="border-r">{{rowdata.EventNumber}}</td>                                
                                <td>{{rowdata.OnRoadWeight | number:4}}</td>                                
                                <td>${{rowdata.OnRoadRate | number:3}}</td>                                
                                <td class="border-r">${{rowdata.OnRoadPremium | number:2}}</td>                             
                                <td>{{rowdata.OffRoadWeight | number:4}}</td>                               
                                <td>${{rowdata.OffRoadRate | number:3}}</td>                               
                                <td class="border-r">${{rowdata.OffRoadPremium | number:2}}</td>                                
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="success">
                                <td><strong>Total</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r" ng-if="HaulerPayment.STCPremiumViewModel.RowCount>0"><strong>${{HaulerPayment.STCPremiumViewModel.TotalOnRoadPreminum | number:2}}</strong></td>
                                <td ng-if="HaulerPayment.STCPremiumViewModel.RowCount==0">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="border-r" ng-if="HaulerPayment.STCPremiumViewModel.RowCount>0"><strong>${{HaulerPayment.STCPremiumViewModel.TotalOffRoadPremium | number:2}}</strong></td>
                                <td ng-if="HaulerPayment.STCPremiumViewModel.RowCount==0">&nbsp;</td>
                                <td ng-if="HaulerPayment.STCPremiumViewModel.RowCount>0"><strong>${{HaulerPayment.STCPremiumViewModel.TotalPremium | number:2}}</strong></td>
                                <td ng-if="HaulerPayment.STCPremiumViewModel.RowCount==0"><strong>$0.00</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
