﻿@using CL.TMS.Security.Authorization

<!-- Component: Outbound -->
    <div class="@((SecurityContextHelper.IsStaff()) ? "panel panel-default fixed-claim-header-margin-top-0" : "panel panel-default fixed-claim-header-margin-top-70")">
        <div class="panel-heading" role="tab" id="panelOutbound-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelOutbound-collapseOne" aria-expanded="true" aria-controls="panelOutbound-collapseOne">
                    Outbound
                    <hauler-export ng-model="HaulerClaimSummary" first-table="tblOutbound"></hauler-export>
                </a>
            </h4>
        </div>
        <div id="panelOutbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOutbound-headingOne">
            <div class="panel-body">
                <table class="table table-hover" id="tblOutbound" name="@(SecurityContextHelper.IsStaff() ? "StaffOutboundClaimsSummary" : "ParticipantOutboundClaimsSummary")">
                    <thead>
                        <tr>
                            <th><em>Estimated (KG)</em></th>
                            <th style="text-align:right">On-Road</th>
                            <th style="text-align:right">Off-Road</th>
                            <th style="text-align:right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.PTR, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Processor Tire Receipt">PTR</a></td>
                            <td align="right">{{HaulerClaimSummary.PTROnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.PTROffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.PTRTotal | number:4}}</td>
                           
                        </tr>
                        <tr>
                            <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.HIT, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Hauler Inventory Transfer">HIT</a></td>
                            <td align="right">{{HaulerClaimSummary.HITOutboundOnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.HITOutboundOffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.HITOutboundTotal | number:4}}</td>
                        </tr>
                        <tr>
                            <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.RTR, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Reuse Tire Reporting">RTR</a></td>
                            <td align="right">{{HaulerClaimSummary.RTROnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.RTROffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.RTRTotal | number:4}}</td>
                        </tr>
                        <tr>
                            <td>Eligible Adjustment</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentOutboundOnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentOutboundOffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentOutboundTotal | number:4}}</td>
                        </tr>
                        <tr>
                            <td>Ineligible Adjustment</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentOutboundOnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentOutboundOffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentOutboundTotal | number:4}}</td>
                        </tr>
                        <tr>
                            <td>Total Eligible</td>
                            <td align="right">{{HaulerClaimSummary.TotalEligibleOutboundOnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.TotalEligibleOutboundOffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.TotalEligibleOutboundTotal | number:4}}</td>
                        </tr>
                        <tr>
                            <td>Total Ineligible</td>
                            <td align="right">{{HaulerClaimSummary.TotalIneligibleOutboundOnRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.TotalIneligibleOutboudnOffRoad | number:4}}</td>
                            <td align="right">{{HaulerClaimSummary.TotalIneligibleOutboundTotal | number:4}}</td>
                         
                        </tr>
                        <tr>
                            <td><strong>Total Outbound</strong></td>
                            <td align="right"><strong>{{HaulerClaimSummary.TotalOutboundOnRoad | number:4}}</strong></td>
                            <td align="right"><strong>{{HaulerClaimSummary.TotalOutboudnOffRoad | number:4}}</strong></td>
                            <td align="right"><strong>{{HaulerClaimSummary.TotalOutboundTotal | number:4}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/.panel-->
<!-- /Component -->
