﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerClaimSummaryModel

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelMessagesHeading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion-messages" href="#panelMessages" aria-expanded="true" aria-controls="panelMessages" class="panel-arrow-expand">
                Messages <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
            </a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input type="text" class="form-control" placeholder="Search">
            <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
        </div>
    </div>
    <div id="panelMessages" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMessagesHeading">
        <div class="panel-body">
            <div class="main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="conversation-wrapper">
                        <hr class="margin-top--20">
                        <a href="#" class="viewmore txt-c" style="width:100%;"><span style="margin:auto;">Earlier Messages</span></a>
                        <br>
                        <div class="conversation-content">
                            <div class="conversation-inner" style="overflow:hidden;">
                                <div class="conversation-item item-right clearfix" style="margin-top:-148px;">
                                    <div class="conversation-user">
                                        <img src="gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                    </div>
                                    <div class="conversation-body">
                                        <div class="name">
                                            TreadMarks
                                        </div>
                                        <div class="time hidden-xs">
                                            Apr. 17
                                        </div>
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero arcu, fringilla vitae egestas eu, dictum in lorem. Suspendisse potenti.
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item item-left clearfix">
                                    <div class="conversation-user">
                                        <img src="gui/shared/tm-participant-icon-hauler.png" alt="" width="50px;" />
                                    </div>
                                    <div class="conversation-body">
                                        <div class="name">
                                            Participant
                                        </div>
                                        <div class="time hidden-xs">
                                            April 22
                                        </div>
                                        <div class="text">
                                            Donec lorem libero, efficitur a urna in, viverra scelerisque enim. Donec porta, ex vitae eleifend tempus, ante nisl malesuada turpis.
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item item-right clearfix">
                                    <div class="conversation-user">
                                        <img src="gui/shared/tm-staff-icon-tm.png" alt="" width="50px;" />
                                    </div>
                                    <div class="conversation-body">
                                        <div class="name">
                                            TreadMarks
                                        </div>
                                        <div class="time hidden-xs">
                                            April 24
                                        </div>
                                        <div class="text">
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item item-left clearfix">
                                    <div class="conversation-user">
                                        <img src="gui/shared/tm-participant-icon-hauler.png" alt="" width="50px;" />
                                    </div>
                                    <div class="conversation-body">
                                        <div class="name">
                                            Applicant
                                        </div>
                                        <div class="time hidden-xs">
                                            May 1
                                        </div>
                                        <div class="text">
                                            Ut nunc felis, sodales vitae erat a, accumsan placerat ex. Proin eu condimentum nisi, in rutrum turpis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conversation-new-message">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
                                </div>
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-success pull-right">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
