﻿@using CL.TMS.Common;
@using CL.TMS.Security.Authorization
@using CL.TMS.Configuration
@using CL.TMS.Security

@{
    var userFullName = string.Empty;
    var userClaimsIdentity = HttpContext.Current.User.Identity as System.Security.Claims.ClaimsIdentity;

    string area = (ViewContext.RouteData.DataTokens["area"] ?? string.Empty).ToString();
    userFullName = ViewData["userFullName"].ToString();
    
    //spotlightsearch previous word
    var previousSearchWord = Session["PreviousSearchWord"] != null ? Session["PreviousSearchWord"].ToString(): string.Empty;
}

<!-- Component: Header Bar -->
<div id="hdrbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <img src="~/Images/gui-hdr-icon-hbmenu.png" class="navbar-hbmenu" style='width: 50px; display: @(userClaimsIdentity.IsAuthenticated && !string.IsNullOrEmpty(area) ? "inline-block" : "none" )'>
    <img src="~/Images/gui-hdr-logo.png" id="ots-logo">
    <span class="navbar-header" id="navbar-hamburger-span">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </span>

    @*<div class="nav navbar-nav navbar-right">
        <i class="fa fa-bell-o" style="font-size: 27px; color: #ffffff; cursor: pointer;"></i>
    </div>

    <div id="ots-spyglass" spy-glass>
        <i class="fa fa-search" style="font-size: 27px; color: #ffffff; cursor: pointer;"></i>
    </div>*@

    <div class="navbar-collapse collapse navbar-right"> @*header-usr-name*@
        <ul class="nav navbar-nav">
            <li ng-controller="notificationController" id="globalnotificationicon"><a><global-notification unread-notification-list="unreadNotificationList" total-unread-notification="totalUnreadNotification" total-notification="totalNotification"></global-notification></a></li>
            <li ng-controller="globalSearchController"><a id="ots-spyglass" spy-glass ><i class="fa fa-search" style="font-size: 27px; color: #ffffff; cursor: pointer;"></i></a></li>
            <li><a>@userFullName</a></li>
        </ul>
    </div>
</div>

@Html.Partial("_GlobalSearchCommonTemplate")
@Html.Partial("_GlobalNotifications")
<script type="text/javascript">

    //Global Variables
    var GlobalSearch = (function () {
        var _searchLimit = 10;
        var _spotLightSearch = '/Default/SpotLightSearch/' + _searchLimit + '/?searchFilters=filters' + '&keyWords=';
        var _previousSearchWordUrl = '/System/Common/PreviousSearchWord/'
        var _regNumber = '@(SecurityContextHelper.CurrentVendor != null ? SecurityContextHelper.CurrentVendor.RegistrationNumber: string.Empty)';
        var _userName = '@userFullName';
        var _groupLimit = 4;
        var _isStaff = '@SecurityContextHelper.IsStaff()';
        var _previousSearchWord = '@previousSearchWord';
        var _spotLightSearchResult = '/System/Common/SpotLightSearchResults/?keyWords=';

        var bClaims = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= SecurityResultType.ReadOnly).ToString().ToLower())';
        var bRemittances = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= SecurityResultType.ReadOnly).ToString().ToLower())';
        var bTransactions = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= SecurityResultType.ReadOnly).ToString().ToLower())';
        var bApplications = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= SecurityResultType.ReadOnly).ToString().ToLower())';
        var bUsers = '@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= SecurityResultType.ReadOnly).ToString().ToLower())';

        var getbClaims = function () {
            return bClaims;
        }
        var getbRemittances = function () {
            return bRemittances;
        }
        var getbTransactions = function () {
            return bTransactions;
        }
        var getbApplications = function () {
            return bApplications;
        }
        var getbUsers = function () {
            return bUsers;
        }

        var getSpotLightSearch = function () {
            return _spotLightSearch;
        }
        var getRegNumber = function () {
            return _regNumber;
        }

        var getUserName = function () {
            return _userName;
        }

        var getSearchLimit = function () {
            return _searchLimit;
        }

        var getGroupLimit = function () {
            return _groupLimit;
        }

        var isStaff = function () {
            return _isStaff;
        }

        var getPreviousSearchWordUrl = function () {
            return _previousSearchWordUrl;
        }

        return {
            RegNumber: getRegNumber,
            UserName: getUserName,
            SpotLightSearch: getSpotLightSearch,
            SearchLimit: getSearchLimit,
            GroupLimit: getGroupLimit,
            IsStaff: isStaff,
            getPreviousSearchWordUrl: getPreviousSearchWordUrl,
            getSpotlightSearchResult: function () {
                return _spotLightSearchResult;
            },
            ClaimsAccess: getbClaims,
            RemittancesAccess: getbRemittances,
            TransactionsAccess: getbTransactions,
            ApplicationsAccess: getbApplications,
            UsersAccess: getbUsers
        };
    })();

</script>

@*<script src="~/js/Shared/global-search-staff-init.js?v=@ViewBag.versionid"></script>*@
