﻿<!--Metric List panel-->
<script type="text/ng-template" id="metric-ytd-dollar-panel.html">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <h4 class="panel-title" style="margin-left:10px;">
                        Year to Date TSF Dollars
                    </h4>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 text-right" style="margin-left:-15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-left:-11px;">
                        <label style="background-color:{{vm.dollar.colors[0]}}; width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.dollar.labels[0]}}</label>
                        <label style="background-color:{{vm.dollar.colors[1]}};width:15px;height:15px;margin-left:3px;">&nbsp;</label>
                        <label>{{vm.dollar.labels[1]}}</label>
                    </div>
                    <div class="col-md-12">
                        <label style="background-color:{{vm.dollar.colors[2]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.dollar.labels[2]}}</label>
                        <label style="background-color:{{vm.dollar.colors[3]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.dollar.labels[3]}}</label>
                    </div>
                </div>
            </div>
            <div id="barchart-dollar" style="height:250px;"></div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h4 class="panel-title" style="margin-left:10px;">
                    Total TSF Dollars
                </h4>
            </div>
            <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
            <div id="barchart-dollar-total" style="height:250px; margin-top:-5px;"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="metric-ytd-unit-panel.html">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8  col-sm-6 col-xs-6">
                    <h4 class="panel-title" style="margin-left:10px;">
                        Year to Date TSF Units
                    </h4>
                </div>
                <div class="col-md-4  col-sm-6 col-xs-6 text-right" style="margin-left:-15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:-11px;">
                        <label style="background-color:{{vm.unit.colors[0]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.unit.labels[0]}}</label>
                        <label style="background-color:{{vm.unit.colors[1]}};width:15px;height:15px;margin-left:3px;">&nbsp;</label>
                        <label>{{vm.unit.labels[1]}}</label>
                    </div>
                    <div class="col-md-12">
                        <label style="background-color:{{vm.unit.colors[2]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.unit.labels[2]}}</label>
                        <label style="background-color:{{vm.unit.colors[3]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.unit.labels[3]}}</label>
                    </div>
                </div>
            </div>
            <div id="barchart-unit" style="height:250px;"></div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h4 class="panel-title" style="margin-left:10px;">
                    Total TSF Units
                </h4>
            </div>
            <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
            <div id="barchart-unit-total" style="height:250px; margin-left:10px;margin-top:-5px;"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="metric-tsf-status-panel.html">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8  col-sm-6 col-xs-6">
                    <h4 class="panel-title" style="margin-left:10px;">
                        TSF Status Overview
                    </h4>
                </div>
                <div class="col-md-4  col-sm-6 col-xs-6 text-right" style="margin-left:-15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label style="background-color:{{vm.colors[0]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.labels[0]}}</label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label style="background-color:{{vm.colors[1]}};width:15px;height:15px;">&nbsp;</label>
                        <label>{{vm.labels[1]}}</label>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div id="graphchart-status" style="height:250px; margin-left:20px;margin-right:20px;"></div>
        </div>
        <div class="col-md-4">
            @for (var i = 1; i < 3; i++)
            {
                <div class="row">&nbsp;</div>
            }
            <div class="col-md-12">
                <div style="margin-right:20px;margin-left:10px;">
                    <ul class="graph-stats">
                        <li>
                            <div class="clearfix">
                                <div class="title pull-left ">
                                    On-time Filers
                                </div>
                                <div class="title pull-right" style="font-size: 1.6em;font-weight: 300;">
                                    ${{vm.TimeClass.OnTime|number:0}}
                                </div>
                            </div>
                            <div class="progress">
                                <div style="width:{{vm.TimeClass.OnTime/vm.TimeClass.Total*100|number:0}}%;" 
                                     aria-valuemax="100" aria-valuemin="0" 
                                     aria-valuenow="{{vm.TimeClass.OnTime/vm.TimeClass.Total*100|number:0}}" 
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix">
                                <div class="title pull-left ">
                                    Late Filers
                                </div>
                                <div class="title pull-right" style="font-size: 1.6em;font-weight: 300;">
                                    ${{vm.TimeClass.Later|number:0}}
                                </div>
                            </div>
                            <div class="progress">
                                <div style="width:{{vm.TimeClass.Later/vm.TimeClass.Total*100|number:0}}%;" 
                                     aria-valuemax="100" aria-valuemin="0" 
                                     aria-valuenow="{{vm.TimeClass.Later/vm.TimeClass.Total*100|number:0}}" 
                                     role="progressbar" class="progress-bar progress-bar-danger">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix">
                                <div class="title pull-left ">
                                    Pending (no-received date)
                                </div>
                                <div class="title pull-right" style="font-size: 1.6em;font-weight: 300;">
                                    ${{vm.TimeClass.Pending|number:0}}
                                </div>
                            </div>
                            <div class="progress">
                                <div style="width:{{vm.TimeClass.Pending/vm.TimeClass.Total*100|number:0}}%;" 
                                     aria-valuemax="100" aria-valuemin="0" 
                                     aria-valuenow="{{vm.TimeClass.Pending/vm.TimeClass.Total*100|number:0}}" 
                                     role="progressbar" class="progress-bar progress-bar-success">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix">
                                <div class="title pull-left ">
                                    Total
                                </div>
                                <div class="title pull-right" style="font-size: 1.6em;font-weight: 300;">
                                    ${{vm.TimeClass.Total|number:0}}
                                </div>
                            </div>
                            <div class="progress">
                                <div style="width:100%;" aria-valuemax="100" aria-valuemin="0" 
                                     aria-valuenow="100" 
                                     role="progressbar" class="progress-bar progress-bar-warning">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="metric-top-ten-stewards-panel.html">
    <div class="row">
        <!--table-->
        <div class="col-md-8">
            <h4 class="panel-title" style="margin-left:10px;">
                Top Ten Stewards
            </h4>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12 table-responsive" style="margin-left:10px; margin-right:20px;">
                    <table class="table table-hover table-condensed display datatable-100-perc">
                        <thead>
                            <tr>
                                <th>STEWARD</th>
                                <th >TYPE</th>
                                <th class="text-right">AMOUNT</th>
                                <th class="text-right" width="18%;">%TSF</th>
                                <th class="text-right" width="20%;">%CHANGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="noData">
                                <td colspan="5"><h4 style="text-align:center;">No data is available for the selected period.</h4></td>
                            </tr>
                            <tr ng-repeat="item in vm.topTenTables">
                                <td>{{item.Steward}}</td>
                                <td>{{item.StewardSubType}}</td>
                                <td class="text-right">${{item.Amount|number:0}}</td>
                                <td class="text-right">{{item.TSFPercentage*100|number:0}}%</td>
                                <td class="text-right" style="font-size:1.2em;font-weight:600;" ng-class="{'green':item.ChangePercentage>0,'red':item.ChangePercentage<0,'black':item.ChangePercentage==0}">
                                    <i class="fa" ng-class="{'fa-level-up':item.ChangePercentage>0,'fa-level-down':item.ChangePercentage<0 }"></i>
                                    {{item.ChangePercentage*100|absChange}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--charts-->
        <div class="col-md-4 ">
            <h4 class="panel-title" style="margin-left:10px;">
                Total Revenue
            </h4>
            <div class="row">&nbsp;</div>            
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="input-group date" id="topTenStartDatePicker" style="margin-right:12px;">
                    <input class="form-control" id="topTenStartDate" type="text" ng-model="vm.startDate">
                    <input type="hidden" id="set" class="set" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            @for (var i = 1; i < 3; i++)
            {
                <div class="row">&nbsp;</div>
            }
            <div id="barchart-top-ten" style="height:440px;"></div>
        </div>
    </div>
</script>
