﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
<div class="panel-heading" role="tab" id="panelSortYardDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSortYardDetails" aria-expanded="false" aria-controls="panelSortYardDetails">
            <img id="flagSortYardDetail" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png">@UIResource.CommnSortYardDetails
        </a>
    </h4>
</div>
<div id="panelSortYardDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">

        <form id="fmSortYardDetails" method="get" action="">
            <input id="sorYardCount" name="invalidList" type="hidden" value='@Model.SortYardDetails.Count' />
            <div class="row">
                <div class="col-md-12">
                    <p>@UIResource.ParticipantSortYardAreaTiresClassified</p>
                </div>
            </div><!--/.row-->

            <div class="row margin-bottom--10">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            @UIResource.ParticipantSortYardMaxCapcity
                            <i class="fa fa-question-circle sortYardDetailsASYC" data-placement="auto" title=""></i>
                        </label>
                        <div id="sortYardDetailsASYC" style="display:none;">
                            <p>@UIResource.ParticipantSortYardMaxScrapTires</p>
                        </div>
                        <p class="form-control-static" id="SortYardMaxCapacity"></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numberYards">@UIResource.ParticipantTotalSortYard</label>
                        <p class="form-control-static" id="SortYardCount"></p>
                    </div>
                </div>
            </div>

            @if (Model.IsInternal)
            {
                <textarea class="sortyardtemp" style="display:none">
                    @Html.EditorFor(m => m.SortYardDetails[0].SortYardDetailsAddress, "SortYardDetailsAddressInternal", new { data_SortYardDetailsAddress = @Html.GetPropertyName(m => m.SortYardDetails[0].SortYardDetailsAddress) })
                    @Html.EditorFor(m => m.SortYardDetails[0].SortYardDetailsVendorStorageSiteModel, "SortYardDetailsVendorExtraInternal", new { data_SortYardDetailsVendorStorageSiteModel = @Html.GetPropertyName(m => m.SortYardDetails[0].SortYardDetailsVendorStorageSiteModel) })
                </textarea>

                for (var i = 0; i < Model.SortYardDetails.Count; i++)
                {
                <textarea id='@(string.Format("sortYardTemplate{0}", i.ToString()))' style="display:none">
                    @Html.EditorFor(m => m.SortYardDetails[i].SortYardDetailsAddress, "SortYardDetailsAddressInternal", new { data_SortYardDetailsAddress = @Html.GetPropertyName(m => m.SortYardDetails[i].SortYardDetailsAddress) })
                    @Html.EditorFor(m => m.SortYardDetails[i].SortYardDetailsVendorStorageSiteModel, "SortYardDetailsVendorExtraInternal", new { data_SortYardDetailsVendorStorageSiteModel = @Html.GetPropertyName(m => m.SortYardDetails[i].SortYardDetailsVendorStorageSiteModel) })
                </textarea>
                }
            }
            else
            {
                <textarea class="sortyardtemp" style="display:none">
                    @Html.EditorFor(m => m.SortYardDetails[0].SortYardDetailsAddress, "SortYardDetailsAddress", new { data_SortYardDetailsAddress = @Html.GetPropertyName(m => m.SortYardDetails[0].SortYardDetailsAddress) })
                    @Html.EditorFor(m => m.SortYardDetails[0].SortYardDetailsVendorStorageSiteModel, "SortYardDetailsVendorExtra", new { data_SortYardDetailsVendorStorageSiteModel = @Html.GetPropertyName(m => m.SortYardDetails[0].SortYardDetailsVendorStorageSiteModel) })
                </textarea>

                for (var i = 0; i < Model.SortYardDetails.Count; i++)
                {
                <textarea id='@(string.Format("sortYardTemplate{0}", i.ToString()))' style="display:none">
                    @Html.EditorFor(m => m.SortYardDetails[i].SortYardDetailsAddress, "SortYardDetailsAddress", new { data_SortYardDetailsAddress = @Html.GetPropertyName(m => m.SortYardDetails[i].SortYardDetailsAddress) })
                    @Html.EditorFor(m => m.SortYardDetails[i].SortYardDetailsVendorStorageSiteModel, "SortYardDetailsVendorExtra", new { data_SortYardDetailsVendorStorageSiteModel = @Html.GetPropertyName(m => m.SortYardDetails[i].SortYardDetailsVendorStorageSiteModel) })
                </textarea>
                }
            }

        </form>
        <!-- /.row -->
       
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    @*<button class="btn btn-md btn-success" type="submit">Sort Yard +</button>*@
                    <button id="btnAddSort" type="button" class="btn color-tm-green-bg">@UIResource.ParticipantSortYardPlus</button>
                </form>
            </div>
        </div><!-- /.row -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var sortYardtemp = $(".sortyardtemp").val();
        var sortYardTemplateCount = $('#sorYardCount').val();
        var maxStorageCap = 0;
        $('#SortYardCount').text("0");

        for (var i = 0; i < sortYardTemplateCount; i++) {
            var sortYardTemplate = $("#sortYardTemplate" + i).val();
            sortYardTemplate = "<div class='sortYardtemplate" + i + "'>" + sortYardTemplate + '</div><hr>';

            $(sortYardTemplate).appendTo('#fmSortYardDetails');

            //check if to hide certificate of approval
            var storage = $(".sortYardtemplate" + i + " input[data-maxstorage]");
            storage = parseFloat($(storage).attr('data-maxstorage'));

            if (storage < 50) {
                //hide the div
                var certificate = $(".sortYardtemplate" + i + " input[data-certificate]");
                $(certificate).closest('.col-md-4').hide();
            }
        }
        $('#SortYardCount').text(sortYardTemplateCount);

        $('#btnAddSort').on('click', function () {
         
            addSortRow();
            totalStorage();
        });       

        var addSortRow = function () {
            var currAddCount = sortYardTemplateCount++;
            sortYardtemp = "<div class='ctemp'><div class='sortYardtemplate" + currAddCount + "'>" + sortYardtemp + '</div></div><hr>';
            $(sortYardtemp).appendTo('#fmSortYardDetails');

            $('.sortYardtemplate' + currAddCount + ' input[type="text"]').val('');

            for (var i = 0; i < sortYardTemplateCount; i++) {
                $(".sortYardtemplate" + i + " input[type='text']").each(function () {
                    if ((typeof $(this).attr('name') != 'undefined')) {
                        $(this).attr('name', $(this).attr('name').replace(/\d+/, i));
                    }
                });
            }
        }
        var totalStorage = function () {
            var inputs = $("input[data-maxstorage]");
            inputs.each(function () {
                if (!isNaN(parseFloat($(this).attr('data-maxstorage')))) {
                    maxStorageCap += parseFloat($(this).attr('data-maxstorage'));
                }
            });
            if (!isNaN(parseFloat(maxStorageCap))) {
                $('#SortYardMaxCapacity').text(maxStorageCap.toFixed(2));
            }
        }
        totalStorage();
    });
</script>
